// Colors

$main-color: #000; // Background
$secondary-color: #fff; // Text

$success-color: #52cf20; // Green
$error-color: #df3535; // Red
$article-color: #ebb914;

// Dimensions

$main-width: 900px;

// Fonts

$heading-font: "Bungee", sans-serif;
$main-font: Poppins, Arial, sans-serif;
$copywrite-font: 'Courier New', Courier, monospace;
$article-heading-font: "Balsamiq Sans", sans-serif;
$timer-font: "Orbitron", sans-serif;

$default-font-size: 15px;