{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ article.title|default:"Článok sa nenašiel" }}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/articles.css' %}">
{% endblock style %}

{% block content %}
    {% if not_found == False %}
        <script src="{% static 'app/ts/dist/pages/articles/components/article_feed.js' %}" type="module"></script>

        <script src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js" type="module"></script> <!-- Emoji Picker Element Library -->

        <div class="article_banner">
            <div class="banner_image">
                <img src="{% static '/../media/images/' %}{{ article.user_id }}/{{ article.image_name }}">
            </div>
            
            <div class="banner_info">
                <div class="article_opening">
                    <h2>{{ article.title }}</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, consequatur.</p>
                </div>

                <div class="article_info">
                    <div 
                        class="rating" 
                        title="
                            {% if article.rating|floatformat:0|add:0 == 0 %}
                                {% translate 'Zatiaľ žiadne hodnotenia' %}
                            
                            {% else %}
                                {% translate 'Priemerné hodnotenie' %} {{ article.rating }}

                            {% endif %}
                        "
                    >
                        {% for _ in "12345" %}
                            {% if forloop.counter <= article.rating|floatformat:0|add:0 %}
                                <i class="full fa-solid fa-star"></i> <!-- https://fontawesome.com/icons/star -->

                            {% else %}
                                <i class="empty fa-solid fa-star"></i> <!-- https://fontawesome.com/icons/star -->

                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <a href="#" title="{{ article.user.username }}" target="_self">
                        <img 
                            class="profile_picture" 
                            src="
                                {% if article.user.profile_picture_name %}
                                    /../media/images/{{ article.user_id }}/{{ article.user.profile_picture_name }}

                                {% else %}
                                    {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                
                                {% endif %}
                            "
                        >
                    </a>
                </div>
            </div>
        </div>

        <div class="article_content" data-article_id="{{ article.id }}">
            <p>{{ article.content }}</p>
        </div>

        <div class="comment_forum ">
            <template class="one_comment_template">
                <div class="one_comment">
                    <div class="comment_container">
                        <div class="user">
                            <a href="#" title="{% translate 'Zobraziť užívateľa' %}" aria-label="{% translate 'Zobraziť užívateľa' %}">
                                <img class="profile_picture" src="{% static 'images/profile_picture.png' %}"> <!-- https://www.flaticon.com/free-icon/user_3177440 -->
                            </a>
                            
                            <p class="username"></p>
    
                            <button 
                                class="show_comment_properties_button" 
                                popovertarget=""
                                style=""
                                title="{% translate 'Viac...' %}"
                                aria-label="{% translate 'Viac...' %}"
                            >
                                <i class="fa-solid fa-ellipsis-vertical"></i> <!-- https://fontawesome.com/icons/ellipsis-vertical -->
                            </button>

                            <div 
                                class="comment_properties" 
                                id=""
                                popover
                                style=""
                            >
                                <button 
                                    class="hide_comment_properties_button" 
                                    popovertarget=""
                                    popovertargetaction="hide"
                                >
                                    <i class="fa-solid fa-xmark"></i> <!-- https://fontawesome.com/icons/xmark -->
                                    <span>{% translate "Zavrieť" %}</span>
                                </button>
                            </div>
                        </div>
    
                        <div class="right">
                            <p class="comment"></p>
        
                            <button class="likes" title="{% translate 'Páči sa mi...' %}" aria-label="{% translate 'Páči sa mi...' %}">
                                <i class="fa-heart"></i> <!-- https://fontawesome.com/icons/heart -->
                                <p class="likes_counter">{{ one_comment.likes }}</p>
                            </button>
                        </div>
                    </div>
    
                    <div class="interactions">
                        <div class="date" title="{% translate 'Dátum zverejnenia' %}" aria-label="{% translate 'Dátum zverejnenia' %}">
                            <p></p>
                        </div>
                    </div>
    
                    <div class="reply_container hidden"></div>
                </div>
            </template>

            <template class="report_template">
                <div 
                    class="report" 
                    id=""
                    popover
                    style=""
                >
                    <button data-reason="spam"><span>{% translate "Spam" %}</span></button>
                    <button data-reason="harassment"><span>{% translate "Obťažovanie" %}</span></button>
                    <button data-reason="hate_speech"><span>{% translate "Nenávistné prejavy" %}</span></button>
                    <button data-reason="misinformation"><span>{% translate "Dezinformácie" %}</span></button>
                    <button data-reason="explicit_content"><span>{% translate "Explicitný obsah" %}</span></button>
                    <button data-reason="other"><span>{% translate "Iné" %}</span></button>
    
                    <button 
                        class="back_report_button"
                        popovertarget="" 
                        popovertargetaction="hide"
                    >
                        <i class="fa-solid fa-xmark"></i> <!-- https://fontawesome.com/icons/xmark -->
                        <span>{% translate "Späť" %}</span>
                    </button>
                </div>
            </template>

            <div class="comments_counter">
                <i class="fa-regular fa-comment"></i> <!-- https://fontawesome.com/icons/comment -->
                <p>{{ article.visible_comments|length }}</p>
            </div>

            <div class="all_comments">
                {% for one_comment in article.root_comments %}
                    {% include "partials/comment.html" with one_comment=one_comment level=1 all_nested_comments=article.nested_comments %}

                {% endfor %}
            </div>

            <div class="write_comment_form">
                {{ write_comment_form.comment }}

                <img 
                    class="profile_picture" 
                    src="
                        {% if logged_in_user.profile_picture_name %}
                            /../media/images/{{ request.session.logged_in_user_id }}/{{ logged_in_user.profile_picture_name }}

                        {% else %}
                            {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                        
                        {% endif %}
                    "
                >

                <button class="add_emoji" title="{% translate 'Pridať emoji' %}" aria-label="{% translate 'Pridať emoji' %}">
                    <i class="fa-regular fa-face-surprise"></i> <!-- https://fontawesome.com/icons/face-surprise -->
                </button>

                <div class="emoji_picker_container hidden">
                    <emoji-picker></emoji-picker>
                </div>
                
                <button class="send">
                    <!-- https://heroicons.com/ -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                    </svg>
                </button>
            </div>
        </div>

    {% endif %}
{% endblock content %}

{% block script %}
    <script src="{% url 'javascript_catalog_url' %}"></script>

    <script src="{% static 'app/ts/dist/pages/articles.js' %}" type="module"></script>
{% endblock script %}