{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ article.title|default:"Článok sa nenašiel" }}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/articles.css' %}">
{% endblock style %}

{% block content %}
    {% if not_found == False %}
        <script src="{% static 'app/ts/dist/pages/articles/components/article_feed.js' %}" type="module"></script>
        <script src="{% static 'app/ts/dist/pages/articles/components/rating.js' %}" type="module"></script>
        <script src="{% static 'app/ts/dist/pages/articles/components/exercise_statistics.js' %}" type="module"></script>
        <script src="{% static 'app/ts/dist/pages/articles/components/article_content.js' %}" type="module"></script>

        <script src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js" type="module"></script> <!-- Emoji Picker Element Library -->

        <div class="article_banner">
            <div class="banner_image">
                <img src="{% static './images/articles' %}/{{ article.image_name }}" alt="">
            </div>
            
            <div class="banner_info">
                <div class="article_opening">
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.description }}</p>
                </div>

                <div class="article_info">
                    <div 
                        class="rating" 
                        title="
                            {% if article.average_rating|default:0|floatformat:0|add:0 == 0 %}
                                {% translate 'Zatiaľ žiadne hodnotenia' %}
                            
                            {% else %}
                                {% translate 'Priemerné hodnotenie' %} {{ article.average_rating|default:0 }}

                            {% endif %}
                        "
                    >
                        {% for _ in "12345" %}
                            {% if forloop.counter <= article.average_rating|default:0|floatformat:0|add:0 %}
                                <i class="full fa-solid fa-star"></i> <!-- https://fontawesome.com/icons/star -->

                            {% else %}
                                <i class="empty fa-solid fa-star"></i> <!-- https://fontawesome.com/icons/star -->

                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="exercise_statistics">
            <div 
                class="bar difficulty" 
                data-label="
                    {% translate 'obtiažnosť: ' %}

                    {% if article.difficulty <= 10 %}
                        {% translate 'jednoduchá' %}

                    {% elif article.difficulty <= 30 %}
                        {% translate 'stredná' %}

                    {% elif article.difficulty <= 60 %}
                        {% translate 'náročná' %}

                    {% elif article.difficulty <= 90 %}
                        {% translate 'veľmi náročná' %}

                    {% else %}
                        {% translate 'elitná' %}

                    {% endif %}
                " 
                data-percentage="{{ article.difficulty }}">
            </div>

            <div class="bar time_to_learn" 
                data-label="
                    {% translate 'doba učenia: ' %}

                    {% if article.time_to_learn_text == "2 - 6 months" %}
                        {% translate '2 - 6 mesiacov' %}
                    
                    {% endif %}
                " 
                data-percentage="{{ article.time_to_learn }}">
            </div>

            <div 
                class="bar rarity" 
                data-label="
                    {% translate 'vzácnosť: ' %}

                    {% if article.ratity <= 10 %}
                        {% translate 'bežné' %}

                    {% elif article.rarity <= 30 %}
                        {% translate 'nevídané' %}

                    {% elif article.rarity <= 60 %}
                        {% translate 'vzácne' %}

                    {% elif article.rarity <= 90 %}
                        {% translate 'epické' %}

                    {% else %}
                        {% translate 'legendárne' %}

                    {% endif %}
                " 
                data-percentage="{{ article.rarity }}">
            </div>

            <div class="bar strength" data-label="{% translate 'sila' %}" data-percentage="{{ article.strength }}"></div>
            <div class="bar technique" data-label="{% translate 'technika' %}" data-percentage="{{ article.technique }}"></div>
        </div>

        <div class="article_content" data-article_id="{{ article.id }}">
            {% if article.html_filename %}
                {% include "partials/articles/"|add:article.html_filename %}
            
            {% else %}
                <h2>{% translate "Tento článok nie je ešte dokončený." %}</h2>
            
            {% endif %}
        </div>

        <div class="rating">
            <a href="{% url 'profile_url' article.user.username %}" title="{% translate 'Zobraziť užívateľa' %}" aria-label="{% translate 'Zobraziť užívateľa' %}">
                <img 
                    class="profile_picture skeleton_loading" 
                    src="
                        {% if article.user.profile_picture_name %}
                            /../media/images/{{ article.user.id }}/{{ article.user.profile_picture_name }}

                        {% else %}
                            {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                        
                        {% endif %}
                    "
                    alt=""
                >
            </a>

            {% for _ in "12345" %}
                {% if forloop.counter <= article.given_rating %}
                    <button type="button">
                        <i class="full fa-solid fa-star"></i> <!-- https://fontawesome.com/icons/star -->
                    </button>

                {% else %}
                    <button type="button">
                        <i class="empty fa-solid fa-star"></i> <!-- https://fontawesome.com/icons/star -->
                    </button>
                
                {% endif %}
            {% endfor %}

            <input type="number" name="rating" value="{{ article.given_rating }}" min="0" max="5">
        </div>

        <div class="comment_forum ">
            <template class="one_comment_template">
                <div class="one_comment">
                    <div class="comment_container">
                        <div class="user">
                            <a href="#" title="{% translate 'Zobraziť užívateľa' %}" aria-label="{% translate 'Zobraziť užívateľa' %}">
                                <img class="profile_picture" src="{% static 'images/profile_picture.png' %}" alt=""> <!-- https://www.flaticon.com/free-icon/user_3177440 -->
                            </a>
                            
                            <p class="username"></p>
    
                            <button 
                                class="show_comment_properties_button" 
                                popovertarget=""
                                style=""
                                title="{% translate 'Viac...' %}"
                                aria-label="{% translate 'Viac...' %}"
                            >
                                <i class="fa-solid fa-ellipsis-vertical"></i> <!-- https://fontawesome.com/icons/ellipsis-vertical -->
                            </button>

                            <div 
                                class="comment_properties" 
                                id=""
                                popover
                                style=""
                            >
                                <button 
                                    class="hide_comment_properties_button" 
                                    popovertarget=""
                                    popovertargetaction="hide"
                                >
                                    <i class="fa-solid fa-xmark"></i> <!-- https://fontawesome.com/icons/xmark -->
                                    <span>{% translate "Zavrieť" %}</span>
                                </button>
                            </div>
                        </div>
    
                        <div class="right">
                            <p class="comment"></p>
        
                            <button class="likes" title="{% translate 'Páči sa mi...' %}" aria-label="{% translate 'Páči sa mi...' %}">
                                <i class="fa-heart"></i> <!-- https://fontawesome.com/icons/heart -->
                                <p class="likes_counter">{{ one_comment.likes }}</p>
                            </button>
                        </div>
                    </div>
    
                    <div class="interactions">
                        <div class="date" title="{% translate 'Dátum zverejnenia' %}" aria-label="{% translate 'Dátum zverejnenia' %}">
                            <p></p>
                        </div>
                    </div>
    
                    <div class="reply_container hidden"></div>
                </div>
            </template>

            <template class="report_template">
                <div 
                    class="report" 
                    id=""
                    popover
                    style=""
                >
                    <button data-reason="spam"><span>{% translate "Spam" %}</span></button>
                    <button data-reason="harassment"><span>{% translate "Obťažovanie" %}</span></button>
                    <button data-reason="hate_speech"><span>{% translate "Nenávistné prejavy" %}</span></button>
                    <button data-reason="misinformation"><span>{% translate "Dezinformácie" %}</span></button>
                    <button data-reason="explicit_content"><span>{% translate "Explicitný obsah" %}</span></button>
                    <button data-reason="other"><span>{% translate "Iné" %}</span></button>
    
                    <button 
                        class="back_report_button"
                        popovertarget="" 
                        popovertargetaction="hide"
                    >
                        <i class="fa-solid fa-xmark"></i> <!-- https://fontawesome.com/icons/xmark -->
                        <span>{% translate "Späť" %}</span>
                    </button>
                </div>
            </template>

            <div class="heading">
                <div class="comments_counter">
                    <i class="fa-regular fa-comment"></i> <!-- https://fontawesome.com/icons/comment -->
                    <p>{{ article.visible_comments|length }}</p>
                </div>

                <h3>{% translate "Komentáre" %}</h3>
            </div>

            <div class="all_comments">
                {% for one_comment in article.root_comments %}
                    {% include "partials/comment.html" with one_comment=one_comment level=1 all_nested_comments=article.nested_comments %}

                {% endfor %}
            </div>

            <div class="write_comment_form">
                {{ write_comment_form.comment }}

                <img 
                    class="profile_picture" 
                    src="
                        {% if logged_in_user.profile_picture_name %}
                            /../media/images/{{ request.session.logged_in_user_id }}/{{ logged_in_user.profile_picture_name }}

                        {% else %}
                            {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                        
                        {% endif %}
                    "
                    alt=""
                >

                <button class="add_emoji" title="{% translate 'Pridať emoji' %}" aria-label="{% translate 'Pridať emoji' %}">
                    <i class="fa-regular fa-face-surprise"></i> <!-- https://fontawesome.com/icons/face-surprise -->
                </button>

                <div class="emoji_picker_container hidden">
                    <emoji-picker></emoji-picker>
                </div>
                
                <button class="send" title="{% translate 'Odoslať komentár' %}" aria-label="{% translate 'Odoslať komentár' %}">
                    <!-- https://heroicons.com/ -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                    </svg>
                </button>
            </div>
        </div>

    {% endif %}
{% endblock content %}

{% block script %}
    <script src="{% url 'javascript_catalog_url' %}"></script>
{% endblock script %}