{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Správy" %}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/chat.css' %}">
{% endblock style %}

{% block content %}
    <div class="chat">
        <template class="one_message_template">
            <div class="one_message">
                <img class="profile_picture" src="" alt="">
                <p></p>
            </div>
        </template>

        <div class="top">
            <div class="receiver">
                <a href="{% url 'profile_url' receiver.username %}" title="{% translate 'Zobraziť užívateľa' %}" aria-label="{% translate 'Zobraziť užívateľa' %}" target="_self">
                    <img 
                        class="profile_picture skeleton_loading" 
                        src="
                            {% if receiver.profile_picture_name %}
                                /../media/images/{{ receiver.id }}/{{ receiver.profile_picture_name }}

                            {% else %}
                                {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                            
                            {% endif %}
                        "
                        alt=""
                    >
                </a>
    
                <div class="name">
                    <p class="username">{{ receiver.username }}</p>

                    {% if receiver.first_name and receiver.last_name %}
                        <p class="full_name">{{ receiver.first_name }} {{ receiver.last_name }}</p>
                    
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="middle">
            <div class="all_messages" data-logged_in_user_id="{{ logged_in_user.id }}">
                {% for one_chat in chats %}
                    <div 
                        class="
                            one_message

                            {% if one_chat.is_sender %}
                                sender

                            {% else %}
                                receiver
                            
                            {% endif %}
                        "

                        data-chat_id="{{ one_chat.id }}"
                        data-time="
                            {{ one_chat.formatted_time }}

                            {% if one_chat.is_edited %}
                                {% translate '(upravené)' %}
                            
                            {% endif %}
                        "
                    >
                        <img 
                            class="profile_picture" 
                            src="
                                {% if one_chat.sender.profile_picture_name %}
                                    /../media/images/{{ one_chat.sender.id }}/{{ one_chat.sender.profile_picture_name }}
        
                                {% else %}
                                    {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                
                                {% endif %}
                            "
                            alt=""
                        >

                        <p>{{ one_chat.content }}</p>

                        {% if one_chat.is_sender and one_chat.is_read %}
                            <i class="fa-solid fa-check-double"></i> <!-- https://fontawesome.com/icons/check-double -->

                        {% endif %}

                        {% if one_chat.is_sender %}
                            <button 
                                class="show_message_properties_button" 
                                popovertarget="message_properties_{{ one_chat.id }}"
                                style="anchor-name: --show_message_properties_button_{{ one_chat.id }};"
                                title="{% translate 'Viac...' %}"
                                aria-label="{% translate 'Viac...' %}"
                            >
                                <i class="fa-solid fa-ellipsis-vertical"></i> <!-- https://fontawesome.com/icons/ellipsis-vertical -->
                            </button>

                            <div 
                                class="message_properties" 
                                id="message_properties_{{ one_chat.id }}"
                                popover
                                style="position-anchor: --show_message_properties_button_{{ one_chat.id }};"
                            >
                                <button 
                                    class="edit_message_button"
                                    popovertarget="message_properties_{{ one_chat.id }}" 
                                    popovertargetaction="hide"
                                >
                                    <i class="fa-solid fa-pen"></i> <!-- https://fontawesome.com/icons/pen -->
                                    <span>{% translate "Upraviť" %}</span>
                                </button>

                                <button class="delete_message_button">
                                    <i class="fa-solid fa-eraser"></i> <!-- https://fontawesome.com/icons/eraser -->
                                    <span>{% translate "Vymazať" %}</span>
                                </button>

                                <button 
                                    class="hide_message_properties_button" 
                                    popovertarget="message_properties_{{ one_chat.id }}" 
                                    popovertargetaction="hide"
                                >
                                    <i class="fa-solid fa-xmark"></i> <!-- https://fontawesome.com/icons/xmark -->
                                    <span>{% translate "Zavrieť" %}</span>
                                </button>
                            </div>

                        {% endif %}
                    </div>
            
                {% endfor %}
            </div>
        </div>

        <div class="bottom">
            <div class="write_message" data-action="new">
                <div class="new_message" name="new_message" contenteditable="true" data-placeholder="{% translate 'Napísať správu' %}" aria-label="{% translate 'Napísať správu' %}"></div>

                <img 
                    class="profile_picture" 
                    src="
                        {% if logged_in_user.profile_picture_name %}
                            /../media/images/{{ logged_in_user.id }}/{{ logged_in_user.profile_picture_name }}

                        {% else %}
                            {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                        
                        {% endif %}
                    "
                    alt=""
                >

                <button class="add_emoji" title="{% translate 'Pridať emoji' %}" aria-label="{% translate 'Pridať emoji' %}">
                    <i class="fa-regular fa-face-surprise"></i> <!-- https://fontawesome.com/icons/face-surprise -->
                </button>

                <div class="emoji_picker_container hidden">
                    <emoji-picker></emoji-picker>
                </div>
                
                <button class="send" title="{% translate 'Odoslať správu' %}" aria-label="{% translate 'Odoslať správu' %}">
                    <!-- https://heroicons.com/ -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% url 'javascript_catalog_url' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js" type="module"></script> <!-- Emoji Picker Element Library -->
    
    <script src="{% static 'app/ts/dist/pages/chat/components/chat.js' %}" type="module"></script>
{% endblock script %}