{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Moje hodnotenie" %}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/edit_review.css' %}">
{% endblock style %}

{% block content %}
    {% if request.session.logged_in_user_id %}
        <script src="{% static 'app/ts/dist/components/reviews.js' %}" type="module"></script>

        <form class="edit_review_form" action="{% url 'edit_review_url' %}" method="POST">
            {% csrf_token %}

            <h2><a style="font-size: 35px;" href="{% url 'edit_review_url' %}" target="_self">{% translate "Moje&nbsp;hodnotenie" %}</a></h2>

            <a class="back" href="{% url 'homepage_url' %}" title="{% translate 'Späť na úvodnú stránku' %}" target="_self"><i class="fa-solid fa-chevron-left"></i></a> <!-- https://fontawesome.com/icons/chevron-left -->

            <div class="reviewer">
                {% if review.user.username %}
                    <a href="{% url 'profile_url' review.user.username %}" title="{% translate 'Zobraziť užívateľa' %}" aria-label="{% translate 'Zobraziť užívateľa' %}">
                        <img 
                            class="profile_picture skeleton_loading" 
                            src="
                                {% if review.user.profile_picture_name %}
                                    /media/images/{{ review.user.id }}/{{ review.user.profile_picture_name }}

                                {% else %}
                                    {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                
                                {% endif %}
                            "
                            alt=""
                        >
                    </a>

                {% else %}
                    <img 
                        class="profile_picture skeleton_loading" 
                        src="
                            {% if review.user.profile_picture_name %}
                                /media/images/{{ review.user.id }}/{{ review.user.profile_picture_name }}

                            {% else %}
                                {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                            
                            {% endif %}
                        "
                        alt=""
                    >

                {% endif %}

                <p class="username">
                    {{ review.user.username }}

                    <span class="date">
                        - {{ review.creation_time|date:"d.m. Y" }}

                        {% if review.last_edit != None %}
                            ({% translate "upravené" %})

                        {% endif %}
                    </span>
                </p>
            </div>

            <div class="rating">
                {% for _ in "12345" %}
                    {% if forloop.counter <= review.rating %}
                        <button type="button">
                            <i class="full fa-solid fa-star"></i> <!-- https://fontawesome.com/icons/star -->
                        </button>

                    {% else %}
                        <button type="button">
                            <i class="empty fa-solid fa-star"></i> <!-- https://fontawesome.com/icons/star -->
                        </button>
                    
                    {% endif %}
                {% endfor %}

                {{ review_form.rating }}
            </div>

            <div class="review_container">
                {{ review_form.review }}

                <div class="icons">
                    <button class="add_emoji" type="button" title="{% translate 'Pridať emoji' %}">
                        <i class="fa-regular fa-face-surprise"></i> <!-- https://fontawesome.com/icons/face-surprise -->
                    </button>
                </div>

                <div class="emoji_picker_container hidden">
                    <emoji-picker></emoji-picker>
                </div>
            </div>

            <p class="form_report" style="bottom: 110px;"></p>
            <input type="submit" value="{% translate 'Uložiť zmeny' %}">
        </form>

    {% else %}
        <div class="no_logged_in">
            <p>{% translate "Pre vykonávanie zmien vašej recenzie sa musíte najprv" %} <a href="{% url 'login_url' %}" title="{% translate 'Prihlásiť sa' %}" target="_self">{% translate "prihlásiť" %}</a> {% translate "alebo" %} <a href="{% url 'registration_url' %}" title="{% translate 'Vytvoriť účet' %}" target="_self">{% translate "zaregistrovať" %}</a>.</p>
        </div>

    {% endif %}
{% endblock content %}

{% block script %}
    <script src="{% url 'javascript_catalog_url' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js" type="module"></script> <!-- Emoji Picker Element Library -->
{% endblock script %}