{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Hlavná stránka" %}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/homepage.css' %}">
{% endblock style %}

{% block recaptcha %}
    <!-- Google reCAPTCHA V3 -->
    <script src="https://www.google.com/recaptcha/api.js?render=6Lfwh7osAAAAAExnZsXUSNJrACg7WX0guO88lCw1"></script>
{% endblock recaptcha %}

{% block navigation_bar_items %}
    <li>
        <a class="scroll_contact" href="#" target="_self">{% translate "KONTAKT" %}</a>
    </li>
{% endblock navigation_bar_items %}

{% block banner %}
    <div 
        class="reviews_info" 
        title="
            {% if total_reviews == 0 %}
                {% translate "Zatiaľ žiadne recenzie" %}

            {% else %}
                {% blocktranslate count amount=total_reviews %}
                    Na základe {{ amount }} recenzie

                {% plural %}
                    Na základe {{ amount }} recenzií

                {% endblocktranslate %}
            {% endif %}
        "
    >
        <p>{{ avg_rating.rating__avg|floatformat:2 }}</p>

        {% for _ in "12345" %}
            {% if forloop.counter <= avg_rating.rating__avg|floatformat:0|add:0 %}
                <i class="full fa-solid fa-star"></i> <!-- https://fontawesome.com/icons/star -->

            {% else %} 
                <i class="empty fa-solid fa-star"></i> <!-- https://fontawesome.com/icons/star -->
        
            {% endif %}
        {% endfor %}
    </div>
{% endblock banner %}

{% block search_bar %}
    <div class="search_container">
        <div class="search_bar_container">
            <i class="fa-solid fa-magnifying-glass"></i> <!-- https://fontawesome.com/icons/magnifying-glass -->
            <i class="fa-solid fa-xmark"></i> <!-- https://fontawesome.com/icons/xmark -->
            <input class="search_bar" type="text" placeholder="{% translate 'Hľadať' %}" autocomplete="off">
        </div>

        <div class="search_result_container"></div>
    </div>
{% endblock search_bar %}

{% block heading %}Wesiq{% endblock heading %}

{% block buttons %}
    <div class="buttons">
        <button class="login_button">{% translate "Prihlásiť" %}</button>
        <button class="registration_button">{% translate "Zaregistrovať" %}</button>
    </div>
{% endblock buttons %}

{% block content %}
    <dialog class="login_form_dialog">
        <form class="login_form" action="{% url 'homepage_url' %}" method="POST">
            {% csrf_token %}

            <h2>{% translate "Prihlásenie" %}</h2>

            <a class="back" href="#" title="{% translate 'Zavrieť' %}" target="_self"><i class="fa-solid fa-chevron-left"></i></a> <!-- https://fontawesome.com/icons/chevron-left -->

            <div class="identifier_container">
                <i class="fa-regular fa-envelope"></i> <!-- https://fontawesome.com/icons/envelope -->
                {{ login_form.identifier }}
            </div>
            
            <div class="password_container">
                <i class="fa-solid fa-lock"></i> <!-- https://fontawesome.com/icons/lock -->
                {{ login_form.password }}
                <i class="fa-regular fa-eye-slash" title="{% translate 'Zobraziť heslo' %}"></i> <!-- https://fontawesome.com/icons/eye-slash --> <!-- https://fontawesome.com/icons/eye -->
            </div>

            <p class="form_report" style="bottom: 287px;"></p>
            <input type="submit" name="login_form_submit" value="{% translate 'Prihlásiť sa' %}">

            <div class="login_methods">
                <p><span></span>{% translate "alebo" %}<span></span></p>

                <div class="google">
                    <a href="/accounts/google/login/"><i class="fa-brands fa-google"></i>Google</a> <!-- https://fontawesome.com/icons/google -->
                </div>

                <div class="apple">
                    <a href="#"><i class="fa-brands fa-apple"></i>Apple</a> <!-- https://fontawesome.com/icons/apple -->
                </div>

                <div class="facebook">
                    <a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a> <!-- https://fontawesome.com/icons/facebook -->
                </div>
            </div>

            <div class="form_questions">
                <p>{% translate "Zabudli ste heslo?" %} <a class="password_reset" href="?password-reset=true" title="{% translate 'Poslať overovací kód' %}">{% translate "Zmeniť heslo" %}</a></p>
                <p>{% translate "Ešte nemáte účet?" %} <a href="{% url 'registration_url' %}" title="{% translate 'Vytvoriť účet' %}" target="_self">{% translate "Vytvoriť účet" %}</a></p>
            </div>
        </form>
    </dialog>

    <dialog class="registration_form_dialog">
        <!-- Google reCAPTCHA V3 -->
        <script>
            grecaptcha.ready(function() {
                // Registration Form

                const registration_form = document.querySelector(".registration_form")
                if(registration_form) {
                    registration_form.addEventListener("submit", function(event) {
                        event.preventDefault()
                        grecaptcha.execute("6Lfwh7osAAAAAExnZsXUSNJrACg7WX0guO88lCw1", {action: "registration_form"}).then(function(token) {
                            document.getElementById("registration_form_recaptcha").value = token
                            registration_form.submit()
                        })
                    })
                }
            })
        </script>

        <form class="registration_form" action="{% url 'homepage_url' %}" method="POST">
            {% csrf_token %}

            <h2>{% translate "Registrácia" %}</h2>

            <a class="back" href="#" title="{% translate 'Zavrieť' %}" target="_self"><i class="fa-solid fa-chevron-left"></i></a> <!-- https://fontawesome.com/icons/chevron-left -->
            
            <div class="inputs">
                <div class="first_name_container">
                    <i class="fa-regular fa-user"></i> <!-- https://fontawesome.com/icons/user -->
                    {{ registration_form.first_name }}
                </div>
                
                <div class="last_name_container">
                    <i class="fa-regular fa-user"></i> <!-- https://fontawesome.com/icons/user -->
                    {{ registration_form.last_name }}
                </div>
                
                <div class="email_address_container">
                    <i class="fa-regular fa-envelope"></i> <!-- https://fontawesome.com/icons/envelope -->
                    {{ registration_form.email_address }}
                </div>
                
                <div class="phone_number_container">
                    <i class="fa-solid fa-phone"></i> <!-- https://fontawesome.com/icons/phone -->
                    {{ registration_form.phone_number }}

                    <input class="language" type="hidden" name="language" value="en">
                    <img class="flag" src="" alt="">
                </div>
            </div>

            <div class="username_container">
                <i class="fa-solid fa-at"></i> <!-- https://fontawesome.com/icons/at -->
                {{ registration_form.username }}
            </div>
                
            <div class="password_container">
                <i class="fa-solid fa-key" title="{% translate 'Navrhnúť heslo' %}"></i> <!-- https://fontawesome.com/icons/key -->
                {{ registration_form.password }}
                <i class="fa-regular fa-eye-slash" title="{% translate 'Zobraziť heslo' %}"></i> <!-- https://fontawesome.com/icons/eye-slash --> <!-- https://fontawesome.com/icons/eye -->
                <i class="fa-solid fa-copy copy_password" title="{% translate 'Skopírovať' %}"></i> <!-- https://fontawesome.com/icons/copy -->
            </div>

            <div class="password_check_container">
                <i class="fa-solid fa-lock"></i> <!-- https://fontawesome.com/icons/lock -->
                {{ registration_form.password_check }}
                <i class="fa-regular fa-copy paste_password" title="{% translate 'Prilepiť' %}"></i> <!-- https://fontawesome.com/icons/copy -->
            </div>

            <p class="form_report error" style="bottom: 241px;"></p>
            <input type="hidden" name="registration_form_submit" value="registration_form_submit">
            <input class="registration_form_submit" type="submit" value="{% translate 'Vytvoriť účet' %}">

            <div class="form_questions">
                <p>{% translate "Už máte účet?" %} <a href="{% url 'login_url' %}" title="{% translate 'Prihlásiť sa' %}" target="_self">Prihlásiť sa</a></p>
            </div>

            <!-- Google reCAPTCHA V3 -->
            <input type="hidden" name="g-recaptcha-response" id="registration_form_recaptcha">
        </form>
    </dialog>

    <div class="reviews">
        <h2>{% translate "Čo si myslia ostatní?" %}</h2>

        <div class="reviews_info_container">
            <div class="graph">
                {% for key, value in reviews_amount_by_stars.items %}
                    <div class="one_column">
                        <p class="rating"><span>{{ key }}</span><i class="fa-solid fa-star"></i></p> <!-- https://fontawesome.com/icons/star -->

                        <div 
                            class="tooltip" 
                            data-tooltip="
                                {% if value == 0 or value >= 5 %}
                                    {{ value }} {% translate "recenzií" %}

                                {% elif value == 1 %}
                                    {{ value }} {% translate "recenzia" %}
                                
                                {% elif value > 1 or value <= 4 %}
                                    {{ value }} {% translate "recenzie" %}
                                
                                {% endif %}
                            "
                        >
                            <div class="review_bar"></div>
                        </div>

                        <p class="counter" data-amount="{{ value }}">0</p>
                    </div>
                
                {% endfor %}
            </div>

            <div class="average_rating">
                <div 
                    class="tooltip" 
                    data-tooltip="
                        {% if total_reviews == 0 %}
                            {% translate "Zatiaľ žiadne recenzie" %}

                        {% else %}
                            {% blocktranslate count amount=total_reviews %}
                                Na základe {{ amount }} recenzie

                            {% plural %}
                                Na základe {{ amount }} recenzií

                            {% endblocktranslate %}
                        {% endif %}
                    "
                >
                    <p class="average_rating_number">{{ avg_rating_integer }}<span>{{ avg_rating_rest }}</span></p>
                </div>

                <div class="stars">
                    {% for index in "12345" %}
                        <div 
                            class="tooltip" 
                            data-tooltip="
                                {% if total_reviews == 0 %}
                                    {% translate "Zatiaľ žiadne recenzie" %}

                                {% else %}
                                    {% blocktranslate count amount=total_reviews %}
                                        Na základe {{ amount }} recenzie
                                        
                                    {% plural %}
                                        Na základe {{ amount }} recenzií

                                    {% endblocktranslate %}
                                {% endif %}
                            "
                        >
                            <span class="star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 18 18" increment="0.01">
                                    <linearGradient id="float_star_{{ index }}" x1="0" x2="100%" y1="0" y2="0">
                                        <stop offset="0" stop-color="rgb(235, 185, 20)"></stop>
                                        <stop offset="0%" stop-color="rgb(235, 185, 20)"></stop>
                                        <stop offset="0%" stop-color="#cccccc"></stop>
                                    </linearGradient>

                                    <polygon points="8.94 0 11.05 6.49 17.88 6.49 12.35 10.51 14.46 17 8.94 12.99 3.41 17 5.52 10.51 0 6.49 6.83 6.49 8.94 0" fill="url(#float_star_{{ index }})" stroke-linecap="round" stroke-linejoin="round"></polygon>
                                </svg>
                            </span>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="found_reviews">
            {% if reviews|length == 1 %}
                {% translate "Našla sa 1 recenzia." %}

            {% elif reviews|length > 1 and reviews|length < 5 %}
                <p>
                    {% blocktranslate with amount=reviews|length %}
                        Našli sa <span>{{ amount }}</span> recenzie.
                    {% endblocktranslate %}
                </p>

            {% else %}
                <p>
                    {% blocktranslate with amount=found_reviews %}
                        Našlo sa <span>{{ amount }}</span> recenzií.
                    {% endblocktranslate %}
                </p>
            
            {% endif %}
        </div>

        <!-- Custom Select Menu https://github.com/Kumailabbs/custom_select -->
        <div class="select_menus">
            <div class="sort_select_menu">
                <div class="refresh" title="Obnoviť predvolené filtre">
                    <i class="fa-solid fa-arrow-rotate-right"></i> <!-- https://fontawesome.com/icons/arrow-rotate-right -->
                </div>

                <div class="select">
                    <span>{% translate "Najnovšie recenzie" %}</span>
                    <i class="fas fa-angle-down"></i>
                </div>

                <div class="options_list">
                    <div class="option {% if request.GET.sort == "latest" %}selected{% endif %}" data-sort="latest"><i class="fa-regular fa-clock"></i><span>{% translate "Najnovšie recenzie" %}</span></div> <!-- https://fontawesome.com/icons/clock -->
                    <div class="option {% if request.GET.sort == "oldest" %}selected{% endif %}" data-sort="oldest"><i class="fa-solid fa-clock-rotate-left"></i><span>{% translate "Najstaršie recenzie" %}</span></div> <!-- https://fontawesome.com/icons/clock-rotate-left -->
                    <div class="option {% if request.GET.sort == "best" %}selected{% endif %}" data-sort="best"><i class="fa-solid fa-angles-up"></i><span>{% translate "Najlepšie hodnotenie" %}</span></div> <!-- https://fontawesome.com/icons/angles-up -->
                    <div class="option {% if request.GET.sort == "worst" %}selected{% endif %}" data-sort="worst"><i class="fa-solid fa-angles-down"></i><span>{% translate "Najhoršie hodnotenie" %}</span></div> <!-- https://fontawesome.com/icons/angles-down -->
                </div>
            </div>

            <div class="rating_select_menu">
                <div class="refresh" title="{% translate 'Obnoviť predvolené filtre' %}">
                    <i class="fa-solid fa-arrow-rotate-right"></i> <!-- https://fontawesome.com/icons/arrow-rotate-right -->
                </div>

                <div class="select">
                    <span>{% translate "Všetky kategórie" %}</span>
                    <i class="fas fa-angle-down"></i>
                </div>

                <div class="options_list">
                    <div class="option {% if request.GET.rating == "all" %}selected{% endif %}" data-rating="all"><i class="fa-solid fa-star-half-stroke"></i><span>{% translate "Všetky recenzie" %}</span></div> <!-- https://fontawesome.com/icons/star-half-stroke -->
                    <div class="option {% if request.GET.rating == "5" %}selected{% endif %}" data-rating="5"><span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span></div> <!-- https://fontawesome.com/icons/star -->
                    <div class="option {% if request.GET.rating == "4" %}selected{% endif %}" data-rating="4"><span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></span></div> <!-- https://fontawesome.com/icons/star -->
                    <div class="option {% if request.GET.rating == "3" %}selected{% endif %}" data-rating="3"><span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span></div> <!-- https://fontawesome.com/icons/star -->
                    <div class="option {% if request.GET.rating == "2" %}selected{% endif %}" data-rating="2"><span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span></div> <!-- https://fontawesome.com/icons/star -->
                    <div class="option {% if request.GET.rating == "1" %}selected{% endif %}" data-rating="1"><span><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span></div> <!-- https://fontawesome.com/icons/star -->
                </div>
            </div>
        </div>

        <div class="all_reviews">
            {% include "partials/reviews.html" with reviews=page_reviews.object_list %}

            {% if page_reviews|length == 0 %}
                <p class="no_reviews">{% translate "Nepodarilo&nbsp;sa&nbsp;nájsť žiadne&nbsp;recenzie." %}</p>
            
            {% endif %}
        </div>

        {% if page_reviews.has_next %}
            <div class="load_reviews_buttons">
                <button class="load_more_reviews" data-page="2">{% translate "Zobraziť viac" %}</button>
            </div>

        {% endif %}

        <div class="write_review_form_container">
            <!-- Google reCAPTCHA V3 -->
            <script>
                grecaptcha.ready(function() {
                    // Write Review Form

                    const write_review_form = document.querySelector(".write_review_form")
                    if(write_review_form) {
                        write_review_form.addEventListener("submit", function(event) {
                            event.preventDefault()
                            grecaptcha.execute("6Lfwh7osAAAAAExnZsXUSNJrACg7WX0guO88lCw1", {action: "write_review_form"}).then(function(token) {
                                document.getElementById("write_review_form_recaptcha").value = token
                                write_review_form.submit()
                            })
                        })
                    }
                })
            </script>

            <form class="write_review_form" action="{% url 'homepage_url' %}" method="POST">
                {% csrf_token %}

                <div class="rating">
                    {% for _ in "12345" %}
                        <i class="empty fa-solid fa-star"></i> <!-- https://fontawesome.com/icons/star -->
                        
                    {% endfor %}

                    {{ review_form.rating }}
                </div>

                <div class="review_container">
                    {{ review_form.review }}

                    <div class="icons">
                        <i class="add_emoji fa-regular fa-face-surprise" title="{% translate 'Pridať emoji' %}"></i> <!-- https://fontawesome.com/icons/face-surprise -->
                    </div>

                    <div class="emoji_picker_container hidden">
                        <emoji-picker></emoji-picker>
                    </div>
                </div>

                <input type="hidden" name="write_review_form_submit" value="write_review_form_submit">
                <input type="submit" value="{% translate 'Uverejniť' %}">

                <!-- Google reCAPTCHA V3 -->
                <input type="hidden" name="g-recaptcha-response" id="write_review_form_recaptcha">
            </form>
        </div>
    </div>

    <!-- Google reCAPTCHA V3 -->
    <script>
        grecaptcha.ready(function() {
            // Contact Form

            const contact_form = document.querySelector(".contact_form")
            if(contact_form) {
                contact_form.addEventListener("submit", function(event) {
                    event.preventDefault()
                    grecaptcha.execute("6Lfwh7osAAAAAExnZsXUSNJrACg7WX0guO88lCw1", {action: "contact_form"}).then(function(token) {
                        document.getElementById("contact_form_recaptcha").value = token
                        contact_form.submit()
                    })
                })
            }
        })
    </script>
    
    <form class="contact_form" action="{% url 'homepage_url' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h2>{% translate "Kontaktujte nás" %}</h2>

        {{ contact_form.first_name }}
        {{ contact_form.last_name }}
        {{ contact_form.email_address }}

        <!-- Custom Select Menu https://github.com/Kumailabbs/custom_select -->
        <div class="subject_select_menu">
            <input type="hidden" name="subject" value="{% translate 'Otázka' %}">

            <div class="select">
                <span>{% translate "Otázka" %}</span>
                <i class="fas fa-angle-down"></i>
            </div>

            <div class="options_list">
                <div class="option" data-subject="question"><i class="fa-solid fa-question"></i><span>{% translate "Otázka" %}</span></div> <!-- https://fontawesome.com/icons/question -->
                <div class="option" data-subject="suggestion"><i class="fa-solid fa-wand-magic-sparkles"></i><span>{% translate "Návrh na zlepšenie" %}</span></div> <!-- https://fontawesome.com/icons/wand-magic-sparkles -->
                <div class="option" data-subject="bug"><i class="fa-solid fa-bug"></i><span>{% translate "Nahlásenie chyby" %}</span></div> <!-- https://fontawesome.com/icons/bug -->
            </div>
        </div>

        <div class="message_container">
            {{ contact_form.message }}

            <div class="attachment">
                <p class="attachment_report">{% translate "Nie je vybraný žiaden súbor." %}</p>
                
                <label for="select_attachment">
                    <div class="tooltip" data-tooltip="{% translate 'Vyberte prílohu z vašich súborov' %}">
                        <i class="fa-solid fa-paperclip" title="{% translate 'Vybrať prílohu' %}"></i> <!-- https://fontawesome.com/icons/paperclip -->
                    </div>
                </label>
                
                {{ contact_form.select_attachment }}
            </div>
        </div>

        <p class="form_report" style="bottom: 113px;"></p>
        <input type="hidden" name="contact_form_submit" value="contact_form_submit">
        <input type="submit" value="{% translate 'Odoslať správu' %}">

        <!-- Google reCAPTCHA V3 -->
        <input type="hidden" name="g-recaptcha-response" id="contact_form_recaptcha">
    </form>

    <form class="credit_card_form">
        <div class="credit_card">
            <div class="front">
                <div class="top">
                    <div class="title">{% translate "Podporte nás" %}</div>
                    <img class="logo" src="{% static 'images/visa.svg' %}">
                </div>

                <p class="error_report"></p>

                <div class="bottom">
                    <div class="group">
                        <label>{% translate "Číslo karty" %}</label>
                        <div class="card_number"></div>
                    </div>

                    <div class="row">
                        <div class="group cardholder_name_group">
                            <label for="cardholder_name">{% translate "Držiteľ karty" %}</label>
                            <input class="cardholder_name" type="text" id="cardholder_name" placeholder="Carl Johnson" required>
                        </div>

                        <div class="group">
                            <label>{% translate "Platnosť" %}</label>
                            <div class="card_expiry"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="back">
                <div class="group">
                    <label>{% translate "CVC" %}</label>
                    <div class="card_cvc"></div>
                </div>
            </div>
        </div>

        <div class="donation_buttons">
            <button class="donate_button" type="button" data-amount="100">1€</button>
            <button class="donate_button" type="button" data-amount="200">2€</button>
            <button class="donate_button" type="button" data-amount="500">5€</button>
        </div>
    </form>
{% endblock content %}

{% block script %}
    <script src="{% url 'javascript_catalog_url' %}"></script>
    <script src="{% static 'app/ts/dist/pages/homepage.js' %}" type="module"></script>
    <script src="{% static 'app/ts/dist/pages/login.js' %}" type="module"></script>
    <script src="{% static 'app/ts/dist/pages/registration.js' %}" type="module"></script>
    <script src="{% static 'app/ts/dist/components/searchBar.js' %}" type="module"></script>
    <script src="{% static 'app/ts/dist/components/reviews.js' %}" type="module"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart JS -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script> <!-- Emoji Picker Element Library -->

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const stripe = Stripe("{{ publishable_key }}")
            const elements = stripe.elements()

            const styles = {
                base: {
                    lineHeight: "28px",
                    fontFamily: "monospace",
                    fontSize: "15px",
                    color: "#ffffff",
                    "::placeholder": { color: "#999999" }
                },

                invalid: { color: "#df3535", iconColor: "#df3535" }
            }

            const credit_card_form = document.querySelector(".credit_card_form") // Gets Credit Card Form

            const error_report = credit_card_form.querySelector(".error_report") // Gets Error Report

            const card_number = elements.create("cardNumber", {style: styles})
            const card_expiry = elements.create("cardExpiry", {style: styles})
            const card_cvc = elements.create("cardCvc", {style: styles})

            card_number.mount(".card_number")
            card_expiry.mount(".card_expiry")
            card_cvc.mount(".card_cvc")

            const donate_buttons = credit_card_form.querySelectorAll(".donation_buttons .donate_button") // Gets All Donate Buttons

            donate_buttons.forEach(function(one_button) {
                one_button.addEventListener("click", async function(event) {
                    event.preventDefault()
                    
                    const amount_in_cents = this.getAttribute("data-amount") // Gets Amount In Cents
                    const cardholder_name = credit_card_form.querySelector(".cardholder_name").value // Gets Cardholder Name

                    donate_buttons.forEach(b => b.disabled = true) // Disables All Buttons

                    try {
                        const response = await fetch("{% url 'create_payment_intent_url' %}", {
                            method: "POST",

                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRFToken": "{{ csrf_token }}"
                            },

                            body: JSON.stringify({ 
                                amount: amount_in_cents,
                                name: cardholder_name 
                            })
                        })

                        const data = await response.json()

                        if(data.error) {
                            error_report.textContent = gettext("Nastala chyba. Skúste znovu") // Shows Error Message
                            donate_buttons.forEach(b => b.disabled = false) // Enables All Buttons
                            return
                        }

                        const {paymentIntent, error} = await stripe.confirmCardPayment(data.client_secret, {
                            payment_method: {
                                card: card_number,

                                billing_details: {
                                    name: cardholder_name
                                }
                            }
                        })

                        if(error) {
                            error_report.textContent = gettext("Nastala chyba. Skúste znovu") // Shows Error Message
                            donate_buttons.forEach(b => b.disabled = false) // Enables All Buttons
                        } 
                        
                        else {
                            if(paymentIntent.status === "succeeded") {
                                window.location.href = "{% url 'success_donation_url' %}" // Success Redirect
                            }
                        }
                    }
                    
                    catch(e) {
                        error_report.textContent = gettext("Nastala chyba. Skúste znovu") // Shows Error Message
                        donate_buttons.forEach(b => b.disabled = false) // Enables All Buttons
                    }
                })
            })
        })
    </script>
{% endblock script %}