{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Prihlásenie" %}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
{% endblock style %}

{% block navigation_bar_items %}
    <li>
        <a href="{% url 'registration_url' %}" target="_self">{% translate "REGISTRÁCIA" %}</a>
    </li>
{% endblock navigation_bar_items %}

{% block content %}
    <form class="login_form" action="{% url 'login_url' %}" method="POST">
        {% csrf_token %}

        <h2><a href="{% url 'login_url' %}" target="_self">{% translate "Prihlásenie" %}</a></h2>

        <a class="back" href="{% url 'homepage_url' %}" title="{% translate 'Späť na úvodnú stránku' %}" target="_self"><i class="fa-solid fa-chevron-left"></i></a> <!-- https://fontawesome.com/icons/chevron-left -->

        {{ login_form.email_address }}
        
        <div class="password_container">
            {{ login_form.password }}
            <i class="fa-regular fa-eye-slash" title="{% translate 'Zobraziť heslo' %}"></i> <!-- https://fontawesome.com/icons/eye-slash --> <!-- https://fontawesome.com/icons/eye -->
        </div>

        <p class="form_report" style="bottom: 287px;"></p>
        <input type="submit" name="login_form_submit" value="{% translate 'Prihlásiť sa' %}">

        <div class="login_methods">
            <p><span></span>{% translate "alebo" %}<span></span></p>

            <div class="google">
                <a href="/accounts/google/login/"><i class="fa-brands fa-google"></i>Google</a> <!-- https://fontawesome.com/icons/google -->
            </div>

            <div class="apple">
                <a href="#"><i class="fa-brands fa-apple"></i>Apple</a> <!-- https://fontawesome.com/icons/apple -->
            </div>

            <div class="facebook">
                <a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a> <!-- https://fontawesome.com/icons/facebook -->
            </div>
        </div>

        <div class="form_questions">
            <p>{% translate "Zabudli ste heslo?" %} <a class="password_reset" href="?password-reset=true" title="{% translate 'Poslať overovací kód' %}">{% translate "Zmeniť heslo" %}</a></p>
            <p>{% translate "Ešte nemáte účet?" %} <a href="{% url 'registration_url' %}" title="{% translate 'Vytvoriť účet' %}" target="_self">{% translate "Vytvoriť účet" %}</a></p>
        </div>
    </form>
{% endblock content %}

{% block script %}
    <script src="{% url 'javascript_catalog_url' %}"></script>
    <script src="{% static 'app/ts/dist/pages/login.js' %}" type="module"></script>
{% endblock script %}