{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Obnova hesla" %}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/password_reset.css' %}">
{% endblock style %}

{% block content %}
    {% if request.COOKIES.email_address and request.COOKIES.password_reset_timer %}
        <form class="password_reset_form" action="{% url 'password_reset_url' %}" method="POST">
            {% csrf_token %}

            <h2><a href="{% url 'password_reset_url' %}" target="_self">{% translate "Obnova hesla" %}</a></h2>

            <div class="timer">
                <svg width="100" height="100" viewBox="0 0 100 100">
                    <circle
                        cx="50"
                        cy="50"
                        r="40"
                        class="progress"
                    />
                </svg>

                <svg width="100" height="100" viewBox="0 0 100 100">
                    <circle
                        cx="50"
                        cy="50"
                        r="40"
                        class="progress_background"
                    />
                </svg>

                <p></p>
            </div>

            <a class="back" href="{% url 'homepage_url' %}" title="{% translate 'Späť na úvodnú stránku' %}" target="_self"><i class="fa-solid fa-chevron-left"></i></a> <!-- https://fontawesome.com/icons/chevron-left -->

            <div class="otp_container">
                <input class="password_reset_code" type="hidden" name="password_reset_code" value="">

                <input class="active" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]">
                <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]" disabled>
                <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]" disabled>
                <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]" disabled>
                <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]" disabled>
                <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]" disabled>
            </div>

            <div class="password_container">
                <i class="fa-solid fa-key" title="{% translate 'Navrhnúť heslo' %}"></i> <!-- https://fontawesome.com/icons/key -->
                {{ password_reset_form.new_password }}
                <i class="fa-regular fa-eye-slash" title="{% translate 'Zobraziť heslo' %}"></i> <!-- https://fontawesome.com/icons/eye-slash --> <!-- https://fontawesome.com/icons/eye -->
            </div>

            <input type="submit" value="{% translate 'Zmeniť heslo' %}">

            <div class="form_questions">
                <p>{% translate "Neprišiel vám overovací kód?" %} <a class="password_reset" href="?password-reset=true" title="{% translate 'Poslať overovací kód' %}">{% translate "Skúsiť znovu" %}</a></p>
            </div>
        </form>

        <script src="{% url 'javascript_catalog_url' %}"></script>
        <script src="{% static 'app/ts/dist/pages/password_reset.js' %}" type="module"></script>

    {% else %}
        <div class="code_expired">
            <p>{% translate "Platnosť overovacieho kódu pre zmenu hesla k vášmu účtu vypršala." %}<br>{% translate "Na stránke s" %} <a href="{% url 'login_url' %}" title="{% translate 'Prihlásiť sa' %}" target="_self">{% translate "prihlásením" %}</a> {% translate "požiadajte o nový." %}</p>
        </div>

    {% endif %}
{% endblock content %}