{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Príspevok" %}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/post.css' %}">
{% endblock style %}

{% block content %}
    {% if post %}
        <div class="feed">
            <template class="one_comment_template">
                <div class="one_comment">
                    <div class="comment_container">
                        <div class="user">
                            <a href="#" title="{% translate 'Zobraziť užívateľa' %}">
                                <img class="profile_picture" src="{% static 'images/profile_picture.png' %}"> <!-- https://www.flaticon.com/free-icon/user_3177440 -->
                            </a>
                            
                            <p class="username"></p>
    
                            <i class="fa-solid fa-ellipsis-vertical"></i> <!-- https://fontawesome.com/icons/ellipsis-vertical -->
                        </div>
    
                        <p class="comment"></p>
                    </div>
    
                    <div class="interactions">
                        <div class="likes" title="{% translate 'Páči sa mi...' %}">
                            <i class="fa-heart"></i> <!-- https://fontawesome.com/icons/heart -->
                            <p class="likes_counter">{{ one_comment.likes }}</p>
                        </div>
    
                        <div class="report" title="{% translate 'Nahlásiť...' %}">
                            <i class="fa-regular fa-flag"></i> <!-- https://fontawesome.com/icons/flag -->
                        </div>
    
                        <div class="date" title="{% translate 'Dátum zverejnenia' %}">
                            <p></p>
                        </div>
                    </div>
    
                    <div class="reply_container hidden"></div>
                </div>
            </template>

            <div class="post_container" tabindex="-1" data-post_id="{{ post.id }}">
                <div class="header">
                    <div class="left">
                        <a href="{% url 'profile_url' post.user.username %}" title="{% translate 'Zobraziť užívateľa' %}">
                            <img 
                                class="profile_picture skeleton_loading" 
                                src="
                                    {% if post.user.profile_picture_name %}
                                        /../media/images/{{ post.user.id }}/{{ post.user.profile_picture_name }}

                                    {% else %}
                                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                    
                                    {% endif %}
                                "
                            >
                        </a>
                    </div>
                    
                    <div class="right">
                        <div class="top">
                            <p class="username">{{ post.user.username }}</p>

                            <div class="followers_container">
                                <p class="followers">{{ post.user.followers|length }}</p>

                                <i class="fa-solid fa-user"></i> <!-- https://fontawesome.com/icons/user -->

                            </div>
                            
                            {% if not request.session.logged_in_user_id == post.user_id %}
                                <button 
                                    class="follow_button"
                                    data-id="{{ post.user_id }}"
                                    data-action="
                                        {% if not request.session.logged_in_user_id|stringformat:"i" in post.user.followers %}
                                            {% translate 'follow' %}

                                        {% else %}
                                            {% translate 'unfollow' %}
                                        
                                        {% endif %}
                                    "
                                >
                                    {% if not request.session.logged_in_user_id|stringformat:"i" in post.user.followers %}
                                        {% translate "Začať sledovať" %}

                                    {% else %}
                                        {% translate "Prestať sledovať" %}
                                    
                                    {% endif %}
                                </button>

                            {% else %}
                                <i class="fa-solid fa-ellipsis-vertical"></i> <!-- https://fontawesome.com/icons/ellipsis-vertical -->
                            
                            {% endif %}
                        </div>

                        <div class="bottom">
                            {% if post.location %}
                                {% if post.coordinates %}
                                    <a class="location" href="https://www.google.com/maps?q={{ post.latitude }},{{ post.longitude }}" title="{% translate 'Otvoriť mapy' %}" target="_blank">{{ post.location|safe }}</a>

                                {% else %}
                                    <p class="location">{{ post.location }}</p>

                                {% endif %}
                            {% endif %}

                            <p class="created_at">{{ post.created_at|date:"d.m. Y" }}</p>
                        </div>
                    </div>
                </div>

                <div class="media" data-active_index="0">
                    {% for one_post_media in post.media.all %}
                        {% if post.id == one_post_media.post.id %}
                            <div class="one_post">
                                <div class="loading hidden">
                                    <p>{% translate "Načítavam..." %}</p>
                                </div>

                                <div class="previous hidden">
                                    <i class="fa-solid fa-angle-left"></i> <!-- https://fontawesome.com/icons/angle-left -->
                                </div>

                                {% if one_post_media.is_video == True %}
                                    <div class="video_container">
                                        <div class="video_icon hidden">
                                            <i class="fa-solid fa-pause" title="{% translate 'Pozastaviť...' %}"></i> <!-- https://fontawesome.com/icons/pause -->
                                            {% comment %} <i class="fa-solid fa-play"></i> <!-- https://fontawesome.com/icons/play --> {% endcomment %}
                                        </div>

                                        <video class="video" poster="{{ one_post_media.thumbnail.url }}" preload="metadata" autoplay loop muted>
                                            <source src="{% url 'stream_video_url' user_id=post.user.id filename=one_post_media.filename %}">
                                            
                                            {% blocktranslate with first_name=post.user.first_name last_name=post.user.last_name %}
                                                Príspevok užívateľa {{ first_name }} {{ last_name }}
                                            {% endblocktranslate %}
                                        </video>

                                        <div class="controls">
                                            <div class="buttons">
                                                <button class="play_pause">
                                                    <i class="fa-solid fa-pause" title="{% translate 'Pozastaviť...' %}"></i> <!-- https://fontawesome.com/icons/pause -->
                                                    {% comment %} <i class="fa-solid fa-play"></i> <!-- https://fontawesome.com/icons/play --> {% endcomment %}
                                                </button>

                                                <p class="timer"><span class="elapsed">0:00</span><span>/</span><span class="total">0:00</span></p>
                                                
                                                <div class="volume_container">
                                                    <input type="range" class="volume" min="0" max="1" step="0.01" value="0">
                                                    <i class="mute_unmute fa-solid fa-volume-xmark" title="{% translate 'Hlasitosť...' %}"></i> <!-- https://fontawesome.com/icons/volume-xmark -->
                                                    {% comment %} <i class="fa-solid fa-volume-low"></i> <!-- https://fontawesome.com/icons/volume-low --> {% endcomment %}
                                                    {% comment %} <i class="fa-solid fa-volume-high"></i> <!-- https://fontawesome.com/icons/volume-high --> {% endcomment %}
                                                </div>

                                                <button class="fullscreen">
                                                    <i class="fa-solid fa-expand" title="{% translate 'Rozstiahnuť...' %}"></i> <!-- https://fontawesome.com/icons/expand -->
                                                    {% comment %} <i class="fa-solid fa-compress"></i> <!-- https://fontawesome.com/icons/compress --> {% endcomment %}
                                                </button>
                                            </div>

                                            <div class="scrubber_hitbox">
                                                <div class="scrubber">
                                                    <div class="buffering_bar"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            
                                {% elif one_post_media.is_video == False %}
                                    <img 
                                        class="image"
                                        src="{{ one_post_media.file.url }}" 
                                        alt="
                                            {% blocktranslate with first_name=post.user.first_name last_name=post.user.last_name %}
                                                Príspevok užívateľa {{ first_name }} {{ last_name }}
                                            {% endblocktranslate %}
                                        "
                                    >
                                
                                {% endif %}
                                
                                <div class="next hidden">
                                    <i class="fa-solid fa-angle-right"></i> <!-- https://fontawesome.com/icons/angle-right -->
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}

                    <div class="particles"></div>

                    <div class="post_bars"></div>
                </div>

                <div class="society">
                    <div class="likes" title="{% translate 'Páči sa mi...' %}">
                        <i 
                            class="
                                {% if request.session.logged_in_user_id|stringformat:"i" in post.likes_from_users %}
                                    fa-solid

                                {% else %}
                                    fa-regular
                                
                                {% endif %}
                                
                                fa-heart
                            "
                        ></i> <!-- https://fontawesome.com/icons/heart -->

                        {% if post.hide_likes and post.user.id != request.session.logged_in_user_id %}
                            <p class="hidden_likes_counter">{% translate "Skryté" %}</p>
                        
                        {% else %}
                            <p class="likes_counter">{{ post.likes }}</p>
                        
                        {% endif %}
                    </div>

                    <div class="comments">
                        <i class="fa-regular fa-comment"></i> <!-- https://fontawesome.com/icons/comment -->

                        {% if post.allow_comments %}
                            <p class="comments_counter">{{ post.visible_comments|length }}</p>

                        {% else %}
                            <p class="hidden_comments_counter">{% translate "Vypnuté" %}</p>
                        
                        {% endif %}
                    </div>

                    <div class="share" data-author="{{ post.user.username }}">
                        <i class="fa-solid fa-share-nodes"></i> <!-- https://fontawesome.com/icons/share-nodes -->
                    </div>

                    <div class="save">
                        <i 
                            class="
                                {% if post.id|stringformat:"i" in saved_posts %}
                                    fa-solid
                                    active

                                {% else %}
                                    fa-regular
                                
                                {% endif %}
                                
                                fa-bookmark
                            "
                        ></i> <!-- https://fontawesome.com/icons/bookmark -->
                    </div>
                </div>

                {% if post.description %}
                    <p class="description" data-tagged_users="{{ post.tagged_users_json }}" data-added_hashtags="{{ post.added_hashtags }}">{{ post.description }}</p>

                {% endif %}

                {% if post.allow_comments %}
                    <div class="comment_forum hidden">
                        <div class="write_comment_form">
                            <div class="comment" name="comment" contenteditable="true" data-placeholder="{% translate 'Napísať komentár' %}"></div>
            
                            <img 
                                class="profile_picture" 
                                src="
                                    {% if profile_picture_name %}
                                        /../media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}
            
                                    {% else %}
                                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                    
                                    {% endif %}
                                "
                            >
                            
                            <!-- https://heroicons.com/ -->
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="send">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                            </svg>
                        </div>

                        <div class="all_comments">
                            {% for one_comment in post.root_comments %}
                                {% include "partials/comment.html" with one_comment=one_comment level=1 %}

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    {% else %}
        <h2>{% translate "Ospravedlňujeme&nbsp;sa!<br>Hľadaný&nbsp;príspevok sa&nbsp;nenašiel." %}</h2>
    
    {% endif %}
{% endblock content %}

{% block script %}
    <script src="{% url 'javascript_catalog_url' %}"></script>
    <script src="{% static 'app/ts/dist/pages/community/community.js' %}" type="module"></script>
{% endblock script %}