{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Môj účet" %}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/profile.css' %}">
{% endblock style %}

{% block content %}
    <div class="profile_container">
        <div class="options_container">
            <a class="back" href="{% url 'homepage_url' %}" title="{% translate 'Späť na úvodnú stránku' %}" target="_self"><i class="fa-solid fa-chevron-left"></i></a> <!-- https://fontawesome.com/icons/chevron-left -->

            {% if request.session.logged_in_user_id and logged_in_user and user and logged_in_user.id == user.id %}
                <i class="fa-solid fa-gear"></i> <!-- https://fontawesome.com/icons/gear -->

            {% endif %}
        </div>

        {% if request.session.logged_in_user_id and logged_in_user and user and logged_in_user.id == user.id %}
            <script src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js" type="module"></script> <!-- Emoji Picker Element Library -->
            <script src="{% static 'app/ts/dist/pages/profile/components/edit_account.js' %}" type="module"></script>

            <form class="edit_account_form hidden" action="{% url 'profile_url' logged_in_user.username %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="profile_picture_container">
                    <div class="info">
                        <label for="select_profile_picture">
                            <img 
                                class="profile_picture" 
                                src="
                                    {% if logged_in_user.profile_picture_name %}
                                        /media/images/{{ request.session.logged_in_user_id }}/{{ logged_in_user.profile_picture_name }}
    
                                    {% else %}
                                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                    
                                    {% endif %}
                                "
                                title="{% translate 'Nahrať obrázok' %}"
                            >
                        </label>
    
                        <p class="username">{{ logged_in_user.username }}</p>
                    </div>

                    {{ edit_account_form.select_profile_picture }}
                    
                    <label for="delete_profile_picture"><img class="delete_profile_picture" src="{% static 'images/delete.png' %}" title="{% translate 'Odstrániť obrázok' %}"></label> <!-- https://www.flaticon.com/free-icon/delete_6861362 -->
                    
                    {{ edit_account_form.delete_profile_picture }}
                </div>

                <p class="friend_code">Friend Code - <span>{{ logged_in_user.friend_code }}</span></p>

                <div class="bio_container">
                    {{ edit_account_form.bio }}

                    <input class="bio_links" type="hidden" name="bio_links" value="[]">
    
                    <div class="icons">
                        <i class="toggle_show_add_link_container fa-solid fa-link" title="{% translate 'Pridať odkaz' %}"></i> <!-- https://fontawesome.com/icons/link -->
                        <i class="add_emoji fa-regular fa-face-surprise" title="{% translate 'Pridať emoji' %}"></i> <!-- https://fontawesome.com/icons/face-surprise -->
                    </div>

                    <div class="add_link_container">
                        <input class="url" type="text" placeholder="https://example.com">
                        <button class="add_link" type="button"><i class="fa-solid fa-plus"></i></button>
                    </div>
    
                    <div class="emoji_picker_container hidden">
                        <emoji-picker></emoji-picker>
                    </div>
                </div>

                <div class="added_links_container"></div>

                <div class="inputs">
                    <div class="first_name_container">
                        <i class="fa-regular fa-user"></i> <!-- https://fontawesome.com/icons/user -->
                        {{ edit_account_form.first_name }}
                    </div>
                    
                    <div class="last_name_container">
                        <i class="fa-regular fa-user"></i> <!-- https://fontawesome.com/icons/user -->
                        {{ edit_account_form.last_name }}
                    </div>
                    
                    <div class="email_address_container">
                        <i class="fa-regular fa-envelope"></i> <!-- https://fontawesome.com/icons/envelope -->
                        {{ edit_account_form.email_address }}
                    </div>

                    <div class="phone_number_container">
                        <i class="fa-solid fa-phone"></i> <!-- https://fontawesome.com/icons/phone -->
                        {{ edit_account_form.phone_number }}
                        <img class="flag" src="" alt="">
                    </div>
                </div>

                <p class="form_report" style="bottom: 194px;"></p>
                <input class="edit_account_form_submit" type="submit" name="edit_account_form_submit" value="{% translate 'Uložiť zmeny' %}">

                <div class="form_questions">
                    <p>{% translate "Zabudli ste heslo?" %} <a class="password_reset" data-email_address="{{ logged_in_user.email_address }}" href="?password-reset=true" title="{% translate 'Poslať overovací kód' %}">{% translate "Zmeniť heslo" %}</a></p>
                </div>

                <label for="delete_account"><img class="delete_account" src="{% static 'images/delete_account.png' %}" title="{% translate 'Odstrániť účet' %}"></label> <!-- https://www.flaticon.com/free-icon/delete-friend_12318444 -->
                
                {{ edit_account_form.delete_account }}
            </form>

        {% endif %}
        
        <div class="profile">
            <div class="header">
                <div class="top">
                    <div class="info">
                        <img 
                            class="profile_picture" 
                            src="
                                {% if user.profile_picture_name %}
                                    /media/images/{{ user.id }}/{{ user.profile_picture_name }}
            
                                {% else %}
                                    {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                
                                {% endif %}
                            "
                        >
            
                        <div class="name">
                            <p class="username">{{ user.username }}</p>

                            {% if user.first_name and user.last_name %}
                                <p class="full_name">{{ user.first_name }} {{ user.last_name }}</p>
                            
                            {% endif %}
                        </div>
                    </div>
    
                    <p class="
                            streak

                            {% if user.has_already_increased_activity_streak %}
                                increased
                            
                            {% endif %}
                        "
                    >
                        <i class="fa-solid fa-fire"></i> <!-- https://fontawesome.com/icons/fire -->
                        <span>{{ user.activity_streak }}</span>
                    </p>
                </div>
    
                <div class="bottom">
                    {% if user.bio %}
                        <div class="bio_container">
                            <p class="bio">{{ user.bio }}</p>

                            <div class="links">
                                {% for one_link in user.bio_links.all %}
                                    <a href="{{ one_link.url }}" title="{% translate 'Otvoriť odkaz' %}" target="_blank" rel="noopener noreferrer">
                                        {% if "instagram.com" in one_link.url %}
                                            <i class="fa-brands fa-instagram"></i> <!-- https://fontawesome.com/icons/brands/solid/instagram -->

                                        {% elif "facebook.com" in one_link.url %}
                                            <i class="fa-brands fa-facebook"></i> <!-- https://fontawesome.com/icons/brands/solid/facebook -->

                                        {% elif "youtube.com" in one_link.url %}
                                            <i class="fa-brands fa-youtube"></i> <!-- https://fontawesome.com/icons/brands/solid/youtube -->

                                        {% else %}
                                            <i class="fa-solid fa-link"></i> <!-- https://fontawesome.com/icons/link -->

                                        {% endif %}
                                    </a>

                                {% endfor %}
                            </div>
                        </div>
                    
                    {% endif %}
                </div>
            </div>

            <div class="middle">
                <div class="follow_container">
                    <div class="statistics">
                        <div class="followers">
                            <p class="amount">{{ user.followers.count }}</p>
                            <p class="label">{% translate "sledujú" %}</p>
                        </div>
    
                        <div class="following">
                            <p class="amount">{{ user.following.count }}</p>
                            <p class="label">{% translate "sleduje" %}</p>
                        </div>
                    </div>

                    {% if not request.session.logged_in_user_id == user.id and request.session.logged_in_user_id %}
                        <button 
                            class="follow_button"
                            data-id="{{ user.id }}"
                            data-action="
                                {% if not logged_in_user in user.followers.all %}
                                    follow

                                {% else %}
                                    unfollow
                                
                                {% endif %}
                            "
                        >
                            {% if not logged_in_user in user.followers.all %}
                                {% translate "Začať sledovať" %}

                            {% else %}
                                {% translate "Prestať sledovať" %}
                            
                            {% endif %}
                        </button>
                    
                    {% endif %}
                </div>
                
                <div class="badges_container">
                    <div class="previous">
                        <i class="fa-solid fa-angle-left"></i> <!-- https://fontawesome.com/icons/angle-left -->
                    </div>

                    <div class="badges">
                        {% if user.role == "developer" %}
                            <div class="badge developer" title="{% translate 'Vývojár' %}">
                                <i class="fa-solid fa-code"></i> <!-- https://fontawesome.com/icons/code -->
                            </div>

                        {% endif %}

                        {% if not user.total_transactions_amount == 0 %}
                            <div 
                                class="
                                    badge donations
                                    
                                    {% if user.total_transactions_amount >= 1 and user.total_transactions_amount < 2 %}
                                        blue
    
                                    {% elif user.total_transactions_amount >= 2 and user.total_transactions_amount < 5 %}
                                        green
    
                                    {% elif user.total_transactions_amount >= 5 and user.total_transactions_amount < 10 %}
                                        yellow
    
                                    {% elif user.total_transactions_amount >= 10 and user.total_transactions_amount < 50 %}
                                        orange
    
                                    {% elif user.total_transactions_amount >= 50 and user.total_transactions_amount < 100 %}
                                        red
    
                                    {% else %}
                                        purple
                                     
                                    {% endif %}
                                "
    
                                title="{% translate 'Prispievateľ' %}"
                            >   
                                <i class="fa-solid fa-dollar-sign"></i> <!-- https://fontawesome.com/icons/dollar-sign -->

                                <p>
                                    {% if user.total_transactions_amount >= 1 and user.total_transactions_amount < 2 %}
                                        1€
    
                                    {% elif user.total_transactions_amount >= 2 and user.total_transactions_amount < 5 %}
                                        2€
    
                                    {% elif user.total_transactions_amount >= 5 and user.total_transactions_amount < 10 %}
                                        5€
    
                                    {% elif user.total_transactions_amount >= 10 and user.total_transactions_amount < 50 %}
                                        10€
    
                                    {% elif user.total_transactions_amount >= 50 and user.total_transactions_amount < 100 %}
                                        50€
    
                                    {% else %}
                                        100+€
                                    
                                    {% endif %}
                                </p>
                            </div>

                        {% endif %}

                        <div 
                            class="
                                badge level
                                
                                {% if user.level <= 10 %}
                                    blue

                                {% elif user.level <= 25 %}
                                    green

                                {% elif user.level <= 50 %}
                                    yellow

                                {% elif user.level <= 75 %}
                                    orange

                                {% elif user.level <= 100 %}
                                    red

                                {% else %}
                                    purple
                                 
                                {% endif %}
                            "

                            title="{% translate 'Level' %}"
                        >   
                            <i class="fa-solid fa-arrow-trend-up"></i> <!-- https://fontawesome.com/icons/arrow-trend-up -->
                            <p>{{ user.level }}</p>
                        </div>

                        {% if not user.xp == 0 %}
                            <div 
                                class="
                                    badge xp
                                    
                                    {% if user.xp < 1000 %}
                                        blue

                                    {% elif user.xp <= 5000 %}
                                        green

                                    {% elif user.xp <= 10000 %}
                                        yellow

                                    {% elif user.xp <= 50000 %}
                                        orange

                                    {% elif user.xp <= 100000 %}
                                        red

                                    {% else %}
                                        purple
                                    
                                    {% endif %}
                                "

                                title="{% translate 'Získané XP' %}"
                            >
                                <i class="fa-solid fa-bolt"></i> <!-- https://fontawesome.com/icons/bolt -->
                                
                                <p>
                                    {% if user.xp < 1000 %}
                                        &lt;1000<span>XP</span>
    
                                    {% elif user.xp <= 5000 %}
                                        1K<span>XP</span>
    
                                    {% elif user.xp <= 10000 %}
                                        5K<span>XP</span>
    
                                    {% elif user.xp <= 50000 %}
                                        10K<span>XP</span>
    
                                    {% elif user.xp <= 100000 %}
                                        50K<span>XP</span>
    
                                    {% else %}
                                        100K+<span>XP</span>
                                    
                                    {% endif %}
                                </p>
                            </div>

                        {% endif %}

                        {% if not user.max_activity_streak == 0 %}
                            <div class="badge max_activity_streak" title="{% translate 'Najdlhšia rada aktivity' %}">
                                <i class="fa-solid fa-fire"></i> <!-- https://fontawesome.com/icons/fire -->
                                <p>{{ user.max_activity_streak }}</p>
                            </div>

                        {% endif %}
                        
                        {% if not user.years_since_registration == 0 %}
                            <div 
                                class="
                                    badge years_since_registration
                                    
                                    {% if user.years_since_registration == 1 %}
                                        blue

                                    {% elif user.years_since_registration == 2 %}
                                        green

                                    {% elif user.years_since_registration == 3 %}
                                        yellow

                                    {% elif user.years_since_registration == 4 %}
                                        orange

                                    {% elif user.years_since_registration == 5 %}
                                        red

                                    {% else %}
                                        purple
                                    
                                    {% endif %}
                                "

                                title="{% translate 'Roky od registrácie' %}"
                            >   
                                <i class="fa-solid fa-cake-candles"></i> <!-- https://fontawesome.com/icons/cake-candles -->
                                <p>{{ user.years_since_registration }}</p>
                            </div>

                        {% endif %}

                        {% if not user.total_activities == 0 %}
                            <div 
                                class="
                                    badge total_activities
                                    
                                    {% if user.total_activities < 10 %}
                                        blue

                                    {% elif user.total_activities <= 50 %}
                                        green

                                    {% elif user.total_activities <= 100 %}
                                        yellow

                                    {% elif user.total_activities <= 250 %}
                                        orange

                                    {% elif user.total_activities <= 500 %}
                                        red

                                    {% else %}
                                        purple
                                    
                                    {% endif %}
                                "

                                title="{% translate 'Zaznamenané aktivity' %}"
                            >
                                <i class="fa-solid fa-dumbbell"></i> <!-- https://fontawesome.com/icons/dumbbell -->

                                <p>
                                    {% if user.total_activities < 10 %}
                                        1
    
                                    {% elif user.total_activities <= 50 %}
                                        10
    
                                    {% elif user.total_activities <= 100 %}
                                        50
    
                                    {% elif user.total_activities <= 250 %}
                                        100
    
                                    {% elif user.total_activities <= 500 %}
                                        250
    
                                    {% else %}
                                        500+
                                    
                                    {% endif %}
                                </p>
                            </div>

                        {% endif %}

                        {% if not user.followers.all|length == 0 %}
                            <div 
                                class="
                                    badge followers
                                    
                                    {% if user.followers.all|length < 5 %}
                                        blue

                                    {% elif user.followers.all|length <= 10 %}
                                        green

                                    {% elif user.followers.all|length <= 25 %}
                                        yellow

                                    {% elif user.followers.all|length <= 50 %}
                                        orange

                                    {% elif user.followers.all|length <= 100 %}
                                        red

                                    {% else %}
                                        purple
                                    
                                    {% endif %}
                                "

                                title="{% translate 'Počet sledovateľov' %}"
                            >
                                <i class="fa-brands fa-bluesky"></i> <!-- https://fontawesome.com/icons/bluesky -->

                                <p>
                                    {% if user.followers.all|length < 5 %}
                                        1
    
                                    {% elif user.followers.all|length <= 10 %}
                                        5
    
                                    {% elif user.followers.all|length <= 25 %}
                                        10
    
                                    {% elif user.followers.all|length <= 50 %}
                                        25
    
                                    {% elif user.followers.all|length <= 100 %}
                                        50
    
                                    {% else %}
                                        100+
                                    
                                    {% endif %}
                                </p>
                            </div>

                        {% endif %}

                        {% if not user.posts.all|length == 0 %}
                            <div 
                                class="
                                    badge posts
                                    
                                    {% if user.posts.all|length < 5 %}
                                        blue

                                    {% elif user.posts.all|length <= 10 %}
                                        green

                                    {% elif user.posts.all|length <= 25 %}
                                        yellow

                                    {% elif user.posts.all|length <= 50 %}
                                        orange

                                    {% elif user.posts.all|length <= 100 %}
                                        red

                                    {% else %}
                                        purple
                                    
                                    {% endif %}
                                "

                                title="{% translate 'Počet príspevkov' %}"
                            >
                                <i class="fa-solid fa-camera"></i> <!-- https://fontawesome.com/icons/camera -->

                                <p>
                                    {% if user.posts.all|length < 5 %}
                                        1
    
                                    {% elif user.posts.all|length <= 10 %}
                                        5
    
                                    {% elif user.posts.all|length <= 25 %}
                                        10
    
                                    {% elif user.posts.all|length <= 50 %}
                                        25
    
                                    {% elif user.posts.all|length <= 100 %}
                                        50
    
                                    {% else %}
                                        100+
                                    
                                    {% endif %}
                                </p>
                            </div>

                        {% endif %}
                        
                        {% if not user.total_received_likes == 0 %}
                            <div 
                                class="
                                    badge received_likes
                                    
                                    {% if user.total_received_likes < 5 %}
                                        blue

                                    {% elif user.total_received_likes <= 10 %}
                                        green

                                    {% elif user.total_received_likes <= 25 %}
                                        yellow

                                    {% elif user.total_received_likes <= 50 %}
                                        orange

                                    {% elif user.total_received_likes <= 100 %}
                                        red

                                    {% else %}
                                        purple
                                    
                                    {% endif %}
                                "

                                title="{% translate 'Získané lajky' %}"
                            >
                                <i class="fa-regular fa-heart"></i> <!-- https://fontawesome.com/icons/heart -->
                                
                                <p>
                                    {% if user.total_received_likes < 5 %}
                                        1

                                    {% elif user.total_received_likes <= 10 %}
                                        5

                                    {% elif user.total_received_likes <= 25 %}
                                        10

                                    {% elif user.total_received_likes <= 50 %}
                                        25

                                    {% elif user.total_received_likes <= 100 %}
                                        50

                                    {% else %}
                                        100+
                                    
                                    {% endif %}
                                </p>
                            </div>

                        {% endif %}
                        
                        {% if not user.post_comments.all|length == 0 %}
                            <div 
                                class="
                                    badge written_comments
                                    
                                    {% if user.post_comments.all|length < 5 %}
                                        blue

                                    {% elif user.post_comments.all|length <= 10 %}
                                        green

                                    {% elif user.post_comments.all|length <= 25 %}
                                        yellow

                                    {% elif user.post_comments.all|length <= 50 %}
                                        orange

                                    {% elif user.post_comments.all|length <= 100 %}
                                        red

                                    {% else %}
                                        purple
                                    
                                    {% endif %}
                                "

                                title="{% translate 'Napísané komentáre' %}"
                            >
                                <i class="fa-regular fa-comment"></i> <!-- https://fontawesome.com/icons/comment -->
                                
                                <p>
                                    {% if user.post_comments.all|length < 5 %}
                                        1

                                    {% elif user.post_comments.all|length <= 10 %}
                                        5

                                    {% elif user.post_comments.all|length <= 25 %}
                                        10

                                    {% elif user.post_comments.all|length <= 50 %}
                                        25

                                    {% elif user.post_comments.all|length <= 100 %}
                                        50

                                    {% else %}
                                        100+
                                    
                                    {% endif %}
                                </p>
                            </div>

                        {% endif %}

                        {% for one_badge in user.badges.all %}
                            <div class="badge {{ one_badge.data }}" title="{{ one_badge.title }}">
                                {% if one_badge.data == "no_day_off_week" %}
                                    <i class="fa-regular fa-calendar-check"></i> <!-- https://fontawesome.com/icons/calendar-check -->
                                    <p>7</p>

                                {% endif %}

                                {% if one_badge.data == "xmas_activity" %}
                                    <i class="fa-solid fa-gift"></i> <!-- https://fontawesome.com/icons/gift -->

                                {% endif %}

                                {% if one_badge.data == "new_year_new_goals" %}
                                    <i class="fa-solid fa-champagne-glasses"></i> <!-- https://fontawesome.com/icons/champagne-glasses -->

                                {% endif %}
                            </div>
                        
                        {% endfor %}
                    </div>

                    <div class="next">
                        <i class="fa-solid fa-angle-right"></i> <!-- https://fontawesome.com/icons/angle-right -->
                    </div>
                </div>
            </div>

            <div class="bottom">
                {% if request.session.logged_in_user_id and logged_in_user and user and logged_in_user.id == user.id %}
                    <div class="grid_select">
                        <div class="all_posts_icon active">
                            <i class="fa-brands fa-buffer"></i> <!-- https://fontawesome.com/icons/buffer -->
                        </div>
                        
                        <div class="saved_posts_icon">
                            <i class="fa-regular fa-bookmark"></i> <!-- https://fontawesome.com/icons/bookmark -->
                        </div>
                    </div>

                {% endif %}

                <div class="posts_container">
                    {% if posts|length > 0 %}
                        <div class="posts">
                            {% for one_post in posts %}
                                <a href="{% url 'post_url' one_post.id %}" title="Zobraziť príspevok" target="_self">
                                    {% if one_post.media.first.is_video == True %}
                                        <img 
                                            class="thumbnail"
                                            src="{{ one_post.media.first.thumbnail.url }}" 
                                            alt="
                                                {% blocktranslate with first_name=one_post.user.first_name last_name=one_post.user.last_name %}
                                                    Príspevok užívateľa {{ username }}
                                                {% endblocktranslate %}
                                            "
                                        >
                                
                                    {% else %}
                                        <img 
                                            class="image"
                                            src="/../media/{{ one_post.media.first.file }}" 
                                            alt="
                                                {% blocktranslate with first_name=one_post.user.first_name last_name=one_post.user.last_name %}
                                                    Príspevok užívateľa {{ username }}
                                                {% endblocktranslate %}
                                            "
                                            data-post_id="{{ one_post.id }}"
                                        >
                                    
                                    {% endif %}

                                    {% if one_post.media.all|length > 1 %}
                                        <p><span>{{ one_post.media.all|length }}</span> <i class="fa-brands fa-buffer"></i></p> <!-- https://fontawesome.com/icons/brands/solid/buffer -->
                                    
                                    {% endif %}
                                </a>

                            {% endfor %}
                        </div>

                    {% else %}
                        <p class="no_posts">{% translate "Zatiaľ žiadne príspevky." %}</p>
    
                    {% endif %}
                </div>

                <div class="saved_posts_container hidden">
                    {% if saved_posts|length > 0 and request.session.logged_in_user_id and logged_in_user and user and logged_in_user.id == user.id %}
                        <div class="saved_posts">
                            {% for one_post in saved_posts %}
                                <a href="{% url 'post_url' one_post.id %}" title="Zobraziť príspevok" target="_self">
                                    {% if one_post.media.first.is_video == True %}
                                        <img 
                                            class="thumbnail"
                                            src="{{ one_post.media.first.thumbnail.url }}" 
                                            alt="
                                                {% blocktranslate with first_name=one_post.user.first_name last_name=one_post.user.last_name %}
                                                    Príspevok užívateľa {{ username }}
                                                {% endblocktranslate %}
                                            "
                                        >
                                
                                    {% else %}
                                        <img 
                                            class="image"
                                            src="/../media/{{ one_post.media.first.file }}" 
                                            alt="
                                                {% blocktranslate with first_name=one_post.user.first_name last_name=one_post.user.last_name %}
                                                    Príspevok užívateľa {{ username }}
                                                {% endblocktranslate %}
                                            "
                                            data-post_id="{{ one_post.id }}"
                                        >
                                    
                                    {% endif %}

                                    {% if one_post.media.all|length > 1 %}
                                        <p><span>{{ one_post.media.all|length }}</span> <i class="fa-brands fa-buffer"></i></p> <!-- https://fontawesome.com/icons/brands/solid/buffer -->
                                    
                                    {% endif %}
                                </a>

                            {% endfor %}
                        </div>
                   

                    {% elif saved_posts|length == 0 and request.session.logged_in_user_id and logged_in_user and user and logged_in_user.id == user.id %}
                        <p class="no_saved_posts">{% translate "Žiadne uložené príspevky." %}</p>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% url 'javascript_catalog_url' %}"></script>
    <script src="{% static 'app/ts/dist/pages/profile/components/profile.js' %}" type="module"></script>
    <script src="{% static 'app/ts/dist/pages/profile/components/grid_select.js' %}" type="module"></script>
    <script src="{% static 'app/ts/dist/pages/profile/components/badges.js' %}" type="module"></script>
{% endblock script %}