{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Môj účet" %}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/profile.css' %}">
{% endblock style %}

{% block content %}
    <div class="profile_container">
        <a class="back" href="{% url 'homepage_url' %}" title="{% translate 'Späť na úvodnú stránku' %}" target="_self"><i class="fa-solid fa-chevron-left"></i></a> <!-- https://fontawesome.com/icons/chevron-left -->

        {% if request.session.logged_in_user_id and logged_in_user and user and logged_in_user == user %}
            <script src="{% static 'app/ts/dist/pages/profile/edit_account.js' %}" type="module"></script>
            <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script> <!-- Emoji Picker Element Library -->

            <i class="fa-solid fa-gear"></i> <!-- https://fontawesome.com/icons/gear -->

            <form class="edit_account_form hidden" action="{% url 'profile_url' logged_in_user.username %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="profile_picture_container">
                    <div class="info">
                        <label for="select_profile_picture">
                            <img 
                                class="profile_picture" 
                                src="
                                    {% if logged_in_user.profile_picture_name %}
                                        /media/images/{{ request.session.logged_in_user_id }}/{{ logged_in_user.profile_picture_name }}
    
                                    {% else %}
                                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                    
                                    {% endif %}
                                "
                                title="{% translate 'Nahrať obrázok' %}"
                            >
                        </label>
    
                        <p class="username">{{ username }}</p>
                    </div>

                    {{ edit_account_form.select_profile_picture }}
                    
                    <label for="delete_profile_picture"><img class="delete_profile_picture" src="{% static 'images/delete.png' %}" title="{% translate 'Odstrániť obrázok' %}"></label> <!-- https://www.flaticon.com/free-icon/delete_6861362 -->
                    
                    {{ edit_account_form.delete_profile_picture }}
                </div>

                <div class="bio_container">
                    {{ edit_account_form.bio }}
    
                    <div class="icons">
                        <i class="add_emoji fa-regular fa-face-surprise" title="{% translate 'Pridať emoji' %}"></i> <!-- https://fontawesome.com/icons/face-surprise -->
                    </div>
    
                    <div class="emoji_picker_container hidden">
                        <emoji-picker></emoji-picker>
                    </div>
                </div>

                <div class="first_name_container">
                    <i class="fa-regular fa-user"></i> <!-- https://fontawesome.com/icons/user -->
                    {{ edit_account_form.first_name }}
                </div>
                
                <div class="last_name_container">
                    <i class="fa-regular fa-user"></i> <!-- https://fontawesome.com/icons/user -->
                    {{ edit_account_form.last_name }}
                </div>
                
                <div class="email_address_container">
                    <i class="fa-regular fa-envelope"></i> <!-- https://fontawesome.com/icons/envelope -->
                    {{ edit_account_form.email_address }}
                </div>
                
                <div class="phone_number_container">
                    <i class="fa-solid fa-phone"></i> <!-- https://fontawesome.com/icons/phone -->
                    {{ edit_account_form.phone_number }}
                </div>

                <p class="form_report" style="bottom: 194px;"></p>
                <input type="submit" value="{% translate 'Uložiť zmeny' %}">

                <div class="form_questions">
                    <p>{% translate "Zabudli ste heslo?" %} <a class="password_reset" data-email_address="{{ email_address }}" href="?password-reset=true" title="{% translate 'Poslať overovací kód' %}">{% translate "Zmeniť heslo" %}</a></p>
                </div>

                <label for="delete_account"><img class="delete_account" src="{% static 'images/delete_account.png' %}" title="{% translate 'Odstrániť účet' %}"></label> <!-- https://www.flaticon.com/free-icon/delete-friend_12318444 -->
                
                {{ edit_account_form.delete_account }}
            </form>

        {% endif %}
        
        <div class="profile">
            <div class="header">
                <div class="top">
                    <div class="info">
                        <img 
                            class="profile_picture" 
                            src="
                                {% if user.profile_picture_name %}
                                    /media/images/{{ user.id }}/{{ user.profile_picture_name }}
            
                                {% else %}
                                    {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                
                                {% endif %}
                            "
                        >
            
                        <p class="username">{{ user.username }}</p>

                        {% if user.first_name and user.last_name %}
                            <p class="full_name">{{ user.first_name }} {{ user.last_name }}</p>
                        
                        {% endif %}
                    </div>
    
                    <p class="streak"><i class="fa-solid fa-fire"></i><span>100</span></p> <!-- https://fontawesome.com/icons/fire -->
                </div>
    
                <div class="bottom">
                    {% if user.bio %}
                        <p class="bio">{{ user.bio }}</p>
                    
                    {% endif %}
                </div>
            </div>

            <div class="middle">
                <div class="follow_container">
                    <div>
                        <p class="label">{% translate "sledujú" %}</p>
                        <p class="amount">{{ user.followers|length }}</p>
                    </div>

                    <div>
                        <p class="label">{% translate "sleduje" %}</p>
                        <p class="amount">{{ user.following|length }}</p>
                    </div>

                    <button 
                        class="follow_button"
                        data-id="{{ user.user_id }}"
                        data-action="
                            {% if not request.session.logged_in_user_id|stringformat:"i" in user.user.followers %}
                                {% translate 'follow' %}

                            {% else %}
                                {% translate 'unfollow' %}
                            
                            {% endif %}
                        "
                    >
                        {% if not request.session.logged_in_user_id|stringformat:"i" in user.followers %}
                            {% translate "Začať sledovať" %}

                        {% else %}
                            {% translate "Prestať sledovať" %}
                        
                        {% endif %}
                    </button>
                </div>
                
                <div class="badges_container">
                    <div class="previous">
                        <i class="fa-solid fa-angle-left"></i> <!-- https://fontawesome.com/icons/angle-left -->
                    </div>

                    <div class="badges">
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                        <div class="badge empty"></div>
                    </div>

                    <div class="next">
                        <i class="fa-solid fa-angle-right"></i> <!-- https://fontawesome.com/icons/angle-right -->
                    </div>
                </div>
            </div>

            <div class="bottom">
                {% if request.session.logged_in_user_id and logged_in_user and user and logged_in_user == user %}
                    <div class="grid_select">
                        <div class="all_posts_icon">
                            <i class="fa-brands fa-buffer"></i> <!-- https://fontawesome.com/icons/buffer -->
                        </div>
                        
                        <div class="saved_posts_icon">
                            <i class="fa-regular fa-bookmark"></i> <!-- https://fontawesome.com/icons/bookmark -->
                        </div>
                    </div>

                {% endif %}

                <div class="posts_container">
                    {% if posts|length > 0 %}
                        <div class="posts">
                            {% for one_post in posts %}
                                <a href="{% url 'post_url' one_post.id %}" title="Zobraziť príspevok" target="_self">
                                    {% if one_post.media.first.is_video == True %}
                                        <img 
                                            class="thumbnail"
                                            src="{{ one_post.media.first.thumbnail.url }}" 
                                            alt="
                                                {% blocktranslate with first_name=one_post.user.first_name last_name=one_post.user.last_name %}
                                                    Príspevok užívateľa {{ username }}
                                                {% endblocktranslate %}
                                            "
                                        >
                                
                                    {% else %}
                                        <img 
                                            class="image"
                                            src="/../media/{{ one_post.media.first.file }}" 
                                            alt="
                                                {% blocktranslate with first_name=one_post.user.first_name last_name=one_post.user.last_name %}
                                                    Príspevok užívateľa {{ username }}
                                                {% endblocktranslate %}
                                            "
                                            data-post_id="{{ one_post.id }}"
                                        >
                                    
                                    {% endif %}

                                    {% if one_post.media.all|length > 1 %}
                                        <p><span>{{ one_post.media.all|length }}</span> <i class="fa-brands fa-buffer"></i></p> <!-- https://fontawesome.com/icons/brands/solid/buffer -->
                                    
                                    {% endif %}
                                </a>

                            {% endfor %}
                        </div>

                    {% else %}
                        <p class="no_posts">{% translate "Zatiaľ žiadne príspevky." %}</p>
    
                    {% endif %}
                </div>

                <div class="saved_posts_container hidden">
                    {% if saved_posts|length > 0 and request.session.logged_in_user_id and logged_in_user and user and logged_in_user == user %}
                        <div class="saved_posts">
                            {% for one_post in saved_posts %}
                                <a href="{% url 'post_url' one_post.id %}" title="Zobraziť príspevok" target="_self">
                                    {% if one_post.media.first.is_video == True %}
                                        <img 
                                            class="thumbnail"
                                            src="{{ one_post.media.first.thumbnail.url }}" 
                                            alt="
                                                {% blocktranslate with first_name=one_post.user.first_name last_name=one_post.user.last_name %}
                                                    Príspevok užívateľa {{ username }}
                                                {% endblocktranslate %}
                                            "
                                        >
                                
                                    {% else %}
                                        <img 
                                            class="image"
                                            src="/../media/{{ one_post.media.first.file }}" 
                                            alt="
                                                {% blocktranslate with first_name=one_post.user.first_name last_name=one_post.user.last_name %}
                                                    Príspevok užívateľa {{ username }}
                                                {% endblocktranslate %}
                                            "
                                            data-post_id="{{ one_post.id }}"
                                        >
                                    
                                    {% endif %}

                                    {% if one_post.media.all|length > 1 %}
                                        <p><span>{{ one_post.media.all|length }}</span> <i class="fa-brands fa-buffer"></i></p> <!-- https://fontawesome.com/icons/brands/solid/buffer -->
                                    
                                    {% endif %}
                                </a>

                            {% endfor %}
                        </div>
                   

                    {% elif saved_posts|length == 0 and request.session.logged_in_user_id and logged_in_user and user and logged_in_user == user %}
                        <p class="no_saved_posts">{% translate "Žiadne uložené príspevky." %}</p>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% url 'javascript_catalog_url' %}"></script>
    <script src="{% static 'app/ts/dist/pages/profile/grid_select.js' %}" type="module"></script>
    <script src="{% static 'app/ts/dist/pages/profile/badges.js' %}" type="module"></script>
{% endblock script %}