{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Registrácia" %}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/registration.css' %}">
{% endblock style %}

{% block recaptcha %}
    <!-- Google reCAPTCHA V3 -->
    <script src="https://www.google.com/recaptcha/api.js?render=6Lfwh7osAAAAAExnZsXUSNJrACg7WX0guO88lCw1&badge=inline"></script>
    
    <script>
        grecaptcha.ready(function() {
            const grecaptcha_badge = document.querySelector(".grecaptcha-badge")
            const grecaptcha_badge_container = document.querySelector(".grecaptcha_badge_container")

            grecaptcha_badge_container.appendChild(grecaptcha_badge)
            grecaptcha_badge.style.margin = "35px auto 0px"
            grecaptcha_badge.style.background = "#1e1e1e"
            grecaptcha_badge.style.opacity = "0.8"

            document.querySelector(".registration_form").addEventListener("submit", function(event) {
                event.preventDefault()

                grecaptcha.execute("6Lfwh7osAAAAAExnZsXUSNJrACg7WX0guO88lCw1", {action: "submit"}).then(function(token) {
                    document.querySelector("#g-recaptcha-response").value = token
                    event.target.submit()
                })
            })
        })
    </script>
{% endblock recaptcha %}

{% block navigation_bar_items %}
    <li>
        <a href="{% url 'login_url' %}" target="_self">{% translate "PRIHLÁSENIE" %}</a>
    </li>
{% endblock navigation_bar_items %}

{% block content %}
    <form class="registration_form" action="{% url 'registration_url' %}" method="POST">
        {% csrf_token %}

        <h2><a href="{% url 'registration_url' %}" target="_self">{% translate "Registrácia" %}</a></h2>

        <a class="back" href="{% url 'homepage_url' %}" title="{% translate 'Späť na úvodnú stránku' %}" aria-label="{% translate 'Späť na úvodnú stránku' %}" target="_self"><i class="fa-solid fa-chevron-left"></i></a> <!-- https://fontawesome.com/icons/chevron-left -->

        {{ registration_form.first_name }}
        {{ registration_form.last_name }}
        {{ registration_form.username }}
        {{ registration_form.email_address }}

        <div class="phone_number_container">
            {{ registration_form.phone_number }}
            
            <input class="language" type="hidden" name="language" value="en">
            <img class="flag" src="" alt="">
        </div>
        
        <div class="password_container">
            <button class="generate_password" type="button" title="{% translate 'Navrhnúť heslo' %}" aria-label="{% translate 'Navrhnúť heslo' %}">
                <i class="fa-solid fa-key"></i> <!-- https://fontawesome.com/icons/key -->
            </button>

            {{ registration_form.password }}

            <button class="show_hide_password" type="button" title="{% translate 'Zobraziť heslo' %}" aria-label="{% translate 'Zobraziť heslo' %}">
                <i class="fa-regular fa-eye-slash"></i> <!-- https://fontawesome.com/icons/eye-slash --> <!-- https://fontawesome.com/icons/eye -->
            </button>

            <button class="copy_password" type="button" title="{% translate 'Skopírovať' %}" aria-label="{% translate 'Skopírovať' %}">
                <i class="fa-solid fa-copy"></i> <!-- https://fontawesome.com/icons/copy -->
            </button>
        </div>

        <div class="password_check_container">
            <i class="fa-solid fa-lock"></i> <!-- https://fontawesome.com/icons/lock -->
            {{ registration_form.password_check }}

            <button class="paste_password" type="button" title="{% translate 'Prilepiť' %}" aria-label="{% translate 'Prilepiť' %}">
                <i class="fa-regular fa-copy"></i> <!-- https://fontawesome.com/icons/copy -->
            </button>
        </div>

        <p class="form_report error" style="bottom: 241px;"></p>
        <input class="registration_form_submit" type="submit" value="{% translate 'Vytvoriť účet' %}">

        <div class="form_questions">
            <p>{% translate "Už máte účet?" %} <a href="{% url 'login_url' %}" title="{% translate 'Prihlásiť sa' %}" target="_self">{% translate "Prihlásiť sa" %}</a></p>
        </div>

        <!-- Google reCAPTCHA V3 -->
        <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">
        <div class="grecaptcha_badge_container"></div>
    </form>
{% endblock content %}

{% block script %}
    <script src="{% url 'javascript_catalog_url' %}"></script>
    <script src="{% static 'app/ts/dist/pages/registration.js' %}" type="module"></script>
{% endblock script %}