{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Tréning" %}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/training_session.css' %}">
{% endblock style %}

{% block banner %}
    <div 
        class="
            manage_training_plans

            {% if not request.session.logged_in_user_id %}
                not_allowed

            {% endif %}
        "
    >
        <a 
            href="
                {% if request.session.logged_in_user_id %}
                    {% url 'manage_training_plans_url' %}

                {% else %}
                    #

                {% endif %}
            "
            title="{% translate 'Moje tréningové plány' %}"
            target="_self"
        >
            {% translate "Moje tréningové plány" %}
        </a>
    </div>
{% endblock banner %}

{% block content %}
    <div class="activity">
        <div class="record_activity">
            <h3 class="timer"><span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span></h3>

            <div class="buttons">
                <a class="play"><i class="fa-solid fa-play"></i></a> <!-- https://fontawesome.com/icons/play -->
                {% comment %} <a class="play"><i class="fa-solid fa-pause"></i></a> <!-- https://fontawesome.com/icons/pause --> {% endcomment %}
                <a class="stop"><i class="fa-solid fa-stop"></i></a> <!-- https://fontawesome.com/icons/stop -->
            </div>
        </div>

        {% if training_plan|length == 0 %}
            {% if not request.session.logged_in_user_id %}
                <p class="no_logged_in">
                    {% translate "Zdá sa, že nie ste prihlásený." %}<br>
                    {% translate "Bez prihlásenia nie je možné zaznamenať vašu aktivitu." %}<br>
                    <a href="{% url 'login_url' %}" title="{% translate 'Prihlásiť sa' %}" target="_self">{% translate "Prihláste sa." %}</a>
                </p>

            {% else %}
                <p class="no_training_plan">
                    {% translate "Zatiaľ nemáte žiaden tréningový plán." %}<br>
                    <a href="{% url 'manage_training_plans_url' %}" title="{% translate 'Moje tréningové plány' %}" target="_self">{% translate "Vytvorte si prvý." %}</a>
                </p>

            {% endif %}

            <script src="{% static 'app/ts/dist/pages/training_session/basic_training_session.js' %}" type="module"></script>

        {% elif training_plan|length > 0 %}
            <template class="exercise_template">
                <div class="exercise">
                    <div class="left">
                        <h3 class="title"></h3>
                        
                        <p class="reps">1x</p>
                        <p class="sets"><span class="current">1</span>/<span class="total">1</span></p>
                    </div>

                    <div class="next_exercise_button">
                        <i class="fa-solid fa-angle-right"></i> <!-- https://fontawesome.com/icons/angle-right -->
                    </div>
                </div>
            </template>
        
            <template class="warm_up_template">
                <div class="exercise warm_up" data-unit="seconds">
                    <h3 class="title">Warm Up</h3>
                    
                    <div class="warm_up_timer">
                        <svg width="100" height="100" viewBox="0 0 100 100">
                            <circle
                                cx="50"
                                cy="50"
                                r="40"
                                class="progress"
                            />
                        </svg>
                        
                        <svg width="100" height="100" viewBox="0 0 100 100">
                            <circle
                                cx="50"
                                cy="50"
                                r="40"
                                class="progress_background"
                            />
                        </svg>
    
                        <p class="countdown">5:00</p>
                    </div>

                    <div class="skip_warm_up_button">
                        <i class="fa-solid fa-angle-right"></i> <!-- https://fontawesome.com/icons/angle-right -->
                    </div>
                </div>
            </template>

            <div class="training_plan_container">
                {% for one_exercise in training_plan %}
                    <div class="one_exercise_data" data-training_plan_key="{{ one_exercise.training_plan_key }}" data-day="{{ one_exercise.day }}" data-type="{{ one_exercise.type }}" data-exercise="{{ one_exercise.exercise }}" data-periods="{{ one_exercise.periods }}" data-unit="{{ one_exercise.unit }}" data-order="{{ one_exercise.order }}"></div>
                
                {% endfor %}

                <div class="training_plan">
                    <div class="start_training active">
                        <div class="left">
                            <p>{% translate "Tréningový plán" %}</p>
                            <h3>{% translate "Začať tréning" %}</h3>

                            <p class="title"></p>
                        </div>
                        
                        <div class="start_training_button">
                            <i class="fa-solid fa-play"></i> <!-- https://fontawesome.com/icons/play -->
                        </div>
                    </div>

                    <div class="finish_training">
                        <div class="left">
                            <p>{% translate "Tréningový plán" %}</p>
                            <h3>{% translate "Dokončiť tréning" %}</h3>

                            <p class="title"></p>
                        </div>

                        <div class="finish_training_button">
                            <i class="fa-solid fa-stop"></i> <!-- https://fontawesome.com/icons/stop -->
                        </div>
                    </div>

                    <div class="break">
                        <div class="add_time">
                            {% comment %} <i class="fa-solid fa-hourglass-half"></i> <!-- https://fontawesome.com/icons/hourglass-half --> {% endcomment %}
                            <i class="fa-solid fa-plus"></i> <!-- https://fontawesome.com/icons/plus -->

                            <p class="add_time_message">+30s</p>
                        </div>

                        <div class="break_timer">
                            <svg width="100" height="100" viewBox="0 0 100 100">
                                <circle
                                    cx="50"
                                    cy="50"
                                    r="40"
                                    class="progress"
                                />
                            </svg>

                            <svg width="100" height="100" viewBox="0 0 100 100">
                                <circle
                                    cx="50"
                                    cy="50"
                                    r="40"
                                    class="progress_background"
                                />
                            </svg>

                            <p><span class="minutes"></span>:<span class="seconds"></span></p>
                        </div>

                        <div class="skip_break_button">
                            <i class="fa-solid fa-angle-right"></i> <!-- https://fontawesome.com/icons/angle-right -->
                        </div>
                    </div>

                    <p class="current_activity_info"></p>
                </div>
            </div>

            <script src="{% static 'app/ts/dist/pages/training_session/training_session.js' %}" type="module"></script>

        {% endif %}

        <div class="previous_activity">
            <div class="top">
                <div class="average_activity_time_container">
                    <p>
                        <span class="title"><i class="fa-regular fa-clock"></i> {% translate "priemer&nbsp;/ 7&nbsp;dní" %}</span>

                        {% if average_activity_time %}
                            <span class="average_activity_time" data-average_activity_time="{{ average_activity_time }}">{{ average_activity_time_formatted }}</span>

                        {% else %}
                            <span class="average_activity_time" data-average_activity_time="0">0</span>

                        {% endif %}
                    </p>
                </div> <!-- https://fontawesome.com/icons/clock -->

                <div class="activities_amount_container">
                    <p>
                        <span class="title"><i class="fa-regular fa-calendar"></i> {% translate "počet&nbsp;/ 7&nbsp;dní" %}</span>
                        
                        {% if activities_amount %}
                            <span class="activities_amount">{{ activities_amount }}</span>
                            
                        {% else %}
                            <span class="activities_amount">0</span>
                        
                        {% endif %}
                    </p>
                </div> <!-- https://fontawesome.com/icons/calendar -->
            </div>

            <div class="bottom">
                <div class="latest_activity_container">
                    <p>
                        <i class="fa-solid fa-list"></i>

                        {% if latest_activity %}
                            <span>{{ latest_activity.formatted_elapsed_time }}</span>
                            <span class="xp"> {{ latest_activity.gained_xp }}XP</span>
                            <span> {{ latest_activity.end_time|date:"d.m. Y" }}</span>

                        {% else %}
                            <span class="no_latest_activity">{% translate "posledná aktivita" %}: </span><span class="none">{% translate "žiadna" %}</span>

                        {% endif %}
                    </p>
                </div> <!-- https://fontawesome.com/icons/list -->
                
                <div class="longest_activity_container">
                    <p>
                        <i class="fa-solid fa-medal"></i>

                        {% if longest_activity %}
                            <span>{{ longest_activity.formatted_elapsed_time }}</span>
                            <span class="xp"> {{ longest_activity.gained_xp }}XP</span>
                            <span> {{ longest_activity.end_time|date:"d.m. Y" }}</span>

                        {% else %}
                            <span class="no_longest_activity">{% translate "najdlhšia aktivita" %}: </span><span class="none">{% translate "žiadna" %}</span>

                        {% endif %}
                    </p>
                </div> <!-- https://fontawesome.com/icons/medal -->
            </div>
        </div>
    </div>

    <div class="activity_summary">
        <p class="main_summary"></p>
        <div 
            class="weekly_activity_chart" 
            data-activities="{{ weekly_activity }}"
        >
            <canvas>{% translate "Graf sa nepodarilo načítať." %}</canvas>
        </div>

        <p class="training_plan_summary"></p>
        <div class="training_plan_summary_chart"><canvas>{% translate "Graf sa nepodarilo načítať." %}</canvas></div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% url 'javascript_catalog_url' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart JS -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2" defer></script> <!-- Chart JS Plugin For Floating Labels -->
{% endblock script %}