DOMAIN_URL=http://localhost:8000/ # Domain URL

DEBUG=True # False In Production
SECURE_SSL_REDIRECT=False # True In Production
SESSION_COOKIE_SECURE=False # True In Production
CSRF_COOKIE_SECURE=False # True In Production
SECURE_HSTS_SECONDS=0 # 31536000 (One Year) In Production
SECURE_HSTS_INCLUDE_SUBDOMAINS=False # True In Production
SECURE_HSTS_PRELOAD=False # True In Production

SECRET_KEY=SECRET_KEY
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
POSTGRES_DB=POSTGRES_DB
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
DATABASE_URL=postgres://POSTGRES_USER:POSTGRES_PASSWORD@db:5432/POSTGRES_DB

# Celery & Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Gmail
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD

# Google reCAPTCHA V3
RECAPTCHA_SITE_KEY=RECAPTCHA_SITE_KEY
RECAPTCHA_SECRET_KEY=RECAPTCHA_SECRET_KEY

# Stripe
STRIPE_PUBLISHABLE_KEY=STRIPE_PUBLISHABLE_KEY
STRIPE_SECRET_KEY=STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=STRIPE_WEBHOOK_SECRET

# Admin Site URL
ADMIN_URL=ADMIN_URL/