# IDE
.cursor/
.vscode/

# Python
.venv/
__pycache__/

# Django
db.sqlite3

# Node / TypeScript
node_modules/
**/dist/

# CSS
*.css
*.css.map

# Environment Variables
.env

# Logs
logs/

# Posts Media
posts/