# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Git
.git/
.gitignore

# IDE
.cursor/
.vscode/

# Python
.venv/
__pycache__/

# Django
db.sqlite3

# Node / TypeScript
node_modules/
**/dist/

# CSS
*.css
*.css.map

# Environment Variables
.env

# Run Scripts
local_run_dev.bat
docker_run_dev.bat