{% extends "base.html" %}
{% load static %}

{% block page_title %}Stránka sa nenašla{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>Stránka sa nenašla.</h1>
    </header>

    <main>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis commodi, suscipit dignissimos, exercitationem perspiciatis illum sapiente eveniet totam, optio animi aperiam in quas? Cum dolorum, nesciunt animi magnam fugiat illo.</p>
    </main>

    <footer>
    
    </footer>
{% endblock %}