{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"> <!-- https://www.flaticon.com/free-icon/street_10060229 -->

    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block style %}{% endblock style %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"> <!-- Poppins Font -->
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet"> <!-- Bungee Font -->

    <script src="https://kit.fontawesome.com/069c0938a1.js" crossorigin="anonymous"></script> <!-- Icons -->
</head>

<body>
    <header>
        <nav class="navigation_bar">
            <ul>
                <li><a href="{% url 'homepage_url' %}" target="_self">DOMOV</a></li>
                <li><a href="#" target="_self">BLOG</a></li>
                {% block navigation_bar_items %}{% endblock navigation_bar_items %}
            </ul>
        </nav>
    </header>

    <main>
        <section class="banner">
            {% block banner %}{% endblock banner %}
        </section>
        
        <section class="header_container">
            <h1><a href="" target="_self">{% block heading %}{% endblock heading %}</a></h1>
            {% block buttons %}{% endblock buttons %}
        </section>

        <section class="content">
            {% block content %}{% endblock content %}
        </section>
    </main>

    <footer>
        <div>
            <p>SLEDUJTE NÁS</p>
            <a href="https://www.instagram.com/" title="Instagram" target="_blank"><img src="{% static 'images/instagram_logo.png' %}" alt="Instagram"></a> <!-- https://www.flaticon.com/free-icon/instagram_174855 -->
            <a href="https://www.facebook.com/" title="Facebook" target="_blank"><img src="{% static 'images/facebook_logo.png' %}" alt="Facebook"></a> <!-- https://www.flaticon.com/free-icon/facebook_733547 -->
        </div>
        
        <div>
            <p>KONTAKT</p>
            <p><span>E-mail: </span><a href="mailto:behulpatrik@gmail.com" title="Napísať...">behulpatrik@gmail.com</a></p>
            <p><span>Tel.č.: </span><a href="tel:+421940322633" title="Zavolať...">+421 940 322 633</a></p>
        </div>
        
        <p class="copywrite">&copy; Street Workout Žilina 2025</p>
    </footer>

    <script src="{% static 'js/navigation.js' %}" defer></script>
    {% block script %}{% endblock script %}
</body>
</html>