{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"> <!-- https://www.flaticon.com/free-icon/street_10060229 -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %}{% endblock style %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"> <!-- Poppins Font -->
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet"> <!-- Bungee Font -->

    <script src="https://kit.fontawesome.com/069c0938a1.js" crossorigin="anonymous"></script> <!-- Icons -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9KMPP7FWKD"></script> <!-- Google Analytics -->

    {% if request.COOKIES.privacy_policy == "all_cookies" %}
        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-L62G1B08VS"></script>

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-9KMPP7FWKD');
        </script>

    {% endif %}

    {% block recaptcha %}{% endblock recaptcha %}
</head>

<body>
    <header>
        <nav class="navigation_bar">
            <ul>
                <li><a href="{% url 'homepage_url' %}" target="_self">DOMOV</a></li>
                <li><a href="#" target="_self">BLOG</a></li>
                {% block navigation_bar_items %}{% endblock navigation_bar_items %}

                <div class="navigation_icon">
                    <i class="fa-solid fa-bars"></i> <!-- https://fontawesome.com/icons/bars -->
                    <!-- <i class="fa-solid fa-xmark"></i> --> <!-- https://fontawesome.com/icons/xmark -->
                </div>
            </ul>
        </nav>
    </header>

    <main>
        <section class="privacy_policy {% if request.COOKIES.privacy_policy == "all_cookies" or request.COOKIES.privacy_policy == "essential_cookies" %}hide{% endif %}">
            <h2>Zásady&nbsp;ochrany osobných&nbsp;údajov</h2>

            <p>Táto stránka používa súbory cookies, aby vám poskytla čo najlepší zážitok pri jej prehliadaní. Súbory cookies nám pomáhajú analyzovať, optimalizovať a zlepšovať naše služby.<!-- Podrobnejšie informácie nájdete v našich <a>zásadách ochrany osobných údajov.</a> --></p>

            <div class="privacy_policy_buttons">
                <button class="privacy_policy_accept">Potvrdiť všetky</button>
                <button class="privacy_policy_reject">Iba nevyhnutné</button>
            </div>
        </section>

        <section class="banner">
            {% block banner %}{% endblock banner %}
        </section>
        
        <section class="header_container">
            <h1><a href="" target="_self">{% block heading %}{% endblock heading %}</a></h1>
            {% block buttons %}{% endblock buttons %}
        </section>

        <section class="content">
            {% block content %}{% endblock content %}
        </section>

        <div class="move_up">
            <img src="{% static 'images/move_up.png' %}">
        </div>
    </main>

    <footer>
        <div class="follow_us">
            <p>SLEDUJTE NÁS</p>
            <a href="https://www.instagram.com/" title="Instagram" target="_blank"><img src="{% static 'images/instagram_logo.png' %}" alt="Instagram"></a> <!-- https://www.flaticon.com/free-icon/instagram_174855 -->

            <a href="https://www.facebook.com/" title="Facebook" target="_blank"><img src="{% static 'images/facebook_logo.png' %}" alt="Facebook"></a> <!-- https://www.flaticon.com/free-icon/facebook_733547 -->

            <a href="https://www.tiktok.com/" title="TikTok" target="_blank"><img src="{% static 'images/tiktok_logo.png' %}" alt="TikTok"></a> <!-- https://www.flaticon.com/free-icon/tik-tok_3046121 -->
        </div>
        
        <div class="contact_us">
            <p>KONTAKT</p>
            <p><i class="fa-regular fa-envelope"></i> <a href="mailto:behulpatrik@gmail.com" title="Napísať...">behulpatrik@gmail.com</a></p> <!-- https://fontawesome.com/icons/envelope -->

            <p><i class="fa-solid fa-phone"></i> <a href="tel:+421940322633" title="Zavolať...">+421 940 322 633</a></p> <!-- https://fontawesome.com/icons/phone -->
        </div>
        
        <p class="copywrite">&copy; Street Workout Žilina 2025, Všetky práva vyhradené</p>
    </footer>

    <script defer>
        "use strict"
        
        document.addEventListener("DOMContentLoaded", function() {
            // Secret Message

            console.log("%cStreet Workout Žilina by Patrik Behul", "color: rgb(170, 255, 50); background-color: rgb(0, 0, 0)")

            // Privacy Policy
            
            const privacy_policy = document.querySelector(".privacy_policy")
            const privacy_policy_accept = document.querySelector(".privacy_policy_accept")
            const privacy_policy_reject = document.querySelector(".privacy_policy_reject")

            privacy_policy_accept.addEventListener("click", function() {
                document.cookie = `privacy_policy=all_cookies; max-age=` + 60 * 60 * 24 * 365 + "; path=/"; // 1 Year Timed Cookie

                privacy_policy.classList.add("hide")

                // window.location.reload()
            })

            privacy_policy_reject.addEventListener("click", function() {
                document.cookie = `privacy_policy=essential_cookies; max-age=` + 60 * 60 * 24 * 365 + "; path=/"; // 1 Year Timed Cookie

                privacy_policy.classList.add("hide")

                // window.location.reload()
            })
        })
    </script>

    <script src="{% static 'js/navigation.js' %}" defer></script>
    {% block script %}{% endblock script %}
</body>
</html>