{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"> <!-- https://www.flaticon.com/free-icon/street_10060229 -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %}{% endblock style %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"> <!-- Poppins Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"> <!-- Bungee Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"> <!-- Balsamiq Sans Font -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet"> <!-- Orbitron Font -->

    <script src="https://kit.fontawesome.com/069c0938a1.js" crossorigin="anonymous"></script> <!-- Icons -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9KMPP7FWKD"></script> <!-- Google Analytics -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js Library -->

    {% if request.COOKIES.privacy_policy == "all_cookies" %}
        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-L62G1B08VS"></script>

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-9KMPP7FWKD');
        </script>

    {% endif %}

    {% block recaptcha %}{% endblock recaptcha %}
</head>

<body>
    <span class="preloader"></span> <!-- https://cssloaders.github.io/ -->

    <a class="skip_link" href="#">PRESKOČIŤ</a>

    <header>
        <nav class="navigation_bar">
            <ul>
                <li>
                    <a href="{% url 'homepage_url' %}" target="_self">DOMOV</a>
                </li>

                <li>
                    <a href="{% url 'training_session_url' %}" target="_self">AKTIVITA</a>
                </li>

                <li>
                    <a href="{% url 'blog_url' %}" target="_self">BLOG</a>
                </li>
                
                {% block navigation_bar_items %}{% endblock navigation_bar_items %}

                <div class="navigation_icon">
                    <i class="fa-solid fa-bars"></i> <!-- https://fontawesome.com/icons/bars -->
                    <!-- <i class="fa-solid fa-xmark"></i> --> <!-- https://fontawesome.com/icons/xmark -->
                </div>
            </ul>
        </nav>

        <div class="banner">
            {% block banner %}{% endblock banner %}
        </div>
        
        <div class="header_container">
            <h1><a href="" target="_self">{% block heading %}{% endblock heading %}</a></h1>
            {% block buttons %}{% endblock buttons %}
        </div>

        <div class="move_down" title="Posunúť nadol">
            <img src="{% static 'images/arrow.png' %}"> <!-- https://www.flaticon.com/free-icon/up-arrow_17727194 -->
        </div>
    </header>

    <main>
        <section class="privacy_policy {% if request.COOKIES.privacy_policy == "all_cookies" or request.COOKIES.privacy_policy == "essential_cookies" %}hide{% endif %}">
            <h2>Zásady&nbsp;ochrany osobných&nbsp;údajov</h2>

            <p>Táto stránka používa súbory cookies, aby vám poskytla čo najlepší zážitok pri jej prehliadaní. Súbory cookies nám pomáhajú analyzovať, optimalizovať a zlepšovať naše služby.<!-- Podrobnejšie informácie nájdete v našich <a>zásadách ochrany osobných údajov.</a> --></p>

            <div class="privacy_policy_buttons">
                <button class="privacy_policy_accept">Potvrdiť všetky</button>
                <button class="privacy_policy_reject">Iba nevyhnutné</button>
            </div>
        </section>

        <section class="content">
            {% if messages %}
                {% for one_message in messages %}
                    <p class="message {% if one_message.tags %}{{ one_message.tags }}{% endif %}">{{ one_message|safe }}</p>
                
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock content %}
        </section>

        <div class="move_up">
            <img src="{% static 'images/arrow.png' %}" title="Posunúť nahor"> <!-- https://www.flaticon.com/free-icon/up-arrow_17727194 -->
        </div>
    </main>

    <footer>
        <h2>Street&nbsp;Workout&nbsp;Žilina</h2>

        <div class="contact_us">
            <p><i class="fa-regular fa-envelope"></i> <a href="mailto:behulpatrik@gmail.com" title="Napísať...">behulpatrik@gmail.com</a></p> <!-- https://fontawesome.com/icons/envelope -->

            <p><i class="fa-solid fa-phone"></i> <a href="tel:+421940322633" title="Zavolať...">+421 940 322 633</a></p> <!-- https://fontawesome.com/icons/phone -->
        </div>

        <div class="social_media">
            <a href="https://www.instagram.com/" title="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a> <!-- https://fontawesome.com/icons/instagram -->
            <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a> <!-- https://fontawesome.com/icons/facebook -->
            <a href="https://www.tiktok.com/" title="TikTok" target="_blank"><i class="fa-brands fa-tiktok"></i></a> <!-- https://fontawesome.com/icons/tiktok -->
        </div>
        
        <div class="navigation">
            <a href="{% url 'homepage_url' %}" title="Domov" target="_self">Domov</a>
            <a href="{% url 'login_url' %}" title="Prihlásenie" target="_self">Prihlásenie</a>
            <a href="{% url 'registration_url' %}" title="Registrácia" target="_self">Registrácia</a>
            <a href="{% url 'blog_url' %}" title="Blog" target="_self">Blog</a>
        </div>
        
        <div class="other">
            <p class="privacy_policy_again">Zásady&nbsp;ochrany osobných&nbsp;údajov</p>
            <p class="copywrite">&copy; Street Workout Žilina 2025, Všetky práva vyhradené</p>
        </div>
    </footer>

    <script defer>
        "use strict"
        
        document.addEventListener("DOMContentLoaded", function() {
            // Secret Message

            console.log("%cStreet Workout Žilina by Patrik Behul", "color: rgb(170, 255, 50); background-color: rgb(0, 0, 0)")

            // Removes Skeleton Loading Animation When Page Is Fully Loaded

            const skeleton_loadings = document.querySelectorAll(".skeleton_loading")

            window.addEventListener("load", function() {
                skeleton_loadings.forEach(function(one_skeleton_loading) {
                    one_skeleton_loading.classList.remove("skeleton_loading")
                })
            })

            // Skeleton Text Loading Animation

            const skeleton_texts = document.querySelectorAll(".skeleton_text")

            skeleton_texts.forEach(function(one_skeleton_text) {
                let skeleton_texts_tags = one_skeleton_text.querySelectorAll("h2, p, img")

                skeleton_texts_tags.forEach(function(one_skeleton_text_tag) {
                    one_skeleton_text_tag.classList.remove("hidden")
                })

                one_skeleton_text.classList.remove("skeleton_loading")
                one_skeleton_text.classList.remove("skeleton_text")
            })

            // Privacy Policy
            
            const privacy_policy = document.querySelector(".privacy_policy")
            const privacy_policy_accept = document.querySelector(".privacy_policy_accept")
            const privacy_policy_reject = document.querySelector(".privacy_policy_reject")

            privacy_policy_accept.addEventListener("click", function() {
                document.cookie = `privacy_policy=all_cookies; max-age=` + 60 * 60 * 24 * 365 + "; path=/" // 1 Year Timed Cookie

                privacy_policy.classList.add("hide")

                // window.location.reload()
            })

            privacy_policy_reject.addEventListener("click", function() {
                document.cookie = `privacy_policy=essential_cookies; max-age=` + 60 * 60 * 24 * 365 + "; path=/" // 1 Year Timed Cookie

                privacy_policy.classList.add("hide")

                // window.location.reload()
            })

            // Privacy Policy Again

            const privacy_policy_again = document.querySelector(".privacy_policy_again")

            privacy_policy_again.addEventListener("click", function() {
                privacy_policy.classList.remove("hide")
            })
        })
    </script>

    <script src="{% static 'js/components/preloader.js' %}" defer></script>
    <script src="{% static 'js/components/navigation.js' %}" defer></script>
    <script src="{% static 'js/components/move_down.js' %}" defer></script>
    <script src="{% static 'js/components/move_up.js' %}" defer></script>
    {% block script %}{% endblock script %}
</body>
</html>