{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Wesiq - {% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"> <!-- https://www.flaticon.com/free-icon/street_10060229 -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %}{% endblock style %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"> <!-- Poppins Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"> <!-- Bungee Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"> <!-- Balsamiq Sans Font -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet"> <!-- Orbitron Font -->

    <script src="https://kit.fontawesome.com/069c0938a1.js" crossorigin="anonymous"></script> <!-- Font Awesome Icons -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9KMPP7FWKD"></script> <!-- Google Analytics -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js Library -->

    {% if request.COOKIES.privacy_policy == "all_cookies" %}
        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-L62G1B08VS"></script>

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-9KMPP7FWKD');
        </script>

    {% endif %}

    {% block recaptcha %}{% endblock recaptcha %}
</head>

<body>
    <span class="preloader"></span> <!-- https://cssloaders.github.io/ -->

    <div class="privacy_policy {% if request.COOKIES.privacy_policy == "all_cookies" or request.COOKIES.privacy_policy == "essential_cookies" %}hide{% endif %}">
        <h2>{% translate "Zásady&nbsp;ochrany osobných&nbsp;údajov" %}</h2>

        <p>{% translate "Táto stránka používa súbory cookies, aby vám poskytla čo najlepší zážitok pri jej prehliadaní. Súbory cookies nám pomáhajú analyzovať, optimalizovať a zlepšovať naše služby." %}<!-- Podrobnejšie informácie nájdete v našich <a>zásadách ochrany osobných údajov.</a> --></p>

        <div class="privacy_policy_buttons">
            <button class="privacy_policy_accept">{% translate "Potvrdiť všetky" %}</button>
            <button class="privacy_policy_reject">{% translate "Iba nevyhnutné" %}</button>
        </div>
    </div>

    <a class="skip_link" href="#">{% translate "PRESKOČIŤ" %}</a>
    
    <div class="move_down" title="{% translate 'Posunúť nadol' %}"><img src="{% static 'images/arrow.png' %}"></div> <!-- https://www.flaticon.com/free-icon/up-arrow_17727194 -->
    <div class="move_up"><img src="{% static 'images/arrow.png' %}" title="{% translate 'Posunúť nahor' %}"></div> <!-- https://www.flaticon.com/free-icon/up-arrow_17727194 -->

    {% if messages %}
        {% for one_message in messages %}
            <p class="message {% if one_message.tags %}{{ one_message.tags }}{% endif %}">{{ one_message|safe }}</p>
        
        {% endfor %}
    {% endif %}

    <header>
        <nav class="navigation_bar">
            <ul>
                <li><a href="{% url 'homepage_url' %}" target="_self">{% translate "DOMOV" %}</a></li>
                <li><a href="{% url 'training_session_url' %}" target="_self">{% translate "AKTIVITA" %}</a></li>
                <li><a href="{% url 'blog_url' %}" target="_self">{% translate "BLOG" %}</a></li>
                <li><a href="{% url 'community_url' %}" target="_self">{% translate "KOMUNITA" %}</a></li>
                
                {% block navigation_bar_items %}{% endblock navigation_bar_items %}

                <i class="hamburger fa-solid fa-bars"></i> <!-- https://fontawesome.com/icons/bars -->
                <!-- <i class="fa-solid fa-xmark"></i> --> <!-- https://fontawesome.com/icons/xmark -->
            </ul>
        </nav>

        <div class="banner">
            <div class="left">{% block banner %}{% endblock banner %}</div>
            
            <div class="right">
                {% if request.session.logged_in_user_id %}
                    {% comment %} <div class="notifications">
                        <p class="label">9+</p>
                        <i class="fa-regular fa-bell"></i> <!-- https://fontawesome.com/icons/bell -->
                    </div> {% endcomment %}

                    <div class="account">
                        <a href="{% url 'edit_account_url' %}" title="{% translate 'Môj účet' %}" target="_self">
                            <img 
                                class="profile_picture skeleton_loading" 
                                src="
                                    {% if profile_picture_name %}
                                        /../media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                                    {% else %}
                                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                    
                                    {% endif %}
                                "
                            >
                        </a>

                        <a class="user_name" href="{% url 'edit_account_url' %}" title="{% translate 'Môj účet' %}" target="_self">{{ first_name }} {{ last_name }}</a>

                        <a class="logout" href="{% url 'logout_url' %}" title="{% translate 'Odhlásiť sa z účtu' %} {{ first_name }} {{ last_name }}" target="_self">{% translate "Odhlásiť" %}</a>
                    </div>

                {% else %}
                    <div class="no_account">
                        <a class="login" href="{% url 'login_url' %}" title="{% translate 'Prihlásiť sa' %}" target="_self">{% translate "Neprihlásený" %}</a>
                    </div>

                {% endif %}
            </div>
        </div>
        
        <div class="header_container">
            {% block search_bar %}{% endblock search_bar %}

            <div class="center">
                <h1 class="heading"><a href="" target="_self">{% block heading %}{% endblock heading %}</a></h1>

                {% block buttons %}{% endblock buttons %}
            </div>
        </div>
    </header>

    <main class="content">
        {% block content %}{% endblock content %}
    </main>

    <footer>
        <h2>Wesiq</h2>

        <div class="contact_us">
            <p><i class="fa-regular fa-envelope"></i> <a href="mailto:behulpatrik@gmail.com" title="{% translate 'Napísať...' %}">behulpatrik@gmail.com</a></p> <!-- https://fontawesome.com/icons/envelope -->

            <p><i class="fa-solid fa-phone"></i> <a href="tel:+421940322633" title="{% translate 'Zavolať...' %}">+421 940 322 633</a></p> <!-- https://fontawesome.com/icons/phone -->
        </div>

        <div class="social_media">
            <a href="https://www.instagram.com/" title="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a> <!-- https://fontawesome.com/icons/instagram -->
            <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a> <!-- https://fontawesome.com/icons/facebook -->
            <a href="https://www.tiktok.com/" title="TikTok" target="_blank"><i class="fa-brands fa-tiktok"></i></a> <!-- https://fontawesome.com/icons/tiktok -->
        </div>
        
        <div class="navigation">
            <a href="{% url 'homepage_url' %}" title="{% translate 'Domov' %}" target="_self">{% translate "Domov" %}</a>
            <a href="{% url 'login_url' %}" title="{% translate 'Prihlásenie' %}" target="_self">{% translate "Prihlásenie" %}</a>
            <a href="{% url 'registration_url' %}" title="{% translate 'Registrácia' %}" target="_self">{% translate "Registrácia" %}</a>
            <a href="{% url 'blog_url' %}" title="{% translate 'Blog' %}" target="_self">{% translate "Blog" %}</a>
        </div>

        <div class="languages">
            <p>{% translate "Zvoľte si preferovaný jazyk" %}</p>

            <form action="{% url 'change_language_url' %}" method="POST">
                {% csrf_token %}

                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}

                <input name="next" type="hidden" value="{{ request.get_full_path }}">

                {% for language_code, language_name in LANGUAGES %}
                    <button
                        type="submit"
                        name="language"
                        value="{{ language_code }}"
                    >
                        <img src="{% static 'images/' %}{{ language_code }}.png" title="{{ language_name }}" alt="{{ language_name }}"> <!-- https://www.flaticon.com/free-icon/slovakia_330594 --> <!-- https://www.flaticon.com/free-icon/czech-republic_330536 --> <!-- https://www.flaticon.com/free-icon/united-kingdom_330425 --> <!-- https://www.flaticon.com/free-icon/spain_330557 --> <!-- https://www.flaticon.com/free-icon/france_330490 --> <!-- https://www.flaticon.com/free-icon/ukraine_330540 --> <!-- https://www.flaticon.com/free-icon/russia_330437?term=russia --> <!-- https://www.flaticon.com/free-icon/brazil_330430 --> <!-- https://www.flaticon.com/free-icon/china_330651 -->
                    </button>
                {% endfor %}
            </form>
        </div>

        <div class="payment_methods">
            <div class="icons">
                <img src="{% static 'images/visa.png' %}" title="Visa" alt="Visa"> <!-- https://www.flaticon.com/free-icon/visa_5968299 -->
                <img src="{% static 'images/mastercard.png' %}" title="Mastercard" alt="Mastercard"> <!-- https://www.flaticon.com/free-icon/card_16174534 -->
                <img src="{% static 'images/amex.png' %}" title="American Express" alt="American Express"> <!-- https://www.flaticon.com/free-icon/amex_179431 -->
                <img src="{% static 'images/discover.png' %}" title="Discover" alt="Discover"> <!-- https://www.flaticon.com/free-icon/discover_349230 -->
                <img src="{% static 'images/diners_club.png' %}" title="Diners Club" alt="Diners Club"> <!-- https://www.flaticon.com/free-icon/diners-club_229142 -->
                <img src="{% static 'images/jcb.png' %}" title="JCB" alt="JCB"> <!-- https://www.flaticon.com/free-icon/jcb_196559 -->
                <img src="{% static 'images/stripe.png' %}" title="Stripe" alt="Stripe"> <!-- https://www.flaticon.com/free-icon/stripe_5968382 -->
            </div>
        </div>
        
        <div class="other">
            <p class="privacy_policy_again">{% translate "Zásady&nbsp;ochrany osobných&nbsp;údajov" %}</p>
            <p class="copywrite">&copy; Wesiq 2025 - 2026, {% translate "Všetky práva vyhradené." %}</p>
        </div>
    </footer>

    <script defer>
        "use strict"
        
        document.addEventListener("DOMContentLoaded", function() {
            console.log("%cWesiq by Patrik Behul", "color: rgb(170, 255, 50); background-color: rgb(0, 0, 0)") // Secret Message

            // Privacy Policy

            const privacy_policy = document.querySelector(".privacy_policy")
            const privacy_policy_accept = document.querySelector(".privacy_policy_accept")
            const privacy_policy_reject = document.querySelector(".privacy_policy_reject")

            privacy_policy_accept.addEventListener("click", function() {
                document.cookie = `privacy_policy=all_cookies; max-age=` + 60 * 60 * 24 * 365 + "; path=/" // 1 Year Timed Cookie

                privacy_policy.classList.add("hide")

                // window.location.reload()
            })

            privacy_policy_reject.addEventListener("click", function() {
                document.cookie = `privacy_policy=essential_cookies; max-age=` + 60 * 60 * 24 * 365 + "; path=/" // 1 Year Timed Cookie

                privacy_policy.classList.add("hide")

                // window.location.reload()
            })

            // Privacy Policy Again
            const privacy_policy_again = document.querySelector(".privacy_policy_again")

            privacy_policy_again.addEventListener("click", function() {
                privacy_policy.classList.remove("hide")
            })

            // Skeleton Loading
            
            const skeleton_loadings = document.querySelectorAll(".skeleton_loading")
            
            // Removes Skeleton Loading Animation When Page Is Fully Loaded
            window.addEventListener("load", function() {
                skeleton_loadings.forEach(function(one_skeleton_loading) {
                    one_skeleton_loading.classList.remove("skeleton_loading")
                })
            })

            // Skeleton Text Loading Animation

            const skeleton_texts = document.querySelectorAll(".skeleton_text")

            skeleton_texts.forEach(function(one_skeleton_text) {
                let skeleton_texts_tags = one_skeleton_text.querySelectorAll("h2, p, img")

                skeleton_texts_tags.forEach(function(one_skeleton_text_tag) {
                    one_skeleton_text_tag.classList.remove("hidden")
                })

                one_skeleton_text.classList.remove("skeleton_loading")
                one_skeleton_text.classList.remove("skeleton_text")
            })
        })
    </script>

    <script src="{% static 'ts/dist/components/preloader.js' %}" type="module"></script>
    <script src="{% static 'ts/dist/components/navigation.js' %}" type="module"></script>
    <script src="{% static 'ts/dist/components/move_down.js' %}" type="module"></script>
    <script src="{% static 'ts/dist/components/move_up.js' %}" type="module"></script>
    
    {% block script %}{% endblock script %}
</body>
</html>