.content {
  max-width: 900px;
  min-height: 100vh;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #999999;
  border-radius: 5px;
  text-align: justify;
  overflow: hidden;
}
.content .article_banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.9);
}
.content .article_banner .banner_image {
  height: 100%;
}
.content .article_banner .banner_image img {
  width: 360px;
  height: 100%;
}
.content .article_banner .banner_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px 20px 10px;
  color: #000;
}
.content .article_banner .banner_info .article_opening {
  padding: 0px 0px 5px 10px;
  border-left: 3px solid #000;
}
.content .article_banner .banner_info .article_opening h2 {
  text-align: left;
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 3em;
}
.content .article_banner .banner_info .article_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content .article_banner .banner_info .article_info .rating img {
  width: 12px;
  height: 12px;
}
.content .article_banner .banner_info .article_info .profile_picture {
  width: 38px;
  height: 38px;
  padding: 2px;
  border: 1px solid #000;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.content .article_banner .banner_info .article_info .profile_picture:hover {
  transform: scale(1.1);
}
.content .article_banner .banner_info .article_info .date p {
  padding-top: 3px;
  font-size: 0.9em;
}
.content .article_content {
  margin: 10px 20px;
}
.content .article_forum {
  width: 90%;
  margin: 50px auto 0px;
}
.content .article_forum .write_comment_form {
  position: relative;
}
.content .article_forum .write_comment_form input {
  width: 100%;
  height: 50px;
  padding-left: 54px;
  padding-right: 53px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid #fff;
  border-radius: 25px;
  outline: none;
}
.content .article_forum .write_comment_form input::-moz-placeholder {
  color: #cccccc;
}
.content .article_forum .write_comment_form input::placeholder {
  color: #cccccc;
}
.content .article_forum .write_comment_form .profile_picture {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  padding: 2px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.content .article_forum .write_comment_form .send {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) scale(1);
  transition: transform 0.3s ease;
}
.content .article_forum .write_comment_form .send:hover {
  transform: translateY(-50%) scale(1.1);
  cursor: pointer;
}
.content .article_forum .all_comments {
  margin-top: 50px;
  margin-left: 6px;
}
.content .article_forum .all_comments .one_comment {
  margin-bottom: 10px;
}
.content .article_forum .all_comments .one_comment .comment {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .article_forum .all_comments .one_comment .comment .profile_picture {
  width: 38px;
  height: 38px;
  margin-right: 10px;
  padding: 2px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.content .article_forum .all_comments .one_comment .comment .profile_picture:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.content .article_forum .all_comments .one_comment .interactions {
  margin-left: 50px;
  display: flex;
}
.content .article_forum .all_comments .one_comment .interactions .reply {
  margin-right: 10px;
}
.content .article_forum .all_comments .one_comment .interactions .reply .fa-reply {
  font-size: 15px;
  color: #999999;
}
.content .article_forum .all_comments .one_comment .interactions .reply .fa-reply:hover {
  color: #cccccc;
  cursor: pointer;
  transition: color 0.3s ease;
}
.content .article_forum .all_comments .one_comment .interactions .likes .fa-heart {
  font-size: 15px;
  color: #999999;
}
.content .article_forum .all_comments .one_comment .interactions .likes .fa-heart:hover {
  color: #df3535 !important;
  cursor: pointer;
  transition: color 0.3s ease;
}
.content .article_forum .all_comments .one_comment .interactions .likes p {
  display: inline-block;
  color: #999999;
}
.content .article_forum .all_comments .one_comment .reply_1 {
  margin-top: 10px;
  margin-left: 48px;
  padding-left: 10px;
  border-left: 2px solid #cccccc;
}/*# sourceMappingURL=articles.css.map */