@import "../../../../static/css/partials/variables";

.content {
    max-width: $main-width;
    min-height: 100vh;
    margin: 0px auto;
    background-color: transparentize($main-color, 0.9);
    border: 1px solid darken($secondary-color, 40%);
    border-radius: 5px;
    text-align: justify;
    overflow: hidden;

    .article_banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 250px;
        background-color: transparentize($secondary-color, 0.1);
        // border-bottom: 1px solid $secondary-color;

        .banner_image {
            height: 100%;

            img {
                width: $main-width / 2.5;
                height: 100%;
            }
        }

        .banner_info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 20px 20px 10px;
            color: $main-color;

            .article_opening {
                padding: 0px 0px 5px 10px;
                border-left: 3px solid $main-color;

                h2 {
                    text-align: left;
                    font-family: $article-heading-font;
                    font-size: 3em;
                }
            }

            .article_info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .rating {
                    img {
                        width: 12px;
                        height: 12px;
                    }
                }

                .profile_picture {
                    width: 38px;
                    height: 38px;
                    padding: 2px;
                    border: 1px solid $main-color;
                    border-radius: 50%;
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                // .date {
                //     p {
                //         padding-top: 3px;
                //         font-size: 0.9em;
                //     }
                // }
            }
        }
    }

    .article_content {
        margin: 10px 20px;
    }

    // Forum

    .article_forum {
        width: 90%;
        margin: 50px auto 0px;

        .write_comment_form, .reply_comment_form {
            position: relative;
            // border-bottom: 1px solid $secondary-color;
            // padding-bottom: 20px;

            input {
                width: calc(100%);
                height: 50px;
                padding-left: 38px + 6px + 10px;
                padding-right: 38px + 5px + 10px;
                color: $secondary-color;
                background-color: transparentize($secondary-color, 0.9);
                backdrop-filter: blur(5px);
                border: 1px solid $secondary-color;
                border-radius: 25px;
                outline: none;

                &::placeholder {
                    color: darken($secondary-color, 20%);
                }
            }
            
            .profile_picture {
                position: absolute;
                left: 6px;
                // top: calc(50% - 10px);
                top: 50%;
                transform: translateY(-50%);
                width: 38px;
                height: 38px;
                padding: 2px;
                border: 1px solid $secondary-color;
                border-radius: 50%;
            }

            button {
                position: absolute;
                top: 50%;
                right: 0px;
                background-color: transparent;
                border: none;
                outline: none;

                .send {
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%) scale(1);
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: translateY(-50%) scale(1.1);
                        cursor: pointer;
                    }
                }
            }
        }

        .all_comments {
            margin-top: 50px;

            .no_comments {
                margin-bottom: 10px;
                font-family: $article-heading-font;
                font-size: 2em;
                color: $secondary-color;
            }

            .one_comment {
                margin-bottom: 20px;

                .comment {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-left: 6px;

                    .profile_picture {
                        width: 38px;
                        height: 38px;
                        margin-right: 10px;
                        padding: 2px;
                        border: 1px solid $secondary-color;
                        border-radius: 50%;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                            cursor: pointer;
                        }
                    }
                }

                .interactions {
                    margin-left: 50px + 4px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .reply {
                        .fa-reply {
                            font-size: 1em;
                            color: darken($secondary-color, 40%);

                            &:hover {
                                color: darken($secondary-color, 20%);
                                cursor: pointer;
                                transition: color 0.3s ease;
                            }
                        }

                        .fa-xmark {
                            font-size: 1em;
                            color: darken($secondary-color, 40%);

                            &:hover {
                                color: $error-color;
                                cursor: pointer;
                                transition: color 0.3s ease;
                            }
                        }
                    }
                    
                    .likes {
                        .fa-heart {
                            font-size: 1em;
                            color: darken($secondary-color, 40%);

                            &:hover {
                                color: $error-color !important;
                                cursor: pointer;
                                transition: color 0.3s ease;
                            }
                        }

                        p {
                            display: inline-block;
                            color: darken($secondary-color, 40%);
                        }
                    }

                    .report {
                        .fa-flag {
                            font-size: 1em;
                            color: darken($secondary-color, 40%);

                            &:hover {
                                color: $error-color;
                                cursor: pointer;
                                transition: color 0.3s ease;
                            }
                        }
                    }

                    .date {
                        margin-left: 10px;

                        p {
                            font-size: 0.9em;
                            font-style: italic;
                            color: darken($secondary-color, 40%);
                        }
                    }
                }

                .reply_comment_form {
                    display: none;
                    margin-top: 10px;
                    margin-left: 50px + 4px;
                    padding-left: 10px;
                    border-left: 2px solid darken($secondary-color, 20%);

                    &.visible {
                        display: block;
                    }

                    .profile_picture {
                        left: 6px + 10px;
                    }
                }

                .all_replies {
                    margin-left: 50px + 4px;
                    padding-left: 10px;
                    border-left: 2px solid darken($secondary-color, 20%);

                    .one_reply {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}