/************
 Main Styles
************/
.search_bar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 120px;
}
.search_bar_container .search_bar_menu {
  position: relative;
}
.search_bar_container .search_bar_menu .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 8.5px;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgb(229.5, 229.5, 229.5);
  transition: color 0.3s ease;
  z-index: 50;
}
.search_bar_container .search_bar_menu .fa-xmark {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  padding: 9px 8.5px 9px 0px;
  font-size: 20px;
  color: rgb(229.5, 229.5, 229.5);
  transition: color 0.3s ease;
  z-index: 50;
}
.search_bar_container .search_bar_menu .fa-xmark:hover {
  color: #fff;
  cursor: pointer;
}
.search_bar_container .search_bar_menu .search_bar {
  padding: 0px 32px;
  width: 500px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #fff;
  border: none;
  border: 2px solid rgb(229.5, 229.5, 229.5);
  border-radius: 5px;
  text-align: center;
  outline: none;
  font-size: 1.2em;
  transition: width 0.3s ease, border 0.3s ease;
  z-index: 50;
}
.search_bar_container .search_bar_menu .search_bar:hover, .search_bar_container .search_bar_menu .search_bar:focus {
  width: 520px;
  border-color: #fff !important;
}
.search_bar_container .search_bar_menu .search_bar::-moz-placeholder {
  color: #cccccc;
}
.search_bar_container .search_bar_menu .search_bar::placeholder {
  color: #cccccc;
}
.search_bar_container .search_bar_menu:has(.search_bar:hover) .fa-magnifying-glass, .search_bar_container .search_bar_menu:has(.search_bar:focus) .fa-magnifying-glass {
  color: #fff;
}
.search_bar_container .filter {
  position: relative;
  width: 100px;
  height: 38px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 2px solid rgb(229.5, 229.5, 229.5);
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.search_bar_container .filter:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.search_bar_container .filter img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.articles {
  position: relative;
  top: 20px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0px 20px;
}
.articles article {
  position: relative;
  max-width: 500px;
  height: 300px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: justify;
  box-shadow: 5px 5px 10px #333333;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.articles article:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.articles article a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.articles article a .rating {
  position: absolute;
  bottom: 14.5px;
  left: 20px;
}
.articles article a .rating img {
  width: 12px;
  height: 12px;
}
.articles article a .visitors {
  position: absolute;
  bottom: 14.5px;
  right: 20px;
  color: #999999;
  transition: color 0.3s ease;
}
.articles article a .visitors:hover {
  color: #cccccc;
  cursor: pointer;
}

/**************
 Media Queries
**************/
@media (max-width: 1595px) {
  .search_bar_container {
    padding-left: 0px !important;
  }
}
@media (max-width: 1075px) {
  .search_bar {
    width: 680px !important;
  }
  article {
    max-width: 800px !important;
  }
}
@media (max-width: 860px) {
  .search_bar {
    width: 360px !important;
  }
}/*# sourceMappingURL=blog.css.map */