@import "../../../../static/css/partials/variables";

.content {
    // position: relative;
    

    // Search Bar

    .search_bar_container {
        div {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            .fa-magnifying-glass {
                position: absolute;
                top: 50%;
                left: 8.5px;
                transform: translateY(-50%);
                font-size: 20px;
                color: darken($secondary-color, 10%);
                transition: color 0.3s ease;
            }

            .search_bar {
                padding: 0px 32px;
                width: 500px;
                height: 38px;
                background-color: transparentize($main-color, 0.9);
                color: $secondary-color;
                border: none;
                border: 1px solid darken($secondary-color, 10%);
                border-radius: 5px;
                text-align: center;
                outline: none;
                font-size: 1.2em;
                transition: width 0.3s ease, border 0.3s ease;
                z-index: 50;

                &:hover,
                &:focus {
                    width: 500px + 20px;
                    border-color: $secondary-color !important;
                }

                &::placeholder {
                    color: darken($secondary-color, 20%);
                }
            }

            &:has(.search_bar:hover) .fa-magnifying-glass, &:has(.search_bar:focus) .fa-magnifying-glass {
                color: $secondary-color;
            }
        }
    }

    .articles {
        position: relative;
        top: 38px + 20px;
        width: 100%;
        margin-bottom: 38px + 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        a {
            color: $secondary-color;
            text-decoration: none;

            article {
                width: 500px;
                height: 300px;
                padding: 20px;
                border: 1px solid $secondary-color;
                border-radius: 5px;
                text-align: justify;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.01);
                    cursor: pointer;
                }
            }

            .front_lever {
                background: linear-gradient(transparentize($main-color, 0.8), transparentize($main-color, 0.2)), url("../images/front-lever.jpg"); // https://www.behance.net/gallery/36345741/Lee-Wade-Turner-Calisthenics-for-Forever-Sports/modules/227474853
                
                background: {
                    size: cover;
                    position: center;
                    repeat: no-repeat;
                }
            }

            .handstand {
                background: linear-gradient(transparentize($main-color, 0.8), transparentize($main-color, 0.2)), url("../images/handstand.jpg"); // https://unsplash.com/photos/man-in-black-shorts-standing-on-brown-grass-during-daytime-j6amjHxtc1U
                
                background: {
                    size: cover;
                    position: center;
                    repeat: no-repeat;
                }
            }

            .one_arm_pull_up {
                background: linear-gradient(transparentize($main-color, 0.8), transparentize($main-color, 0.2)), url("../images/one-arm-pull-up.webp"); // https://images.squarespace-cdn.com/content/v1/5eaa851bc7b0ae39a020ea32/d27cfd00-e7b6-4c49-8a78-4b5493ef8cfd/chin%2Bover%2Bpulling%2Bhand%2B%281%29+%281%29.jpg
                
                background: {
                    size: cover;
                    position: center;
                    repeat: no-repeat;
                }
            }

            .swing_360 {
                background: linear-gradient(transparentize($main-color, 0.8), transparentize($main-color, 0.2)), url("../images/swing-360.webp"); // https://www.gornation.com/cdn/shop/articles/header_584b6ba9-e54a-4fca-98dc-901516515e58.jpg
                
                background: {
                    size: cover;
                    position: center;
                    repeat: no-repeat;
                }
            }
        }
    }
}