@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

/************
 Main Styles
************/

// Articles Info

.num_articles {
    width: 500px;
    margin: 0px auto 5px;

    p {
        color: darken($secondary-color, 20%);
        font-size: 0.9em;

        span {
            font-weight: bold;
        }
    }
}

// Search Bar

.search_bar_container {
    @include flex_center($direction: column);
    gap: 10px;
    // max-width: 500px;
    width: 100%;
    // margin: 0px auto;

    .search_bar_menu {
        position: relative;
        max-width: 500px;
        width: 100%;

        .fa-magnifying-glass {
            position: absolute;
            top: 50%;
            left: 8.5px;
            transform: translateY(-50%);
            font-size: 20px;
            color: darken($secondary-color, 10%);
            transition: color 0.3s ease;
            z-index: 50;
        }

        .fa-xmark {
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            padding: 9px 8.5px 9px 0px;
            font-size: 20px;
            color: darken($secondary-color, 10%);
            transition: color 0.3s ease;
            z-index: 50;

            &:hover {
                color: $secondary-color;
                cursor: pointer;
            }
        }

        .search_bar {
            width: 100%;
            height: 40px;
            background-color: transparentize($main-color, 0.9);
            color: $secondary-color;
            border: none;
            border: 2px solid darken($secondary-color, 10%);
            border-radius: $small-border-radius;
            text-align: center;
            outline: none;
            font-size: 1.2em;
            transition: width 0.3s ease, border 0.3s ease;
            z-index: 50;

            &:hover,
            &:focus {
                // width: 500px + 20px;
                border-color: $secondary-color !important;
            }

            &::placeholder {
                color: darken($secondary-color, 20%);
            }
        }

        &:has(.search_bar:hover) .fa-magnifying-glass, &:has(.search_bar:focus) .fa-magnifying-glass {
            color: $secondary-color;
        }
    }

    // Custom Select Menu

    .select_menus {
        @include flex_center;
        gap: 20px;
        max-width: 500px;
        width: 100%;

        .sort_select_menu, .category_select_menu {
            @include custom_select_menu($options_list_height: 160px, $scrollbar: auto);

            .refresh {
                .fa-arrow-rotate-right {
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                    padding: 12.5px 0px 12.5px 8.5px;
                    color: darken($secondary-color, 10%);
                    transition: color 0.3s ease;
                    z-index: 50;

                    &:hover {
                        color: $secondary-color;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// Articles

.articles {
    @include flex_center;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0px;
    gap: 20px;

    .no_articles {
        font-family: $article-heading-font;
        color: $secondary-color;
    }

    article {
        opacity: 0;
        position: relative;
        max-width: 500px;
        width: 100%;
        height: 300px;
        border: 1px solid $secondary-color;
        border-radius: $small-border-radius;
        text-align: center;
        box-shadow: 5px 5px 10px lighten($main-color, 20%);
        overflow: hidden;
        transition: transform 0.3s ease;
        
        background: {
            size: cover !important;
            position: center !important;
            repeat: no-repeat !important;
        }

        &.animate {
            animation: fadeIn 1s ease-out forwards;
        }

        &:hover {
            transform: scale(1.01);
            cursor: pointer;

            .description {
                transform: translateX(0);
                filter: blur(0px);
            }
        }

        .info {
            position: absolute;
            top: 20px + (45px / 2) - (16px / 2) - 4px;
            left: 20px;
            z-index: 50;

            // Info Tooltip

            .tooltip {
                @include tooltip($top: 50%);

                &::before,
                &::after {
                    left: 5px + 10px + 5px;
                    transform: translateX(var(--translate-x, 0)) translateY(-50%) scale(var(--scale));
                    transform-origin: left center;
                }

                &::before {
                    --translate-x: calc(1 * 10px);

                    max-width: none;
                    width: 150px;
                }

                &::after {
                    --translate-x: calc(-100% + 10px);

                    border: none;
                    border: 10px solid transparent;
                    border-right-color: transparentize($secondary-color, 0.8);
                    transform-origin: right center;
                }
            }
        }

        .share {
            position: absolute;
            top: 20px + (45px / 2) - (26px / 2);
            right: 20px;
            z-index: 50;

            i {
                font-size: 25px;
                color: darken($secondary-color, 40%);
                transition: color 0.3s ease;

                &:hover {
                    color: darken($secondary-color, 20%);
                }
            }
        }

        .description {
            @include flex_center;
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 300px;
            background-color: transparentize($main-color, 0.8);
            z-index: 50;
            transform: translateX(-100%);
            filter: blur(5px);
            transition: transform 0.3s ease, filter 0.1s ease;

            p {
                padding: 0px 20px;
                text-align: justify;
            }
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 20px;
            color: $secondary-color;
            text-decoration: none;
            backdrop-filter: blur(2px);

            h2 {
                margin-bottom: 3.75px;
                font-family: $article-heading-font;
                color: $article-color;
                text-shadow: 0px 0px 10px $main-color;
            }

            .article_info {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                height: 75px;
                background-color: transparentize($secondary-color, 0.9);

                .rating {
                    position: absolute;
                    bottom: 20px - 5.5px + 23px;
                    left: 20px;

                    .fa-star {
                        font-size: 0.8em;
                        cursor: pointer;
        
                        &.full {
                            color: $article-color;
                            opacity: 1;
                        }
        
                        &.empty {
                            color: darken($secondary-color, 40%);
                            opacity: 0.5;
                        }
                    }
                }

                .category {
                    position: absolute;
                    bottom: 20px - 5.5px;
                    left: 20px;

                    p {
                        color: $article-color;
                    }
                    
                    i {
                        color: darken($secondary-color, 40%);
                        transition: color 0.3s ease;
                    }

                    &:hover {
                        i {
                            color: darken($secondary-color, 20%);
                        }
                    }
                }

                .visitors {
                    position: absolute;
                    bottom: 20px - 5.5px + 23px;
                    right: 20px;

                    p {
                        color: $article-color;
                    }
                    
                    i {
                        color: darken($secondary-color, 40%);
                        transition: color 0.3s ease;
                    }

                    &:hover {
                        i {
                            color: darken($secondary-color, 20%);
                        }
                    }
                }

                .date {
                    position: absolute;
                    bottom: 20px - 5.5px;
                    right: 20px;
                    transition: color 0.3s ease;

                    p {
                        color: $article-color;
                    }
                }
            }
        }
    }
}

// Subscribe For New Articles

.blog_subscribe_form {
    @include flex_center;
    gap: 20px;
    max-width: 500px;
    width: 100%;
    margin: 0px auto;
    // padding-top: 10px;

    input {
        // max-width: 500px;
        width: 100%;
        height: 40px;
        padding: 0px 10px;
        background-color: transparentize($main-color, 0.8);
        color: $secondary-color;
        border: none;
        border: 2px solid darken($secondary-color, 10%);
        border-radius: $small-border-radius;
        text-align: center;
        outline: none;
        z-index: 50;
        transition: border 0.3s ease, color 0.3s ease, letter-spacing 0.3s ease;

        &:hover,
        &:focus {
            border-color: $secondary-color;
        }

        &::placeholder {
            color: darken($secondary-color, 20%);
        }
    }

    input[type="submit"] {
        &:hover,
        &:focus {
            color: $article-color;
            letter-spacing: 0.5px;
            cursor: pointer;
        }
    }
}

/**************
 Media Queries
**************/

@media (width <= 1075px) {
    article {
        max-width: 800px !important;
    }
}

@media (width <= 500px) {
    .blog_subscribe_form {
        @include flex_center($direction: column);
        gap: 10px;
    }
}