@import "../../../../static/css/partials/variables";

/************
 Main Styles
************/

// Form

form {
    position: relative;
    max-width: 500px;
    margin: 0px auto;
    padding: 30px 50px 50px;
    text-align: center;
    backdrop-filter: blur(5px);
    border: 2px solid $secondary-color;
    border-radius: $medium-border-radius;

    h2 {
        margin-bottom: 30px;
        transition: letter-spacing 0.3s ease;

        &:hover {
            letter-spacing: 1px;
            cursor: pointer;
        }

        a {
            font-size: 1em;
            text-decoration: none;
            color: $secondary-color;
        }
    }

    .back {
        position: absolute;
        top: 42px;
        left: 50px;
        width: 32px;
        height: 32px;

        img {
            width: 32px;
            height: 32px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .profile_picture_container {
        position: relative;
        height: 38px;

        .profile_picture, .delete_profile_picture {
            margin: 0px 2.5px;
        }

        .profile_picture {
            width: 38px;
            height: 38px;
            padding: 2px;
            border: 1px solid $secondary-color;
            border-radius: 50%;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }

        .delete_profile_picture {
            position: relative;
            bottom: 3px;
            opacity: 0.6;
            transition: transform 0.3s ease, opacity 0.3s ease;

            &:hover {
                transform: scale(1.1);
                opacity: 1;
                cursor: pointer;
            }
        }

        #select_profile_picture, #delete_profile_picture {
            display: none;
        }
    }

    .first_name_container, .last_name_container, .email_address_container, .phone_number_container {
        position: relative;
        // transform-origin: left;

        input[type="text"], input[type="email"], input[type="tel"] {
            width: 90%;
            height: 50px;
            margin-bottom: 10px;
            padding: 0px 10px;
            background: transparent;
            color: $secondary-color;
            border: none;
            border-bottom: 1px solid darken($secondary-color, 40%);
            outline: none;
            transition: width 0.3s ease, border 0.3s ease;

            &:hover,
            &:focus {
                width: 100%;
                border-bottom: 1px solid darken($secondary-color, 20%);
            }

            &::placeholder {
                color: darken($secondary-color, 40%);
            }

            &:-webkit-autofill {
                -webkit-text-fill-color: rgb(255, 255, 255);
                transition: width 0.3s ease, background-color 9999s ease;

                &:hover,
                &:focus {
                    -webkit-text-fill-color: rgb(255, 255, 255);
                    transition: width 0.3s ease, background-color 9999s ease;
                }
            }
        }

        .first_name, .last_name {
            padding-right: 23px !important;
        }

        .email_address, .phone_number {
            padding-right: 25px !important;
        }

        i {
            display: block;
            color: darken($secondary-color, 40%);
            position: absolute;
            bottom: 10px;
            left: 3px;
            padding-bottom: 16px;
            padding-top: 19px;
            transition: left 0.3s ease;

            &:hover {
                color: darken($secondary-color, 20%);
                cursor: pointer;
                transition: color 0.3s ease, left 0.3s ease;
            }
        }
    }

    .first_name_container:has(.first_name:hover) .fa-user, .first_name_container:has(.first_name:focus) .fa-user,
    .last_name_container:has(.last_name:hover) .fa-user, .last_name_container:has(.last_name:focus) .fa-user,
    .email_address_container:has(.email_address:hover) .fa-envelope, .email_address_container:has(.email_address:focus) .fa-envelope,
    .phone_number_container:has(.phone_number:hover) .fa-phone, .phone_number_container:has(.phone_number:focus) .fa-phone {
        left: -16px;
    }

    .form_report {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.9em;

        &.success {
            color: $success-color;
        }

        &.error {
            color: $error-color;
        }
    }

    input[type="submit"] {
        width: 90%;
        height: 50px;
        margin-top: 40px;
        background-color: transparentize($main-color, 0.2);
        color: $secondary-color;
        border: 1px solid $secondary-color;
        border-radius: $big-border-radius;
        transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease;

        &:hover,
        &:focus {
            background-color: transparentize($secondary-color, 0.1);
            color: $main-color;
            border: 1px solid $main-color;
            transform: scale(1.1);
            letter-spacing: 1px;
            cursor: pointer;
        }
    }

    .form_questions {
        margin-top: 10px;

        a {
            color: $secondary-color;
            text-decoration: none;

            &:hover,
            &:active {
                text-decoration: underline;
            }
        }
    }

    .delete_account {
        margin-top: 10px;
        opacity: 0.6;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &:hover {
            transform: scale(1.1);
            opacity: 1;
            cursor: pointer;
        }
    }

    #delete_account {
        display: none;
    }
}

.no_logged_in p {
    text-align: center;

    a {
        text-decoration: none;
        font-style: italic;
        color: $secondary-color;

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }
}