/************
 Main Styles
************/
form {
  position: relative;
  max-width: 500px;
  margin: 0px auto;
  padding: 30px 50px 50px;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 2px solid #fff;
  border-radius: 10px;
}
form h2 {
  margin-bottom: 30px;
  transition: letter-spacing 0.3s ease;
}
form h2:hover {
  letter-spacing: 1px;
  cursor: pointer;
}
form h2 a {
  font-size: 1em;
  text-decoration: none;
  color: #fff;
}
form .back {
  position: absolute;
  top: 42px;
  left: 50px;
  width: 32px;
  height: 32px;
}
form .back img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}
form .back img:hover {
  transform: scale(1.1);
}
form .profile_picture_container {
  position: relative;
  height: 38px;
}
form .profile_picture_container .profile_picture, form .profile_picture_container .delete_profile_picture {
  margin: 0px 2.5px;
}
form .profile_picture_container .profile_picture {
  width: 38px;
  height: 38px;
  padding: 2px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
form .profile_picture_container .profile_picture:hover {
  transform: scale(1.1);
  cursor: pointer;
}
form .profile_picture_container .delete_profile_picture {
  position: relative;
  bottom: 3px;
  opacity: 0.6;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
form .profile_picture_container .delete_profile_picture:hover {
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}
form .profile_picture_container #select_profile_picture, form .profile_picture_container #delete_profile_picture {
  display: none;
}
form input[type=text], form input[type=email], form input[type=tel] {
  width: 90%;
  height: 50px;
  margin-bottom: 10px;
  padding: 0px 10px;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #999999;
  outline: none;
  transition: width 0.3s ease, border 0.3s ease;
}
form input[type=text]:hover, form input[type=text]:focus, form input[type=email]:hover, form input[type=email]:focus, form input[type=tel]:hover, form input[type=tel]:focus {
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
form input[type=text]::-moz-placeholder, form input[type=email]::-moz-placeholder, form input[type=tel]::-moz-placeholder {
  color: #999999;
}
form input[type=text]::placeholder, form input[type=email]::placeholder, form input[type=tel]::placeholder {
  color: #999999;
}
form input[type=text]:-webkit-autofill, form input[type=email]:-webkit-autofill, form input[type=tel]:-webkit-autofill {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-transition: width 0.3s ease, background-color 9999s ease;
  transition: width 0.3s ease, background-color 9999s ease;
}
form input[type=text]:-webkit-autofill:hover, form input[type=text]:-webkit-autofill:focus, form input[type=email]:-webkit-autofill:hover, form input[type=email]:-webkit-autofill:focus, form input[type=tel]:-webkit-autofill:hover, form input[type=tel]:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-transition: width 0.3s ease, background-color 9999s ease;
  transition: width 0.3s ease, background-color 9999s ease;
}
form .form_report {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9em;
}
form .form_report.success {
  color: #52cf20;
}
form .form_report.error {
  color: #df3535;
}
form input[type=submit] {
  width: 90%;
  height: 50px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease;
}
form input[type=submit]:hover, form input[type=submit]:focus {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  border: 1px solid #000;
  transform: scale(1.1);
  letter-spacing: 1px;
  cursor: pointer;
}
form .form_questions {
  margin-top: 10px;
}
form .form_questions a {
  color: #fff;
  text-decoration: none;
}
form .form_questions a:hover, form .form_questions a:active {
  text-decoration: underline;
}
form .delete_account {
  margin-top: 10px;
  opacity: 0.6;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
form .delete_account:hover {
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}
form #delete_account {
  display: none;
}

.no_logged_in p {
  text-align: center;
}
.no_logged_in p a {
  text-decoration: none;
  font-style: italic;
  color: #fff;
}
.no_logged_in p a:hover, .no_logged_in p a:active {
  text-decoration: underline;
}/*# sourceMappingURL=edit_account.css.map */