@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

/************
 Main Styles
************/

// Edit Review Form

.edit_review_form {
    @include animated_border;
    max-width: 500px;
    margin: 0px auto;
    padding: 30px 50px 50px;
    text-align: center;
    border-radius: $medium-border-radius;

    h2 {
        margin-bottom: 30px;
        transition: letter-spacing 0.3s ease;

        &:hover {
            letter-spacing: 1px;
            cursor: pointer;
        }

        a {
            font-size: 1em;
            text-decoration: none;
            color: $secondary-color;
        }
    }

    .back {
        @include form_back;
    }

    .reviewer {
        position: relative;
        height: 38px;
        margin-left: 5%;
        text-align: left;

        .profile_picture {
            @include profile_picture;
        }

        .full_name {
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 48px;
        }
    }

    .rating {
        .fa-star {
            font-size: 1.5em;
            cursor: pointer;
            transition: color 0.1s ease, transform 0.1s ease;

            &.full {
                color: $article-color;
                opacity: 1;
            }
            
            &.empty {
                color: darken($secondary-color, 40%);
                opacity: 0.5;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        input {
            display: none;
        }
    }

    textarea {
        @include form_textarea;
    }

    .form_report {
        @include form_report;
    }

    input[type="submit"] {
        @include blue_button;
        margin-top: 40px;
    }

    .delete_review {
        margin-top: 10px;
        opacity: 0.6;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &:hover {
            transform: scale(1.1);
            opacity: 1;
            cursor: pointer;
        }
    }

    #delete_review {
        display: none;
    }
}

.no_logged_in p {
    text-align: center;

    a {
        text-decoration: none;
        font-style: italic;
        color: $secondary-color;

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }
}

/**************
 Media Queries
**************/

@media (width <= 600px) {
    .edit_review_form {
        textarea, input[type="submit"] {
            width: 100% !important;
        }
    }
}