.grecaptcha-badge {
  opacity: 0.8 !important;
}

/************
 Main Styles
************/
.banner {
  height: 125px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.banner .account {
  position: absolute;
  top: 77px;
  right: 10px;
  height: 38px;
}
.banner .account a:has(.profile_picture) {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 6px;
}
.banner .account a .profile_picture {
  width: 38px;
  height: 38px;
  padding: 2px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.banner .account a .profile_picture:hover {
  transform: scale(1.1);
}
.banner .account .user_name {
  margin-right: 6px;
  position: relative;
  top: -13px;
  text-decoration: none;
  color: #fff;
}
.banner .account .user_name:hover, .banner .account .user_name:active {
  text-decoration: underline;
}
.banner .account .logout {
  position: relative;
  top: -13px;
  text-decoration: none;
  color: #fff;
}
.banner .account .logout:hover, .banner .account .logout:active {
  text-decoration: underline;
}
.banner .no_account {
  position: absolute;
  top: 83.5px;
  right: 10px;
  height: 25px;
}
.banner .no_account .login {
  text-decoration: none;
  color: #fff;
}
.banner .no_account .login:hover, .banner .no_account .login:active {
  text-decoration: underline;
}
.banner .reviews_info {
  position: absolute;
  top: 83.5px;
  left: 10px;
  height: 25px;
  cursor: pointer;
}
.banner .reviews_info p {
  display: inline-block;
}
.banner .reviews_info img {
  width: 12px;
  height: 12px;
}

.header_container {
  height: calc(100vh - 125px);
  padding-bottom: 125px;
}

.buttons {
  width: 100%;
  height: 63px;
  text-align: center;
  animation: fade_in_animation 1s ease-out forwards;
}

.blob-btn.login_button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

.blob-btn.registration_button {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.blob-btn {
  text-decoration: none;
  display: inline-block;
  width: 225px;
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin: 0px 20px;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
  transition: transform 0.3s ease;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 1.5px;
  top: 1.5px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #fff;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 0px;
  width: 25%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

.blob-btn:hover,
.blob-btn:focus {
  transform: scale(1.1);
}

.content {
  font-family: Poppins, Arial, sans-serif;
  max-width: 900px;
  margin: 0px auto;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #999999;
  border-radius: 5px;
  text-align: justify;
}

.reviews {
  margin-top: 50px;
}
.reviews .write_review_form {
  max-width: 100%;
  margin-bottom: 50px;
  padding: 0px 0px;
  text-align: left;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  border: none;
}
.reviews .write_review_form .review {
  height: 142px;
}
.reviews .write_review_form .review .rating input {
  display: none;
}
.reviews .write_review_form .review textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 5px 10px;
  background: transparent;
  color: #fff;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid #fff;
  border-radius: 10px;
  outline: none;
  resize: none;
}
.reviews .write_review_form input[type=submit] {
  width: 178px;
  margin-top: 10px;
  background-color: #52cf20;
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
}
.reviews .write_review_form input[type=submit]:hover, .reviews .write_review_form input[type=submit]:focus {
  background-color: rgb(93.730125523, 222.129707113, 42.370292887);
  letter-spacing: 0px;
}
.reviews .all_reviews {
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reviews .all_reviews .one_review {
  width: 420px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #333333;
  transition: transform 0.3s ease;
}
.reviews .all_reviews .one_review:hover {
  transform: scale(1.05);
}
.reviews .all_reviews .one_review .reviewer .date {
  font-style: italic;
  color: #999999;
}
.reviews .all_reviews .one_review .review p {
  margin-top: 10px;
}
.reviews .all_reviews .one_review .review .edit_review {
  text-decoration: none;
  font-size: 0.9em;
  color: #999999;
}
.reviews .all_reviews .one_review .review .edit_review:hover, .reviews .all_reviews .one_review .review .edit_review:active {
  text-decoration: underline;
}
.reviews .write_review_form .reviewer, .reviews .all_reviews .reviewer {
  position: relative;
  height: 38px;
  text-align: left;
}
.reviews .write_review_form .reviewer .profile_picture, .reviews .all_reviews .reviewer .profile_picture {
  width: 38px;
  height: 38px;
  padding: 2px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.reviews .write_review_form .reviewer .full_name, .reviews .all_reviews .reviewer .full_name {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 48px;
}
.reviews .write_review_form .review .rating, .reviews .all_reviews .review .rating {
  height: 32px;
  margin-top: 10px;
}
.reviews .write_review_form .review .rating img:hover, .reviews .all_reviews .review .rating img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.contact_form {
  margin: 30px auto 40px;
}
.contact_form .message_container {
  position: relative;
}
.contact_form .message_container textarea {
  width: 90%;
  height: 100px;
  margin-top: 10px;
  padding: 5px 10px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  outline: none;
  resize: none;
  transition: width 0.3s ease;
}
.contact_form .message_container textarea:hover, .contact_form .message_container textarea:focus {
  width: 100%;
}
.contact_form .message_container textarea::-moz-placeholder {
  color: #999999;
}
.contact_form .message_container textarea::placeholder {
  color: #999999;
}
.contact_form .message_container .attachment {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 25px;
  border-radius: 0px 0px 10px 10px;
  transition: width 0.3s ease;
}
.contact_form .message_container .attachment p {
  font-size: 0.8em;
  line-height: 25px;
  color: #999999;
}
.contact_form .message_container .attachment i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4.5px;
  color: #999999;
}
.contact_form .message_container .attachment i:hover {
  color: #cccccc;
  cursor: pointer;
  transition: color 0.3s ease;
}
.contact_form .message_container .attachment #select_attachment {
  display: none;
}
.contact_form .message_container:has(textarea:hover) .attachment, .contact_form .message_container:has(textarea:focus) .attachment {
  width: 100%;
}

/**************
 Media Queries
**************/
@media (max-width: 920px) {
  .all_reviews .one_review {
    width: 100% !important;
  }
}
@media (max-width: 800px) {
  .banner {
    height: 109px;
  }
  .banner .account {
    top: 61px;
  }
  .banner .no_account, .banner .reviews_info {
    top: 67.5px;
  }
  .header_container {
    height: calc(100vh - 109px);
  }
}
@media (max-width: 600px) {
  .blob-btn {
    width: 80% !important;
    margin: 10px 0px !important;
  }
  .write_review_form input[type=submit] {
    width: 178px !important;
  }
  textarea {
    width: 100% !important;
  }
  .attachment {
    width: 100% !important;
  }
}/*# sourceMappingURL=homepage.css.map */