@import "../../../../static/css/partials/variables";

.login_methods div {
    position: relative;
    display: block;
    width: 90%;
    height: 50px;
    line-height: 50px;
    margin: 10px auto;
    background-color: transparentize($secondary-color, 0.1);
    border: 1px solid $main-color;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease;

    &:hover {
        background-color: transparentize($main-color, 0.5);
        border: 1px solid $secondary-color;
        transform: scale(1.1);
        letter-spacing: 1px;
        cursor: pointer;
    }

    a {
        display: block;
        color: $main-color;
        text-decoration: none;
        width: 100%;
        height: 100%;

        &:hover, &:active {
            color: $secondary-color;
        }

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 8px;
        }
    }
}