@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

/************
 Main Styles
************/

// Login Form

.login_form {
    @include animated_border;
    max-width: 500px;
    margin: 0px auto;
    padding: 30px 50px 50px;
    text-align: center;
    border-radius: $medium-border-radius;

    h2 {
        margin-bottom: 30px;
        transition: letter-spacing 0.3s ease;

        &:hover {
            letter-spacing: 1px;
            cursor: pointer;
        }

        a {
            font-size: 1em;
            text-decoration: none;
            color: $secondary-color;
        }
    }

    .back {
        position: absolute;
        top: 42px;
        left: 50px;
        width: 32px;
        height: 32px;
        z-index: 100;

        img {
            width: 32px;
            height: 32px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    input[type="text"], input[type="email"] {
        @include form_input;
    }

    .password_container {
        position: relative;

        &:has(.password:hover) .fa-eye, &:has(.password:focus) .fa-eye,
        &:has(.password:hover) .fa-eye-slash, &:has(.password:focus) .fa-eye-slash {
            right: 0px;
        }

        .password {
            padding-right: 28px !important;
            -webkit-text-security: disc;
        }

        .fa-eye, .fa-eye-slash {
            @include icon;
            display: block;
            position: absolute;
            bottom: 10px;
            right: 20px;
            padding: 19px 0px 16px;
        }
    }

    .form_report {
        @include form_report;
    }

    input[type="submit"] {
        @include blue_button;
        position: relative;
        margin-top: 40px;
        z-index: 100;
    }

    .login_methods div {
        @include blue_button;
        position: relative;
        margin: 10px auto;
        line-height: 50px;
        z-index: 100;

        a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $secondary-color;

            img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 8px;
            }
        }
    }

    .form_questions {
        margin-top: 10px;

        a {
            position: relative;
            color: $secondary-color;
            text-decoration: none;
            z-index: 100;

            &:hover,
            &:active {
                text-decoration: underline;
            }
        }
    }
}

/**************
 Media Queries
**************/

@media (width <= 600px) {
    .login_form {
        input[type="text"], input[type="email"], input[type="submit"] {
            width: 100% !important;
        }

        .password_container .fa-eye,
        .password_container .fa-eye-slash {
            right: 0px !important;
        }

        .login_methods div {
            width: 100% !important;
        }
    }
}