@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

.no_logged_in {
    @include flex_center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: calc(100vh);
    backdrop-filter: blur(2px);
    background-color: transparentize($main-color, 0.5);
    z-index: 1000;

    p {
        text-align: center;

        a {
            color: $secondary-color;
            text-decoration: none;
            font-size: 0.9em;
            font-style: italic;

            &:hover,
            &:active,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    background-color: transparentize($main-color, 0.2);
    border-radius: 0px $big-border-radius $big-border-radius 0px;
    z-index: 500;

    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;

        li {
            display: flex;
            align-items: center;

            a {
                @include flex_center;
                width: 40px;
                height: 40px;
                border: 1px solid $blue-color;
                border-radius: 50%;
                text-decoration: none;
                transition: transform 0.2s ease, background-color 0.2s ease;

                &.active {
                    background-color: $blue-color;

                    i {
                        color: $secondary-color;
                    }
                }

                &:hover,
                &:focus {
                    transform: scale(1.1);
                    background-color: $blue-color;

                    i {
                        color: $secondary-color;
                    }
                }

                i {
                    color: $blue-color;
                    font-size: 1.2em;
                    transition: color 0.2s ease;
                }
            }

            .label {
                pointer-events: none;
                position: absolute;
                transform: translateX(calc(-100% + 55px));
                opacity: 0;
                transition: transform 0.2s ease, opacity 0.2s ease;

                &.show {
                    opacity: 1;
                    transform: translateX(55px);
                }
            }
        }
    }
}

.first_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0px 10px;

    .top {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 500px;
        width: 100%;
        min-height: calc(100vh - 125px);

        // New Training Plan, Edit Training Plan

        .new_training_plan,
        .edit_training_plan {
            @include flex_center($direction: column);

            &.hidden {
                display: none;
            }

            .additional_info {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 10px;

                .title {
                    @include form_input;
                    max-width: calc(50% - 5px);
                    width: 100%;
                    margin: 0px;

                    &.error_animation {
                        animation: trainingTitleError 0.2s linear 3;
                    }
                }

                // Custom Select Menu

                .day_select_menu {
                    position: relative;
                    max-width: calc(50% - 5px);
                    width: 100%;
                    cursor: pointer;

                    .select {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        height: 50px;
                        padding: 0px 10px;
                        background: transparent;
                        color: $secondary-color;
                        border-bottom: 1px solid transparentize($blue-color, 0.5);
                        transition: border 0.3s ease;

                        &:hover {
                            border-color: $blue-color;

                            .fa-angle-down {
                                color: $blue-color;
                            }
                        }

                        span {
                            margin-left: 5px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .fa-angle-down {
                            color: transparentize($blue-color, 0.5);
                            transition: color 0.3s ease,
                        }
                    }

                    .options_list {
                        interpolate-size: allow-keywords;
                        position: absolute;
                        width: 100%;
                        height: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                        text-align: left;
                        padding: 0px 15px;
                        color: $secondary-color;
                        background-color: transparentize($main-color, 0.2);
                        border-radius: 0px 0px 5px 5px;
                        overflow: hidden;
                        transition: height 0.3s ease;
                        z-index: 200;

                        &.active {
                            height: auto;
                        }

                        .option {
                            padding: 5px 0px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            transition: color 0.3s ease;

                            &:hover,
                            &.selected {
                                color: $blue-color !important;
                            }

                            i {
                                width: 1em;
                                margin-right: 10px;
                                color: $blue-color;
                            }
                        }
                    }

                    &:has(.select:hover) .options_list {
                        width: 100%;
                    }
                }
            }

            .training_plan {
                @include animated_border;
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 250px;
                border-radius: $small-border-radius;
                overflow: hidden;

                &.animate {
                    animation: trainingPlanDrag 1s infinite alternate;
                }

                .drop_zone {
                    @include flex_center($direction: column);
                    gap: 10px;
                    height: 100%;
                    z-index: 100;

                    &:not(.active) {
                        display: none;
                    }

                    &:hover {
                        cursor: pointer;

                        .fa-compress {
                            transform: scale(1.1);
                        }
                    }

                    .fa-compress {
                        font-size: 2.5em;
                        transition: transform 0.3s ease;

                        &.error_animation {
                            animation: trainingPlanError 0.2s linear 3;
                        }
                    }
                }

                .exercise {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    height: 230px;
                    padding: 10px;
                    transition: transform 0.5s ease;
                    cursor: move;
                    z-index: 100;

                    &:not(.active) {
                        position: absolute;
                        top: 0px;
                        transform: translateX(100%);
                    }

                    .title_input {
                        max-width: 400px;
                        width: 100%;
                        text-align: center;
                        background: none;
                        border: none;
                        outline: none;
                        color: $secondary-color;
                        font-family: $article-heading-font;
                        font-size: 2em;

                        &::placeholder {
                            color: darken($secondary-color, 40%);
                        }
                    }

                    .title {
                        font-family: $article-heading-font;
                        font-size: 2em;
                        text-align: center;
                    }

                    .labels {
                        @include flex_center;
                        max-width: 400px;
                        width: 100%;
                        margin: 10px 0px 5px;

                        // Custom Select Menu

                        .unit_select_menu {
                            position: relative;
                            width: 100%;
                            cursor: pointer;

                            .select {
                                @include flex_center;
                                gap: 10px;
                                width: 100%;
                                margin: 0px auto;
                                background: transparent;
                                color: $secondary-color;

                                &:hover {
                                    .fa-angle-down {
                                        color: $article-color;
                                    }
                                }

                                span {
                                    margin-left: 5px;
                                }

                                .fa-angle-down {
                                    color: darken($secondary-color, 10%);
                                    transition: color 0.3s ease,
                                }
                            }

                            .options_list {
                                interpolate-size: allow-keywords;
                                position: absolute;
                                width: 100%;
                                height: 0px;
                                left: 50%;
                                transform: translateX(-50%);
                                text-align: left;
                                padding: 0px 15px;
                                color: $secondary-color;
                                background-color: transparentize($main-color, 0.2);
                                border-radius: 0px 0px 5px 5px;
                                overflow: hidden;
                                transition: height 0.3s ease;
                                z-index: 100;

                                &.active {
                                    height: auto;
                                }

                                .option {
                                    padding: 5px 0px;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    transition: color 0.3s ease;

                                    &:hover,
                                    &.selected {
                                        color: $article-color !important;
                                    }

                                    i {
                                        width: 1em;
                                        margin-right: 10px;
                                        color: $article-color;
                                    }
                                }
                            }

                            &:has(.select:hover) .options_list {
                                width: 100%;
                            }
                        }

                        p {
                            width: 100%;
                            text-align: center;
                            line-height: 15px;
                        }
                    }

                    .add_period {
                        @include blue_button($width: 100%);
                        max-width: 400px;
                        height: 40px;
                        margin-bottom: 10px;
                        flex-shrink: 0;
                    }

                    .periods_container {
                        display: flex;
                        flex-direction: column;
                        max-width: 400px;
                        width: 100%;
                        overflow-x: hidden;
                        overflow-y: auto;

                        &::-webkit-scrollbar {
                            width: 5px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: darken($secondary-color, 40%);
                            border-radius: 2.5px;

                            &:hover {
                                background-color: darken($secondary-color, 20%);
                                cursor: pointer;
                            }
                        }

                        &::-webkit-scrollbar-track {
                            background-color: lighten($main-color, 20%);
                            border-radius: 2.5px;
                        }

                        .period_selection {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            gap: 5px;
                            margin-top: 5px;

                            &:first-child {
                                margin-top: 0px;
                            }

                            .reps_container,
                            .sets_container {
                                display: flex;
                                width: 100%;
                                border: 1px solid transparentize($blue-color, 0.5);
                                border-radius: calc(35px / 2);

                                .decrease_reps,
                                .increase_reps,
                                .decrease_sets,
                                .increase_sets {
                                    width: 30px;
                                    background: none;
                                    color: $secondary-color;
                                    border: none;
                                    outline: none;
                                    cursor: pointer;

                                    i {
                                        pointer-events: none;
                                        width: inherit;
                                    }
                                }

                                .reps,
                                .sets {
                                    width: calc(100% - 30px - 30px);
                                    height: 35px;
                                    text-align: center;
                                    background: none;
                                    color: $secondary-color;
                                    border: none;
                                    outline: none;

                                    &::-webkit-inner-spin-button,
                                    &::-webkit-outer-spin-button {
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        appearance: none;
                                    }
                                }

                                .reps {
                                    visibility: hidden;
                                }
                            }

                            .reps_container {
                                position: relative;

                                .to_failure,
                                .time {
                                    @include position_center;
                                    width: calc(100% - 30px - 30px);
                                    height: 100%;
                                    line-height: 35px;
                                    font-size: 0.9em;
                                    text-align: center;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }

                                .time {
                                    visibility: hidden;
                                }
                            }
                        }
                    }

                    // Warm Up Timer

                    .timer_container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        margin-top: 29px;
                        padding: 0px 40px;

                        .add_time,
                        .subtract_time {
                            @include blue_button($width: 50px);
                            position: relative;

                            .fa-plus,
                            .fa-minus {
                                pointer-events: none;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                font-size: 30px;
                                color: $blue-color;
                            }
                        }

                        .timer {
                            position: relative;
                            width: 100px;
                            height: 100px;
                            border-radius: 50px;

                            svg {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: rotate(-90deg) translate(50%, -50%);

                                .progress_background {
                                    fill: none;
                                    stroke: darken($secondary-color, 40%);
                                    stroke-width: 3;
                                    stroke-dasharray: 2 4;
                                }
                            }

                            .countdown {
                                @include position_center;
                                font-family: $timer-font;
                                font-size: 1.2em;
                            }
                        }
                    }
                }

                .bar_container {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 10px;
                    margin: 0px 10px 10px;
                    z-index: 100;

                    .bar {
                        position: relative;
                        width: 100%;
                        height: 10px;
                        border: 1px solid transparentize($secondary-color, 0.8);
                        border-radius: calc(10px / 2);
                        
                        &.animate:not(&.active) {
                            animation: barDrag 1s infinite alternate;
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            border-radius: inherit;
                            transition: background-color 0.3s ease;
                        }

                        &.active,
                        &:hover {
                            cursor: pointer;

                            &.animate {
                                &:before {
                                    animation: barDrag 1s infinite alternate;
                                }
                            }

                            &:before {
                                width: 100%;
                                background-color: $success-color;
                                box-shadow: 0px 0px 10px $success-color;
                            }
                        }
                    }
                }
            }

            .save {
                @include blue_button($width: 100%);
                border-color: $blue-color;
                line-height: 15px;
            }
        }

        .new_training_plan {
            .save {
                margin-top: 10px;
            }
        }

        .edit_training_plan {
            .training_plan {
                &.blur {
                    animation: blur 0.3s ease-out;
                }
            }

            .training_plan_bar_container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 10px;
                width: 100%;
                margin: 10px 0px;

                .bar {
                    width: 100%;
                    height: 10px;
                    border: 1px solid transparentize($blue-color, 0.5);
                    border-radius: calc(10px / 2);
                    transition: background-color 0.3s ease;

                    &.active,
                    &:hover {
                        cursor: pointer;
                        background-color: $blue-color;
                        box-shadow: 0px 0px 10px $blue-color;
                    }
                }
            }

            .buttons {
                display: flex;
                flex-direction: row;
                gap: 10px;
                width: 100%;
                margin-top: 10px;

                .delete {
                    @include blue_button($width: 100%);
                }
            }
        }
    }

    // Exercise Selection

    .exercise_selection {
        @include flex_center($direction: column);
        max-width: 500px;
        width: 100%;
        min-height: 500px;
    
        .search_bar_menu {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
    
            .fa-magnifying-glass {
                position: absolute;
                top: 50%;
                left: 8.5px;
                transform: translateY(-50%);
                font-size: 20px;
                color: darken($secondary-color, 10%);
                transition: color 0.3s ease;
                z-index: 50;
            }
    
            .fa-xmark {
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translateY(-50%);
                padding: 9px 8.5px 9px 0px;
                font-size: 20px;
                color: darken($secondary-color, 10%);
                transition: color 0.3s ease;
                z-index: 50;
    
                &:hover {
                    color: $secondary-color;
                    cursor: pointer;
                }
            }
    
            .search_bar {
                width: 100%;
                height: 40px;
                background-color: transparentize($main-color, 0.9);
                backdrop-filter: blur(5px);
                color: $secondary-color;
                border: none;
                border: 2px solid $blue-color;
                border-radius: $small-border-radius;
                text-align: center;
                outline: none;
                font-size: 1.2em;
                transition: border 0.3s ease;
                z-index: 50;
    
                &:hover,
                &:focus {
                    border-color: lighten($blue-color, 2%);
                }
    
                &::placeholder {
                    color: darken($secondary-color, 20%);
                }
            }
    
            &:has(.search_bar:hover) .fa-magnifying-glass, &:has(.search_bar:focus) .fa-magnifying-glass {
                color: $secondary-color;
            }
        }
    
        .exercises {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            gap: 10px;
            width: 100%;
            max-height: 440px;
            margin: 0px auto;
            padding-right: 5px;
            text-align: center;
            overflow-x: hidden;
            overflow-y: auto;
    
            &::-webkit-scrollbar {
                width: 5px;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: darken($secondary-color, 40%);
                border-radius: 2.5px;
    
                &:hover {
                    background-color: darken($secondary-color, 20%);
                    cursor: pointer;
                }
            }
    
            &::-webkit-scrollbar-track {
                background-color: lighten($main-color, 20%);
                border-radius: 2.5px;
            }
    
            .custom_exercise,
            .warm_up {
                &:hover {
                    .fa-plus,
                    .fa-dumbbell {
                        filter: blur(2px);
                    }
                }
    
                .fa-plus,
                .fa-dumbbell {
                    font-size: 2.5em;
                    transition: filter 0.3s ease;
                }
            }
    
            .exercise {
                @include flex_center;
                position: relative;
                aspect-ratio: 1 / 1;
                padding: 10px;
                background-color: transparentize($secondary-color, 0.95);
                box-shadow: 0px 0px 5px 0px $blue-color;
                border: 1px solid $blue-color;
                border-radius: $small-border-radius;
                cursor: move;
                overflow-x: hidden;
                overflow-y: auto;
                transition: border 0.3s ease;
    
                &::-webkit-scrollbar {
                    width: 5px;
                }
    
                &::-webkit-scrollbar-thumb {
                    background-color: darken($secondary-color, 40%);
                    border-radius: 2.5px;
    
                    &:hover {
                        background-color: darken($secondary-color, 20%);
                        cursor: pointer;
                    }
                }
    
                &::-webkit-scrollbar-track {
                    background-color: lighten($main-color, 20%);
                    border-radius: 2.5px;
                }
    
                &.hidden {
                    display: none !important;
                }
    
                &:hover, 
                &:focus {
                    border-color: lighten($blue-color, 2%);
                    outline: none;
    
                    .name {
                        filter: blur(2px);
                    }
    
                    .weight_selection {
                        @include position_center;
                        @include flex_center($direction: column);
                        width: 100%;
                        height: 100%;
                        
                        .decrease_weight, 
                        .increase_weight {
                            background: none;
                            color: $secondary-color;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            
                            i {
                                pointer-events: none;
                                font-size: 1.2em;
                            }
                        }
    
                        .weight {
                            font-size: 2em;
                            cursor: default;
    
                            span {
                                font-size: inherit;
                            }
                        }
                    }
                }
    
                .name {
                    transition: filter 0.3s ease;
                }
                
                .weight_selection {
                    display: none;
                }
            }
        }
    }

    .training_plan_selection {
        display: flex;
    }
}

/***********
 Key Frames
***********/

@keyframes blur {
    0% {
        filter: blur(5px);
        opacity: 0.5;
        background-color: $blue-color;
    }
}

@keyframes trainingPlanDrag {
    100% {
        background-color: transparentize($secondary-color, 0.85);
        filter: blur(1px);
    }
}

@keyframes barDrag {
    0% {
        background-color: $success-color;
    }

    100% {
        background-color: rgb(255, 207, 32);
    }
}

@keyframes trainingPlanError {
    0% {
        color: $secondary-color;
    }

    100% {
        color: $error-color;
    }
}

@keyframes trainingTitleError {
    0% {
        border-bottom: 1px solid darken($secondary-color, 40%);
    }

    100% {
        border-bottom: 1px solid $error-color;
    }
}

/**************
 Media Queries
**************/

@media (width <= 1060px) {
    .first_section {
        flex-direction: column;

        .top {
            justify-content: center;
        }

        .exercise_selection {
            max-width: 800px;

            .search_bar_menu {
                margin-bottom: 10px;
            }
    
            .exercises {
                max-height: 450px;
            }
        }
    }
}

@media (width <= 400px) {
    .first_section {
        .top {
            justify-content: flex-start;

            .new_training_plan,
            .edit_training_plan {
                .training_plan {
                    justify-content: space-between;
                    height: calc(100vh - 50px - 10px - 125px - 10px);

                    .exercise {
                        height: calc(100% - 20px);
                        
                        // Warm Up Timer
                        
                        .timer_container {
                            height: 100%;
                            margin-top: 0px;
                            padding: 0px;
                        }
                    }
                }
            }
        }
    }
}