.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: calc(100vh - 67px);
}

.training_plan_container,
.all_training_plans_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.training_plan_container .additional_info,
.all_training_plans_container .additional_info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 500px;
  margin-bottom: 10px;
}
.training_plan_container .additional_info .title,
.all_training_plans_container .additional_info .title {
  width: 245px;
  height: 50px;
  padding: 0px 10px;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #999999;
  outline: none;
  transition: border 0.3s ease;
}
.training_plan_container .additional_info .title.error_animation,
.all_training_plans_container .additional_info .title.error_animation {
  animation: training_title_error_animation 0.2s linear 3;
}
.training_plan_container .additional_info .title:hover, .training_plan_container .additional_info .title:focus,
.all_training_plans_container .additional_info .title:hover,
.all_training_plans_container .additional_info .title:focus {
  border-bottom: 1px solid #cccccc;
}
.training_plan_container .additional_info .title::-moz-placeholder, .all_training_plans_container .additional_info .title::-moz-placeholder {
  color: #999999;
}
.training_plan_container .additional_info .title::placeholder,
.all_training_plans_container .additional_info .title::placeholder {
  color: #999999;
}
.training_plan_container .additional_info .title:-webkit-autofill,
.all_training_plans_container .additional_info .title:-webkit-autofill {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-transition: width 0.3s ease, background-color 9999s ease;
  transition: width 0.3s ease, background-color 9999s ease;
}
.training_plan_container .additional_info .title:-webkit-autofill:hover, .training_plan_container .additional_info .title:-webkit-autofill:focus,
.all_training_plans_container .additional_info .title:-webkit-autofill:hover,
.all_training_plans_container .additional_info .title:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-transition: width 0.3s ease, background-color 9999s ease;
  transition: width 0.3s ease, background-color 9999s ease;
}
.training_plan_container .additional_info .day_select_menu,
.all_training_plans_container .additional_info .day_select_menu {
  position: relative;
  width: 245px;
  cursor: pointer;
}
.training_plan_container .additional_info .day_select_menu .select,
.all_training_plans_container .additional_info .day_select_menu .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin: 0px auto;
  padding: 0px 10px;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #999999;
  transition: border 0.3s ease;
}
.training_plan_container .additional_info .day_select_menu .select:hover,
.all_training_plans_container .additional_info .day_select_menu .select:hover {
  border-bottom: 1px solid #cccccc;
}
.training_plan_container .additional_info .day_select_menu .select:hover .fa-angle-down,
.all_training_plans_container .additional_info .day_select_menu .select:hover .fa-angle-down {
  color: #ebb914;
}
.training_plan_container .additional_info .day_select_menu .select span,
.all_training_plans_container .additional_info .day_select_menu .select span {
  margin-left: 5px;
}
.training_plan_container .additional_info .day_select_menu .select .fa-angle-down,
.all_training_plans_container .additional_info .day_select_menu .select .fa-angle-down {
  color: rgb(229.5, 229.5, 229.5);
  transition: color 0.3s ease;
}
.training_plan_container .additional_info .day_select_menu .options_list,
.all_training_plans_container .additional_info .day_select_menu .options_list {
  interpolate-size: allow-keywords;
  position: absolute;
  width: 100%;
  height: 0px;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  padding: 0px 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  transition: height 0.3s ease;
  z-index: 100;
}
.training_plan_container .additional_info .day_select_menu .options_list.active,
.all_training_plans_container .additional_info .day_select_menu .options_list.active {
  height: auto;
}
.training_plan_container .additional_info .day_select_menu .options_list .option,
.all_training_plans_container .additional_info .day_select_menu .options_list .option {
  padding: 5px 0px;
  transition: color 0.3s ease;
}
.training_plan_container .additional_info .day_select_menu .options_list .option:hover, .training_plan_container .additional_info .day_select_menu .options_list .option.selected,
.all_training_plans_container .additional_info .day_select_menu .options_list .option:hover,
.all_training_plans_container .additional_info .day_select_menu .options_list .option.selected {
  color: #ebb914 !important;
}
.training_plan_container .additional_info .day_select_menu .options_list .option i,
.all_training_plans_container .additional_info .day_select_menu .options_list .option i {
  width: 1em;
  margin-right: 10px;
  color: #ebb914;
}
.training_plan_container .additional_info .day_select_menu:has(.select:hover) .options_list,
.all_training_plans_container .additional_info .day_select_menu:has(.select:hover) .options_list {
  width: 100%;
}
.training_plan_container .training_plan,
.all_training_plans_container .training_plan {
  position: relative;
  max-width: 500px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #fff;
  border-radius: 5px;
  overflow: hidden;
}
.training_plan_container .training_plan.animate,
.all_training_plans_container .training_plan.animate {
  animation: training_plan_drag_animation 1s infinite alternate;
}
.training_plan_container .training_plan .add_exercise,
.all_training_plans_container .training_plan .add_exercise {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 185px;
}
.training_plan_container .training_plan .add_exercise:not(.active),
.all_training_plans_container .training_plan .add_exercise:not(.active) {
  display: none;
}
.training_plan_container .training_plan .add_exercise .fa-compress,
.all_training_plans_container .training_plan .add_exercise .fa-compress {
  font-size: 2.5em;
}
.training_plan_container .training_plan .add_exercise .fa-compress.error_animation,
.all_training_plans_container .training_plan .add_exercise .fa-compress.error_animation {
  animation: training_plan_error_animation 0.2s linear 3;
}
.training_plan_container .training_plan .exercise,
.all_training_plans_container .training_plan .exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 185px;
  padding: 10px;
  transition: transform 0.5s ease;
  cursor: move;
}
.training_plan_container .training_plan .exercise:not(.active),
.all_training_plans_container .training_plan .exercise:not(.active) {
  position: absolute;
  top: 0px;
  transform: translateX(100%);
}
.training_plan_container .training_plan .exercise .title_input,
.all_training_plans_container .training_plan .exercise .title_input {
  width: 400px;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 2em;
}
.training_plan_container .training_plan .exercise .title_input::-moz-placeholder, .all_training_plans_container .training_plan .exercise .title_input::-moz-placeholder {
  color: #999999;
}
.training_plan_container .training_plan .exercise .title_input::placeholder,
.all_training_plans_container .training_plan .exercise .title_input::placeholder {
  color: #999999;
}
.training_plan_container .training_plan .exercise .title,
.all_training_plans_container .training_plan .exercise .title {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 2em;
}
.training_plan_container .training_plan .exercise .labels,
.all_training_plans_container .training_plan .exercise .labels {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin-bottom: 5px;
}
.training_plan_container .training_plan .exercise .labels .unit_select_menu,
.all_training_plans_container .training_plan .exercise .labels .unit_select_menu {
  position: relative;
  width: 100%;
  cursor: pointer;
}
.training_plan_container .training_plan .exercise .labels .unit_select_menu .select,
.all_training_plans_container .training_plan .exercise .labels .unit_select_menu .select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 0px auto;
  background: transparent;
  color: #fff;
}
.training_plan_container .training_plan .exercise .labels .unit_select_menu .select:hover .fa-angle-down,
.all_training_plans_container .training_plan .exercise .labels .unit_select_menu .select:hover .fa-angle-down {
  color: #ebb914;
}
.training_plan_container .training_plan .exercise .labels .unit_select_menu .select span,
.all_training_plans_container .training_plan .exercise .labels .unit_select_menu .select span {
  margin-left: 5px;
}
.training_plan_container .training_plan .exercise .labels .unit_select_menu .select .fa-angle-down,
.all_training_plans_container .training_plan .exercise .labels .unit_select_menu .select .fa-angle-down {
  color: rgb(229.5, 229.5, 229.5);
  transition: color 0.3s ease;
}
.training_plan_container .training_plan .exercise .labels .unit_select_menu .options_list,
.all_training_plans_container .training_plan .exercise .labels .unit_select_menu .options_list {
  interpolate-size: allow-keywords;
  position: absolute;
  width: 100%;
  height: 0px;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  padding: 0px 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  transition: height 0.3s ease;
  z-index: 100;
}
.training_plan_container .training_plan .exercise .labels .unit_select_menu .options_list.active,
.all_training_plans_container .training_plan .exercise .labels .unit_select_menu .options_list.active {
  height: auto;
}
.training_plan_container .training_plan .exercise .labels .unit_select_menu .options_list .option,
.all_training_plans_container .training_plan .exercise .labels .unit_select_menu .options_list .option {
  padding: 5px 0px;
  transition: color 0.3s ease;
}
.training_plan_container .training_plan .exercise .labels .unit_select_menu .options_list .option:hover, .training_plan_container .training_plan .exercise .labels .unit_select_menu .options_list .option.selected,
.all_training_plans_container .training_plan .exercise .labels .unit_select_menu .options_list .option:hover,
.all_training_plans_container .training_plan .exercise .labels .unit_select_menu .options_list .option.selected {
  color: #ebb914 !important;
}
.training_plan_container .training_plan .exercise .labels .unit_select_menu .options_list .option i,
.all_training_plans_container .training_plan .exercise .labels .unit_select_menu .options_list .option i {
  width: 1em;
  margin-right: 10px;
  color: #ebb914;
}
.training_plan_container .training_plan .exercise .labels .unit_select_menu:has(.select:hover) .options_list,
.all_training_plans_container .training_plan .exercise .labels .unit_select_menu:has(.select:hover) .options_list {
  width: 100%;
}
.training_plan_container .training_plan .exercise .labels p,
.all_training_plans_container .training_plan .exercise .labels p {
  width: 100%;
  text-align: center;
}
.training_plan_container .training_plan .exercise .add_period,
.all_training_plans_container .training_plan .exercise .add_period {
  width: 400px;
  height: 35px;
  margin-bottom: 10px;
  flex-shrink: 0;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.training_plan_container .training_plan .exercise .periods_container,
.all_training_plans_container .training_plan .exercise .periods_container {
  display: flex;
  flex-direction: column;
  width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
.training_plan_container .training_plan .exercise .periods_container::-webkit-scrollbar,
.all_training_plans_container .training_plan .exercise .periods_container::-webkit-scrollbar {
  width: 5px;
}
.training_plan_container .training_plan .exercise .periods_container::-webkit-scrollbar-thumb,
.all_training_plans_container .training_plan .exercise .periods_container::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 2.5px;
}
.training_plan_container .training_plan .exercise .periods_container::-webkit-scrollbar-thumb:hover,
.all_training_plans_container .training_plan .exercise .periods_container::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
  cursor: pointer;
}
.training_plan_container .training_plan .exercise .periods_container::-webkit-scrollbar-track,
.all_training_plans_container .training_plan .exercise .periods_container::-webkit-scrollbar-track {
  background-color: #333333;
  border-radius: 2.5px;
}
.training_plan_container .training_plan .exercise .periods_container .period_selection,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
}
.training_plan_container .training_plan .exercise .periods_container .period_selection:first-child,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection:first-child {
  margin-top: 0px;
}
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container, .training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container {
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
}
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .decrease_reps,
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .increase_reps,
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .decrease_sets,
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .increase_sets, .training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .decrease_reps,
.training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .increase_reps,
.training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .decrease_sets,
.training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .increase_sets,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .decrease_reps,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .increase_reps,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .decrease_sets,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .increase_sets,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .decrease_reps,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .increase_reps,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .decrease_sets,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .increase_sets {
  width: 30px;
  background: none;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .decrease_reps i,
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .increase_reps i,
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .decrease_sets i,
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .increase_sets i, .training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .decrease_reps i,
.training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .increase_reps i,
.training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .decrease_sets i,
.training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .increase_sets i,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .decrease_reps i,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .increase_reps i,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .decrease_sets i,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .increase_sets i,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .decrease_reps i,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .increase_reps i,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .decrease_sets i,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .increase_sets i {
  pointer-events: none;
}
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .reps,
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .sets, .training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .reps,
.training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .sets,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .reps,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .sets,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .reps,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .sets {
  width: 128px;
  height: 30px;
  text-align: center;
  background: none;
  color: #fff;
  border: none;
  outline: none;
}
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .reps::-webkit-inner-spin-button, .training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .reps::-webkit-outer-spin-button,
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .sets::-webkit-inner-spin-button,
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .sets::-webkit-outer-spin-button, .training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .reps::-webkit-inner-spin-button, .training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .reps::-webkit-outer-spin-button,
.training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .sets::-webkit-inner-spin-button,
.training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .sets::-webkit-outer-spin-button,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .reps::-webkit-inner-spin-button,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .reps::-webkit-outer-spin-button,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .sets::-webkit-inner-spin-button,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .sets::-webkit-outer-spin-button,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .reps::-webkit-inner-spin-button,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .reps::-webkit-outer-spin-button,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .sets::-webkit-inner-spin-button,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .sets::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .reps, .training_plan_container .training_plan .exercise .periods_container .period_selection .sets_container .reps,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .reps,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .sets_container .reps {
  visibility: hidden;
}
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container {
  position: relative;
  margin-right: 5px;
}
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .to_failure, .training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .time,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .to_failure,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  line-height: 30px;
}
.training_plan_container .training_plan .exercise .periods_container .period_selection .reps_container .time,
.all_training_plans_container .training_plan .exercise .periods_container .period_selection .reps_container .time {
  visibility: hidden;
}
.training_plan_container .training_plan .bar_container,
.all_training_plans_container .training_plan .bar_container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 0px 10px 10px;
}
.training_plan_container .training_plan .bar_container .bar,
.all_training_plans_container .training_plan .bar_container .bar {
  position: relative;
  width: 100%;
  height: 10px;
  border: 1px solid rgba(82, 207, 32, 0.5);
  border-radius: 5px;
}
.training_plan_container .training_plan .bar_container .bar.animate:not(.training_plan_container .training_plan .bar_container .bar.active,
.all_training_plans_container .training_plan .bar_container .bar.active),
.all_training_plans_container .training_plan .bar_container .bar.animate:not(.training_plan_container .training_plan .bar_container .bar.active,
.all_training_plans_container .training_plan .bar_container .bar.active) {
  animation: bar_drag_animation 1s infinite alternate;
}
.training_plan_container .training_plan .bar_container .bar:before,
.all_training_plans_container .training_plan .bar_container .bar:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: background-color 0.3s ease;
}
.training_plan_container .training_plan .bar_container .bar.active, .training_plan_container .training_plan .bar_container .bar:hover,
.all_training_plans_container .training_plan .bar_container .bar.active,
.all_training_plans_container .training_plan .bar_container .bar:hover {
  cursor: pointer;
}
.training_plan_container .training_plan .bar_container .bar.active.animate:before, .training_plan_container .training_plan .bar_container .bar:hover.animate:before,
.all_training_plans_container .training_plan .bar_container .bar.active.animate:before,
.all_training_plans_container .training_plan .bar_container .bar:hover.animate:before {
  animation: bar_drag_animation 1s infinite alternate;
}
.training_plan_container .training_plan .bar_container .bar.active:before, .training_plan_container .training_plan .bar_container .bar:hover:before,
.all_training_plans_container .training_plan .bar_container .bar.active:before,
.all_training_plans_container .training_plan .bar_container .bar:hover:before {
  width: 100%;
  background-color: #52cf20;
  box-shadow: 0px 0px 10px #52cf20;
}
.training_plan_container .save,
.all_training_plans_container .save {
  max-width: 500px;
  width: 100%;
  text-align: center;
  height: 50px;
  outline: none;
  background-color: #52cf20;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease;
}
.training_plan_container .save:hover, .training_plan_container .save:focus,
.all_training_plans_container .save:hover,
.all_training_plans_container .save:focus {
  background-color: rgb(110.4811715481, 225.5439330544, 64.4560669456);
  transform: scale(1.05);
  letter-spacing: 1px;
  cursor: pointer;
}

.training_plan_container .save {
  margin-top: 10px;
}

.all_training_plans_container .training_plan.blur {
  animation: blur_animation 0.3s ease-out;
}
.all_training_plans_container .training_plan_bar_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin: 10px 0px;
}
.all_training_plans_container .training_plan_bar_container .bar {
  width: 100%;
  height: 10px;
  border: 1px solid rgba(75, 75, 250, 0.5);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.all_training_plans_container .training_plan_bar_container .bar.active, .all_training_plans_container .training_plan_bar_container .bar:hover {
  cursor: pointer;
  background-color: #4b4bfa;
  box-shadow: 0px 0px 10px #4b4bfa;
}

.exercises_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
.exercises_container .search_bar_menu {
  position: relative;
  margin-bottom: 20px;
}
.exercises_container .search_bar_menu .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 8.5px;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgb(229.5, 229.5, 229.5);
  transition: color 0.3s ease;
  z-index: 50;
}
.exercises_container .search_bar_menu .fa-xmark {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  padding: 9px 8.5px 9px 0px;
  font-size: 20px;
  color: rgb(229.5, 229.5, 229.5);
  transition: color 0.3s ease;
  z-index: 50;
}
.exercises_container .search_bar_menu .fa-xmark:hover {
  color: #fff;
  cursor: pointer;
}
.exercises_container .search_bar_menu .search_bar {
  width: 500px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #fff;
  border: none;
  border: 2px solid rgb(229.5, 229.5, 229.5);
  border-radius: 5px;
  text-align: center;
  outline: none;
  font-size: 1.2em;
  transition: width 0.3s ease, border 0.3s ease;
  z-index: 50;
}
.exercises_container .search_bar_menu .search_bar:hover, .exercises_container .search_bar_menu .search_bar:focus {
  width: 520px;
  border-color: #fff !important;
}
.exercises_container .search_bar_menu .search_bar::-moz-placeholder {
  color: #cccccc;
}
.exercises_container .search_bar_menu .search_bar::placeholder {
  color: #cccccc;
}
.exercises_container .search_bar_menu:has(.search_bar:hover) .fa-magnifying-glass, .exercises_container .search_bar_menu:has(.search_bar:focus) .fa-magnifying-glass {
  color: #fff;
}
.exercises_container .exercises {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  max-width: 500px;
  width: 100%;
  max-height: 440px;
  margin: 0px auto;
  padding-right: 5px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.exercises_container .exercises::-webkit-scrollbar {
  width: 5px;
}
.exercises_container .exercises::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 2.5px;
}
.exercises_container .exercises::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
  cursor: pointer;
}
.exercises_container .exercises::-webkit-scrollbar-track {
  background-color: #333333;
  border-radius: 2.5px;
}
.exercises_container .exercises .custom_exercise:hover .fa-plus {
  filter: blur(2px);
}
.exercises_container .exercises .custom_exercise .fa-plus {
  font-size: 2.5em;
  transition: filter 0.3s ease;
}
.exercises_container .exercises .exercise {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: move;
  overflow-x: hidden;
  overflow-y: auto;
}
.exercises_container .exercises .exercise::-webkit-scrollbar {
  width: 5px;
}
.exercises_container .exercises .exercise::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 2.5px;
}
.exercises_container .exercises .exercise::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
  cursor: pointer;
}
.exercises_container .exercises .exercise::-webkit-scrollbar-track {
  background-color: #333333;
  border-radius: 2.5px;
}
.exercises_container .exercises .exercise.hidden {
  display: none !important;
}
.exercises_container .exercises .exercise:hover, .exercises_container .exercises .exercise:focus {
  outline: none;
}
.exercises_container .exercises .exercise:hover .name, .exercises_container .exercises .exercise:focus .name {
  filter: blur(2px);
}
.exercises_container .exercises .exercise:hover .weight_selection, .exercises_container .exercises .exercise:focus .weight_selection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.exercises_container .exercises .exercise:hover .weight_selection .decrease_weight,
.exercises_container .exercises .exercise:hover .weight_selection .increase_weight, .exercises_container .exercises .exercise:focus .weight_selection .decrease_weight,
.exercises_container .exercises .exercise:focus .weight_selection .increase_weight {
  background: none;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.exercises_container .exercises .exercise:hover .weight_selection .decrease_weight i,
.exercises_container .exercises .exercise:hover .weight_selection .increase_weight i, .exercises_container .exercises .exercise:focus .weight_selection .decrease_weight i,
.exercises_container .exercises .exercise:focus .weight_selection .increase_weight i {
  pointer-events: none;
  font-size: 1.2em;
}
.exercises_container .exercises .exercise:hover .weight_selection .weight, .exercises_container .exercises .exercise:focus .weight_selection .weight {
  font-size: 2em;
  cursor: default;
}
.exercises_container .exercises .exercise:hover .weight_selection .weight span, .exercises_container .exercises .exercise:focus .weight_selection .weight span {
  font-size: inherit;
}
.exercises_container .exercises .exercise .name {
  transition: filter 0.3s ease;
}
.exercises_container .exercises .exercise .weight_selection {
  display: none;
}

/***********
 Key Frames
***********/
@keyframes training_plan_drag_animation {
  100% {
    background-color: rgba(255, 255, 255, 0.15);
    filter: blur(1px);
  }
}
@keyframes bar_drag_animation {
  0% {
    background-color: #52cf20;
  }
  100% {
    background-color: rgb(255, 207, 32);
  }
}
@keyframes training_plan_error_animation {
  0% {
    color: #fff;
  }
  100% {
    color: #df3535;
  }
}
@keyframes training_title_error_animation {
  0% {
    border-bottom: 1px solid #999999;
  }
  100% {
    border-bottom: 1px solid #df3535;
  }
}
@keyframes blur_animation {
  0% {
    filter: blur(5px);
    opacity: 0.5;
    background-color: #52cf20;
  }
}/*# sourceMappingURL=manage_training_plans.css.map */