@import "../../../../static/css/partials/variables";

.training_plan_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 67px);

    .training_plan {
        position: relative;
        max-width: 500px;
        width: 100%;
        background-color: transparentize($secondary-color, 0.95);
        border: 2px solid $secondary-color;
        border-radius: $small-border-radius;
        overflow: hidden;

        .add_exercise {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 185px;

            &:not(.active) {
                position: absolute;
                top: 50%;
                right: 10px;
                // left: 60px;
                transform: translateY(-50%);
                display: block;
                height: auto;
            }

            .fa-compress {
                font-size: 2em;
            }
        }

        .exercise {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            width: 100%;
            height: 185px;
            margin-bottom: 10px;
            padding: 10px;
            transition: transform 0.5s ease;

            &:not(.active) {
                position: absolute;
                top: 0px;
                transform: translateX(100%);
            }

            .title {
                font-family: $article-heading-font;
                font-size: 2em;
            }

            .periods_container {
                display: flex;
                flex-direction: column;
                // align-items: center;
                // gap: 10px;
                width: 400px;

                .labels {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 5px;

                    p {
                        width: 100%;
                        text-align: center;
                    }
                }

                .period_selection {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    // justify-content: center;
                    gap: 10px;
                    margin-bottom: 10px;

                    .reps_container, .sets_container {
                        display: flex;
                        flex-direction: row;
                        border: 1px solid $secondary-color;
                        border-radius: $small-border-radius;

                        .decrease_reps,
                        .increase_reps,
                        .decrease_sets,
                        .increase_sets {
                            width: 30px;
                            background: none;
                            color: $secondary-color;
                            border: none;
                            outline: none;
                            cursor: pointer;
                        }

                        .reps,
                        .sets {
                            // width: 100px;
                            width: 133px;
                            height: 30px;
                            text-align: center;
                            background: none;
                            color: $secondary-color;
                            border: none;
                            outline: none;

                            &::-webkit-inner-spin-button,
                            &::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                            }
                        }
                    }
                }

                .add_period {
                    width: 100%;
                    height: 30px;
                    background: none;
                    color: $secondary-color;
                    border: 1px solid $secondary-color;
                    border-radius: $small-border-radius;
                    outline: none;
                    cursor: pointer;
                }
            }
        }

        .progress_bar {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
            margin: 0px 10px 10px;

            .bar {
                position: relative;
                width: 100%;
                height: 10px;
                border: 1px solid darken($secondary-color, 40%);
                border-radius: calc(10px / 2);

                &:before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    transition: background-color 0.3s ease;
                }

                &.active,
                &:hover {
                    cursor: pointer;

                    &:before {
                        width: 100%;
                        background-color: rgb(82, 207, 32);
                        box-shadow: 0px 0px 10px rgb(82, 207, 32);
                    }
                }
            }
        }
    }
}

.exercises {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    max-width: 500px;
    margin: 0px auto 50px;

    .exercise {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1 / 1;
        background-color: transparentize($secondary-color, 0.95);
        border: 1px solid $secondary-color;
        border-radius: $small-border-radius;
        cursor: move;

        &:hover {
            p {
                filter: blur(2px);
            }
        }

        p {
            transition: filter 0.3s ease;
        }
    }
}