@import "../../../../static/css/partials/variables";

/************
 Main Styles
************/

.code_expired p {
    text-align: center;

    a {
        text-decoration: none;
        font-style: italic;
        color: $secondary-color;

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }
}

.password_container {
    position: relative;

    &:has(.password:hover) .fa-key, &:has(.password:focus) .fa-key {
        left: -16px;
    }

    &:has(.password:hover) .fa-eye, &:has(.password:focus) .fa-eye,
    &:has(.password:hover) .fa-eye-slash, &:has(.password:focus) .fa-eye-slash {
        right: 0px;
    }

    .password {
        padding-right: 28px !important;
        -webkit-text-security: disc;
    }

    .fa-eye, .fa-eye-slash, .fa-key {
        display: block;
        color: darken($secondary-color, 40%);
        position: absolute;
        bottom: 10px;
        padding-bottom: 16px;
        padding-top: 19px;

        &:hover {
            color: darken($secondary-color, 20%);
            cursor: pointer;
            transition: color 0.3s ease;
        }
    }

    .fa-eye {
        display: none;
    }

    .fa-eye, .fa-eye-slash {
        right: 20px;
        transition: right 0.3s ease;
    }

    .fa-key {
        left: 3px;
        transition: left 0.3s ease;
    }
}

/**************
 Media Queries
**************/

@media (max-width: 600px) {
    .password_container .fa-eye,
    .password_container .fa-eye-slash {
        right: 0px !important;
    }
    
    .password_container .fa-key {
        left: -16px !important;
    }
}