@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

/************
 Main Styles
************/

// Password Reset Form

.password_reset_form {
    @include animated_border;
    max-width: 500px;
    margin: 0px auto;
    padding: 30px 50px 50px;
    text-align: center;
    border-radius: $medium-border-radius;

    h2 {
        &:hover {
            cursor: pointer;
        }

        a {
            font-size: 1em;
            text-decoration: none;
            color: $secondary-color;
        }
    }

    // Timer

    .timer {
        @include timer;
        margin: 0px auto 20px;
    }

    .back {
        @include form_back;
    }
    
    input[type="text"] {
        @include form_input;
    }

    .password_reset_code_container {
        position: relative;

        &:has(.password_reset_code:hover) .fa-message, &:has(.password_reset_code:focus) .fa-message {
            left: -16px;
        }

        .password_reset_code {
            padding-right: 28px !important;
            -webkit-text-security: disc;
        }

        .fa-message {
            @include icon;
            display: block;
            position: absolute;
            bottom: 10px;
            left: 3px;
            padding: 19px 0px 16px;
        }
    }

    .password_container {
        position: relative;

        &:has(.password:hover) .fa-key, &:has(.password:focus) .fa-key {
            left: -16px;
        }

        &:has(.password:hover) .fa-eye, &:has(.password:focus) .fa-eye,
        &:has(.password:hover) .fa-eye-slash, &:has(.password:focus) .fa-eye-slash {
            right: 0px;
        }

        .password {
            padding-right: 28px !important;
            -webkit-text-security: disc;
        }

        .fa-key, .fa-eye, .fa-eye-slash {
            @include icon;
            display: block;
            position: absolute;
            bottom: 10px;
            padding: 19px 0px 16px;
        }

        .fa-eye, .fa-eye-slash {
            right: 20px;
        }

        .fa-key {
            left: 3px;
        }
    }

    input[type="submit"] {
        @include blue_button;
        position: relative;
        margin-top: 40px;
    }

    .form_questions {
        margin-top: 10px;

        a {
            color: $secondary-color;
            text-decoration: none;

            &:hover,
            &:active {
                text-decoration: underline;
            }
        }
    }
}

.code_expired p {
    text-align: center;

    a {
        text-decoration: none;
        font-style: italic;
        color: $secondary-color;

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }
}

/**************
 Media Queries
**************/

@media (width <= 600px) {
    .password_reset_form {
        input[type="text"], input[type="submit"] {
            width: 100% !important;
        }

        .password_reset_code_container .fa-message {
            left: -16px !important;
        }

        .password_container .fa-eye,
        .password_container .fa-eye-slash {
            right: 0px !important;
        }
        
        .password_container .fa-key {
            left: -16px !important;
        }
    }
}