/************
 Main Styles
************/
.password_reset_form {
  position: relative;
  max-width: 500px;
  margin: 0px auto;
  padding: 30px 50px 50px;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 2px solid #fff;
  border-radius: 10px;
}
.password_reset_form h2 {
  transition: letter-spacing 0.3s ease;
}
.password_reset_form h2:hover {
  letter-spacing: 1px;
  cursor: pointer;
}
.password_reset_form h2 a {
  font-size: 1em;
  text-decoration: none;
  color: #fff;
}
.password_reset_form .timer {
  margin-bottom: 30px;
  font-family: "Orbitron", sans-serif;
  font-size: 1.2em;
}
.password_reset_form .back {
  position: absolute;
  top: 42px;
  left: 50px;
  width: 32px;
  height: 32px;
}
.password_reset_form .back img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}
.password_reset_form .back img:hover {
  transform: scale(1.1);
}
.password_reset_form input[type=text] {
  width: 90%;
  height: 50px;
  margin-bottom: 10px;
  padding: 0px 10px;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #999999;
  outline: none;
  transition: width 0.3s ease, border 0.3s ease;
}
.password_reset_form input[type=text]:hover, .password_reset_form input[type=text]:focus {
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.password_reset_form input[type=text]::-moz-placeholder {
  color: #999999;
}
.password_reset_form input[type=text]::placeholder {
  color: #999999;
}
.password_reset_form input[type=text]:-webkit-autofill {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-transition: width 0.3s ease, background-color 9999s ease;
  transition: width 0.3s ease, background-color 9999s ease;
}
.password_reset_form input[type=text]:-webkit-autofill:hover, .password_reset_form input[type=text]:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-transition: width 0.3s ease, background-color 9999s ease;
  transition: width 0.3s ease, background-color 9999s ease;
}
.password_reset_form .password_container {
  position: relative;
}
.password_reset_form .password_container:has(.password:hover) .fa-key, .password_reset_form .password_container:has(.password:focus) .fa-key {
  left: -16px;
}
.password_reset_form .password_container:has(.password:hover) .fa-eye, .password_reset_form .password_container:has(.password:focus) .fa-eye, .password_reset_form .password_container:has(.password:hover) .fa-eye-slash, .password_reset_form .password_container:has(.password:focus) .fa-eye-slash {
  right: 0px;
}
.password_reset_form .password_container .password {
  padding-right: 28px !important;
  -webkit-text-security: disc;
}
.password_reset_form .password_container .fa-key {
  display: block;
  color: #999999;
  position: absolute;
  bottom: 10px;
  padding-bottom: 16px;
  padding-top: 19px;
}
.password_reset_form .password_container .fa-key:hover {
  color: #cccccc;
  cursor: pointer;
  transition: color 0.3s ease, left 0.3s ease;
}
.password_reset_form .password_container .fa-eye, .password_reset_form .password_container .fa-eye-slash {
  display: block;
  color: #999999;
  position: absolute;
  bottom: 10px;
  padding-bottom: 16px;
  padding-top: 19px;
}
.password_reset_form .password_container .fa-eye:hover, .password_reset_form .password_container .fa-eye-slash:hover {
  color: #cccccc;
  cursor: pointer;
  transition: color 0.3s ease, right 0.3s ease;
}
.password_reset_form .password_container .fa-eye {
  display: none;
}
.password_reset_form .password_container .fa-eye, .password_reset_form .password_container .fa-eye-slash {
  right: 20px;
  transition: right 0.3s ease;
}
.password_reset_form .password_container .fa-key {
  left: 3px;
  transition: left 0.3s ease;
}
.password_reset_form input[type=submit] {
  width: 90%;
  height: 50px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease;
}
.password_reset_form input[type=submit]:hover, .password_reset_form input[type=submit]:focus {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  border: 1px solid #000;
  transform: scale(1.1);
  letter-spacing: 1px;
  cursor: pointer;
}
.password_reset_form .form_questions {
  margin-top: 10px;
}
.password_reset_form .form_questions a {
  color: #fff;
  text-decoration: none;
}
.password_reset_form .form_questions a:hover, .password_reset_form .form_questions a:active {
  text-decoration: underline;
}

.code_expired p {
  text-align: center;
}
.code_expired p a {
  text-decoration: none;
  font-style: italic;
  color: #fff;
}
.code_expired p a:hover, .code_expired p a:active {
  text-decoration: underline;
}

/**************
 Media Queries
**************/
@media (max-width: 600px) {
  .password_container .fa-eye,
  .password_container .fa-eye-slash {
    right: 0px !important;
  }
  .password_container .fa-key {
    left: -16px !important;
  }
}/*# sourceMappingURL=password_reset.css.map */