@import "../../../../static/css/partials/variables";

/************
 Main Styles
************/

// Form

form {
    position: relative;
    max-width: 500px;
    margin: 0px auto;
    padding: 30px 50px 50px;
    text-align: center;
    backdrop-filter: blur(5px);
    border: 2px solid $secondary-color;
    border-radius: 25px;

    h2 {
        margin-bottom: 30px;
        transition: letter-spacing 0.3s ease;

        &:hover {
            letter-spacing: 1px;
            cursor: pointer;
        }

        a {
            font-size: 1em;
            text-decoration: none;
            color: $secondary-color;
        }
    }

    .back {
        position: absolute;
        top: 42px;
        left: 50px;
        width: 32px;
        height: 32px;

        img {
            width: 32px;
            height: 32px;

            &:hover {
                transform: scale(1.1);
                transition: transform 0.3s ease;
            }
        }
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
        width: 90%;
        height: 50px;
        margin-bottom: 10px;
        padding: 0px 10px;
        background: transparent;
        color: $secondary-color;
        border: none;
        border-bottom: 1px solid $secondary-color;
        outline: none;
        transition: width 0.3s ease;

        &:hover,
        &:focus {
            width: 100%;
        }

        &::placeholder {
            color: darken($secondary-color, 40%);
        }

        &:-webkit-autofill {
            -webkit-text-fill-color: rgb(255, 255, 255);
            transition: width 0.3s ease, background-color 9999s ease;

            &:hover,
            &:focus {
                -webkit-text-fill-color: rgb(255, 255, 255);
                transition: width 0.3s ease, background-color 9999s ease;
            }
        }
    }

    .password_container {
        position: relative;

        &:has(.password:hover) .fa-key, &:has(.password:focus) .fa-key {
            left: -16px;
        }

        &:has(.password:hover) .fa-eye, &:has(.password:focus) .fa-eye,
        &:has(.password:hover) .fa-eye-slash, &:has(.password:focus) .fa-eye-slash {
            right: 0px;
        }

        &:has(.password:hover) .fa-copy, &:has(.password:focus) .fa-copy {
            right: -19px;
        }

        .password {
            padding-right: 28px !important;
            -webkit-text-security: disc;
        }

        .fa-eye, .fa-eye-slash, .fa-key, .fa-copy {
            display: block;
            color: darken($secondary-color, 40%);
            position: absolute;
            bottom: 10px;
            padding-bottom: 16px;
            padding-top: 19px;

            &:hover {
                color: darken($secondary-color, 20%);
                cursor: pointer;
                transition: color 0.3s ease;
            }
        }

        .fa-eye {
            display: none;
        }

        .fa-eye, .fa-eye-slash {
            right: 20px;
            transition: right 0.3s ease;
        }

        .fa-key {
            left: 3px;
            transition: left 0.3s ease;
        }

        .fa-copy {
            right: 1px;
            transition: right 0.3s ease;
        }
    }

    .password_check_container {
        position: relative;

        &:has(.password_check:hover) .fa-copy, 
        &:has(.password_check:focus) .fa-copy {
            right: -19px;
        }

        .password_check {
            padding-right: 28px !important;
        }

        .fa-copy {
            display: block;
            color: darken($secondary-color, 40%);
            position: absolute;
            right: 1px;
            bottom: 10px;
            padding-bottom: 16px;
            padding-top: 19px;
            transition: right 0.3s ease;

            &:hover {
                color: darken($secondary-color, 20%);
                cursor: pointer;
                transition: color 0.3s ease;
            }
        }
    }

    .form_report {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.9em;

        &.success {
            color: $success-color;
        }

        &.error {
            color: $error-color;
        }
    }

    input[type="submit"] {
        width: 90%;
        height: 50px;
        margin-top: 40px;
        background-color: transparentize($main-color, 0.2);
        color: $secondary-color;
        border: 1px solid $secondary-color;
        border-radius: 25px;
        transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease;

        &:hover,
        &:focus {
            background-color: transparentize($secondary-color, 0.1);
            color: $main-color;
            border: 1px solid $main-color;
            transform: scale(1.1);
            letter-spacing: 1px;
            cursor: pointer;
        }
    }

    .form_questions {
        margin-top: 10px;

        a {
            color: $secondary-color;
            text-decoration: none;

            &:hover,
            &:active {
                text-decoration: underline;
            }
        }
    }
}

/**************
 Media Queries
**************/

@media (max-width: 600px) {
    .password_container .fa-eye,
    .password_container .fa-eye-slash {
        right: 0px !important;
    }
    
    .password_container .fa-key {
        left: -16px !important;
    }

    .password_container .fa-copy, .password_check_container .fa-copy {
        right: -19px !important;
    }
}