@import "../../../../static/css/partials/variables";

.password_check_container {
    position: relative;

    &:has(.password_check:hover) .fa-copy, 
    &:has(.password_check:focus) .fa-copy {
        right: -19px;
    }

    .password_check {
        padding-right: 28px !important;
    }

    .fa-copy {
        display: block;
        color: darken($secondary-color, 40%);
        position: absolute;
        right: 1px;
        bottom: 10px;
        padding-bottom: 16px;
        padding-top: 19px;
        transition: right 0.3s ease;

        &:hover {
            color: darken($secondary-color, 20%);
            cursor: pointer;
            transition: color 0.3s ease;
        }
    }
}

/**************
 Media Queries
**************/

@media (max-width: 600px) {
    .password_check_container .fa-copy {
        right: -19px !important;
    }
}