/************
 Main Styles
************/
.registration_form {
  position: relative;
  max-width: 500px;
  margin: 0px auto;
  padding: 30px 50px 50px;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 2px solid #fff;
  border-radius: 10px;
}
.registration_form h2 {
  margin-bottom: 30px;
  transition: letter-spacing 0.3s ease;
}
.registration_form h2:hover {
  letter-spacing: 1px;
  cursor: pointer;
}
.registration_form h2 a {
  font-size: 1em;
  text-decoration: none;
  color: #fff;
}
.registration_form .back {
  position: absolute;
  top: 42px;
  left: 50px;
  width: 32px;
  height: 32px;
}
.registration_form .back img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}
.registration_form .back img:hover {
  transform: scale(1.1);
}
.registration_form input[type=text], .registration_form input[type=email], .registration_form input[type=tel], .registration_form input[type=password] {
  width: 90%;
  height: 50px;
  margin-bottom: 10px;
  padding: 0px 10px;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #999999;
  outline: none;
  transition: width 0.3s ease, border 0.3s ease;
}
.registration_form input[type=text]:hover, .registration_form input[type=text]:focus, .registration_form input[type=email]:hover, .registration_form input[type=email]:focus, .registration_form input[type=tel]:hover, .registration_form input[type=tel]:focus, .registration_form input[type=password]:hover, .registration_form input[type=password]:focus {
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.registration_form input[type=text]::-moz-placeholder, .registration_form input[type=email]::-moz-placeholder, .registration_form input[type=tel]::-moz-placeholder, .registration_form input[type=password]::-moz-placeholder {
  color: #999999;
}
.registration_form input[type=text]::placeholder, .registration_form input[type=email]::placeholder, .registration_form input[type=tel]::placeholder, .registration_form input[type=password]::placeholder {
  color: #999999;
}
.registration_form input[type=text]:-webkit-autofill, .registration_form input[type=email]:-webkit-autofill, .registration_form input[type=tel]:-webkit-autofill, .registration_form input[type=password]:-webkit-autofill {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-transition: width 0.3s ease, background-color 9999s ease;
  transition: width 0.3s ease, background-color 9999s ease;
}
.registration_form input[type=text]:-webkit-autofill:hover, .registration_form input[type=text]:-webkit-autofill:focus, .registration_form input[type=email]:-webkit-autofill:hover, .registration_form input[type=email]:-webkit-autofill:focus, .registration_form input[type=tel]:-webkit-autofill:hover, .registration_form input[type=tel]:-webkit-autofill:focus, .registration_form input[type=password]:-webkit-autofill:hover, .registration_form input[type=password]:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-transition: width 0.3s ease, background-color 9999s ease;
  transition: width 0.3s ease, background-color 9999s ease;
}
.registration_form .password_container {
  position: relative;
}
.registration_form .password_container:has(.password:hover) .fa-key, .registration_form .password_container:has(.password:focus) .fa-key {
  left: -16px;
}
.registration_form .password_container:has(.password:hover) .fa-eye, .registration_form .password_container:has(.password:focus) .fa-eye, .registration_form .password_container:has(.password:hover) .fa-eye-slash, .registration_form .password_container:has(.password:focus) .fa-eye-slash {
  right: 0px;
}
.registration_form .password_container:has(.password:hover) .fa-copy, .registration_form .password_container:has(.password:focus) .fa-copy {
  right: -19px;
}
.registration_form .password_container .password {
  padding-right: 28px !important;
  -webkit-text-security: disc;
}
.registration_form .password_container .fa-eye, .registration_form .password_container .fa-eye-slash, .registration_form .password_container .fa-key, .registration_form .password_container .fa-copy {
  display: block;
  color: #999999;
  position: absolute;
  bottom: 10px;
  padding-bottom: 16px;
  padding-top: 19px;
}
.registration_form .password_container .fa-eye:hover, .registration_form .password_container .fa-eye-slash:hover, .registration_form .password_container .fa-key:hover, .registration_form .password_container .fa-copy:hover {
  color: #cccccc;
  cursor: pointer;
  transition: color 0.3s ease, right 0.3s ease;
}
.registration_form .password_container .fa-key {
  display: block;
  color: #999999;
  position: absolute;
  bottom: 10px;
  padding-bottom: 16px;
  padding-top: 19px;
}
.registration_form .password_container .fa-key:hover {
  color: #cccccc;
  cursor: pointer;
  transition: color 0.3s ease, left 0.3s ease;
}
.registration_form .password_container .fa-eye {
  display: none;
}
.registration_form .password_container .fa-eye, .registration_form .password_container .fa-eye-slash {
  right: 20px;
  transition: right 0.3s ease;
}
.registration_form .password_container .fa-key {
  left: 3px;
  transition: left 0.3s ease;
}
.registration_form .password_container .fa-copy {
  right: 1px;
  transition: right 0.3s ease;
}
.registration_form .password_check_container {
  position: relative;
}
.registration_form .password_check_container:has(.password_check:hover) .fa-copy, .registration_form .password_check_container:has(.password_check:focus) .fa-copy {
  right: -19px;
}
.registration_form .password_check_container .password_check {
  padding-right: 28px !important;
}
.registration_form .password_check_container .fa-copy {
  display: block;
  color: #999999;
  position: absolute;
  right: 1px;
  bottom: 10px;
  padding-bottom: 16px;
  padding-top: 19px;
  transition: right 0.3s ease;
}
.registration_form .password_check_container .fa-copy:hover {
  color: #cccccc;
  cursor: pointer;
  transition: color 0.3s ease, right 0.3s ease;
}
.registration_form .form_report {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9em;
}
.registration_form .form_report.success {
  color: #52cf20;
}
.registration_form .form_report.error {
  color: #df3535;
}
.registration_form input[type=submit] {
  width: 90%;
  height: 50px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease;
}
.registration_form input[type=submit]:hover, .registration_form input[type=submit]:focus {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  border: 1px solid #000;
  transform: scale(1.1);
  letter-spacing: 1px;
  cursor: pointer;
}
.registration_form .form_questions {
  margin-top: 10px;
}
.registration_form .form_questions a {
  color: #fff;
  text-decoration: none;
}
.registration_form .form_questions a:hover, .registration_form .form_questions a:active {
  text-decoration: underline;
}

/**************
 Media Queries
**************/
@media (max-width: 600px) {
  .password_container .fa-eye,
  .password_container .fa-eye-slash {
    right: 0px !important;
  }
  .password_container .fa-key {
    left: -16px !important;
  }
  .password_container .fa-copy, .password_check_container .fa-copy {
    right: -19px !important;
  }
}/*# sourceMappingURL=registration.css.map */