@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

/************
 Main Styles
************/

// Registration Form

.registration_form {
    @include animated_border;
    max-width: 500px;
    margin: 0px auto;
    padding: 30px 50px 50px;
    text-align: center;
    border-radius: $medium-border-radius;

    h2 {
        margin-bottom: 30px;
        transition: letter-spacing 0.3s ease;

        &:hover {
            letter-spacing: 1px;
            cursor: pointer;
        }

        a {
            font-size: 1em;
            text-decoration: none;
            color: $secondary-color;
        }
    }

    .back {
        position: absolute;
        top: 42px;
        left: 50px;
        width: 32px;
        height: 32px;
        z-index: 100;

        img {
            width: 32px;
            height: 32px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
        @include form_input;
    }

    .password_container {
        position: relative;

        &:has(.password:hover) .fa-key, &:has(.password:focus) .fa-key {
            left: -16px;
        }

        &:has(.password:hover) .fa-eye, &:has(.password:focus) .fa-eye,
        &:has(.password:hover) .fa-eye-slash, &:has(.password:focus) .fa-eye-slash {
            right: 0px;
        }

        &:has(.password:hover) .fa-copy, &:has(.password:focus) .fa-copy {
            right: -19px;
        }

        .password {
            padding-right: 28px !important;
            -webkit-text-security: disc;
        }

        .fa-eye, .fa-eye-slash, .fa-key, .fa-copy {
            @include icon;
            display: block;
            position: absolute;
            bottom: 10px;
            padding: 19px 0px 16px;
        }

        .fa-eye, .fa-eye-slash {
            right: 20px;
        }

        .fa-key {
            left: 3px;
        }

        .fa-copy {
            right: 1px;
        }
    }

    .password_check_container {
        position: relative;

        &:has(.password_check:hover) .fa-copy, 
        &:has(.password_check:focus) .fa-copy {
            right: -19px;
        }

        .password_check {
            padding-right: 28px !important;
        }

        .fa-copy {
            @include icon;
            display: block;
            position: absolute;
            right: 1px;
            bottom: 10px;
            padding: 19px 0px 16px;
        }
    }

    .form_report {
        @include form_report;
    }

    input[type="submit"] {
        @include blue_button;
        margin-top: 40px;
    }

    .form_questions {
        margin-top: 10px;

        a {
            color: $secondary-color;
            text-decoration: none;

            &:hover,
            &:active {
                text-decoration: underline;
            }
        }
    }
}

/**************
 Media Queries
**************/

@media (width <= 600px) {
    .registration_form {
        input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="submit"] {
            width: 100% !important;
        }
    
        .password_container .fa-eye,
        .password_container .fa-eye-slash {
            right: 0px !important;
        }
        
        .password_container .fa-key {
            left: -16px !important;
        }
    
        .password_container .fa-copy, .password_check_container .fa-copy {
            right: -19px !important;
        }
    }
}