/************
 Main Styles
************/
.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0px auto;
}
.activity .record_activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.activity .record_activity .timer {
  margin-bottom: 10px;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5em;
}
.activity .record_activity .timer span {
  font-variant-numeric: tabular-nums;
  display: inline-block;
  width: 65px;
  margin-left: 2.5px;
  font-family: "Orbitron", sans-serif;
  font-size: 1em;
}
.activity .record_activity .timer span:nth-child(1) {
  margin-left: 0px;
}
.activity .record_activity .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.activity .record_activity .buttons a {
  position: relative;
  width: 240px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.activity .record_activity .buttons a:nth-child(1) {
  background-color: #52cf20;
}
.activity .record_activity .buttons a:nth-child(1):hover, .activity .record_activity .buttons a:nth-child(1):focus {
  background-color: rgb(110.4811715481, 225.5439330544, 64.4560669456);
}
.activity .record_activity .buttons a:nth-child(2) {
  background-color: #df3535;
}
.activity .record_activity .buttons a:nth-child(2):hover, .activity .record_activity .buttons a:nth-child(2):focus {
  background-color: rgb(226.4871794872, 75.0128205128, 75.0128205128);
}
.activity .record_activity .buttons a:hover, .activity .record_activity .buttons a:focus {
  transform: scale(1.05);
  cursor: pointer;
}
.activity .record_activity .buttons a .fa-play, .activity .record_activity .buttons a .fa-pause, .activity .record_activity .buttons a .fa-stop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.activity .record_activity .buttons a .fa-play {
  left: calc(50% + 2.5px);
}
.activity .training_plan {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #fff;
  border-radius: 5px;
  overflow: hidden;
}
.activity .training_plan .start_training, .activity .training_plan .exercise, .activity .training_plan .finish_training {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  transition: transform 0.5s ease;
}
.activity .training_plan .start_training:not(.active), .activity .training_plan .exercise:not(.active), .activity .training_plan .finish_training:not(.active) {
  position: absolute;
  top: 0px;
  transform: translateX(100%);
}
.activity .training_plan .start_training h3, .activity .training_plan .exercise h3, .activity .training_plan .finish_training h3 {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 2em;
}
.activity .training_plan .start_training p, .activity .training_plan .start_training .sets, .activity .training_plan .exercise p, .activity .training_plan .exercise .sets, .activity .training_plan .finish_training p, .activity .training_plan .finish_training .sets {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 1.2em;
}
.activity .training_plan .start_training p span, .activity .training_plan .start_training .sets span, .activity .training_plan .exercise p span, .activity .training_plan .exercise .sets span, .activity .training_plan .finish_training p span, .activity .training_plan .finish_training .sets span {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 1em;
}
.activity .training_plan .start_training .start_training_button, .activity .training_plan .exercise .start_training_button, .activity .training_plan .finish_training .start_training_button {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  background-color: #52cf20;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.activity .training_plan .start_training .start_training_button:hover, .activity .training_plan .exercise .start_training_button:hover, .activity .training_plan .finish_training .start_training_button:hover {
  transform: scale(1.05);
  background-color: rgb(110.4811715481, 225.5439330544, 64.4560669456);
  cursor: pointer;
}
.activity .training_plan .start_training .start_training_button .fa-play, .activity .training_plan .exercise .start_training_button .fa-play, .activity .training_plan .finish_training .start_training_button .fa-play {
  position: absolute;
  top: 50%;
  left: calc(50% + 2.5px);
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.activity .training_plan .start_training .skip_exercise, .activity .training_plan .exercise .skip_exercise, .activity .training_plan .finish_training .skip_exercise {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  background-color: #52cf20;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.activity .training_plan .start_training .skip_exercise:hover, .activity .training_plan .exercise .skip_exercise:hover, .activity .training_plan .finish_training .skip_exercise:hover {
  transform: scale(1.05);
  background-color: rgb(110.4811715481, 225.5439330544, 64.4560669456);
  cursor: pointer;
}
.activity .training_plan .start_training .skip_exercise .fa-angle-right, .activity .training_plan .exercise .skip_exercise .fa-angle-right, .activity .training_plan .finish_training .skip_exercise .fa-angle-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.activity .training_plan .start_training .finish_training_button, .activity .training_plan .exercise .finish_training_button, .activity .training_plan .finish_training .finish_training_button {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  background-color: #df3535;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.activity .training_plan .start_training .finish_training_button:hover, .activity .training_plan .exercise .finish_training_button:hover, .activity .training_plan .finish_training .finish_training_button:hover {
  transform: scale(1.05);
  background-color: rgb(226.4871794872, 75.0128205128, 75.0128205128);
  cursor: pointer;
}
.activity .training_plan .start_training .finish_training_button .fa-stop, .activity .training_plan .exercise .finish_training_button .fa-stop, .activity .training_plan .finish_training .finish_training_button .fa-stop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.activity .training_plan .progress_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 0px 10px 10px;
}
.activity .training_plan .progress_bar .bar {
  --progress: 0%;
  --progress-color: rgb(255, 207, 32);
  position: relative;
  width: 100%;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.activity .training_plan .progress_bar .bar:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  border-radius: inherit;
}
.activity .training_plan .progress_bar .bar.active:before {
  width: var(--progress);
  background-color: var(--progress-color);
  transition: width 1s ease, background-color 0.3s ease;
}
.activity .activity_info {
  margin-bottom: 20px;
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 1.2em;
}
.activity .previous_activity p {
  text-align: center;
  font-family: "Balsamiq Sans", sans-serif;
}
.activity .previous_activity p span {
  margin: 0px 5px;
  font-family: "Balsamiq Sans", sans-serif;
}
.activity .previous_activity p span:nth-child(2) {
  color: #52cf20;
}
.activity .activity_report {
  text-align: center;
}
.activity .training_plan_activity_report_graph {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0px auto 20px;
  border-radius: 50px;
}
.activity .training_plan_activity_report_graph svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(-90deg) translate(50%, -50%);
}
.activity .training_plan_activity_report_graph svg .part {
  fill: none;
  stroke: #999999;
  stroke-width: 3;
  stroke-dasharray: 251;
  stroke-linecap: round;
  stroke-linejoin: round;
}/*# sourceMappingURL=training_session.css.map */