/************
 Main Styles
************/
.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 67px);
  margin: 0px auto;
}
.activity .record_activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.activity .record_activity .timer {
  margin-bottom: 10px;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5em;
}
.activity .record_activity .timer span {
  font-variant-numeric: tabular-nums;
  display: inline-block;
  width: 65px;
  margin-left: 2.5px;
  font-family: inherit;
  font-size: inherit;
}
.activity .record_activity .timer span:nth-child(1) {
  margin-left: 0px;
}
.activity .record_activity .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.activity .record_activity .buttons a {
  position: relative;
  width: 240px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.activity .record_activity .buttons a:hover, .activity .record_activity .buttons a:focus {
  transform: scale(1.05);
  cursor: pointer;
}
.activity .record_activity .buttons a:nth-child(1) {
  background-color: #52cf20;
  box-shadow: 0px 0px 5px #52cf20;
}
.activity .record_activity .buttons a:nth-child(1):not(:hover) {
  animation: green_pulse_button_animation 1s linear alternate infinite 0.3s;
}
.activity .record_activity .buttons a:nth-child(1):hover, .activity .record_activity .buttons a:nth-child(1):focus {
  background-color: rgb(110.4811715481, 225.5439330544, 64.4560669456);
}
.activity .record_activity .buttons a:nth-child(2) {
  background-color: #df3535;
  box-shadow: 0px 0px 5px #df3535;
}
.activity .record_activity .buttons a:nth-child(2):hover, .activity .record_activity .buttons a:nth-child(2):focus {
  background-color: rgb(229.9743589744, 97.0256410256, 97.0256410256);
}
.activity .record_activity .buttons a .fa-play, .activity .record_activity .buttons a .fa-pause, .activity .record_activity .buttons a .fa-stop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.activity .record_activity .buttons a .fa-play {
  left: calc(50% + 2.5px);
}
.activity .training_plan_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  margin-bottom: 20px;
}
.activity .training_plan_container .previous_training_plan, .activity .training_plan_container .next_training_plan {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #999999;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #999999;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.activity .training_plan_container .previous_training_plan:hover, .activity .training_plan_container .next_training_plan:hover {
  transform: scale(1.05);
  background-color: #cccccc;
  cursor: pointer;
}
.activity .training_plan_container .previous_training_plan .fa-angles-left, .activity .training_plan_container .previous_training_plan .fa-angles-right, .activity .training_plan_container .next_training_plan .fa-angles-left, .activity .training_plan_container .next_training_plan .fa-angles-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.activity .training_plan_container .training_plan {
  position: relative;
  max-width: 500px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #fff;
  border-radius: 5px;
  overflow: hidden;
}
.activity .training_plan_container .training_plan .start_training, .activity .training_plan_container .training_plan .finish_training {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  width: 100%;
  height: 185px;
  margin-bottom: 10px;
  padding: 10px;
  transition: transform 0.5s ease;
}
.activity .training_plan_container .training_plan .start_training:not(.active), .activity .training_plan_container .training_plan .finish_training:not(.active) {
  position: absolute;
  top: 0px;
  transform: translateX(100%);
}
.activity .training_plan_container .training_plan .start_training h3, .activity .training_plan_container .training_plan .finish_training h3 {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 2em;
}
.activity .training_plan_container .training_plan .start_training .start_training_button, .activity .training_plan_container .training_plan .finish_training .start_training_button {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background-color: #52cf20;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #52cf20;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.activity .training_plan_container .training_plan .start_training .start_training_button:not(:hover), .activity .training_plan_container .training_plan .finish_training .start_training_button:not(:hover) {
  animation: green_pulse_button_animation 1s linear alternate infinite 0.3s;
}
.activity .training_plan_container .training_plan .start_training .start_training_button:hover, .activity .training_plan_container .training_plan .finish_training .start_training_button:hover {
  transform: scale(1.05);
  background-color: rgb(110.4811715481, 225.5439330544, 64.4560669456);
  cursor: pointer;
}
.activity .training_plan_container .training_plan .start_training .start_training_button .fa-play, .activity .training_plan_container .training_plan .finish_training .start_training_button .fa-play {
  position: absolute;
  top: 50%;
  left: calc(50% + 2.5px);
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.activity .training_plan_container .training_plan .start_training .finish_training_button, .activity .training_plan_container .training_plan .finish_training .finish_training_button {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background-color: #df3535;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #df3535;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.activity .training_plan_container .training_plan .start_training .finish_training_button:not(:hover), .activity .training_plan_container .training_plan .finish_training .finish_training_button:not(:hover) {
  animation: red_pulse_button_animation 1s linear alternate infinite 0.3s;
}
.activity .training_plan_container .training_plan .start_training .finish_training_button:hover, .activity .training_plan_container .training_plan .finish_training .finish_training_button:hover {
  transform: scale(1.05);
  background-color: rgb(229.9743589744, 97.0256410256, 97.0256410256);
  cursor: pointer;
}
.activity .training_plan_container .training_plan .start_training .finish_training_button .fa-stop, .activity .training_plan_container .training_plan .finish_training .finish_training_button .fa-stop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.activity .training_plan_container .training_plan .exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  height: 185px;
  margin-bottom: 10px;
  padding: 10px;
  transition: transform 0.5s ease;
}
.activity .training_plan_container .training_plan .exercise:not(.active) {
  position: absolute;
  top: 0px;
  transform: translateX(100%);
}
.activity .training_plan_container .training_plan .exercise h3 {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 2em;
}
.activity .training_plan_container .training_plan .exercise p, .activity .training_plan_container .training_plan .exercise .sets {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 1.2em;
}
.activity .training_plan_container .training_plan .exercise p span, .activity .training_plan_container .training_plan .exercise .sets span {
  font-family: inherit;
  font-size: inherit;
}
.activity .training_plan_container .training_plan .exercise .next_exercise_button {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background-color: #52cf20;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #52cf20;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.activity .training_plan_container .training_plan .exercise .next_exercise_button:not(:hover) {
  animation: green_pulse_button_animation 1s linear alternate infinite 0.3s;
}
.activity .training_plan_container .training_plan .exercise .next_exercise_button:hover {
  transform: scale(1.05);
  background-color: rgb(110.4811715481, 225.5439330544, 64.4560669456);
  cursor: pointer;
}
.activity .training_plan_container .training_plan .exercise .next_exercise_button .fa-angle-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.activity .training_plan_container .training_plan .break {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 185px;
  margin-bottom: 10px;
  padding: 10px;
  transition: transform 0.5s ease;
}
.activity .training_plan_container .training_plan .break:not(.active) {
  position: absolute;
  top: 0px;
  transform: translateX(100%);
}
.activity .training_plan_container .training_plan .break .add_time {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #58a6e6;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px #58a6e6;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.activity .training_plan_container .training_plan .break .add_time:hover {
  transform: scale(1.05);
  background-color: rgb(110.1796875, 177.8203125, 233.3203125);
  cursor: pointer;
}
.activity .training_plan_container .training_plan .break .add_time .fa-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.activity .training_plan_container .training_plan .break .add_time .add_time_message {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #52cf20;
  z-index: 200;
}
.activity .training_plan_container .training_plan .break .add_time .add_time_message.animate {
  animation: fade_out_animation 1s ease-out forwards;
}
.activity .training_plan_container .training_plan .break .break_timer {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.activity .training_plan_container .training_plan .break .break_timer svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(-90deg) translate(50%, -50%);
}
.activity .training_plan_container .training_plan .break .break_timer svg:nth-child(1) {
  z-index: 10;
}
.activity .training_plan_container .training_plan .break .break_timer svg .progress {
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.activity .training_plan_container .training_plan .break .break_timer svg .progress_background {
  fill: none;
  stroke: #999999;
  stroke-width: 3;
  stroke-dasharray: 2 4;
}
.activity .training_plan_container .training_plan .break .break_timer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 1.2em;
}
.activity .training_plan_container .training_plan .break .break_timer p span {
  font-family: inherit;
  font-size: inherit;
}
.activity .training_plan_container .training_plan .break .skip_break_button {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #52cf20;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #52cf20;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.activity .training_plan_container .training_plan .break .skip_break_button:not(:hover) {
  animation: green_pulse_button_animation 1s linear alternate infinite 0.3s;
}
.activity .training_plan_container .training_plan .break .skip_break_button:hover {
  transform: scale(1.05);
  background-color: rgb(110.4811715481, 225.5439330544, 64.4560669456);
  cursor: pointer;
}
.activity .training_plan_container .training_plan .break .skip_break_button .fa-angle-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.activity .training_plan_container .training_plan .progress_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 0px 10px 10px;
}
.activity .training_plan_container .training_plan .progress_bar .bar {
  --progress: 0%;
  --progress-color: rgb(255, 207, 32);
  position: relative;
  width: 100%;
  height: 10px;
  border: 1px solid #999999;
  border-radius: 5px;
}
.activity .training_plan_container .training_plan .progress_bar .bar:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  border-radius: inherit;
}
.activity .training_plan_container .training_plan .progress_bar .bar.active:before {
  width: var(--progress);
  background-color: var(--progress-color);
  box-shadow: 0px 0px 10px var(--progress-color);
  transition: width 1s ease, background-color 0.3s ease;
}
.activity .current_activity_info {
  margin-bottom: 20px;
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 1.2em;
}
.activity .previous_activity p {
  text-align: center;
  font-family: "Balsamiq Sans", sans-serif;
}
.activity .previous_activity p span {
  margin: 0px 5px;
  font-family: inherit;
}
.activity .previous_activity p span:nth-child(2) {
  color: #52cf20;
}

.activity_summary {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 100vh;
  text-align: center;
}
.activity_summary .main_summary {
  font-family: "Balsamiq Sans", sans-serif;
}
.activity_summary .main_summary span {
  position: relative;
  font-family: inherit;
}
.activity_summary .main_summary span .tooltip::before, .activity_summary .main_summary span .tooltip::after {
  --scale: 0;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transform-origin: bottom center;
  transition: 0.3s transform 0s;
}
.activity_summary .main_summary span .tooltip::before {
  --translate-y: calc(-100% - 10px);
  content: attr(data-tooltip);
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  font-size: 0.8em;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-shadow: 0px 0px 5px #000;
}
.activity_summary .main_summary span .tooltip::after {
  --translate-y: calc(-1 * 10px);
  content: "";
  border: 10px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.2);
  transform-origin: top center;
}
.activity_summary .main_summary span .tooltip:hover::before, .activity_summary .main_summary span .tooltip:hover::after {
  --scale: 1;
  transition: 0.3s transform 1s;
}
.activity_summary .weekly_activity_chart {
  display: none;
  width: 500px;
  height: 250px;
}
.activity_summary .weekly_activity_chart canvas {
  width: 100% !important;
  height: 100% !important;
}
.activity_summary .training_plan_summary {
  display: none;
  font-family: "Balsamiq Sans", sans-serif;
}
.activity_summary .training_plan_summary span {
  font-family: inherit;
}
.activity_summary .training_plan_summary br:nth-child(1) {
  display: none;
}
.activity_summary .training_plan_summary_chart {
  position: relative;
  display: none;
  width: 250px;
  height: 250px;
}
.activity_summary .training_plan_summary_chart::before {
  content: "%";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
}
.activity_summary .training_plan_summary_chart canvas {
  width: 100% !important;
  height: 100% !important;
}

/***********
 Key Frames
***********/
@keyframes fade_in_scale_animation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade_in_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade_out_animation {
  0% {
    opacity: 1;
    visibility: visible;
    top: 0%;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    top: -100%;
  }
}
@keyframes green_pulse_button_animation {
  0% {
    background-color: #52cf20;
  }
  100% {
    background-color: rgb(110.4811715481, 225.5439330544, 64.4560669456);
  }
}
@keyframes red_pulse_button_animation {
  0% {
    background-color: #df3535;
  }
  100% {
    background-color: rgb(229.9743589744, 97.0256410256, 97.0256410256);
  }
}/*# sourceMappingURL=training_session.css.map */