@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

.content {
    max-width: $main-width;
    min-height: 100vh;
    margin: 0px auto 20px;
    padding-top: 125px + 20px;
    background-color: transparentize($main-color, 0.9);
    text-align: justify;
    overflow: hidden;

    .article_banner {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 20px;
        background-color: transparentize($secondary-color, 0.1);

        .banner_image {
            img {
                display: block;
                max-width: 400px;
            }
        }

        .banner_info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            padding: 10px 20px 10px 0px;
            color: $main-color;

            .article_opening {
                padding-left: 10px;
                border-left: 3px solid $main-color;

                h2 {
                    text-align: left;
                    font-family: $article-heading-font;
                    font-size: 3em;
                }

                p {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5;
                    line-clamp: 5;
                    overflow: hidden;
                    text-align: left;
                }
            }

            .article_info {
                .rating {
                    justify-content: left;
                    margin: 0px;

                    .fa-star {
                        font-size: 1.5em;
                        cursor: pointer;
            
                        &.full {
                            color: $article-color;
                            opacity: 1;
                        }
            
                        &.empty {
                            color: darken($secondary-color, 40%);
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    .article_content {
        margin: 10px 0px 50px;
    }

    .rating {
        display: flex;
        justify-content: right;
        gap: 5px;
        margin-bottom: 50px;
        margin-left: 10px + 3px;

        a {
            margin-right: 5px;

            &:hover {
                .profile_picture {
                    transform: scale(1.05);
                }
            }

            .profile_picture {
                @include profile_picture;
                display: block;
                transition: transform 0.3s ease;
            }
        }

        button {
            all: unset;

            .fa-star {
                display: block;
                font-size: 1.5em;
                cursor: pointer;
                transition: color 0.1s ease, transform 0.1s ease;
    
                &.full {
                    color: $article-color;
                    opacity: 1;
                }
                
                &.empty {
                    color: darken($secondary-color, 40%);
                    opacity: 0.5;
                }
    
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        input {
            display: none;
        }
    }

    .comment_forum {
        max-width: 800px;
        width: 100%;
        margin: 0px auto;

        &.hidden {
            display: none;
            opacity: 0;
        }

        .heading {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            .comments_counter {
                display: flex;
                align-items: center;
                gap: 5px;
    
                .fa-comment {
                    font-size: 1.5em;
                    display: block;
                    color: darken($secondary-color, 40%);
    
                    &:hover {
                        color: darken($secondary-color, 20%);
                        cursor: pointer;
                        transition: color 0.3s ease;
                    }
                }
    
                p {
                    display: inline-block;
                    color: darken($secondary-color, 40%);
                    font-size: 1.2em;
                }
            }

            h2 {
                position: relative;
                right: calc(38.83px / 2);
                line-height: 1;
                margin: 0px auto;
            }
        }

        .all_comments {
            @include scrollbar;
            max-height: 300px;
            padding-top: 10px;

            .one_comment {
                position: relative;
                margin-bottom: 10px;
                
                &::before {
                    content: "";
                    position: absolute;
                    top: 38px;
                    left: calc(6px + 38px / 2);
                    width: 1px;
                    height: calc(100% - 38px);
                    background-color: lighten($main-color, 20%);
                }

                &:last-child {
                    margin-bottom: 20px;
                }

                .comment_container {
                    margin-left: 6px;

                    .user {
                        display: flex;
                        align-items: center;
                        gap: 10px;
    
                        a {
                            .profile_picture {
                                @include profile_picture($width: 38px, $height: 38px);
                                display: block;
                                transition: transform 0.3s ease;
        
                                &:hover {
                                    transform: scale(1.05);
                                }
                            }
                        }

                        .username {
                            font-weight: bold;
                        }

                        // Comment Properties

                        .show_comment_properties_button {
                            @include show_properties_button;
                            margin-left: auto;
                            margin-right: 10px;
                        }

                        .comment_properties,
                        .report,
                        .delete_comment {
                            @include properties_menu;
                        }

                        .report {
                            min-width: 200px;
                        }
                    }

                    .right {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 7.5px;
                        margin-left: 38px + 10px;
                        padding-right: 10px;

                        .comment {
                            text-align: justify;
                            padding-right: 10px;
                            line-break: anywhere;
                        }

                        .likes {
                            all: unset;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            height: 20px;
        
                            .fa-heart {
                                display: block;
                                color: darken($secondary-color, 40%);
        
                                &:hover {
                                    color: $error-color !important;
                                    cursor: pointer;
                                    transition: color 0.3s ease;
                                }
                            }
        
                            .fa-solid {
                                color: $error-color;
                            }
        
                            .likes_counter {
                                display: inline-block;
                                color: darken($secondary-color, 40%);
                            }
                        }
                    }
                }

                .interactions {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-left: 6px + 10px + 38px;
                    padding-right: 10px;

                    .reply {
                        all: unset;

                        .fa-comment,
                        .fa-comment-slash {
                            display: block;
                            color: darken($secondary-color, 40%);
                            cursor: pointer;

                            &:hover {
                                color: darken($secondary-color, 20%);
                                transition: color 0.3s ease;
                            }
                        }
                    }

                    .likes {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        height: 20px;
    
                        .fa-heart {
                            display: block;
                            color: darken($secondary-color, 40%);
    
                            &:hover {
                                color: $error-color !important;
                                cursor: pointer;
                                transition: color 0.3s ease;
                            }
                        }
    
                        .fa-solid {
                            color: $error-color;
                        }
    
                        .likes_counter {
                            display: inline-block;
                            color: darken($secondary-color, 40%);
                        }
                    }

                    .date {
                        margin-left: auto;

                        p {
                            font-size: 0.8em;
                            font-style: italic;
                            color: darken($secondary-color, 40%);
                        }
                    }

                    .show_replies {
                        all: unset;

                        .fa-angle-down,
                        .fa-angle-up {
                            @include icon;
                            display: block;
                        }
                    }
                }

                .reply_container {
                    position: relative;
                    margin-top: 10px;
                    margin-left: 6px + 10px + 32px;
                    margin-right: 10px;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        bottom: 82px;
                        left: calc(6px + 32px / 2);
                        width: 1px;
                        background-color: lighten($main-color, 20%);
                    }

                    &.hidden {
                        display: none;
                    }

                    .one_comment {
                        &::before {
                            display: none;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: 103px;
                            left: calc(6px + 32px / 2);
                            width: 1px;
                            height: 196px;
                            background-color: transparent;
                        }

                        &.first_level_reply {
                            > .comment_container {
                                &::before {
                                    left: -15px;
                                    width: 15px;
                                }

                                &::after {
                                    left: -29px;
                                }
                            }
                        }

                        .comment_container {
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                top: calc(32px / 2);
                                left: -18px;
                                width: 18px;
                                height: 1px;
                                background-color: lighten($main-color, 20%);
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                top: 3px;
                                left: -32px;
                                width: calc(28px / 2);
                                height: calc(28px / 2);
                                border-bottom: 1px solid lighten($main-color, 20%);
                                border-left: 1px solid lighten($main-color, 20%);
                                border-bottom-left-radius: $medium-border-radius;
                            }
                        }
                    }

                    .one_comment .comment_container .user a .profile_picture {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }

        .write_comment_form {
            position: relative;

            .comment {
                display: block;
                width: 100%;
                min-height: 50px;
                field-sizing: content;
                padding-top: 12px;
                padding-right: 30px + 10px + 10px;
                padding-bottom: 12px;
                padding-left: 38px + 6px + 10px + 15px + 10px;
                text-align: left;
                background-color: lighten($main-color, 20%);
                color: $secondary-color;
                border-radius: $big-border-radius;
                outline: none;
                resize: none;
                transition: padding 0.3s ease;

                &:empty::before {
                    content: attr(data-placeholder);
                    color: darken($secondary-color, 40%);
                    cursor: text;
                }
                
                .tag,
                .hashtag {
                    display: inline-block;
                    height: 25px;
                    line-height: 25px;
                    padding: 0px 5px;
                    border-radius: $small-border-radius;
                    font-size: 0.8em;
                    cursor: pointer;
                    transition: background-color 0.2s ease;
                }

                .tag {
                    background-color: transparentize($blue-color, 0.8);
                    color: $blue-color;
                }

                .hashtag {
                    background-color: transparentize($success-color, 0.9);
                    color: $success-color;
                }
            }

            .profile_picture {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 38px;
                height: 38px;
                padding: 2px;
                border: 1px solid $secondary-color;
                border-radius: 50%;
            }

            .add_emoji {
                all: unset;
                position: absolute;
                top: 24px;
                left: calc(6px + 38px + 10px);
                transform: translateY(-50%);

                &:hover {
                    cursor: pointer;
                    
                    .fa-face-surprise {
                        color: darken($secondary-color, 20%);
                        transition: color 0.3s ease;
                    }
                }

                .fa-face-surprise {
                    display: block;
                    color: darken($secondary-color, 40%);
                    pointer-events: none;
                }
            }

            .emoji_picker_container {
                @include emoji_picker_container;
            }

            .send {
                all: unset;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%) scale(1);
                width: 30px;
                height: 30px;
                color: darken($secondary-color, 40%);
                transition: transform 0.3s ease, color 0.3s ease;

                &:hover {
                    transform: translateY(-50%) scale(1.1);
                    color: darken($secondary-color, 20%);
                    cursor: pointer;
                }

                svg {
                    pointer-events: none;
                }
            }
        }
    }
}

/**************
 Media Queries
**************/

@media (width <= 800px) {
    .article_banner {
        flex-direction: column !important;

        .banner_image {
            img {
                max-width: 100% !important;
            }
        }

        .banner_info {
            padding: 0px 20px 10px !important;
        }
    }
}

@media (width <= 400px) {
    .article_banner {
        .banner_info {
            padding: 0px 10px 10px !important;

            .article_opening {
                h2 {
                    font-size: 2em !important;
                }
            }

            .article_info {
                .rating {
                    .fa-star {
                        font-size: 1em !important;
                    }
                }
            }
        }
    }
}