@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

/**************
 Header Styles
**************/

header {
    // Banner

    .banner {
        // Upload Post

        .upload_post {
            width: max-content;

            .fa-photo-film {
                @include icon($color: darken($secondary-color, 40%), $hover_color: darken($secondary-color, 20%));
                font-size: 1.5em;
            }
        }
    }
}

/************
 Main Styles
************/

.content {
    // Upload Post Form Dialog

    .upload_post_form_dialog {
        &::backdrop {
            background-color: transparentize($main-color, 0.8);
            backdrop-filter: blur(2px);
        }

        .upload_post_form {
            @include position_center($position: fixed);
            max-width: 500px;
            width: 100%;
            padding: 30px 50px 50px;
            text-align: center;
            background-color: transparentize($main-color, 0.8);
            backdrop-filter: blur(5px);
            border: 2px solid $secondary-color;
            border-radius: $medium-border-radius;
            overflow: hidden;

            &::before {
                @include circle_decoration($top: -250px, $left: -50px, $width: 400px, $height: 400px, $color: transparentize($main-color, 0.8));
            }

            &::after {
                @include circle_decoration($bottom: -200px, $right: -50px, $width: 400px, $height: 400px, $color: transparentize($main-color, 0.8));
            }

            h2 {
                margin-bottom: 30px;
                color: $secondary-color;
                animation: fadeInScale 0.3s ease-out;
            }

            .back {
                @include form_back;
            }

            .posts_preview {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
                gap: 10px;
                margin: 0px auto 20px;

                &.drag_active {
                    background-color: transparentize($main-color, 0.8);
                    border: 2px dashed transparentize($blue-color, 0.5);
                    transition: background-color 0.3s ease;
                    animation: dropZone 1s infinite alternate;
                }

                .post,
                .select_posts_container {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 1 / 1;
                    border-radius: $small-border-radius;
                    overflow: hidden;
                    cursor: pointer;
                    transition: transform 0.3s ease;

                    &:hover,
                    &:after {
                        transform: scale(1.05);
                        cursor: move;
                    }
                }

                .select_posts_container {
                    border: 1px solid transparentize($blue-color, 0.5);
                    transition: border-color 0.3s ease, transform 0.3s ease;

                    &:hover {
                        border-color: $blue-color;
                    }
                    
                    label {
                        @include flex_center;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;

                        &:hover {
                            .fa-photo-film {
                                color: $blue-color;
                            }
                        }

                        .fa-photo-film {
                            pointer-events: none;
                            font-size: 1.5em;
                            color: transparentize($blue-color, 0.5);
                            transition: color 0.3s ease;
                        }
                    }
    
                    #select_posts {
                        display: none;
                    }
                }

                .post {
                    position: relative;

                    &.drag_active {
                        transform: scale(0.9);
                    }

                    .loading {
                        @include loading($size: 5px);
                        @include position_center;
                    }

                    .fa-xmark {
                        @include icon;
                        position: absolute;
                        right: 0px;
                        padding: 5px;
                        z-index: 50;
                    }

                    img,
                    video {
                        width: inherit;
                        height: inherit;
                        object-fit: cover;
                        filter: blur(2px);
                        transition: filter 0.3s ease;
                    }

                    .tooltip {
                        @include tooltip($top: 3.5px);
                        position: absolute;
                        bottom: 5px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 50;

                        &::before {
                            max-width: none;
                            width: 100px;
                        }

                        .fa-triangle-exclamation {
                            color: $article-color;
                            cursor: pointer;
                        }
                    }
                }
            }

            .post_info_container {
                position: relative;
                display: flex;
                flex-direction: column;
                margin: 10px auto 0px;
                border: 1px solid transparentize($blue-color, 0.5);
                border-radius: $small-border-radius;
                transition: border-color 0.3s ease;

                &:hover {
                    border-color: $blue-color;

                    .users_for_tag_container {
                        border-color: $blue-color;
                    }
                }

                .description {
                    width: 100%;
                    min-height: 100px;
                    field-sizing: content;
                    padding: 5px 10px;
                    text-align: left;
                    background: transparent;
                    color: $secondary-color;
                    outline: none;

                    &:empty::before {
                        content: attr(data-placeholder);
                        color: darken($secondary-color, 40%);
                        cursor: text;
                    }
                    
                    .tag,
                    .hashtag {
                        display: inline-block;
                        height: 25px;
                        line-height: 25px;
                        padding: 0px 5px;
                        border-radius: $small-border-radius;
                        font-size: 0.8em;
                    }

                    .tag {
                        background-color: transparentize($blue-color, 0.8);
                        color: $blue-color;
                    }

                    .hashtag {
                        background-color: transparentize($success-color, 0.9);
                        color: $success-color;
                    }
                }

                .icons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 25px;
                    padding: 0px 10px;
                    background-color: transparentize($main-color, 0.5);
                    border-radius: 0px 0px $small-border-radius $small-border-radius;

                    .settings {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        #public_visibility, #allow_comments, #hide_likes {
                            display: none;
                        }

                        label {
                            .public_visibility, .allow_comments, .hide_likes {
                                @include icon;
                                display: block;
                                width: 18.75px;
                            }
                        }
                    }

                    .tags {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .tag_user,
                        .add_hashtag {
                            @include icon;
                        }
                    }
                }

                .users_for_tag_container {
                    display: none;
                    top: 0%;
                    opacity: 0;
                    position: absolute;
                    transform: translateX(-1px);
                    flex-direction: column;
                    gap: 10px;
                    width: calc(100% + 2px);
                    max-height: calc(3 * 48px + 20px + 2px);
                    background-color: transparentize($main-color, 0.5);
                    border-right: 1px solid transparentize($blue-color, 0.5);
                    border-left: 1px solid transparentize($blue-color, 0.5);
                    border-bottom: 1px solid transparentize($blue-color, 0.5);
                    border-radius: 0px 0px $small-border-radius $small-border-radius;
                    overflow-y: auto;
                    transition: border-color 0.3s ease, display 0.5s ease allow-discrete, top 0.3s ease, opacity 0.5s ease;
                    z-index: 50;

                    &.active {
                        display: flex;
                        top: calc(100% - 1px);
                        opacity: 1;

                        @starting-style {
                            top: 0%;
                            opacity: 0;
                        }
                    }

                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: darken($secondary-color, 40%);
                        border-radius: 2.5px;

                        &:hover {
                            background-color: darken($secondary-color, 20%);
                            cursor: pointer;
                        }
                    }

                    &::-webkit-scrollbar-track {
                        background-color: lighten($main-color, 20%);
                        border-radius: 2.5px;
                    }

                    .one_user {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 5px;
                        color: $secondary-color;
                        outline: none;
                        transition: background-color 0.3s ease, transform 0.3s ease, display 0.3s ease allow-discrete;
                        
                        &.hidden {
                            transform: translateY(calc(300% + 20px));
                            display: none;
                        }

                        &:hover {
                            background-color: transparentize($blue-color, 0.9);
                            cursor: pointer
                        }

                        &:focus {
                            background-color: transparentize($blue-color, 0.8);
                        }
        
                        .profile_picture {
                            @include profile_picture;
                            pointer-events: none;
                        }
                        
                        .username {
                            pointer-events: none;
                            color: $secondary-color;
                        }

                        .delete_from_history {
                            // flex-grow: 1;
                            // text-align: right;

                            right: 0px;
                            width: 15px + 10px;
                            height: 100%;
                            line-height: 38px;
                            margin-left: auto;
                            padding-right: 10px;
                            pointer-events: all;
                            cursor: pointer;

                            &.fa-xmark {
                                font-size: 20px;
                            }

                            .fa-clock-rotate-left {
                            }
                        }
                    }
                }
            }

            .tagged_users_container {
                display: flex;
                gap: 10px;
                overflow-x: auto;

                &::-webkit-scrollbar {
                    height: 5px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: darken($secondary-color, 40%);
                    border-radius: 2.5px;

                    &:hover {
                        background-color: darken($secondary-color, 20%);
                        cursor: pointer;
                    }
                }

                &::-webkit-scrollbar-track {
                    background-color: lighten($main-color, 20%);
                    border-radius: 2.5px;
                }
                
                .tag {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    height: 25px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding: 0px 5px;
                    background-color: transparentize($blue-color, 0.8);
                    border-radius: $small-border-radius;
                    transition: border-color 0.3s ease;
                    animation: fadeInScale 0.3s ease-in forwards;

                    &.hidden {
                        display: none;
                    }
                    
                    p {
                        font-size: 0.8em;
                        color: $blue-color;
                    }

                    .fa-xmark {
                        @include icon;
                    }
                }
            }

            .location_container {
                position: relative;

                // &:has(.location:hover) .fa-location-arrow, &:has(.location:focus) .fa-location-arrow {
                //     left: -16px;
                // }

                .location_input_container {
                    position: relative;

                    .fa-location-arrow {
                        @include icon;
                        display: block;
                        position: absolute;
                        // left: 3px;
                        bottom: 0px;
                        left: -16px;
                        padding: 19px 0px 16px;
                    }

                    .location {
                        @include form_input;
                        width: 100%;
                        margin-bottom: 0px;
                    }
                }
                
                .location_results_container {
                    position: relative;

                    .loading {
                        @include loading($size: 5px);
                        @include position_center;
                    }

                    .location_results {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        max-height: calc((46px * 2) + 5px);
                        margin-bottom: 50px;
                        border-bottom-right-radius: $small-border-radius;
                        border-bottom-left-radius: $small-border-radius;
                        opacity: 1;
                        overflow-y: auto;
                        transition: visibility 0.3s ease, opacity 0.3s ease, margin-bottom 0.3s ease;

                        &.hidden {
                            visibility: hidden;
                            opacity: 0;
                            height: 50px;
                            margin-bottom: 0px;

                            .place {
                                pointer-events: none;
                            }
                        }

                        &::-webkit-scrollbar {
                            width: 5px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: darken($secondary-color, 40%);
                            border-radius: 2.5px;

                            &:hover {
                                background-color: darken($secondary-color, 20%);
                                cursor: pointer;
                            }
                        }

                        &::-webkit-scrollbar-track {
                            background-color: lighten($main-color, 20%);
                            border-radius: 2.5px;
                        }

                        .place {
                            color: $secondary-color;
                            outline: none;
                            transition: background-color 0.3s ease;

                            &:hover {
                                background-color: transparentize($blue-color, 0.9);
                                cursor: pointer
                            }

                            &:focus {
                                background-color: transparentize($blue-color, 0.8);
                            }
                        }
                    }
                }
            }

            .form_report {
                @include form_report;
            }

            input[type="submit"] {
                @include blue_button($width: 90%, $border-radius: $big-border-radius);
                margin-bottom: 10px;
            }
        }
    }

    // Search Bar

    .search_bar_container {
        @include search_bar;
        margin: 0px auto;
        z-index: 100;
    }

    .search_result_container {
        position: relative;
        max-width: 500px;
        width: 100%;
        height: calc(3 * 50px + 20px);
        margin: 20px auto 0px;

        .loading {
            @include position_center;
            @include flex_center;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(5px);
            border-radius: $small-border-radius;
            opacity: 1;
            transition: opacity 0.3s ease, display 0.3s ease allow-discrete;

            &.hidden {
                opacity: 0;
                display: none;
            }
        }

        // All Users

        .all_users {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            height: 100%;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: darken($secondary-color, 40%);
                border-radius: 2.5px;

                &:hover {
                    background-color: darken($secondary-color, 20%);
                    cursor: pointer;
                }
            }

            &::-webkit-scrollbar-track {
                background-color: lighten($main-color, 20%);
                border-radius: 2.5px;
            }

            .one_user {
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 5px;
                color: $secondary-color;
                border: 1px solid transparentize($blue-color, 0.5);
                border-radius: $small-border-radius;
                transition: background-color 0.3s ease, transform 0.3s ease, display 0.3s ease allow-discrete;

                &.hidden {
                    transform: translateY(calc(300% + 20px));
                    display: none;
                }

                &:hover {
                    background-color: transparentize($blue-color, 0.9);
                }

                .profile_picture {
                    @include profile_picture;
                }
                
                .full_name {
                    color: $secondary-color;
                    flex-grow: 1
                }

                .fa-user-plus,
                .fa-user-minus {
                    @include icon;
                    display: block;
                }
            }
        }
    }
}