@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

/************
 Main Styles
************/

// Edit Review Form

.edit_review_form {
    position: relative;
    max-width: $secondary-width;
    width: 100%;
    margin: 0px auto;
    padding: 30px 50px 50px;
    text-align: center;
    border: 1px solid transparentize($blue-color, 0.5);
    border-radius: $medium-border-radius;
    box-shadow: 0 10px 30px transparentize($blue-color, 0.8);
    overflow: hidden;

    &::before {
        @include circle_decoration($top: -250px, $left: -50px, $width: 400px, $height: 400px);
    }

    &::after {
        @include circle_decoration($bottom: -200px, $right: -50px, $width: 400px, $height: 400px);
    }

    h2 {
        margin-bottom: 30px;
        color: $secondary-color;
        animation: fadeInScale 0.3s ease-out;

        a {
            color: $secondary-color;
            text-decoration: none;
            font-size: 1em;
        }
    }

    .back {
        @include form_back;
    }

    .top {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        margin: 0px auto;
        text-align: left;

        .reviewer {
            display: flex;
            align-items: center;
            gap: 10px;
            
            .profile_picture {
                @include profile_picture($width: 38px, $height: 38px);
                display: block;
                transition: transform 0.3s ease;
    
                &:hover {
                    transform: scale(1.05);
                }
            }
    
            .username {
                a {
                    text-decoration: none;
                    color: $secondary-color;
    
                    &:hover,
                    &:active {
                        text-decoration: underline;
                    }
                }
    
                .date {
                    font-style: italic;
                    color: $light-blue-color;
                }
            }
        }
    
        .rating {
            button {
                all: unset;
    
                .fa-star {
                    display: block;
                    font-size: 1.5em;
                    cursor: pointer;
                    transition: color 0.1s ease, transform 0.1s ease;
    
                    &.full {
                        color: $yellow-color;
                        opacity: 1;
                    }
                    
                    &.empty {
                        color: $light-blue-color;
                        opacity: 0.5;
                    }
    
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
    
            input {
                display: none;
            }
        }
    }

    .review_container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 10px auto 0px;
        border: 1px solid transparentize($blue-color, 0.5);
        border-radius: $small-border-radius;
        transition: border-color 0.3s ease;

        &:has(textarea:focus) {
            border-color: $blue-color;
        }

        &:hover {
            border-color: $blue-color;
        }

        textarea {
            width: 100%;
            min-height: 100px;
            field-sizing: content;
            padding: 5px 10px;
            background: transparent;
            color: $secondary-color;
            border: none;
            outline: none;
            resize: none;

            &::placeholder {
                color: $light-blue-color;
            }
        }

        .icons {
            display: flex;
            align-items: center;
            justify-content: right;
            height: 25px;
            padding: 0px 10px;
            background-color: transparentize($blue-color, 0.9);
            border-radius: 0px 0px $small-border-radius $small-border-radius;

            .add_emoji {
                all: unset;

                .fa-face-surprise {
                    @include icon;
                    display: block;
                }
            }
        }

        .emoji_picker_container {
            @include emoji_picker_container;
        }
    }

    .form_report {
        @include form_report;
    }

    input[type="submit"] {
        @include blue_button($border-radius: $big-border-radius);
        margin-top: 50px;
    }
}

.no_logged_in p {
    text-align: center;

    a {
        text-decoration: none;
        font-style: italic;
        color: $secondary-color;

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }
}

/**************
 Media Queries
**************/

@media (width <= 400px) {
    .edit_review_form {
        padding: 10px 30px 30px;

        .back {
            top: 22.5px;
            left: 30px;
        }

        .top {
            margin: 0px;
        }

        .review_container,
        input[type="submit"] {
            width: 100% !important;
        }
    }
}