@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

/***************
 General Styles
***************/

// Grecaptcha Badge

.grecaptcha-badge {
    opacity: 0.8 !important;
}

/**************
 Header Styles
**************/

header {
    min-height: 100vh;

    // Banner

    .banner {
        // Reviews Informations

        .reviews_info {
            display: flex;
            align-items: center;
            gap: 5px;
            width: max-content;
            cursor: pointer;

            p {
                display: inline-block;
                color: $secondary-color;
            }

            .fa-star {
                font-size: 0.8em;
                cursor: pointer;

                &.full {
                    color: $article-color;
                    opacity: 1;
                }

                &.empty {
                    color: darken($secondary-color, 40%);
                    opacity: 0.5;
                }
            }
        }
    }

    // Header Container

    .header_container {
        min-height: 100vh;
        padding: 125px + 20px 20px 0px;

        &::before {
            @include circle_decoration($top: -150px, $left: -150px, $width: 400px, $height: 400px);
        }

        &::after {
            @include circle_decoration($top: 150px, $right: -150px, $width: 300px, $height: 300px);
            overflow: hidden;
        }

        .center {
            @include flex_center($direction: column);
            position: relative;
            gap: 20px;
            height: calc(100vh - 125px - 20px - 40px);
        }

        // Search Bar

        .search_container {
            position: relative;
            max-width: 500px;
            width: 100%;
            margin: 0px auto;

            .search_bar_container {
                @include search_bar;
                z-index: 100;
            }

            .search_result_container {
                position: absolute;
                top: 40px - 40px;
                width: 100%;
                max-height: calc(40px * 3);
                border-bottom-right-radius: $small-border-radius;
                border-bottom-left-radius: $small-border-radius;
                backdrop-filter: blur(5px);
                opacity: 0;
                overflow-y: auto;
                transition: top 0.3s ease, border 0.3s ease, width 0.3s ease, opacity 0.5s ease;
                z-index: 50;

                &::-webkit-scrollbar {
                    width: 3px;
                    background-color: transparentize($blue-color, 0.9);
                    border-radius: calc(3px / 2);
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: $blue-color;
                    border-radius: calc(3px / 2);
                }

                &.active {
                    top: 40px;
                    opacity: 1;
                }

                .search_result {
                    position: relative;
                    height: 40px;

                    i {
                        pointer-events: none;
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                        color: $secondary-color;
                        z-index: 100;
                    }

                    .delete_from_history {
                        left: 0px;
                        width: 15px + 10px;
                        height: 100%;
                        line-height: 40px;
                        padding-left: 10px;
                        pointer-events: all;
                        cursor: pointer;

                        &.fa-xmark {
                            font-size: 20px;
                        }
                    }

                    a {
                        position: relative;
                        display: block;
                        height: inherit;
                        line-height: 40px;
                        color: $secondary-color;
                        text-align: center;
                        text-decoration: none;
                        transition: background-color 0.3s ease, letter-spacing 0.3s ease;

                        &:hover,
                        &:focus {
                            background-color: transparentize($blue-color, 0.9);
                            letter-spacing: 0.5px;
                        }
                    }
                }
            }

            &:has(.search_bar:hover) .search_result_container, &:has(.search_bar:focus) .search_result_container {
                border-color: $blue-color !important;
            }
        }

        // Heading

        .heading {
            text-align: center;
    
            a {
                text-decoration: none;
                text-shadow: 0px 0px 5px $main-color;
                color: transparentize($blue-color, 0.5);
                animation: fadeIn 2s ease-out;
                transition: letter-spacing 0.3s ease;
    
                font: {
                    family: $heading-font;
                    size: 4em;
                }
    
                &:hover,
                &:active {
                    letter-spacing: 0.5px;
                }
            }
        }

        // Buttons

        .buttons {
            display: flex;
            gap: 20px;
            max-width: 500px;
            width: 100%;
            animation: fadeInScale 1s ease-out forwards;
            
            .login_button,
            .registration_button {
                @include blue_button;
                color: transparentize($secondary-color, 0.2);
            }

            .login_button {
                @include glow_animated_border;
                // background-color: transparentize($main-color, 0.8);
            }
        }
    }
}

/************
 Main Styles
************/

.content {
    max-width: $main-width;
    margin: 0px auto 20px;
    padding-top: 20px;
    text-align: justify;

    // Login Form Dialog & Registration Form Dialog

    .login_form_dialog,
    .registration_form_dialog {
        &::backdrop {
            background-color: transparentize($main-color, 0.8);
            backdrop-filter: blur(2px);
        }

        .login_form,
        .registration_form {
            @include position_center($position: fixed);
            max-width: 500px;
            width: 100%;
            padding: 30px 50px 50px;
            text-align: center;
            background-color: transparentize($main-color, 0.8);
            backdrop-filter: blur(5px);
            border: 2px solid $secondary-color;
            border-radius: $medium-border-radius;
            overflow: hidden;

            &::before {
                @include circle_decoration($top: -250px, $left: -50px, $width: 400px, $height: 400px, $color: transparentize($main-color, 0.8));
            }

            &::after {
                @include circle_decoration($bottom: -200px, $right: -50px, $width: 400px, $height: 400px, $color: transparentize($main-color, 0.8));
            }

            h2 {
                margin-bottom: 30px;
                color: $secondary-color;
                animation: fadeInScale 0.3s ease-out;
            }

            .back {
                @include form_back($color: darken($secondary-color, 40%), $hover_color: darken($secondary-color, 20%))
            }

            .form_report {
                @include form_report;
            }

            input[type="submit"] {
                @include blue_button($width: 90%, $border-radius: $big-border-radius);
                margin-top: 40px;
                margin-bottom: 10px;
            }

            .login_methods {
                p {
                    position: relative;
                    color: darken($secondary-color, 40%);

                    span {
                        &:nth-child(1) {
                            position: absolute;
                            top: 50%;
                            left: 5%;
                            transform: translateY(-50%);
                            width: 135px;
                            height: 1px;
                            background-color: darken($secondary-color, 40%);
                        }

                        &:nth-child(2) {
                            position: absolute;
                            top: 50%;
                            right: 5%;
                            transform: translateY(-50%);
                            width: 135px;
                            height: 1px;
                            background-color: darken($secondary-color, 40%);
                        }
                    }
                }

                div {
                    position: relative;
                    display: block;
                    width: 90%;
                    height: 50px;
                    line-height: 50px;
                    margin: 10px auto;
                    background-color: transparentize($main-color, 0.05);
                    border-radius: $big-border-radius;
                    transition: transform 0.3s ease, letter-spacing 0.3s ease;

                    &:hover {
                        letter-spacing: 0.5px;
                        cursor: pointer;

                        a i {
                            color: darken($secondary-color, 20%);
                        }
                    }

                    a {
                        display: block;
                        color: $secondary-color;
                        text-decoration: none;
                        width: 100%;
                        height: 100%;

                        i {
                            font-size: 20px;
                            position: absolute;
                            top: 50%;
                            left: 14px;
                            transform: translateY(-50%);
                            color: darken($secondary-color, 40%);
                            transition: color 0.3s ease;
                        }
                    }
                }

                .google {
                    @include glow_animated_border($colors: conic-gradient(
                        from var(--angle), 
                        red,
                        yellow,
                        green,
                        blue,
                        red
                    ), 
                    $thickness: 3px)
                }

                .apple {
                    @include glow_animated_border($colors: conic-gradient(
                        from var(--angle), 
                        chartreuse,
                        transparent,
                        chartreuse
                    ), 
                    $thickness: 3px)
                }

                .facebook {
                    @include glow_animated_border($colors: conic-gradient(
                        from var(--angle), 
                        dodgerblue,
                        transparent,
                        dodgerblue
                    ), 
                    $thickness: 3px)
                }
            }

            .form_questions {
                margin-top: 10px;
                color: $secondary-color;

                a {
                    color: $secondary-color;
                    text-decoration: none;

                    &:hover,
                    &:active {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .login_form_dialog {
        .login_form {
            .email_address_container {
                position: relative;

                i {
                    @include icon($color: darken($secondary-color, 40%), $hover_color: darken($secondary-color, 20%));
                    display: block;
                    position: absolute;
                    bottom: 10px;
                    left: 3px;
                    padding: 19px 0px 16px;
                }
            }

            .email_address_container:has(.email_address:hover) .fa-envelope, .email_address_container:has(.email_address:focus) .fa-envelope {
                left: -16px;
            }

            input[type="text"], input[type="email"] {
                @include form_input($color: darken($secondary-color, 40%), $hover_color: darken($secondary-color, 20%));
            }

            .password_container {
                position: relative;

                .fa-lock {
                    display: block;
                    color: darken($secondary-color, 40%);
                    position: absolute;
                    bottom: 10px;
                    left: 3px;
                    padding-bottom: 16px;
                    padding-top: 19px;
                    transition: left 0.3s ease;

                    &:hover {
                        color: darken($secondary-color, 20%);
                        cursor: pointer;
                        transition: color 0.3s ease, left 0.3s ease;
                    }
                }

                &:has(.password:hover) .fa-lock, 
                &:has(.password:focus) .fa-lock {
                    left: -16px;
                }

                &:has(.password:hover) .fa-eye, &:has(.password:focus) .fa-eye,
                &:has(.password:hover) .fa-eye-slash, &:has(.password:focus) .fa-eye-slash {
                    right: 0px;
                }

                .password {
                    padding-right: 28px !important;
                    -webkit-text-security: disc;
                }

                .fa-eye, .fa-eye-slash {
                    display: block;
                    color: darken($secondary-color, 40%);
                    position: absolute;
                    bottom: 10px;
                    right: 20px;
                    padding-bottom: 16px;
                    padding-top: 19px;
                    transition: right 0.3s ease;

                    &:hover {
                        color: darken($secondary-color, 20%);
                        cursor: pointer;
                        transition: color 0.3s ease, right 0.3s ease;
                    }
                }
            }
        }
    }

    .registration_form_dialog {
        .registration_form {
            .inputs {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;

                .first_name_container, 
                .last_name_container, 
                .email_address_container, 
                .phone_number_container {
                    position: relative;
                    width: 50%;
                    transform-origin: left;

                    input[type="text"], input[type="email"], input[type="tel"] {
                        width: calc(90% - 20px);
                        height: 50px;
                        margin-bottom: 10px;
                        padding: 0px 10px;
                        background: transparent;
                        color: $secondary-color;
                        border: none;
                        border-bottom: 1px solid darken($secondary-color, 40%);
                        outline: none;
                        transition: width 0.3s ease, border 0.3s ease;

                        &:hover,
                        &:focus {
                            width: calc(100%);
                            border-bottom: 1px solid darken($secondary-color, 20%);
                        }

                        &::placeholder {
                            color: darken($secondary-color, 40%);
                        }

                        &:-webkit-autofill {
                            -webkit-text-fill-color: rgb(255, 255, 255);
                            transition: width 0.3s ease, background-color 9999s ease;

                            &:hover,
                            &:focus {
                                -webkit-text-fill-color: rgb(255, 255, 255);
                                transition: width 0.3s ease, background-color 9999s ease;
                            }
                        }
                    }

                    .first_name, .last_name {
                        padding-right: 23px !important;
                    }

                    .email_address, .phone_number {
                        padding-right: 25px !important;
                    }

                    i {
                        @include icon($color: darken($secondary-color, 40%), $hover_color: darken($secondary-color, 20%));
                        display: block;
                        position: absolute;
                        bottom: 10px;
                        right: 20px;
                        padding: 19px 0px 16px;
                    }
                }

                .first_name_container:has(.first_name:hover) .fa-user, .first_name_container:has(.first_name:focus) .fa-user,
                .last_name_container:has(.last_name:hover) .fa-user, .last_name_container:has(.last_name:focus) .fa-user,
                .email_address_container:has(.email_address:hover) .fa-envelope, .email_address_container:has(.email_address:focus) .fa-envelope,
                .phone_number_container:has(.phone_number:hover) .fa-phone, .phone_number_container:has(.phone_number:focus) .fa-phone {
                    right: 0px;
                }

                .phone_number_container {
                    &:has(.phone_number:hover) .flag, &:has(.phone_number:focus) .flag {
                        right: -30px;
                    }
            
                    .flag {
                        position: absolute;
                        bottom: 21px;
                        right: -10px;
                        width: 24px;
                        opacity: 0.8;
                        transition: right 0.3s ease;
                    }
                }
            }

            .username_container {
                position: relative;

                .fa-at {
                    display: block;
                    color: darken($secondary-color, 40%);
                    position: absolute;
                    bottom: 10px;
                    left: 3px;
                    padding-bottom: 16px;
                    padding-top: 19px;
                    transition: left 0.3s ease;

                    &:hover {
                        color: darken($secondary-color, 20%);
                        cursor: pointer;
                        transition: color 0.3s ease, left 0.3s ease;
                    }
                }

                &:has(.username:hover) .fa-at, 
                &:has(.username:focus) .fa-at {
                    left: -16px;
                }
            }

            .username, 
            .password, 
            input[type="password"] {
                width: 90%;
                height: 50px;
                margin-bottom: 10px;
                padding: 0px 10px;
                background: transparent;
                color: $secondary-color;
                border: none;
                border-bottom: 1px solid darken($secondary-color, 40%);
                outline: none;
                transition: width 0.3s ease, border 0.3s ease;

                &:hover,
                &:focus {
                    width: 100%;
                    border-bottom: 1px solid darken($secondary-color, 20%);
                }

                &::placeholder {
                    color: darken($secondary-color, 40%);
                }

                &:-webkit-autofill {
                    -webkit-text-fill-color: rgb(255, 255, 255);
                    transition: width 0.3s ease, background-color 9999s ease;

                    &:hover,
                    &:focus {
                        -webkit-text-fill-color: rgb(255, 255, 255);
                        transition: width 0.3s ease, background-color 9999s ease;
                    }
                }
            }

            .password_container {
                position: relative;

                &:has(.password:hover) .fa-key, &:has(.password:focus) .fa-key {
                    left: -16px;
                }

                &:has(.password:hover) .fa-eye, &:has(.password:focus) .fa-eye,
                &:has(.password:hover) .fa-eye-slash, &:has(.password:focus) .fa-eye-slash {
                    right: 0px;
                }

                &:has(.password:hover) .fa-copy, &:has(.password:focus) .fa-copy {
                    right: -19px;
                }

                .password {
                    padding-right: 28px !important;
                    -webkit-text-security: disc;
                }

                .fa-key {
                    display: block;
                    color: darken($secondary-color, 40%);
                    position: absolute;
                    bottom: 10px;
                    padding-bottom: 16px;
                    padding-top: 19px;

                    &:hover {
                        color: darken($secondary-color, 20%);
                        cursor: pointer;
                        transition: color 0.3s ease, left 0.3s ease;
                    }
                }

                .fa-eye, .fa-eye-slash, .fa-copy {
                    display: block;
                    color: darken($secondary-color, 40%);
                    position: absolute;
                    bottom: 10px;
                    padding-bottom: 16px;
                    padding-top: 19px;

                    &:hover {
                        color: darken($secondary-color, 20%);
                        cursor: pointer;
                        transition: color 0.3s ease, right 0.3s ease;
                    }
                }

                .fa-eye, .fa-eye-slash {
                    right: 20px;
                    transition: right 0.3s ease;
                }

                .fa-key {
                    left: 3px;
                    transition: left 0.3s ease;
                }

                .fa-copy {
                    right: 1px;
                    transition: right 0.3s ease;
                }
            }

            .password_check_container {
                position: relative;

                .fa-lock {
                    display: block;
                    color: darken($secondary-color, 40%);
                    position: absolute;
                    bottom: 10px;
                    left: 3px;
                    padding-bottom: 16px;
                    padding-top: 19px;
                    transition: left 0.3s ease;

                    &:hover {
                        color: darken($secondary-color, 20%);
                        cursor: pointer;
                        transition: color 0.3s ease, left 0.3s ease;
                    }
                }

                &:has(.password_check:hover) .fa-lock, 
                &:has(.password_check:focus) .fa-lock {
                    left: -16px;
                }

                &:has(.password_check:hover) .fa-copy, 
                &:has(.password_check:focus) .fa-copy {
                    right: -19px;
                }

                .password_check {
                    padding-right: 28px !important;
                }

                .fa-copy {
                    display: block;
                    color: darken($secondary-color, 40%);
                    position: absolute;
                    right: 1px;
                    bottom: 10px;
                    padding-bottom: 16px;
                    padding-top: 19px;
                    transition: right 0.3s ease;

                    &:hover {
                        color: darken($secondary-color, 20%);
                        cursor: pointer;
                        transition: color 0.3s ease, right 0.3s ease;
                    }
                }
            }

            input[type="submit"] {
                margin-bottom: 0px;
            }
        }
    }

    .profile_dialog {
        &::backdrop {
            background-color: transparentize($main-color, 0.8);
            backdrop-filter: blur(2px);
        }

        .profile {
            @include position_center($position: fixed);
            max-width: 500px;
            width: 100%;
            background-color: transparentize($main-color, 0.8);
            backdrop-filter: blur(5px);
            border: 2px solid $secondary-color;
            border-radius: $medium-border-radius;

            .top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
                padding: 20px;
                background-color: transparentize($main-color, 0.8);
                border-radius: 10px 10px 0px 0px;

                .left {
                    display: flex;
                    flex-direction: column;
                    padding: 0px;
                    max-width: 50%;

                    h2 {
                        text-align: left;
                        color: $secondary-color;
                    }

                    p {
                        text-align: justify;
                        margin-bottom: 5px;
                        color: $secondary-color;
                    }

                    .society {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;

                        p {
                            color: darken($secondary-color, 40%);

                            &:hover {
                                color: darken($secondary-color, 20%);
                                cursor: pointer;
                                transition: color 0.3s ease;
                            }
                        }

                        .fa-fire {
                            color: $article-color;
                        }
                    }
                }
                
                .right {
                    display: flex;
                    flex-direction: column;

                    .profile_picture {
                        @include profile_picture($width: 80px, $height: 80px);
                    }

                    .links {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        gap: 10px;
                        margin-top: 5px;

                        img {
                            width: 20px;
                            height: 20px;
                            opacity: 0.8;

                            &:hover {
                                opacity: 1;
                                cursor: pointer;
                                transition: opacity 0.3s ease;
                            }
                        }

                        .fa-link {
                            color: darken($secondary-color, 40%);

                            &:hover {
                                color: darken($secondary-color, 20%);
                                cursor: pointer;
                                transition: color 0.3s ease;
                            }
                        }
                    }
                }
            }

            .bottom {
                margin: 15px;

                .activity {
                    position: relative;
                    margin-bottom: 10px;
                    margin-left: 5px;

                    div:nth-child(1) {
                        width: 70%;
                        height: 160px;
                    }

                    div:nth-child(2) {
                        position: absolute;
                        top: 50%;
                        right: 0px;
                        transform: translateY(-50%);

                        p {
                            text-align: left;
                            color: $secondary-color;

                            &:nth-child(even) {
                                font-size: 0.9em;
                                font-weight: bold;
                                color: darken($secondary-color, 40%);
                            }
                        }
                    }
                }

                .posts {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    height: 350px;
                    overflow-x: hidden;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: darken($secondary-color, 40%);
                        border-radius: 2.5px;

                        &:hover {
                            background-color: darken($secondary-color, 20%);
                            cursor: pointer;
                        }
                    }

                    &::-webkit-scrollbar-track {
                        background-color: lighten($main-color, 20%);
                        border-radius: 2.5px;
                    }

                    div {
                        position: relative;
                        padding: 5px;

                        &:hover {
                            i {
                                visibility: visible;
                                opacity: 1;
                                transition: visibility 0.3s ease, opacity 0.3s ease;
                            }
                        }

                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            aspect-ratio: 1 / 1;
                            object-fit: cover;
                            box-shadow: 0px 0px 5px lighten($main-color, 20%);
                            border-radius: $small-border-radius;
                            transition: transform 0.3s ease, filter 0.3s ease;

                            &:hover {
                                transform: scale(1.02);
                                filter: grayscale(1);
                                cursor: pointer;
                            }
                        }

                        i {
                            @include position_center;
                            visibility: hidden;
                            opacity: 0;
                            pointer-events: none;
                            font-size: 2.5em;
                            color: darken($secondary-color, 40%);
                        }
                    }
                }
            }
        }
    }

    // Reviews

    .reviews {
        h2 {
            font-family: $article-heading-font;
        }

        .reviews_info_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5px; // Visually The Gap Is 10px
            max-width: $main-width;
            margin: 10px 0px;
            padding: 10px 0px;
            background: radial-gradient(circle, transparentize($blue-color, 0.9) 0%, transparent 100%);
            border-radius: $small-border-radius;

            .graph {
                max-width: 500px;
                width: 100%;
                margin: 0px auto;

                .one_column {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 20px;

                    .rating {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-align: center;
                        gap: 5px;
                        width: 40px;
                        color: darken($secondary-color, 40%);

                        span {
                            width: 10px;
                        }

                        .fa-star {
                            color: $article-color;
                        }
                    }

                    // Review Bar Tooltip

                    .tooltip {
                        @include tooltip($top: 3.5px);
                        max-width: 500px;
                        width: 100%;

                        .review_bar {
                            --progress: 0%;
                            --color: rgb(235, 0, 20);

                            position: relative;
                            width: 100%;
                            height: 6px;
                            background-color: darken($secondary-color, 20%);
                            border-radius: calc(6px / 2);
                            transition: background-color 0.3s ease;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: var(--progress);
                                height: 100%;
                                background-color: var(--color);
                                box-shadow: 0px 0px 5px transparentize($article-color, 0.4);
                                border-radius: inherit;
                                transition: box-shadow 0.3s ease;
                            }

                            &:hover {
                                background-color: darken($secondary-color, 10%);
                                cursor: pointer;

                                &::before {
                                    box-shadow: 0px 0px 10px transparentize($article-color, 0.2);
                                }
                            }
                        }
                    }

                    .counter {
                        width: 2em;
                        text-align: center;
                        color: darken($secondary-color, 40%);
                    }
                }
            }

            .average_rating {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: max-content;
                opacity: 0;

                p {
                    font-size: 40px;
                }

                // Average Rating Number Tooltip

                .tooltip {
                    @include tooltip($top: 6px);

                    .average_rating_number {
                        position: relative;
                        width: 70px;
                        height: 45px;
                        color: darken($secondary-color, 20%);

                        &:hover {
                            cursor: pointer;
                        }

                        span {
                            position: relative;
                            // bottom: 14px;
                            bottom: 22.5px;
                            font-size: 20px;
                        }
                    }
                }

                .stars {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    width: 100%;
                    height: 32px;
                    
                    // Stars Tooltip
                    
                    .tooltip {
                        @include tooltip($top: 6px);

                        .star {
                            width: 32px;
                            height: 32px;

                            svg {
                                &:hover {
                                    transform: scale(1.1);
                                    cursor: pointer;
                                    transition: transform 0.3s ease;
                                }
                            }
                        }
                    }
                }
            }
        }

        .num_reviews {
            width: 500px;
            margin: 0px auto 5px;

            p {
                color: darken($secondary-color, 20%);
                font-size: 0.9em;

                span {
                    font-weight: bold;
                }
            }
        }

        // Custom Select Menu

        .select_menus {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            max-width: 500px;
            margin: 0px auto 10px;

            .sort_select_menu, .rating_select_menu {
                @include custom_select_menu($options_list_height: calc(33px * 4));

                .refresh {
                    .fa-arrow-rotate-right {
                        position: absolute;
                        top: 50%;
                        left: 0px;
                        transform: translateY(-50%);
                        padding: 12.5px 0px 12.5px 8.5px;
                        color: darken($secondary-color, 10%);
                        transition: color 0.3s ease;
                        z-index: 50;
            
                        &:hover {
                            color: $secondary-color;
                            cursor: pointer;
                        }
                    }
                }
            }

            .rating_select_menu {
                @include custom_select_menu($options_list_height: calc(33px * 4), $scrollbar: auto);
            }
        }

        // All Reviews

        .all_reviews {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .no_reviews {
                width: 100%;
                text-align: center;
                font-family: $article-heading-font;
                color: $secondary-color;
            }

            .one_review {
                position: relative;
                opacity: 0;
                width: calc((100% - 40px) / 3); // 40px = Gap Between Reviews, 3 Because There Are 3 Reviews In One Row
                margin: 10px 0px;
                padding: 10px;
                border: 1px solid transparentize($blue-color, 0.5);
                border-radius: $small-border-radius;
                box-shadow: 5px 5px 10px transparentize($blue-color, 0.8);
                transition: transform 0.3s ease, background-color 0.3s ease;
                overflow: hidden;

                &::before {
                    @include circle_decoration($top: 0px, $left: -80px, $width: 200px, $height: 200px, $color: transparentize($main-color, 0.8));
                }

                &.animate {
                    animation: fadeIn 1s ease-out forwards;
                }

                &:hover {
                    transform: scale(1.01);
                    cursor: pointer;
                }

                .reviewer .date {
                    font-style: italic;
                    color: darken($secondary-color, 40%);
                }

                .review {
                    p {
                        margin-top: 10px;
                    }

                    .edit_review {
                        text-decoration: none;
                        font-size: 0.9em;
                        color: darken($secondary-color, 40%);

                        &:hover,
                        &:active {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .all_reviews {
            .reviewer {
                position: relative;
                height: 38px;
                text-align: left;

                .profile_picture {
                    @include profile_picture($width: 38px, $height: 38px);
                }

                .full_name {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 48px;
                }
            }

            .review {
                .rating {
                    margin-top: 10px;

                    .fa-star {
                        font-size: 1.5em;
                        cursor: pointer;

                        &.full {
                            color: $article-color;
                            opacity: 1;
                        }

                        &.empty {
                            color: darken($secondary-color, 40%);
                            opacity: 0.5;
                        }
                    }
                }

                .review_content {
                    width: 500px;
                    border-radius: $small-border-radius;
                }
            }
        }

        .write_review_form_container {
            max-width: $main-width;
            margin-top: 10px;
            margin-bottom: 40px;
            padding: 10px 0px;
            background: radial-gradient(circle, transparentize($blue-color, 0.9) 0%, transparent 100%);
            border-radius: $small-border-radius;

            .write_review_form {
                max-width: 500px;
                position: relative;
                text-align: center;
                margin: 0px auto;
                
                .review {
                    .rating {
                        .fa-star {
                            font-size: 1.5em;
                            cursor: pointer;
                            transition: color 0.1s ease, transform 0.1s ease;

                            &.full {
                                color: $article-color;
                                opacity: 1;
                            }
                            
                            &.empty {
                                color: darken($secondary-color, 40%);
                                opacity: 0.5;
                            }

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                        input {
                            display: none;
                        }
                    }

                    textarea {
                        @include form_textarea($width: 100%);
                    }
                }

                input[type="submit"] {
                    @include blue_button($border-radius: $small-border-radius);
                    width: 100%;
                    margin-top: 6px + 10px;
                }
            }
        }
    }

    // Contact Form

    .contact_form { 
        @include animated_border;
        max-width: 500px;
        margin: 0px auto;
        padding: 30px 50px 50px;
        text-align: center;
        border-radius: $medium-border-radius;

        h2 {
            margin-bottom: 30px;
        }
        
        input[type="text"], input[type="email"] {
            @include form_input;
        }

        // Custom Select Menu

        .subject_select_menu {
            position: relative;
            margin-bottom: 10px;
            cursor: pointer;

            .select {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 90%;
                height: 50px;
                margin: 0px auto;
                padding: 0px 10px;
                background: transparent;
                color: $secondary-color;
                border-bottom: 1px solid transparentize($blue-color, 0.5);
                transition: width 0.3s ease, border-color 0.3s ease;

                &:hover {
                    width: 100%;
                    border-color: $blue-color;

                    .fa-angle-down {
                        color: $blue-color;
                    }
                }

                span {
                    margin-left: 5px;
                }

                .fa-angle-down {
                    color: transparentize($blue-color, 0.5);
                    transition: color 0.3s ease,
                }
            }

            .options_list {
                interpolate-size: allow-keywords;
                position: absolute;
                width: 90%;
                height: 0px;
                left: 50%;
                transform: translateX(-50%);
                text-align: left;
                padding: 0px 15px;
                color: $secondary-color;
                background-color: transparentize($main-color, 0.2);
                border-radius: 0px 0px 5px 5px;
                overflow: hidden;
                transition: height 0.3s ease, width 0.3s ease;
                z-index: 50;

                &.active {
                    height: auto;
                }

                .option {
                    padding: 5px 0px;
                    transition: color 0.3s ease;

                    &:hover,
                    &.selected {
                        color: $blue-color !important;
                    }

                    i {
                        width: 1em;
                        margin-right: 10px;
                        color: $blue-color;
                    }
                }
            }

            &:has(.select:hover) .options_list {
                width: 100%;
            }
        }
        
        .message_container {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 20px auto 0px;
            border: 1px solid transparentize($blue-color, 0.5);
            border-radius: $small-border-radius;
            transition: border-color 0.3s ease;

            &:hover {
                border-color: $blue-color;
            }

            textarea {
                width: 100%;
                min-height: 100px;
                field-sizing: content;
                padding: 5px 10px;
                background: transparent;
                color: $secondary-color;
                border: none;
                outline: none;
                resize: none;

                &::placeholder {
                    color: darken($secondary-color, 40%);
                }
            }

            .attachment {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 25px;
                padding: 0px 10px;
                background-color: transparentize($main-color, 0.5);
                border-radius: 0px 0px $small-border-radius $small-border-radius;

                p {
                    font-size: 0.8em;
                    color: darken($secondary-color, 40%);
                }

                // Attachment Tooltip

                .tooltip {
                    @include tooltip($top: -5px);

                    i {
                        @include icon;
                    }
                }

                #select_attachment {
                    display: none;
                }
            }

            &:has(textarea:hover) .attachment, &:has(textarea:focus) .attachment {
                width: 100%;
            }
        }

        .form_report {
            @include form_report;
        }

        input[type="submit"] {
            @include blue_button;
            margin-top: 40px;
        }
    }

    // Credit Card

    .credit_card_form {
        max-width: 500px;
        margin: 50px auto 0px;
        text-align: center;

        .credit_card {
            position: relative;
            display: flex;
            justify-content: center;
            text-align: left;
            margin-bottom: 15px;
            color: $secondary-color;
            font-family: Arial;

            .front,
            .back {
                width: 85.6mm; // ISO / IEC 7810
                aspect-ratio: 1.586 / 1; // ISO / IEC 7810
                padding: 10px 15px;
                background-color: lighten($main-color, 5%);
                border: 1px solid transparentize($blue-color, 0.5);
                border-radius: $medium-border-radius;

                .group {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: 0.8em;
                        text-transform: uppercase;
                        color: darken($secondary-color, 40%);
                    }

                    .card_number,
                    .cardholder_name,
                    .card_expiry,
                    .card_cvc {
                        height: 30px;
                        padding: 0px 5px;
                        color: $secondary-color;
                        background-color: transparentize($main-color, 0.8);
                        border: none;
                        border: 1px solid transparentize($blue-color, 0.5);
                        border-radius: $small-border-radius;
                        font-family: monospace;
                        outline: none;
                        appearance: none;
                    }
                }
            }

            .front {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-top: 5px;
                overflow: hidden;
                z-index: 1;

                &::before {
                    @include circle_decoration($top: -250px, $left: -150px, $width: 400px, $height: 400px, $color: transparentize($blue-color, 0.9));
                }

                &::after {
                    @include circle_decoration($bottom: -475px, $left: -150px, $width: 600px, $height: 600px, $color: transparentize($blue-color, 0.9));
                }

                .top {
                    display: flex;

                    .title {
                        flex-grow: 1;
                        font-size: 1.5em;
                        font-weight: bold;
                    }

                    .logo {
                        width: 50px;
                        flex-grow: 0;
                    }
                }

                .error_report {
                    font-size: 0.9em;
                    color: $error-color;
                }

                .bottom {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .group {
                        .card_number {
                            width: 170px;
                        }
                    }
    
                    .row {
                        display: flex;
                        gap: 15px;
    
                        .cardholder_name_group {
                            flex-grow: 1;
                        }
                        
                        .group {
                            .card_expiry {
                                width: 70px;
                            }
                        }
                    }
                }
            }

            .back {
                position: absolute;
                top: 15px;
                left: calc(50% + 70px);
                transform: translateX(-50%);

                .group {
                    position: absolute;
                    bottom: 10px;
                    right: 15px;

                    .card_cvc {
                        width: 40px;
                    }
                }
            }
        }

        .donation_buttons {
            display: flex;
            gap: 15px;
            width: 85.6mm;
            margin: 0px auto;
            
            .donate_button {
                @include blue_button($width: 100%);
                @include glow_animated_border;
                margin-top: 15px;
                color: transparentize($secondary-color, 0.2);
                font-size: 1.2em;
            }
        }
    }
}

/**************
 Media Queries
**************/

@media (width <= 1200px) {
    .all_reviews .one_review {
        width: calc((100% - 20px) / 2) !important; // 20px = Gap Between Reviews, 2 Because There Are 2 Reviews In One Row
    }
}

@media (max-width: 800px) {
    .header_container {
        height: calc(100vh - 109px);
        padding: 109px + 20px 20px 0px !important;

        .center {
            height: calc(100vh - 109px - 20px - 40px) !important;
        }
    }

    .all_reviews .one_review {
        width: 100% !important;
    }
}

@media (max-width: 600px) {
    .contact_form {
        input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select, input[type="submit"] {
            width: 100% !important;
        }

        .subject_select_menu {
            .select {
                width: 100% !important;
            }
        }
    }

    .login_form .password_container .fa-eye,
    .login_form .password_container .fa-eye-slash {
        right: 0px !important;
    }

    .login_methods div {
        width: 100% !important;
    }

    .registration_form .password_container .fa-eye,
    .registration_form .password_container .fa-eye-slash {
        right: 0px !important;
    }
    
    .registration_form .password_container .fa-key {
        left: -16px !important;
    }

    .registration_form .password_container .fa-copy, .password_check_container .fa-copy {
        right: -19px !important;
    }

    textarea {
        width: 100% !important;
    }

    .attachment {
        width: 100% !important;
    }
}

@media (max-width: 500px) {
    header {
        .header_container {
            .buttons {
                flex-direction: column;
                align-items: center;
                gap: 10px;
                
                .login_button,
                .registration_button {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .content .reviews .reviews_info_container {
        .graph .one_column {
            gap: 10px;
        }

        .average_rating .tooltip .average_rating_number {
            width: 65px;
        }

        .stars {
            gap: 8px;

            .tooltip .star svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}