@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

/************
 Main Styles
************/

// Login Form

.login_form {
    position: relative;
    max-width: $secondary-width;
    width: 100%;
    margin: 0px auto;
    padding: 30px 50px 50px;
    text-align: center;
    border: 1px solid transparentize($blue-color, 0.5);
    border-radius: $medium-border-radius;
    box-shadow: 0 10px 30px transparentize($blue-color, 0.8);
    overflow: hidden;

    &::before {
        @include circle_decoration($top: -250px, $left: -50px, $width: 400px, $height: 400px);
    }

    &::after {
        @include circle_decoration($bottom: -200px, $right: -50px, $width: 400px, $height: 400px);
    }

    h2 {
        margin-bottom: 30px;
        color: $secondary-color;
        animation: fadeInScale 0.3s ease-out;

        a {
            color: $secondary-color;
            text-decoration: none;
            font-size: 1em;
        }
    }

    .back {
        @include form_back;
    }

    .form_report {
        @include form_report;
    }

    input[type="submit"] {
        @include blue_button($border-radius: $big-border-radius);
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .identifier_container {
        position: relative;

        i {
            @include icon;
            display: block;
            position: absolute;
            bottom: 10px;
            left: 3px;
            padding: 19px 0px 16px;
        }
    }

    input[type="text"] {
        @include form_input;
    }

    .password_container {
        position: relative;

        .fa-lock {
            @include icon;
            display: block;
            position: absolute;
            bottom: 10px;
            left: 3px;
            padding: 19px 0px 15px;
        }

        .password {
            padding-right: 28px !important;
            -webkit-text-security: disc;
        }

        .show_hide_password {
            all: unset;
            position: absolute;
            bottom: 10px;
            right: 20px;
            padding: 19px 0px 15px;

            .fa-eye, 
            .fa-eye-slash {
                @include icon;
                display: block;
            }
        }
    }

    .login_methods {
        p {
            position: relative;
            color: $light-blue-color;

            span {
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translateY(-50%);
                width: 135px;
                height: 1px;
                background-color: $light-blue-color;

                &:nth-child(1) {
                    right: auto;
                    left: 5%;
                }
            }
        }

        div {
            position: relative;
            display: block;
            width: 90%;
            height: 50px;
            line-height: 50px;
            margin: 10px auto;
            background-color: transparentize($main-color, 0.1);
            border-radius: $big-border-radius;
            transition: transform 0.3s ease, letter-spacing 0.3s ease;

            &:hover {
                letter-spacing: 0.5px;
                cursor: pointer;
            }

            a {
                display: block;
                color: $light-blue-color;
                text-decoration: none;
                width: 100%;
                height: 100%;

                i {
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 14px;
                    transform: translateY(-50%);
                    color: $light-blue-color;
                    transition: color 0.3s ease;
                }
            }
        }

        .google {
            @include glow_animated_border($colors: conic-gradient(
                from var(--angle), 
                red,
                yellow,
                green,
                blue,
                red
            ), 
            
            $thickness: 3px)
        }

        .apple {
            @include glow_animated_border($colors: conic-gradient(
                from var(--angle), 
                chartreuse,
                transparent,
                chartreuse
            ), 

            $thickness: 3px)
        }

        .facebook {
            @include glow_animated_border($colors: conic-gradient(
                from var(--angle), 
                dodgerblue,
                transparent,
                dodgerblue
            ), 

            $thickness: 3px)
        }
    }

    .form_questions {
        margin-top: 10px;
        color: $secondary-color;

        a {
            color: $secondary-color;
            text-decoration: none;
            font-style: italic;

            &:hover,
            &:active {
                text-decoration: underline;
            }
        }
    }
}

/**************
 Media Queries
**************/

@media (width <= 600px) {
    .login_form {
        input[type="text"], input[type="submit"] {
            width: 100% !important;
        }

        .password_container .show_hide_password .fa-eye,
        .password_container .show_hide_password .fa-eye-slash {
            right: 0px !important;
        }

        .login_methods div {
            width: 100% !important;
        }
    }
}