@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

/************
 Main Styles
************/

.profile_container {
    @include animated_border;
    position: relative;
    max-width: 500px;
    margin: 0px auto;
    padding: 30px 50px 50px;
    text-align: center;
    border-radius: $medium-border-radius;
    overflow: hidden;

    h2 {
        margin-bottom: 30px;

        &:hover {
            cursor: pointer;
        }

        a {
            font-size: 1em;
            text-decoration: none;
            color: $secondary-color;
        }
    }

    .back {
        @include form_back;
    }

    .fa-gear {
        position: absolute;
        top: 42.5px;
        right: 50px;
        font-size: 2em;
        color: transparentize($blue-color, 0.5);
        transition: color 0.3s ease, transform 0.3s ease;
        z-index: 100;

        &:hover {
            color: $blue-color;
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    .edit_account_form,
    .profile {
        transition: transform 0.3s ease;

        &.hidden {
            position: absolute;
            top: 30px + 56px;
            transform: translateX(calc(100% - 50px));
            max-width: 500px;
            width: 100%;
            padding: 30px 50px 50px;
        }
    }

    // Edit Account Form

    .edit_account_form {
        .profile_picture_container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .info {
                display: flex;
                align-items: center;
                gap: 10px;

                .profile_picture {
                    @include profile_picture($width: 50px, $height: 50px);
                    transition: transform 0.3s ease;
            
                    &:hover {
                        transform: scale(1.05);
                    }
                }

                .username {
                    font-size: 1.2em;
                }
            }

            .delete_profile_picture {
                position: relative;
                opacity: 0.6;
                transition: transform 0.3s ease, opacity 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                    opacity: 1;
                    cursor: pointer;
                }
            }

            #select_profile_picture, #delete_profile_picture {
                display: none;
            }
        }

        .bio_container {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 10px auto 0px;
            border: 1px solid transparentize($blue-color, 0.5);
            border-radius: $small-border-radius;
            transition: width 0.3s ease, border-color 0.3s ease;
    
            &:has(.bio:focus),
            &:hover {
                width: 100%;
                border-color: $blue-color;
            }
    
            .bio {
                width: 100%;
                min-height: 50px;
                field-sizing: content;
                padding: 5px 10px;
                background: transparent;
                color: $secondary-color;
                border: none;
                outline: none;
                resize: none;
    
                &::placeholder {
                    color: darken($secondary-color, 40%);
                }
            }
    
            .icons {
                display: flex;
                align-items: center;
                justify-content: right;
                height: 25px;
                padding: 0px 10px;
                background-color: transparentize($main-color, 0.5);
                border-radius: 0px 0px $small-border-radius $small-border-radius;
    
                .add_emoji {
                    @include icon;
                }
            }
    
            .emoji_picker_container {
                @include emoji_picker_container;
            }
        }

        .first_name_container, .last_name_container, .email_address_container, .phone_number_container {
            position: relative;

            input[type="text"], input[type="email"], input[type="tel"] {
                @include form_input;
            }

            .first_name, .last_name {
                padding-right: 23px !important;
            }

            .email_address, .phone_number {
                padding-right: 25px !important;
            }

            i {
                @include icon;
                display: block;
                position: absolute;
                bottom: 10px;
                left: 3px;
                padding: 19px 0px 16px;
            }
        }

        .first_name_container:has(.first_name:hover) .fa-user, .first_name_container:has(.first_name:focus) .fa-user,
        .last_name_container:has(.last_name:hover) .fa-user, .last_name_container:has(.last_name:focus) .fa-user,
        .email_address_container:has(.email_address:hover) .fa-envelope, .email_address_container:has(.email_address:focus) .fa-envelope,
        .phone_number_container:has(.phone_number:hover) .fa-phone, .phone_number_container:has(.phone_number:focus) .fa-phone {
            left: -16px;
        }

        .form_report {
            @include form_report;
        }

        input[type="submit"] {
            @include blue_button;
            margin-top: 40px;
        }

        .form_questions {
            margin-top: 10px;

            a {
                color: $secondary-color;
                text-decoration: none;

                &:hover,
                &:active {
                    text-decoration: underline;
                }
            }
        }

        .delete_account {
            margin-top: 10px;
            opacity: 0.6;
            transition: transform 0.3s ease, opacity 0.3s ease;

            &:hover {
                transform: scale(1.1);
                opacity: 1;
                cursor: pointer;
            }
        }

        #delete_account {
            display: none;
        }
    }

    .profile {
        .header {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 30px;

            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .info {
                    display: flex;
                    align-items: center;
                    gap: 10px;
    
                    .profile_picture {
                        @include profile_picture($width: 50px, $height: 50px);
                        transition: transform 0.3s ease;
                
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
    
                    .username {
                        font-size: 1.2em;
                    }
                }
    
                .streak {
                    display: flex;
                    align-items: center;
                    gap: 10px;
    
                    .fa-fire {
                        color: darken($secondary-color, 40%);
                        font-size: 1.2em;

                        &.increased {
                            color: $article-color;
                        }
                    }
    
                    span {
                        font-size: 1.2em;
                    }
                }
            }

            .bottom {
                .bio {
                    font-size: 0.9em;
                    text-align: justify;
                }
            }
        }

        .middle {
            .follow_container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                div {
                    .label {
                        font-size: 0.8em;
                    }

                    .amount {
                        font-size: 1.2em;
                    }
                }

                .follow_button {
                    height: 35px;
                    padding: 5px 10px;
                    text-align: center;
                    background-color: transparent;
                    color: $secondary-color;
                    border: 1px solid transparentize($blue-color, 0.5);
                    border-radius: $big-border-radius;
                    outline: none;
                    transition: border-color 0.3s ease;
        
                    &:hover,
                    &:focus {
                        border-color: $blue-color;
                        cursor: pointer;
                    }
                }
            }

            .badges_container {
                @include flex_center;
                margin-bottom: 25px;

                .previous {
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }

                    .fa-angle-left {
                        font-size: 2em;
                    }
                }

                .badges {
                    @include scrollbar($direction: "vertical");
                    display: grid;
                    grid-auto-flow: column;
                    grid-template-rows: repeat(2, 50px);
                    grid-auto-columns: 50px;
                    gap: 10px;
                    flex: 1;
                    max-width: 100%;
                    padding: 10px 10px 5px;
                    scroll-behavior: smooth;
    
                    .badge {
                        @include flex_center;
                        position: relative;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: 1px solid $secondary-color;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                            cursor: pointer;
                        }

                        &.empty {
                            
                        }

                        &.level,
                        &.max_activity_streak,
                        &.years_since_registration {
                            p {
                                position: absolute;
                                font-size: 1.2em;
                                font-weight: bold;
                            }

                            i {
                                font-size: 2em;
                                opacity: 0.2;
                            }
                        }

                        &.level,
                        &.years_since_registration {
                            $blue-level:   #3b82f6;
                            $green-level:  #10b981;
                            $yellow-level: #f59e0b;
                            $orange-level: #fa541c;
                            $red-level:    #ef4444;
                            $purple-level: #8b5cf6;

                            &.blue {
                                background-color: transparentize($blue-level, 0.85);
                                color: $blue-level;
                                border-color: transparentize($blue-level, 0.7);
                                box-shadow: 0 0 8px transparentize($blue-level, 0.5);
                            }
                        
                            &.green {
                                background-color: transparentize($green-level, 0.85);
                                color: $green-level;
                                border-color: transparentize($green-level, 0.7);
                                box-shadow: 0 0 8px transparentize($green-level, 0.5);
                            }
                        
                            &.yellow {
                                background-color: transparentize($yellow-level, 0.85);
                                color: $yellow-level;
                                border-color: transparentize($yellow-level, 0.7);
                                box-shadow: 0 0 8px transparentize($yellow-level, 0.5);
                            }
                        
                            &.orange {
                                background-color: transparentize($orange-level, 0.85);
                                color: $orange-level;
                                border-color: transparentize($orange-level, 0.7);
                                box-shadow: 0 0 8px transparentize($orange-level, 0.5);
                            }
                        
                            &.red {
                                background-color: transparentize($red-level, 0.85);
                                color: $red-level;
                                border-color: transparentize($red-level, 0.7);
                                box-shadow: 0 0 8px transparentize($red-level, 0.5);
                            }
                        
                            &.purple {
                                background-color: transparentize($purple-level, 0.85);
                                color: $purple-level;
                                border-color: transparentize($purple-level, 0.7);
                                box-shadow: 0 0 8px transparentize($purple-level, 0.5);
                            }
                        }

                        &.max_activity_streak {
                            background-color: transparentize($article-color, 0.85);
                            color: $article-color;
                            border-color: transparentize($article-color, 0.7);
                            box-shadow: 0 0 8px transparentize($article-color, 0.5);

                            .fa-fire {
                                color: $article-color;
                            }
                        }
                    }
                }

                .next {
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }

                    .fa-angle-right {
                        font-size: 2em;
                    }
                }
            }
        }

        .bottom {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-top: 5px;
            overflow: hidden;

            .grid_select {
                display: flex;
                justify-content: center;
                gap: 50px;

                .all_posts_icon,
                .saved_posts_icon {
                    @include blue_button(50px);
                    position: relative;

                    &.active {
                        border-color: $blue-color;
                        transform: scale(1.05);
                    }
                    
                    .fa-buffer,
                    .fa-bookmark {
                        @include position_center;
                        font-size: 2em;
                        color: $blue-color;
                    }
                }
            }

            .posts_container,
            .saved_posts_container {
                @include scrollbar;
                max-height: calc(130px * 3);
                transition: transform 0.3s ease;

                &.hidden {
                    position: absolute;
                    bottom: 0px;
                    transform: translateX(100%);
                }

                .posts,
                .saved_posts {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 5px;
                    margin-right: 5px;

                    a {
                        position: relative;
                        color: $secondary-color;
                        border-radius: $small-border-radius;
                        overflow: hidden;

                        .image,
                        .thumbnail {
                            display: block;
                            width: 100%;
                            height: 100%;
                            aspect-ratio: 1 / 1;
                            object-fit: cover;
                            transition: filter 0.3s ease;
            
                            &:hover {
                                filter: blur(2px) grayscale(0.8);
                                cursor: pointer;
                            }
                        }

                        p {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            display: flex;
                            gap: 5px;
                            line-height: 15px;
                            color: $secondary-color;
                        }
                    }
                }
            }

            .posts_container.hidden {
                .no_posts {
                    display: none;
                }
            }

            .saved_posts_container.hidden {
                .no_saved_posts {
                    display: none;
                }
            }
        }
    }
}

/**************
 Media Queries
**************/

@media (width <= 600px) {
    .edit_account_form {
        input[type="text"], input[type="email"], input[type="tel"], input[type="submit"] {
            width: 100% !important;
        }

        .first_name_container, .last_name_container, .email_address_container, .phone_number_container {
            .fa-user, .fa-envelope, .fa-phone {
                left: -16px !important;
            }
        }
    }
}