@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

/************
 Main Styles
************/

// Registration Form

.registration_form {
    position: relative;
    max-width: $secondary-width;
    width: 100%;
    margin: 0px auto;
    padding: 30px 50px 50px;
    text-align: center;
    border: 1px solid transparentize($blue-color, 0.5);
    border-radius: $medium-border-radius;
    box-shadow: 0 10px 30px transparentize($blue-color, 0.8);
    overflow: hidden;

    &::before {
        @include circle_decoration($top: -250px, $left: -50px, $width: 400px, $height: 400px);
    }

    &::after {
        @include circle_decoration($bottom: -200px, $right: -50px, $width: 400px, $height: 400px);
    }

    h2 {
        margin-bottom: 30px;
        color: $secondary-color;
        animation: fadeInScale 0.3s ease-out;

        a {
            color: $secondary-color;
            text-decoration: none;
            font-size: 1em;
        }
    }

    .back {
        @include form_back;
    }

    .form_report {
        @include form_report;
    }

    input[type="submit"] {
        @include blue_button($border-radius: $big-border-radius);
        margin-top: 40px;
    }

    .form_questions {
        margin-top: 10px;
        color: $secondary-color;

        a {
            color: $secondary-color;
            text-decoration: none;
            font-style: italic;

            &:hover,
            &:active {
                text-decoration: underline;
            }
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
        @include form_input;
    }

    i {
        @include icon;
    }

    .name_container,
    .contact_container {
        display: flex;
        gap: 30px;
        width: 90%;
        margin: 0px auto;

        i {
            display: block;
            position: absolute;
            bottom: 10px;
            left: -20px;
            padding: 19px 0px 15px;
        }

        input {
            display: block;
            width: 100%;
        }
    }

    .first_name_container,
    .last_name_container,
    .email_address_container {
        position: relative;
    }

    .phone_number_container {
        position: relative;

        .fa-phone {
            position: absolute;
        }
        
        .flag {
            position: absolute;
            bottom: 21px;
            right: -30px;
            width: 24px;
            opacity: 0.8;
            transition: right 0.3s ease;
        }
    }

    .username_container {
        position: relative;

        .fa-at {
            @include icon;
            display: block;
            position: absolute;
            bottom: 10px;
            left: 3px;
            padding: 19px 0px 15px;
        }
    }

    .password_container {
        position: relative;

        .password {
            padding-right: 28px !important;
            -webkit-text-security: disc;
        }

        .generate_password {
            all: unset;
            position: absolute;
            bottom: 10px;
            left: 3px;
            padding: 19px 0px 15px;

            .fa-key {
                @include icon;
                display: block;
            }
        }

        .show_hide_password,
        .copy_password {
            all: unset;
            position: absolute;
            bottom: 10px;
            right: 20px;
            padding: 19px 0px 15px;

            .fa-eye, 
            .fa-eye-slash,
            .fa-copy {
                @include icon;
                display: block;
            }
        }

        .copy_password {
            right: 1px;
        }
    }

    .password_check_container {
        position: relative;

        .fa-lock {
            @include icon;
            display: block;
            position: absolute;
            bottom: 10px;
            left: 3px;
            padding: 19px 0px 15px;
        }

        .password_check {
            padding-right: 28px !important;
        }

        .paste_password {
            all: unset;
            position: absolute;
            bottom: 10px;
            right: 1px;
            padding: 19px 0px 15px;

            .fa-copy {
                @include icon;
                display: block;
            }
        }
    }
}

/**************
 Media Queries
**************/

@media (width <= 400px) {
    .registration_form {
        padding: 10px 30px 30px;

        .back {
            top: 22.5px;
            left: 30px;
        }

        input[type="text"], 
        input[type="email"],
        input[type="tel"],
        input[type="password"],
        input[type="submit"] {
            width: 100% !important;
        }

        .name_container,
        .contact_container {
            width: 100%;
        }

        .username_container,
        .password_container,
        .password_check_container {
            .fa-at,
            .generate_password,
            .fa-lock {
                left: -15px;
            }
        }

        .password_container {
            .show_hide_password {
                right: 1px;
            }

            .copy_password {
                right: -18px;
            }
        }

        .password_check_container {
            .paste_password {
                right: -18px;
            }
        }
    }
}