@import "../../../../static/css/partials/variables";
@import "../../../../static/css/partials/mixins";

/**************
 Header Styles
**************/

// Banner

.banner {
    .left {
        .manage_training_plans {
            &.not_allowed {
                a {
                    cursor: not-allowed;
                }
            }
        }
    }
}

/************
 Main Styles
************/

// Activity

.activity {
    @include flex_center($direction: column);
    max-width: 500px;
    width: 100%;
    min-height: calc(100vh - 125px);
    margin: 0px auto;

    .record_activity {
        @include flex_center($direction: column);
        width: 100%;
        margin-bottom: 20px;

        .timer {
            margin-bottom: 10px;
            font-family: $timer-font;
            font-size: 3em;
            font-weight: lighter;
            color: $secondary-color;
            white-space: nowrap;

            span {
                font-variant-numeric: tabular-nums;
                display: inline-block;
                width: 80px;
                margin-left: 5px;
                font-family: inherit;
                font-size: inherit;

                &:nth-child(1) {
                    margin-left: 0px;
                }
            }
        }

        .buttons {
            @include flex_center;
            gap: 20px;
            width: 100%;

            a {
                @include blue_button;
                position: relative;

                &:nth-child(1) {
                    background-color: $blue-color;
                    box-shadow: 0px 0px 10px $blue-color;

                    &:not(:hover) {
                        animation: bluePulse 1s linear alternate infinite 0.3s;
                    }

                    &:hover,
                    &:focus {
                        background-color: lighten($blue-color, 2%);
                    }
                }

                .fa-play, .fa-pause, .fa-stop {
                    @include position_center;
                    font-size: 2em;
                    color: $secondary-color;
                }

                .fa-play {
                    left: calc(50% + 2.5px);
                }

                .fa-stop {
                    color: $blue-color;
                }
            }
        }
    }

    .no_training_plan,
    .no_logged_in {
        margin-bottom: 20px;
        text-align: center;

        a {
            color: $secondary-color;
            text-decoration: none;
            font-size: 0.9em;
            font-style: italic;

            &:hover,
            &:active,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    .training_plan_container {
        @include flex_center($direction: column);
        width: 100%;
        margin-bottom: 20px;

        .training_plan {
            @include animated_border;
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 250px;
            border-radius: $small-border-radius;
            overflow: hidden;

            &.blur {
                animation: blur 0.3s ease-out;
            }

            .start_training, 
            .exercise,
            .finish_training,
            .break,
            .warm_up {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 200px;
                padding: 10px 50px 0px;
                transition: transform 0.5s ease;
                z-index: 100;

                &:not(.active) {
                    position: absolute;
                    top: 0px;
                    transform: translateX(100%);

                    .left {
                        opacity: 0;
                    }
                }

                .left {
                    opacity: 1;
                    transition: opacity 0.5s ease;

                    p {
                        &:first-child {
                            margin-bottom: 5px;
                        }
                    }

                    h3 {
                        font-family: $article-heading-font;
                        font-size: 2em;
                    }
                }

                .start_training_button,
                .next_exercise_button,
                .finish_training_button,
                .add_time,
                .skip_break_button,
                .skip_warm_up_button {
                    @include blue_button(50px);
                    position: relative;
                    margin-left: 10px;

                    .fa-play,
                    .fa-angle-right,
                    .fa-plus,
                    .fa-stop {
                        @include position_center;
                        font-size: 2em;
                        color: $blue-color;
                    }

                    .fa-play {
                        left: calc(50% + 2.5px);
                    }
                }
            }

            .exercise {
                .left {
                    .title {
                        max-width: 350px;
                    }

                    .reps,
                    .sets {
                        font-family: $article-heading-font;
                        font-size: 1.2em;
    
                        .current,
                        .total {
                            font-family: inherit;
                            font-size: inherit;
                        }
                    }
                }
            }

            .break {
                .add_time {
                    .add_time_message {
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        top: 0%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        color: $blue-color;
                        z-index: 200;

                        &.animate {
                            animation: fadeOut 1s ease-out forwards;
                        }
                    }
                }
            }

            .warm_up {
                .title {
                    width: 50px;
                    font-family: $article-heading-font;
                    font-size: 2em;
                }

                .skip_warm_up_button {
                    width: 50px;
                }
            }

            // Timer

            .break .break_timer,
            .warm_up .warm_up_timer {
                @include timer;
            }

            .bar_container {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 10px;
                margin: auto 10px 0px;

                .bar {
                    --progress: 0%;
                    --progress-color: rgb(255, 207, 32);

                    position: relative;
                    width: 100%;
                    height: 10px;
                    border: 1px solid transparentize($secondary-color, 0.8);
                    border-radius: calc(10px / 2);

                    // Progress
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 0%;
                        height: 100%;
                        border-radius: inherit;
                    }

                    &.active {
                        &:before {
                            width: var(--progress);
                            background-color: var(--progress-color);
                            box-shadow: 0px 0px 10px var(--progress-color);
                            transition: width 0.5s linear, background-color 0.5s ease;
                        }
                    }

                    // Label
                    &:after {
                        pointer-events: none;
                        opacity: 0;
                        content: attr(data-exercise);
                        position: absolute;
                        top: -5px;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        width: calc(100% + 10px);
                        height: 24px;
                        text-align: center;
                        font-size: 12px;
                        line-height: 12px;
                        color: transparentize($secondary-color, 0.5);
                        text-overflow: ellipsis;
                        overflow: hidden;
                        transition: opacity 0.3s ease, transform 0.3s ease;
                    }

                    &.show {
                        &:after {
                            opacity: 0.5;
                            transform: translate(-50%, -100%);
                        }
                    }
                }
            }

            .current_activity_info {
                --progress: 0%;

                position: relative;
                margin: 10px 0px;
                text-align: center;
                font-family: $article-heading-font;
                z-index: 100;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                    width: 100%;
                    width: calc(100% - 20px - var(--progress));
                    height: 1px;
                    background-color: transparentize($blue-color, 0.5);
                    box-shadow: 0px 0px 10px $blue-color;
                    z-index: -1;
                }

                span {
                    font-family: $article-heading-font;
                    color: transparentize($secondary-color, 0.5);
                    opacity: 0.5;
                }

                .fa-bolt {
                    color: $blue-color;
                    text-shadow: 0px 0px 5px $blue-color;
                }
            }
        }

        .training_plan_bar_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
            width: 100%;
            margin-top: 10px;

            .bar {
                width: 100%;
                height: 10px;
                border: 1px solid transparentize($blue-color, 0.5);
                border-radius: calc(10px / 2);
                transition: background-color 0.3s ease;

                &.active,
                &:hover {
                    cursor: pointer;
                    background-color: $blue-color;
                    box-shadow: 0px 0px 10px $blue-color;
                }
            }
        }
    }

    .previous_activity {
        max-width: 500px;
        width: 100%;

        .top {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 20px;

            .average_activity_time_container,
            .activities_amount_container {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 10px;
                text-align: center;
                border: 1px solid transparentize($blue-color, 0.5);
                border-radius: $big-border-radius;

                p {
                    .title {
                        display: block;
                        height: 30px;
                        margin-top: 5px;
                        line-height: calc(0.8em + 3px);
                        font-size: 0.8em;
                        text-align: center;

                        i {
                            color: $blue-color;
                        }
                    }

                    .average_activity_time,
                    .activities_amount {
                        font-size: 1.5em;
                        color: $blue-color;
                        text-shadow: 0px 0px 10px $blue-color;
                        white-space: nowrap;
                    }
                }
            }
        }

        .bottom {
            padding: 10px;
            border: 1px solid transparentize($blue-color, 0.5);
            border-radius: $small-border-radius;

            .latest_activity_container,
            .longest_activity_container {
                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;

                    i {
                        color: $blue-color;
                    }

                    span {
                        text-align: center;
                        white-space: nowrap;

                        &.no_latest_activity,
                        &.no_longest_activity {
                            white-space: normal;
                        }
                    }

                    .xp,
                    .none {
                        font-size: 1.2em;
                        color: $blue-color;
                        text-shadow: 0px 0px 10px $blue-color;
                    }
                }
            }
        }
    }
}

.activity_summary {
    @include flex_center($direction: column);
    display: none;
    gap: 20px;
    min-height: 100vh;
    text-align: center;

    .main_summary {
        font-family: $article-heading-font;

        span {
            position: relative;
            font-family: inherit;

            .tooltip {
                @include tooltip($top: -5px)
            }
        }
    }

    .weekly_activity_chart {
        display: none;
        width: 500px;
        height: 250px;

        canvas {
            width: 100% !important;
            height: 100% !important;
        }
    }

    .training_plan_summary {
        display: none;
        font-family: $article-heading-font;

        span {
            font-family: inherit;
        }

        br:nth-child(1) {
            display: none;
        }
    }

    .training_plan_summary_chart {
        position: relative;
        display: none;
        width: 250px;
        height: 250px;

        &::before {
            @include position_center;
            content: "%";
            font-family: $article-heading-font;
            font-size: 2.5em;
            font-weight: bold;
        }

        canvas {
            width: 100% !important;
            height: 100% !important;
        }
    }
}

.todo {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 20px auto 0px;
    
    .official_tasks,
    .custom_tasks {
        max-width: 500px;
        width: 100%;

        h3 {
            text-align: center;
            font-family: $article-heading-font;
            font-size: 1.5em;
            margin-bottom: 15px;
        }

        .tasks {
            display: flex;
            flex-direction: column;
            gap: 15px;
    
            .task {
                --progress: 0;
                --progress-color: rgba(255, 207, 32, 0.1);

                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                background-color: transparentize($secondary-color, 0.95);
                padding: 0px 15px;
                border-radius: $small-border-radius;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0px;
                    transform: scaleX(min(calc(var(--progress) / 100), 1));
                    transform-origin: left;
                    width: 100%;
                    height: 100%;
                    background-color: var(--progress-color);
                    border-radius: inherit;
                    pointer-events: none;
                }

                .title {
                    flex-grow: 1;
                    height: 50px;
                    line-height: 50px;
                }
            }
        }
    }

    .official_tasks {
        .tasks {
            .task {
                &:has(.checkbox.checked) {
                    --progress: 100;
                    --progress-color: rgba(82, 207, 32, 0.1);
                }

                .checkbox {
                    position: relative;
                    display: block;
                    flex-shrink: 0;
                    width: 14px;
                    height: 14px;
                    outline: 1px solid darken($secondary-color, 40%);
                    background: lighten($main-color, 20%);

                    &::before {
                        content: "";
                        position: absolute;
                        width: inherit;
                        height: inherit;
                        background-image: url("../../../../static/images/check.png"); // https://www.flaticon.com/free-icon/check_16750043
                        background-size: contain;
                        transform: scale(0);
                        opacity: 0;
                        transition: transform 0.2s ease, opacity 0.2s ease;
                    }

                    &.checked {
                        outline: 1px solid darken($success-color, 10%);

                        &::before {
                            transform: scale(1.5);
                            opacity: 1;
                            transition: transform 0.3s ease, opacity 0.3s ease;
                        }
                    }
                }

                .xp {
                    user-select: none;
                    width: 7ch;
                    padding-left: 10px;
                    text-align: center;
                    color: $success-color;
                    border-left: 1px solid darken($secondary-color, 40%);
                    font-size: 0.8em;
                    font-variant-numeric: tabular-nums;
                    white-space: nowrap;
                }
            }
        }
    }

    .custom_tasks {
        .tasks {
            .add_task {
                all: unset;
                height: 50px;
                text-align: center;
                background-color: transparentize($secondary-color, 0.95);
                border-radius: $small-border-radius;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.02);
                    cursor: pointer;
                }

                .fa-plus {
                    font-size: 2em;
                }
            }

            .task {
                transition: transform 0.3s ease;

                &::before {
                    transition: transform 0.3s ease, background-color 0.3s ease;
                }

                &:hover {
                    transform: scale(1.02);
                }

                &:has(input[type="checkbox"]:checked) {
                    --progress: 100;
                    --progress-color: rgba(82, 207, 32, 0.1);

                    .checkbox {
                        outline: 1px solid darken($success-color, 10%);

                        &::before {
                            transform: scale(1.5);
                            opacity: 1;
                            transition: transform 0.3s ease, opacity 0.3s ease;
                        }
                    }
                }

                .checkbox {
                    position: relative;
                    display: block;
                    flex-shrink: 0;
                    width: 14px;
                    height: 14px;
                    outline: 1px solid darken($secondary-color, 40%);
                    background: lighten($main-color, 20%);

                    &::before {
                        content: "";
                        position: absolute;
                        width: inherit;
                        height: inherit;
                        background-image: url("../../../../static/images/check.png"); // https://www.flaticon.com/free-icon/check_16750043
                        background-size: contain;
                        transform: scale(0);
                        opacity: 0;
                        transition: transform 0.2s ease, opacity 0.2s ease;
                    }
                }

                .title {
                    cursor: pointer;
                }

                .date {
                    user-select: none;
                    width: 7ch;
                    padding-left: 10px;
                    text-align: center;
                    color: darken($secondary-color, 40%);
                    border-left: 1px solid darken($secondary-color, 40%);
                    font-size: 0.8em;
                    font-variant-numeric: tabular-nums;
                    white-space: nowrap;
                }

                input[type="checkbox"] {
                    display: none;
                }

                // Custom Task Properties

                .show_custom_task_properties_button {
                    all: unset;
                    margin-left: auto;

                    .fa-ellipsis-vertical {
                        @include icon($color: darken($secondary-color, 40%), $hover_color: darken($secondary-color, 20%));
                        display: block;
                        font-size: 1.2em;
                    }
                }

                .custom_task_properties {
                    position: fixed;
                    inset: auto;
                    margin: 0;
                    flex-direction: column;
                    top: anchor(bottom);
                    right: anchor(right);
                    min-width: 150px;
                    margin-top: 10px;
                    margin-right: 10px;
                    text-align: center;
                    color: $secondary-color;
                    background-color: transparentize($main-color, 0.8);
                    backdrop-filter: blur(5px);
                    border: 1px solid transparentize($blue-color, 0.5);
                    border-radius: $small-border-radius;

                    &:popover-open {
                        display: flex;
                    }

                    &::backdrop {
                        background: transparent;
                    }

                    button {
                        all: unset;
                        position: relative;
                        padding: 5px 10px;
                        transition: background-color 0.3s ease;

                        &:hover,
                        &:focus {
                            background-color: transparentize($blue-color, 0.9);
                            cursor: pointer;

                            i {
                                visibility: visible;
                                opacity: 1;
                            }

                            span {
                                letter-spacing: 0.5px;
                            }
                        }

                        &[popovertargetaction="hide"] {
                            background-color: transparentize($blue-color, 0.9);
                        }

                        i {
                            visibility: hidden;
                            opacity: 0;
                            position: absolute;
                            top: 50%;
                            left: 0px;
                            transform: translateY(-50%);
                            height: 100%;
                            line-height: 33px;
                            padding-left: 10px;
                            pointer-events: none;
                            cursor: pointer;
                            transition: visibility 0.3s ease, opacity 0.3s ease;
                        }

                        span {
                            pointer-events: none;
                            transition: letter-spacing 0.3s ease;
                        }
                    }
                }
            }
        }
    }
}

/***********
 Key Frames
***********/

@keyframes bluePulse {
    0% {
        background-color: $blue-color;
    }

    100% {
        background-color: lighten($blue-color, 2%);
    }
}

@keyframes blur {
    0% {
        filter: blur(5px);
        opacity: 0.5;
        background-color: $blue-color;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
        top: 0%;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        top: -100%;
    }
}

/**************
 Media Queries
**************/

@media (width <= 1060px) {
    .todo {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

@media (width <= 500px) {
    .activity {
        .record_activity {
            .timer {
                margin-bottom: 0px;
            }

            .buttons {
                gap: 10px;
            }
        }

        .previous_activity {
            margin-bottom: 10px;

            .top {
                gap: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

@media (width <= 400px) {
    .activity {
        .record_activity {
            .timer {
                font-size: 2.5em;

                span {
                    width: 65px;
                    margin-left: 2px;
                }
            }
        }

        .training_plan_container {
            .training_plan {
                height: calc(100vh - 97px - 20px - 125px - 10px);

                .start_training, 
                .exercise,
                .finish_training,
                .break,
                .warm_up {
                    flex-direction: column;
                    justify-content: space-between;
                    height: calc(100% - 50px);
                    padding: 50px 10px;
                    text-align: center;

                    .start_training_button,
                    .next_exercise_button,
                    .finish_training_button,
                    .add_time,
                    .skip_break_button,
                    .skip_warm_up_button {
                        margin-left: 0px;
                    }
                }
            }
        }

        .previous_activity {
            .top {
                .average_activity_time_container,
                .activities_amount_container {
                    p {
                        .average_activity_time,
                        .activities_amount {
                            font-size: 1.2em;
                        }
                    }
                }
            }

            .bottom {
                display: flex;
                flex-direction: row;
                border-radius: $big-border-radius;
                padding: 10px 0px;
    
                .latest_activity_container,
                .longest_activity_container {
                    width: 50%;

                    p {
                        flex-direction: column;
                        gap: 0px;
    
                        i {
                            margin-bottom: 5px;
                        }

                        span {
                            font-size: 0.9em;
                        }
                    }
                }

                .latest_activity_container {
                    padding-right: 5px - 1px;
                }

                .longest_activity_container {
                    padding-left: 5px - 1px;
                }
            }
        }
    }
}

@media (width <= 275px) {
    .activity {
        .previous_activity {
            .top {
                gap: 0px;
                padding: 10px;
                border: 1px solid transparentize($blue-color, 0.5);
                border-radius: $big-border-radius;
        
                .average_activity_time_container,
                .activities_amount_container {
                    display: block;
                    width: 50%;
                    padding: 0px;
                    text-align: center;
                    border: none;
        
                    p {
                        @include flex_center($direction: column);
                    }
                }

                .average_activity_time_container {
                    padding-right: 5px;
                }

                .activities_amount_container {
                    padding-left: 5px;
                }
            }

            .bottom {
                padding: 10px;

                .latest_activity_container {
                    padding-right: 5px;
                }

                .longest_activity_container {
                    padding-left: 5px;
                }
            }
        }
    }
}