* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, sans-serif;
}

/**************
 Header Styles
**************/

/* Navigation Bar */

header nav {
    position: fixed;
    width: 100%;
    background-color: #000000cc;
    border-bottom: 1px solid #fff;
    z-index: 100;
}

header nav ul {
    text-align: center;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a:link,
header nav ul li a:visited {
    display: inline-block;
    margin: 20px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: transform 0.3s ease;
}

header nav ul li a:hover,
header nav ul li a:active {
    transform: scale(1.1);
}

/************
 Main Styles
************/

main {
    min-height: 100vh;
    padding-bottom: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), #000000cc), url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.header_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_container h1 {
    font-family: "Bungee", sans-serif;
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.content h2 {
    font-size: 30px;
    text-align: center;
}

/* Forms */

form {
    position: relative;
    max-width: 500px;
    margin: 0px auto;
    padding: 30px 50px 50px;
    text-align: center;
    backdrop-filter: blur(5px);
    border: 2px solid #fff;
    border-radius: 25px;
}

form h2 {
    margin-bottom: 30px;
    font-size: 40px !important;
    transition: letter-spacing 0.3s ease;
}

form h2:hover {
    letter-spacing: 1px;
    cursor: pointer;
}

form h2 a {
    text-decoration: none;
    color: #fff;
}

form input[type="text"], form input[type="email"], form input[type="password"], form select {
    width: 90%;
    height: 50px;
    margin-bottom: 10px;
    padding: 0px 10px;
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    font-size: 16px;
    transition: width 0.3s ease;
}

form input[type="text"]:hover, form input[type="email"]:hover, form input[type="password"]:hover, form textarea:hover,
form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus, form textarea:focus {
    width: 100%;
}

form select:hover, form select:focus {
    width: 100%;
    cursor: pointer;
}

form textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    outline: none;
    resize: none;
    font-size: 16px;
    transition: width 0.3s ease;
}

form input::placeholder {
    color: #949494;
}

.form_report {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

form input[type="submit"] {
    width: 90%;
    height: 50px;
    margin-top: 40px;
    background-color: #000000cc;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease;
}

form input[type="submit"]:hover, form input[type="submit"]:focus {
    background-color: #ffffffcc;
    color: #000;
    border: 1px solid #000;
    transform: scale(1.1);
    letter-spacing: 1px;
    cursor: pointer;
}

.form_questions {
    margin-top: 10px;
    font-size: 14px;
}

.form_questions a:link,
.form_questions a:visited {
    color: #fff;
    text-decoration: none;
}

.form_questions a:hover,
.form_questions a:active {
    text-decoration: underline;
}

/**************
 Footer Styles
**************/

footer {
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #000;
}

footer div {
    margin-bottom: 10px;
}

footer div p:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
}

footer div a img {
    margin: 0px 5px;
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

footer div a img:hover {
    opacity: 1;
    transform: scale(1.1);
}

footer div p span {
    font-weight: bold;
}

footer div p a:link,
footer div p a:visited {
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
    color: #505050;
}

footer div p a:hover,
footer div p a:active {
    text-decoration: underline;
}

.copywrite {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 12px;
    color: #505050;
}