{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - {{ article.title|default:"Článok sa nenašiel" }}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/articles.css' %}">
{% endblock style %}

{% block heading %}{{ article.title|default:"Článok sa nenašiel" }}{% endblock heading %}

{% block content %}
    {% if not_found == False %}
        <div class="article_banner">
            <div class="banner_image">
                <img src="{% static '../media/images/' %}{{ article.user_id }}/{{ article.image_name }}">
            </div>
            
            <div class="banner_info">
                <div class="article_opening">
                    <h2>{{ article.title }}</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, consequatur.</p>
                </div>

                <div class="article_info">
                    <div 
                        class="rating" 
                        title="
                            {% if article.rating|floatformat:0|add:0 == 0 %}
                                Zatiaľ žiadne hodnotenia
                            
                            {% else %}
                                Priemerné hodnotenie {{ article.rating }}

                            {% endif %}
                        "
                    >
                        {% for _ in "12345" %}
                            {% if forloop.counter <= article.rating|floatformat:0|add:0 %}
                                <img src="{% static 'images/star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->

                            {% else %}
                                <img src="{% static 'images/empty_star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->

                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <a href="#" title="{{ article.user.first_name }} {{ article.user.last_name }}" target="_self">
                        <img 
                            class="profile_picture" 
                            src="
                                {% if article.user.profile_picture_name %}
                                    ../media/images/{{ article.user_id }}/{{ article.user.profile_picture_name }}

                                {% else %}
                                    {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                
                                {% endif %}
                            "
                        >
                    </a>

                    <!-- <div class="date" title="Dátum zverejnenia">
                        <p>{{ article.creation_time|date:"d.m. Y" }}</p>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="article_content">
            <p>{{ article.content }}</p>
        </div>

        <div class="article_forum">
            <form class="write_comment_form" action="{% url 'blog_theme_url' article.link %}" method="POST">
                {% csrf_token %}
                
                {{ write_comment_form.comment }}

                <img 
                    class="profile_picture" 
                    src="
                        {% if profile_picture_name %}
                            ../media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                        {% else %}
                            {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                        
                        {% endif %}
                    "
                >

                <input type="hidden" name="write_comment_form" value="write_comment_form"/>
                
                <button type="submit">
                    <img class="send" src="{% static 'images/send.png' %}"> <!-- https://www.flaticon.com/free-icon/send_5562584 -->
                </button>
            </form>

            <div class="all_comments">
                {% for one_comment in comments %}
                    <div class="one_comment">
                        <div class="comment" data-id="{{ one_comment.id }}">
                            <img 
                                class="profile_picture" 
                                src="
                                    {% if one_comment.user.profile_picture_name %}
                                        ../media/images/{{ one_comment.user.id }}/{{ one_comment.user.profile_picture_name }}

                                    {% else %}
                                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                    
                                    {% endif %}
                                "
                                title="Zobraziť profil {{ one_comment.user.first_name }} {{ one_comment.user.last_name }}"
                            >

                            <p>{{ one_comment.comment }}</p>
                        </div>

                        <div class="interactions">
                            <div class="reply">
                                <i class="fa-solid fa-reply" title="Odpovedať"></i> <!-- https://fontawesome.com/icons/reply -->
                                <!-- <i class="fa-solid fa-xmark"></i> --> <!-- https://fontawesome.com/icons/xmark -->
                            </div>
                            
                            <div class="likes">
                                <i class="fa-regular fa-heart" title="Páči sa mi"></i> <!-- https://fontawesome.com/icons/heart -->

                                <p class="likes_counter">{{ one_comment.likes }}</p>
                            </div>
                        </div>

                        <form class="reply_comment_form" action="{% url 'blog_theme_url' article.link %}" method="POST">
                            {% csrf_token %}
                            
                            {{ write_comment_form.comment }}

                            <img 
                                class="profile_picture" 
                                src="
                                    {% if profile_picture_name %}
                                        ../media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                                    {% else %}
                                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                    
                                    {% endif %}
                                "
                            >

                            <input type="hidden" name="parent_id" value={{ one_comment.id }}>

                            <input type="hidden" name="reply_comment_form" value="reply_comment_form"/>
                            
                            <button type="submit">
                                <img class="send" src="{% static 'images/send.png' %}"> <!-- https://www.flaticon.com/free-icon/send_5562584 -->
                            </button>
                        </form>

                        <div class="all_replies">
                            {% for one_reply in replies %}
                                {% if one_comment.id == one_reply.parent_id %}
                                    <div class="one_reply">
                                        <div class="comment" data-id="{{ one_reply.id }}">
                                            <img 
                                                class="profile_picture" 
                                                src="
                                                    {% if one_comment.user.profile_picture_name %}
                                                        ../media/images/{{ one_comment.user.id }}/{{ one_comment.user.profile_picture_name }}

                                                    {% else %}
                                                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                                    
                                                    {% endif %}
                                                "
                                                title="Zobraziť profil {{ one_comment.user.first_name }} {{ one_comment.user.last_name }}"
                                            >

                                            <p>{{ one_reply.comment }}</p>
                                        </div>

                                        <div class="interactions">
                                            <div class="reply">
                                                <i class="fa-solid fa-reply" title="Odpovedať"></i> <!-- https://fontawesome.com/icons/reply -->
                                                <!-- <i class="fa-solid fa-xmark"></i> --> <!-- https://fontawesome.com/icons/xmark -->
                                            </div>
                                            
                                            <div class="likes">
                                                <i class="fa-regular fa-heart" title="Páči sa mi"></i> <!-- https://fontawesome.com/icons/heart -->

                                                <p class="likes_counter">{{ one_reply.likes }}</p>
                                            </div>
                                        </div>

                                        <form class="reply_comment_form" action="{% url 'blog_theme_url' article.link %}" method="POST">
                                            {% csrf_token %}
                                            
                                            {{ write_comment_form.comment }}

                                            <img 
                                                class="profile_picture" 
                                                src="
                                                    {% if profile_picture_name %}
                                                        ../media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                                                    {% else %}
                                                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                                    
                                                    {% endif %}
                                                "
                                            >

                                            <input type="hidden" name="parent_id" value={{ one_reply.id }}>

                                            <input type="hidden" name="reply_comment_form" value="reply_comment_form"/>
                                            
                                            <button type="submit">
                                                <img class="send" src="{% static 'images/send.png' %}"> <!-- https://www.flaticon.com/free-icon/send_5562584 -->
                                            </button>
                                        </form>
                                    </div>
                                    
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>

    {% endif %}
{% endblock content %}

{% block script %}
    <script defer>
        "use strict"

        document.addEventListener("DOMContentLoaded", function() {
            // Comments
        
            const comments = document.querySelectorAll(".one_comment")

            comments.forEach(function(one_comment) {
                // Gets Heart And Counter From Each Comment
                let heart = one_comment.querySelector(".interactions .likes .fa-heart")
                let likes_counter = one_comment.querySelector(".interactions .likes .likes_counter")
                
                // Likes
                heart.addEventListener("click", function() {
                    // If The Heart Is Empty
                    if(heart.classList.contains("fa-regular")) {
                        heart.classList.remove("fa-regular")
                        heart.classList.add("fa-solid")
                        heart.style.color = "#df3535"

                        likes_counter.textContent = parseInt(likes_counter.textContent) + 1 // Adds 1 Like To The Counter By Clicking On The Empty Heart
                    }

                    // If The Heart Is Already Clicked
                    else if(heart.classList.contains("fa-solid")) {
                        heart.classList.remove("fa-solid")
                        heart.classList.add("fa-regular")
                        heart.style.color = "#999999"

                        likes_counter.textContent = parseInt(likes_counter.textContent) - 1 // Subtracts 1 Like To The Counter By Clicking On The Already Clicked Heart
                    }
                })

                // Replies
                const reply = one_comment.querySelector(".interactions .reply .fa-solid")
                const reply_comment_form = one_comment.querySelector(".reply_comment_form")

                reply.addEventListener("click", function() {
                    reply_comment_form.classList.toggle("visible")

                    if(reply_comment_form.classList.contains("visible")) {
                        reply.classList.remove("fa-reply")
                        reply.classList.add("fa-xmark")
                    }

                    else if(!reply_comment_form.classList.contains("visible")) {
                        reply.classList.remove("fa-xmark")
                        reply.classList.add("fa-reply")
                    }
                })
            })

            const replies = document.querySelectorAll(".one_reply")
            
            replies.forEach(function(one_reply) {
                // Gets Heart And Counter From Each Reply
                let heart = one_reply.querySelector(".interactions .likes .fa-heart")
                let likes_counter = one_reply.querySelector(".interactions .likes .likes_counter")
                
                // Likes
                heart.addEventListener("click", function() {
                    // If The Heart Is Empty
                    if(heart.classList.contains("fa-regular")) {
                        heart.classList.remove("fa-regular")
                        heart.classList.add("fa-solid")
                        heart.style.color = "#df3535"

                        likes_counter.textContent = parseInt(likes_counter.textContent) + 1 // Adds 1 Like To The Counter By Clicking On The Empty Heart
                    }

                    // If The Heart Is Already Clicked
                    else if(heart.classList.contains("fa-solid")) {
                        heart.classList.remove("fa-solid")
                        heart.classList.add("fa-regular")
                        heart.style.color = "#999999"

                        likes_counter.textContent = parseInt(likes_counter.textContent) - 1 // Subtracts 1 Like To The Counter By Clicking On The Already Clicked Heart
                    }
                })

                // Replies
                const reply = one_reply.querySelector(".interactions .reply .fa-solid")
                const reply_comment_form = one_reply.querySelector(".reply_comment_form")

                reply.addEventListener("click", function() {
                    reply_comment_form.classList.toggle("visible")

                    if(reply_comment_form.classList.contains("visible")) {
                        reply.classList.remove("fa-reply")
                        reply.classList.add("fa-xmark")
                    }

                    else if(!reply_comment_form.classList.contains("visible")) {
                        reply.classList.remove("fa-xmark")
                        reply.classList.add("fa-reply")
                    }
                })
            })
        })
    </script>
{% endblock script %}