{% extends "base.html" %}
{% load static %}

{% block title %}{{ article.title|default:"Článok sa nenašiel" }}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/articles.css' %}">
{% endblock style %}

{% block content %}
    {% if not_found == False %}
        <div class="article_banner">
            <div class="banner_image">
                <img src="{% static '../media/images/' %}{{ article.user_id }}/{{ article.image_name }}">
            </div>
            
            <div class="banner_info">
                <div class="article_opening">
                    <h2>{{ article.title }}</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, consequatur.</p>
                </div>

                <div class="article_info">
                    <div 
                        class="rating" 
                        title="
                            {% if article.rating|floatformat:0|add:0 == 0 %}
                                Zatiaľ žiadne hodnotenia
                            
                            {% else %}
                                Priemerné hodnotenie {{ article.rating }}

                            {% endif %}
                        "
                    >
                        {% for _ in "12345" %}
                            {% if forloop.counter <= article.rating|floatformat:0|add:0 %}
                                <i class="full fa-solid fa-star"></i> <!-- https://fontawesome.com/icons/star -->

                            {% else %}
                                <i class="empty fa-solid fa-star"></i> <!-- https://fontawesome.com/icons/star -->

                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <a href="#" title="{{ article.user.first_name }} {{ article.user.last_name }}" target="_self">
                        <img 
                            class="profile_picture" 
                            src="
                                {% if article.user.profile_picture_name %}
                                    ../media/images/{{ article.user_id }}/{{ article.user.profile_picture_name }}

                                {% else %}
                                    {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                
                                {% endif %}
                            "
                        >
                    </a>

                    <!-- <div class="date" title="Dátum zverejnenia">
                        <p>{{ article.creation_time|date:"d.m. Y" }}</p>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="article_content">
            <p>{{ article.content }}</p>
        </div>

        <div class="article_forum">
            <form class="write_comment_form" action="{% url 'blog_theme_url' article.link %}" method="POST">
                {% csrf_token %}
                
                {{ write_comment_form.comment }}

                <img 
                    class="profile_picture" 
                    src="
                        {% if profile_picture_name %}
                            ../media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                        {% else %}
                            {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                        
                        {% endif %}
                    "
                >

                <input type="hidden" name="write_comment_form" value="write_comment_form"/>
                
                <button type="submit">
                    <img class="send" src="{% static 'images/send.png' %}"> <!-- https://www.flaticon.com/free-icon/send_5562584 -->
                </button>
            </form>

            <div class="all_comments">
                <h2 class="no_comments">
                    {% if no_comments %}
                        Zatiaľ&nbsp;žiadne&nbsp;komentáre.<br>Buďte&nbsp;prvým&nbsp;a&nbsp;začnite&nbsp;diskusiu!
                    
                    {% endif %}
                </h2>

                {% for one_comment in comments %}
                    <div class="one_comment" data-id="{{ one_comment.id }}" data-article="{{ one_comment.article.link }}">
                        <div class="comment">
                            <img 
                                class="profile_picture" 
                                src="
                                    {% if one_comment.user.profile_picture_name %}
                                        ../media/images/{{ one_comment.user.id }}/{{ one_comment.user.profile_picture_name }}

                                    {% else %}
                                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                    
                                    {% endif %}
                                "
                                title="Zobraziť profil {{ one_comment.user.first_name }} {{ one_comment.user.last_name }}"
                            >

                            <p>{{ one_comment.comment }}</p>
                        </div>

                        <div class="interactions">
                            <div class="reply" title="Odpovedať...">
                                <i class="fa-solid fa-reply"></i> <!-- https://fontawesome.com/icons/reply -->
                                <!-- <i class="fa-solid fa-xmark"></i> --> <!-- https://fontawesome.com/icons/xmark -->
                            </div>
                            
                            <div class="likes" title="Páči sa mi...">
                                <i 
                                    class="
                                        {% if request.session.logged_in_user_id|stringformat:"i" in one_comment.likes_from_users %}
                                            fa-solid

                                        {% else %}
                                            fa-regular
                                        
                                        {% endif %}
                                        fa-heart
                                    "
                                ></i> <!-- https://fontawesome.com/icons/heart -->

                                <p class="likes_counter">{{ one_comment.likes }}</p>
                            </div>

                            <div class="report" title="Nahlásiť...">
                                <i class="fa-regular fa-flag"></i> <!-- https://fontawesome.com/icons/flag -->
                            </div>

                            <div class="date" title="Dátum zverejnenia">
                                <p>{{ one_comment.creation_time|date:"d.m. Y" }}</p>
                            </div>
                        </div>

                        <form class="reply_comment_form" action="{% url 'blog_theme_url' article.link %}" method="POST">
                            {% csrf_token %}
                            
                            {{ write_comment_form.comment }}

                            <img 
                                class="profile_picture" 
                                src="
                                    {% if profile_picture_name %}
                                        ../media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                                    {% else %}
                                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                    
                                    {% endif %}
                                "
                            >

                            <input type="hidden" name="parent_id" value={{ one_comment.id }}>

                            <input type="hidden" name="reply_comment_form" value="reply_comment_form"/>
                            
                            <button type="submit">
                                <img class="send" src="{% static 'images/send.png' %}"> <!-- https://www.flaticon.com/free-icon/send_5562584 -->
                            </button>
                        </form>

                        <div class="all_replies">
                            {% for one_reply in replies %}
                                {% if one_comment.id == one_reply.parent_id %}
                                    <div class="one_reply" data-id="{{ one_reply.id }}">
                                        <div class="comment" data-id="{{ one_reply.id }}">
                                            <img 
                                                class="profile_picture" 
                                                src="
                                                    {% if one_reply.user.profile_picture_name %}
                                                        ../media/images/{{ one_reply.user.id }}/{{ one_reply.user.profile_picture_name }}

                                                    {% else %}
                                                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                                    
                                                    {% endif %}
                                                "
                                                title="Zobraziť profil {{ one_reply.user.first_name }} {{ one_reply.user.last_name }}"
                                            >

                                            <p>{{ one_reply.comment }}</p>
                                        </div>

                                        <div class="interactions">
                                            <div class="reply" title="Odpovedať...">
                                                <i class="fa-solid fa-reply"></i> <!-- https://fontawesome.com/icons/reply -->
                                                <!-- <i class="fa-solid fa-xmark"></i> --> <!-- https://fontawesome.com/icons/xmark -->
                                            </div>
                                            
                                            <div class="likes" title="Páči sa mi...">
                                                <i 
                                                    class="
                                                        {% if request.session.logged_in_user_id|stringformat:"i" in one_reply.likes_from_users %}
                                                            fa-solid

                                                        {% else %}
                                                            fa-regular
                                                        
                                                        {% endif %}
                                                        fa-heart
                                                    "
                                                ></i> <!-- https://fontawesome.com/icons/heart -->

                                                <p class="likes_counter">{{ one_reply.likes }}</p>
                                            </div>

                                            <div class="report" title="Nahlásiť...">
                                                <i class="fa-regular fa-flag"></i> <!-- https://fontawesome.com/icons/flag -->
                                            </div>

                                            <div class="date" title="Dátum zverejnenia">
                                                <p>{{ one_reply.creation_time|date:"d.m. Y" }}</p>
                                            </div>
                                        </div>

                                        <form class="reply_comment_form" action="{% url 'blog_theme_url' article.link %}" method="POST">
                                            {% csrf_token %}
                                            
                                            {{ write_comment_form.comment }}

                                            <img 
                                                class="profile_picture" 
                                                src="
                                                    {% if profile_picture_name %}
                                                        ../media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                                                    {% else %}
                                                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                                    
                                                    {% endif %}
                                                "
                                            >

                                            <input type="hidden" name="parent_id" value={{ one_reply.id }}>

                                            <input type="hidden" name="reply_comment_form" value="reply_comment_form"/>
                                            
                                            <button type="submit">
                                                <img class="send" src="{% static 'images/send.png' %}"> <!-- https://www.flaticon.com/free-icon/send_5562584 -->
                                            </button>
                                        </form>
                                    </div>
                                    
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>

    {% endif %}
{% endblock content %}

{% block script %}
    <script src="{% static 'blog/ts/dist/pages/articles.js' %}" type="module"></script>
{% endblock script %}