{% extends "base.html" %}
{% load static %}

{% block page_title %}Street Workout Žilina - Blog{% endblock %}

{% block content %}
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home_page' %}">DOMOV</a></li>
                <li><a href="{% url 'blog' %}">BLOG</a></li>
                <li><a href="">TRÉNING</a></li>
            </ul>
        </nav>

        <h1>Street Workout Žilina - Blog</h1>
    </header>

    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quos neque ipsa, voluptate consequuntur tempore veniam placeat qui sit odit expedita iusto cum quisquam asperiores ut maxime molestiae nam repudiandae.</p>
        
        <section class="themes">
            <ul>
                {% for one_theme in themes %}
                    <li>
                        <a href="{% url 'blog_theme' one_theme.slug %}">
                            {{ one_theme.theme }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <footer>
    
    </footer>
{% endblock %}