{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Blog{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock style %}

{% block banner %}
    <div class="write_article">
        <a href="{% url 'write_article_url' %}" title="Pridať článok" target="_self">Pridať článok</a>
    </div>

    {% if request.session.logged_in_user_id %}
        <div class="account">
            <a href="{% url 'edit_account_url' %}" title="Môj účet" target="_self">
                <img 
                    class="profile_picture skeleton_loading" 
                    src="
                        {% if profile_picture_name %}
                            ../media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                        {% else %}
                            {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                        
                        {% endif %}
                    "
                >
            </a>

            <a class="user_name" href="{% url 'edit_account_url' %}" title="Môj účet" target="_self">{{ first_name }} {{ last_name }}</a>

            <a class="logout" href="{% url 'logout_url' %}" title="Odhlásiť sa z účtu {{ first_name }} {{ last_name }}" target="_self">Odhlásiť</a>
        </div>

    {% else %}
        <div class="no_account">
            <a class="login" href="{% url 'login_url' %}" title="Prihlásiť sa" target="_self">Neprihlásený</a>
        </div>

    {% endif %}
{% endblock banner %}

{% block heading %}Témy na čítanie{% endblock heading %}

{% block content %}
    <div class="num_articles">
        {% if num_articles == 1 %}
            <p>Našiel sa <span>{{ num_articles }}</span> článok.</p>

        {% elif num_articles > 1 and num_articles < 5 %}
            <p>Našli sa <span>{{ num_articles }}</span> články.</p>

        {% else %}
            <p>Našlo sa <span>{{ num_articles }}</span> článkov.</p>
        
        {% endif %}
    </div>

    <div class="search_bar_container">
        <div class="search_bar_menu">
            <i class="fa-solid fa-magnifying-glass"></i> <!-- https://fontawesome.com/icons/magnifying-glass -->
            <i class="fa-solid fa-xmark"></i> <!-- https://fontawesome.com/icons/xmark -->
            <input class="search_bar" placeholder="Nájsť článok" autocomplete="off">
        </div>
        
        <!-- Custom Select Menu https://github.com/Kumailabbs/custom_select -->
        <div class="select_menus">
            <div class="sort_select_menu">
                <div class="refresh" title="Obnoviť predvolené filtre">
                    <i class="fa-solid fa-arrow-rotate-right"></i> <!-- https://fontawesome.com/icons/arrow-rotate-right -->
                </div>

                <div class="select">
                    <span>Najnovšie články</span>
                    <i class="fas fa-angle-down"></i>
                </div>

                <div class="options_list">
                    <div class="option {% if request.GET.sort == "latest" %}selected{% endif %}" data-sort="latest"><i class="fa-regular fa-clock"></i><span>Najnovšie články</span></div> <!-- https://fontawesome.com/icons/clock -->
                    <div class="option {% if request.GET.sort == "popular" %}selected{% endif %}" data-sort="popular"><i class="fa-regular fa-eye"></i><span>Populárne články</span></div> <!-- https://fontawesome.com/icons/eye -->
                    <div class="option {% if request.GET.sort == "best" %}selected{% endif %}" data-sort="best"><i class="fa-regular fa-star"></i><span>Najlepšie hodnotené</span></div> <!-- https://fontawesome.com/icons/star -->
                    <div class="option {% if request.GET.sort == "a-z" %}selected{% endif %}" data-sort="a-z"><i class="fa-solid fa-arrow-up-a-z"></i><span>Podľa abecedy (A-Z)</span></div> <!-- https://fontawesome.com/icons/arrow-up-a-z -->
                    <div class="option {% if request.GET.sort == "z-a" %}selected{% endif %}" data-sort="z-a"><i class="fa-solid fa-arrow-up-z-a"></i></span>Podľa abecedy (Z-A)</span></div> <!-- https://fontawesome.com/icons/arrow-up-z-a -->
                </div>
            </div>

            <div class="category_select_menu">
                <div class="refresh" title="Obnoviť predvolené filtre">
                    <i class="fa-solid fa-arrow-rotate-right"></i> <!-- https://fontawesome.com/icons/arrow-rotate-right -->
                </div>

                <div class="select">
                    <span>Všetky kategórie</span>
                    <i class="fas fa-angle-down"></i>
                </div>

                <div class="options_list">
                    <div class="option {% if request.GET.category == "all" %}selected{% endif %}" data-category="all"><i class="fa-solid fa-icons"></i><span>Všetky kategórie</span></div> <!-- https://fontawesome.com/icons/icons -->
                    <div class="option {% if request.GET.category == "static" %}selected{% endif %}" data-category="static"><i class="fa-solid fa-list"></i><span>Statické prvky</span></div> <!-- https://fontawesome.com/icons/list -->
                    <div class="option {% if request.GET.category == "dynamic" %}selected{% endif %}" data-category="dynamic"><i class="fa-solid fa-list"></i><span>Dynamické triky</span></div> <!-- https://fontawesome.com/icons/list -->
                    <div class="option {% if request.GET.category == "isotonic" %}selected{% endif %}" data-category="isotonic"><i class="fa-solid fa-list"></i><span>Izotonické cviky</span></div> <!-- https://fontawesome.com/icons/list -->
                    <div class="option {% if request.GET.category == "balance" %}selected{% endif %}" data-category="balance"><i class="fa-solid fa-list"></i><span>O rovnováhe</span></div> <!-- https://fontawesome.com/icons/list -->
                    <div class="option {% if request.GET.category == "flexibility" %}selected{% endif %}" data-category="flexibility"><i class="fa-solid fa-list"></i><span>O flexibilite</span></div> <!-- https://fontawesome.com/icons/list -->

                    <div class="option {% if request.GET.category == "push" %}selected{% endif %}" data-category="push"><i class="fa-solid fa-list"></i><span>Tlak</span></div> <!-- https://fontawesome.com/icons/list -->
                    <div class="option {% if request.GET.category == "pull" %}selected{% endif %}" data-category="pull"><i class="fa-solid fa-list"></i><span>Ťah</span></div> <!-- https://fontawesome.com/icons/list -->
                    <div class="option {% if request.GET.category == "legs" %}selected{% endif %}" data-category="legs"><i class="fa-solid fa-list"></i><span>Nohy</span></div> <!-- https://fontawesome.com/icons/list -->

                    <div class="option {% if request.GET.category == "beginner" %}selected{% endif %}" data-category="beginner"><i class="fa-solid fa-list"></i><span>Pre začiatočníkov</span></div> <!-- https://fontawesome.com/icons/list -->
                    <div class="option {% if request.GET.category == "intermediate" %}selected{% endif %}" data-category="intermediate"><i class="fa-solid fa-list"></i><span>Pre stredne pokročilých</span></div> <!-- https://fontawesome.com/icons/list -->
                    <div class="option {% if request.GET.category == "advanced" %}selected{% endif %}" data-category="advanced"><i class="fa-solid fa-list"></i><span>Pre pokročilých</span></div> <!-- https://fontawesome.com/icons/list -->
                    <div class="option {% if request.GET.category == "elite" %}selected{% endif %}" data-category="elite"><i class="fa-solid fa-list"></i><span>Pre profesionálov</span></div> <!-- https://fontawesome.com/icons/list -->
                </div>
            </div>
        </div>
    </div>

    <div class="articles">
        <h2 class="no_articles">
            {% if no_articles %}
                Ospravedlňujeme&nbsp;sa!<br>Nepodarilo&nbsp;sa&nbsp;nájsť žiadne&nbsp;články.
            
            {% endif %}
        </h2>

        {% for one_article in articles %}
            <article 
                class="{{ one_article.link }} skeleton_loading"
                data-title="{{ one_article.title }}"
                style="
                    {% if one_article.image_name %}
                        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
                        url('{% static '../media/images/' %}{{ one_article.user_id }}/{{ one_article.image_name }}');

                    {% else %}
                        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
                    
                    {% endif %}
                "
            >
                <!-- 
                    front-lever - https://www.behance.net/gallery/36345741/Lee-Wade-Turner-Calisthenics-for-Forever-Sports/modules/227474853

                    handstand - https://unsplash.com/photos/man-in-black-shorts-standing-on-brown-grass-during-daytime-j6amjHxtc1U

                    one-arm-pull-up - https://images.squarespace-cdn.com/content/v1/5eaa851bc7b0ae39a020ea32/d27cfd00-e7b6-4c49-8a78-4b5493ef8cfd/chin%2Bover%2Bpulling%2Bhand%2B%281%29+%281%29.jpg

                    swing-360 - https://www.gornation.com/cdn/shop/articles/header_584b6ba9-e54a-4fca-98dc-901516515e58.jpg
                -->

                <div class="info" title="Tento článok pridal {{ one_article.user.first_name }} {{ one_article.user.last_name }}">
                    <i class="fa-solid fa-circle-info"></i> <!-- https://fontawesome.com/icons/circle-info -->
                </div>
                
                <div class="share" data-title="{{ one_article.title }}" data-link="{{ one_article.link }}" title="Zdielať">
                    <i class="fa-solid fa-share-nodes"></i> <!-- https://fontawesome.com/icons/share-nodes -->

                    <p class="share_result"></p>
                </div>

                <a href="{% url 'blog_theme_url' one_article.link %}" title="Zobraziť" target="_self">
                    <div class="skeleton_loading skeleton_text">
                        <h2 class="hidden">{{ one_article.title }}</h2>
                    </div>
                    
                    <div class="skeleton_loading skeleton_text">
                        <p class="hidden">{{ one_article.content|truncatechars:100 }}</p>
                    </div>

                    <div class="article_info">
                        <div 
                            class="rating" 
                            title="
                                {% if one_article.rating|floatformat:0|add:0 == 0 %}
                                    Zatiaľ žiadne hodnotenia
                                
                                {% else %}
                                    Priemerné hodnotenie {{ one_article.rating }}

                                {% endif %}
                            "
                        >
                            <div class="skeleton_loading skeleton_text">
                                {% for _ in "12345" %}
                                    {% if forloop.counter <= one_article.rating|floatformat:0|add:0 %}
                                        <img class="hidden" src="{% static 'images/star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->

                                    {% else %}
                                        <img class="hidden" src="{% static 'images/empty_star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->

                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="category" title="Kategória">
                            <div class="skeleton_loading skeleton_text">
                                <p class="hidden">
                                    <i class="fa-solid fa-list"></i> <!-- https://fontawesome.com/icons/list -->
                                    
                                    {% for one_category in one_article.categories %}
                                        {{ one_category|capfirst }}

                                    {% endfor %}
                                </p>
                            </div>
                        </div>

                        <div class="visitors" title="{{ one_article.visitors }} unikátnych návštevníkov">
                            <div class="skeleton_loading skeleton_text">
                                <p class="hidden"><i class="fa-regular fa-eye"> </i> {{ one_article.visitors }}</p> <!-- https://fontawesome.com/icons/eye -->
                            </div>
                        </div>

                        <div class="date" title="Dátum zverejnenia">
                            <div class="skeleton_loading skeleton_text">
                                <p class="hidden">{{ one_article.creation_time|date:"d.m. Y" }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        
        {% endfor %}
    </div>

    <form class="blog_subscribe_form" action="{% url 'blog_url' %}" method="POST">
        {% csrf_token %}

        <!-- <p>Pre dostávanie upozornení sa prihláste k odberu.</p> -->

        {{ blog_subscribe_form.email_address }}

        <input type="submit" value="Odoberať" title="Dostávať upozornenia o nových článkoch">
    </form>
{% endblock content %}

{% block script %}
    <script defer>
        "use strict"

        document.addEventListener("DOMContentLoaded", function() {
            // Search Bar

            const search_bar = document.querySelector(".search_bar")
            const delete_search_bar = document.querySelector(".fa-xmark")
            const article_tags = document.querySelectorAll("article") // Gets Every Article HTML Tags From Page

            const articles_data = [] // Data - Array of Objects of Articles

            article_tags.forEach(function(one_article) {
                // Gets Data From HTML Tags
                const one_article_class = one_article.className // For Example: front-lever
                const one_article_title = one_article.dataset.title // For Example: Front Lever
                
                // Creates And Fill One Object With Values
                const one_article_object = {} // For Example: { class_name: "front-lever", title: "Front Lever" }
                one_article_object.class_name = one_article_class
                one_article_object.title = one_article_title

                // Saves Filled Object With Values To Data Array
                articles_data.push(one_article_object)
            })

            // Function For Rendering Articles
            function renderArticles() {
                let searched_text = search_bar.value // Searched Text Value
                
                // Every Article Has display: block; By Default
                articles_data.forEach(function(one_article) {
                    document.querySelector(`.${one_article.class_name}`).style.display = "block"
                })

                // Filters Articles by Searched Text Value
                let filtered_articles = articles_data.filter(function(one_article) {
                    return !one_article.title.toLowerCase().includes(searched_text.toLowerCase())
                })

                // Hides Mismatched Articles
                filtered_articles.forEach(function(one_article) {
                    document.querySelector(`.${one_article.class_name}`).style.display = "none"
                })

                // Found Articles Counter
                const num_articles = document.querySelector(".num_articles p")
                let found_articles_count = article_tags.length - filtered_articles.length

                // No Articles Message
                const no_articles = document.querySelector(".no_articles")
                no_articles.innerHTML = "Ospravedlňujeme&nbsp;sa!<br>Nepodarilo&nbsp;sa&nbsp;nájsť žiadne&nbsp;články."

                if(found_articles_count === 0) {
                    no_articles.innerHTML = "Ospravedlňujeme&nbsp;sa!<br>Nepodarilo&nbsp;sa&nbsp;nájsť žiadne&nbsp;články."
                }

                else {
                    no_articles.innerHTML = ""
                }

                // Found Articles Messages
                if(found_articles_count == 1) {
                    num_articles.innerHTML = `Našiel sa <span>${found_articles_count}</span> článok.`
                }

                else if(found_articles_count > 1 && found_articles_count < 5) {
                    num_articles.innerHTML = `Našli sa <span>${found_articles_count}</span> články.`
                }

                else {
                    num_articles.innerHTML = `Našlo sa <span>${found_articles_count}</span> článkov.`
                }

                // Shows All Articles When Searched Text Value is Empty
                if(searched_text.trim() === "") {
                    articles_data.forEach(function(one_article) {
                        document.querySelector(`.${one_article.class_name}`).style.display = "block"
                    })
                }
            }

            // Search Bar Input
            search_bar.addEventListener("input", renderArticles)

            // Delete Search Bar Icon
            delete_search_bar.addEventListener("click", function() {
                search_bar.value = ""
                renderArticles()
            })

            // Share Article

            const share_buttons = document.querySelectorAll(".share") // Gets Every Share Button HTML Tags From Page

            share_buttons.forEach(function(one_share_button) {
                one_share_button.addEventListener("click", async function() {
                    // Gets Data From HTML Tags
                    let clicked_share_button_title = one_share_button.dataset.title
                    let clicked_share_button_link = one_share_button.dataset.link

                    // Creates And Fill Object With Data Values
                    let share_data = {
                        title: `Street Workout Žilina - ${clicked_share_button_title}`,
                        url: `http://127.0.0.1:8000/blog/${clicked_share_button_link}`,
                    }

                    await navigator.share(share_data) // Opens Share Menu
                })
            })

            // Animated Articles

            window.addEventListener("load", function() {
                window.addEventListener("scroll", function() {
                    const search_bar_container = document.querySelector(".search_bar_container")

                    if(window.scrollY > search_bar_container.offsetHeight + 20) {
                        const article_tags = document.querySelectorAll("article") // Gets Every Article HTML Tags From Page

                        article_tags.forEach(function(one_article) {
                            one_article.style.animation = "fade_in_animation 1s ease-out"
                        })
                    }
                })
            })

            // Custom Select Menu

            // Fuction For Setting Sort Parameter to URL Address
            function setSortParameter(sort_value) {
                const page_url = new URL(window.location.href) // Gets Current URL

                page_url.searchParams.set("sort", sort_value) // Adds Parameter With Value to The URL

                window.location.href = page_url // Redirects Page
            }

            const sort_select = document.querySelector(".sort_select_menu .select")
            const sort_options_list = document.querySelector(".sort_select_menu .options_list")
            const sort_options = document.querySelectorAll(".sort_select_menu .option")

            sort_select.addEventListener("click", function() {
                sort_options_list.classList.toggle("active")
                sort_select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up")
            })

            sort_options.forEach(function(option) {
                option.addEventListener("click", function() {
                    setSortParameter(option.dataset.sort) // Sets sort URL Parameter With Value From data in Options

                    sort_options_list.classList.toggle("active")
                    sort_select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up")
                })

                // Shows Current Selected Option From List Without Icon
                if(option.classList[1] === "selected") {
                    sort_select.querySelector(".sort_select_menu .select span").innerHTML = option.querySelector("span").innerHTML
                }
            })

            // Fuction For Setting Category Parameter to URL Address
            function setCategoryParameter(category_value) {
                const page_url = new URL(window.location.href) // Gets Current URL

                page_url.searchParams.set("category", category_value) // Adds Parameter With Value to The URL

                window.location.href = page_url // Redirects Page
            }

            const category_select = document.querySelector(".category_select_menu .select")
            const category_options_list = document.querySelector(".category_select_menu .options_list")
            const category_options = document.querySelectorAll(".category_select_menu .option")

            category_select.addEventListener("click", function() {
                category_options_list.classList.toggle("active")
                category_select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up")
            })

            category_options.forEach(function(option) {
                option.addEventListener("click", function() {
                    setCategoryParameter(option.dataset.category) // Sets category URL Parameter With Value From data in Options

                    category_options_list.classList.toggle("active")
                    category_select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up")
                })

                // Shows Current Selected Option From List Without Icon
                if(option.classList[1] === "selected") {
                    category_select.querySelector(".category_select_menu .select span").innerHTML = option.querySelector("span").innerHTML
                }
            })

            // Refresh Select Menus

            const sort_select_menu_refresh = document.querySelector(".sort_select_menu .refresh .fa-arrow-rotate-right")
            const category_select_menu_refresh = document.querySelector(".category_select_menu .refresh .fa-arrow-rotate-right")

            sort_select_menu_refresh.addEventListener("click", function() {
                const page_url = new URL(window.location.href) // Gets Current URL

                // Deletes Parameters In URL
                page_url.searchParams.delete("sort")

                window.location.href = page_url // Redirects Page
            })

            category_select_menu_refresh.addEventListener("click", function() {
                const page_url = new URL(window.location.href) // Gets Current URL

                // Deletes Parameters In URL
                page_url.searchParams.delete("category")

                window.location.href = page_url // Redirects Page
            })
        })
    </script>
{% endblock script %}