{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Blog{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock style %}

{% block heading %}Témy na čítanie{% endblock heading %}

{% block content %}
    <div class="search_bar_container">
        <div class="search_bar_menu">
            <i class="fa-solid fa-magnifying-glass"></i> <!-- https://fontawesome.com/icons/magnifying-glass -->
            <i class="fa-solid fa-xmark"></i> <!-- https://fontawesome.com/icons/xmark -->
            <input class="search_bar" type="text" placeholder="Nájsť článok" autocomplete="off">
        </div>

        <div class="filter">
            <img src="{% static 'images/filter.png' %}"> <!-- https://www.flaticon.com/free-icon/filter_7854748 -->
        </div>
    </div>

    <div class="articles">
        {% for one_article in articles %}
            <article 
                class="{{ one_article.link }}"
                data-title="{{ one_article.title }}"
                style="
                    {% if one_article.image_name %}
                        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
                        url('{% static 'blog/images/' %}{{ one_article.image_name }}');

                    {% else %}
                        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
                    
                    {% endif %}
                "
            >
                <a href="{% url 'blog_theme_url' one_article.link %}" title="Zobraziť" target="_self">
                    <h2>{{ one_article.title }}</h2>
                    <p>{{ one_article.content }}</p>

                    <div 
                        class="rating" 
                        title="
                            {% if one_article.rating|floatformat:0|add:0 == 0 %}
                                Zatiaľ žiadne hodnotenia
                            
                            {% else %}
                                Priemerné hodnotenie {{ one_article.rating }}

                            {% endif %}
                        "
                    >
                        {% for _ in "12345" %}
                            {% if forloop.counter <= one_article.rating|floatformat:0|add:0 %}
                                <img src="{% static 'images/star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->

                            {% else %}
                                <img src="{% static 'images/empty_star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->

                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="visitors" title="{{ one_article.visitors }} unikátnych návštevníkov">
                        <p><i class="fa-regular fa-eye"> </i> {{ one_article.visitors }}</p> <!-- https://fontawesome.com/icons/eye -->
                    </div>
                </a>
            </article>
        
        {% endfor %}
    </div>
{% endblock content %}

{% block script %}
    <script defer>
        "use strict"

        document.addEventListener("DOMContentLoaded", function() {
            // Search Bar

            const search_bar = document.querySelector(".search_bar")
            const delete_search_bar = document.querySelector(".fa-xmark")

            function renderArticles() {
                let searched_text = event.target.value // Searched Text Value

                const article_tags = document.querySelectorAll("article") // Gets Every Article HTML Tag From Page

                const articles = [] // Data - Array of Objects of Articles

                article_tags.forEach(function(one_article) {
                    // Gets Data From HTML Tags
                    const one_article_class = one_article.className // For Example: front-lever
                    const one_article_title = one_article.dataset.title // For Example: Front Lever
                    
                    // Creates And Fill One Object With Values
                    const one_article_object = {} // For Example: { class_name: "front-lever", title: "Front Lever" }
                    one_article_object.class_name = one_article_class
                    one_article_object.title = one_article_title

                    // Saves Filled Object With Values To Data Array
                    articles.push(one_article_object)
                })
                
                // Every Article Has display: block; By Default
                articles.forEach(function(one_article) {
                    document.querySelector(`.${one_article.class_name}`).style.display = "block"
                })

                // Shows All Articles When Searched Text Value is Empty
                if(searched_text.trim() === "") {
                    return
                }

                // Filters Articles by Searched Text Value
                let filtered_articles = articles.filter(function(one_article) {
                    return !one_article.title.toLowerCase().includes(searched_text.toLowerCase())
                })

                // Hides Mismatched Articles
                filtered_articles.forEach(function(one_article) {
                    document.querySelector(`.${one_article.class_name}`).style.display = "none"
                })
            }

            // Search Bar Input
            search_bar.addEventListener("input", function() {
                renderArticles()
            })

            // Delete Search Bar Icon
            delete_search_bar.addEventListener("click", function() {
                search_bar.value = ""
                renderArticles()
            })
        })
    </script>
{% endblock script %}