{% extends "base.html" %}
{% load static %}

{% block page_title %}Street Workout Žilina - Blog{% endblock %}

{% block content %}
    <header>
        <nav>
            <ul>
                <li><a href="">DOMOV</a></li>
                <li><a href="">BLOG</a></li>
                <li><a href="">TRÉNING</a></li>
            </ul>
        </nav>

        <h1>Street Workout Žilina - {{ identified_theme.theme }}</h1>
    </header>

    <main>
        {% if identified_theme.page == "frontlever.html" %}
            {% include "./includes/frontlever.html" %}

        {% elif identified_theme.page == "handstand.html" %}
            {% include "./includes/handstand.html" %}

        {% endif %}
    </main>

    <footer>
    
    </footer>
{% endblock %}