{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Môj účet{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/edit_account.css' %}">
{% endblock style %}

{% comment %} {% block heading %}Môj&nbsp;účet{% endblock heading %} {% endcomment %}

{% block content %}
    {% if request.session.logged_in_user_id %}
        <form class="edit_account_form" action="{% url 'edit_account_url' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <h2><a href="{% url 'edit_account_url' %}" target="_self">Môj&nbsp;účet</a></h2>

            <a class="back" href="{% url 'homepage_url' %}" title="Späť na úvodnú stránku" target="_self"><img src="{% static 'images/back.png' %}"></a> <!-- https://www.flaticon.com/free-icon/back_2099166 -->

            <div class="profile_picture_container">
                <label for="select_profile_picture">
                    <img 
                        class="profile_picture" 
                        src="
                            {% if profile_picture_name %}
                                media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                            {% else %}
                                {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                            
                            {% endif %}
                        "
                        title="Nahrať obrázok"
                    >
                </label>
                {{ edit_account_form.select_profile_picture }}
                
                <label for="delete_profile_picture">
                    <img class="delete_profile_picture" src="{% static 'images/delete.png' %}" title="Odstrániť obrázok"> <!-- https://www.flaticon.com/free-icon/delete_6861362 -->
                </label>
                {{ edit_account_form.delete_profile_picture }}
            </div>

            <div class="first_name_container">
                <i class="fa-regular fa-user"></i> <!-- https://fontawesome.com/icons/user -->
                {{ edit_account_form.first_name }}
            </div>
            
            <div class="last_name_container">
                <i class="fa-regular fa-user"></i> <!-- https://fontawesome.com/icons/user -->
                {{ edit_account_form.last_name }}
            </div>
            
            <div class="email_address_container">
                <i class="fa-regular fa-envelope"></i> <!-- https://fontawesome.com/icons/envelope -->
                {{ edit_account_form.email_address }}
            </div>
            
            <div class="phone_number_container">
                <i class="fa-solid fa-phone"></i> <!-- https://fontawesome.com/icons/phone -->
                {{ edit_account_form.phone_number }}
            </div>

            <p class="form_report" style="bottom: 194px;"></p>
            <input type="submit" value="Uložiť zmeny">

            <div class="form_questions">
                <p>Zabudli ste heslo? <a class="password_reset" data-email_address="{{ email_address }}" href="?password-reset=true" title="Poslať overovací kód">Zmeniť heslo</a></p>
            </div>

            <label for="delete_account">
                <img class="delete_account" src="{% static 'images/delete_account.png' %}" title="Odstrániť účet"> <!-- https://www.flaticon.com/free-icon/delete-friend_12318444 -->
            </label>
            {{ edit_account_form.delete_account }}
        </form>

    {% else %}
        <div class="no_logged_in">
            <p>Pre vykonávanie zmien vo vašom účte sa musíte najprv <a href="{% url 'login_url' %}" title="Prihlásiť sa" target="_self">prihlásiť</a> alebo <a href="{% url 'registration_url' %}" title="Vytvoriť účet" target="_self">zaregistrovať</a>.</p>
        </div>

    {% endif %}
{% endblock content %}

{% block script %}
    <script defer>
        "use strict"

        document.addEventListener("DOMContentLoaded", function() {
            // Delete Profile Picture Warning

            const delete_profile_picture_checkbox = document.querySelector("#delete_profile_picture")
            const delete_profile_picture_image = document.querySelector(".delete_profile_picture")
            const form_report = document.querySelector(".form_report")

            delete_profile_picture_checkbox.addEventListener("click", function() {
                if(delete_profile_picture_checkbox.checked) {
                    delete_profile_picture_image.style.opacity = 1
                    form_report.textContent = "Profilový obrázok bude odstránený"
                    form_report.classList.add("error")
                }

                else {
                    delete_profile_picture_image.style.opacity = 0.6
                    form_report.textContent = ""
                }
            })

            // Delete Account Warning

            const delete_account_checkbox = document.querySelector("#delete_account")
            const delete_account_image = document.querySelector(".delete_account")

            delete_account_checkbox.addEventListener("click", function() {
                if(delete_account_checkbox.checked) {
                    delete_account_image.style.opacity = 1
                    form_report.textContent = "Váš úcet bude odstránený"
                    form_report.classList.add("error")
                }

                else {
                    delete_account_image.style.opacity = 0.6
                    form_report.textContent = ""
                }
            })

            // Password Reset

            const password_reset = document.querySelector(".password_reset")

            password_reset.addEventListener("click", function() {
                document.cookie = `email_address=${password_reset.dataset.email_address}; max-age=` + 60 * 10 + "; path=/" // 10 Minutes Timed Cookie With User's Email Address

                document.cookie = `password_reset_timer=${Date.now() + 10 * 60 * 1000}; max-age=` + 60 * 10 + "; path=/" // 10 Minutes Timed Cookie With Timer
            })
        })
    </script>
{% endblock script %}