{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Hlavná stránka{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/homepage.css' %}">
{% endblock style %}

{% block account %}
    {% if request.session.logged_in_user_id %}
        <a href="{% url 'edit_account_url' %}" title="Môj účet" target="_self"><img 
                class="profile_picture" 
                src="
                    {% if profile_picture_name %}
                        media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                    {% else %}
                        {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                    
                    {% endif %}
                "
            ></a>
        <a class="user_name" href="{% url 'edit_account_url' %}" title="Môj účet" target="_self">{{ first_name }} {{ last_name }}</a>

    {% else %}
        <p>Neprihlásený</p>

    {% endif %}
{% endblock account %}

{% block heading %}Street&nbsp;Workout<br>Žilina{% endblock heading %}
{% block buttons %}
    <div class="buttons">
        <a href="{% url 'login_url' %}" target="_self">Prihlásiť</a>
        <a href="{% url 'registration_url' %}" target="_self">Zaregistrovať</a>
    </div>
{% endblock buttons %}

{% block content %}
    {% if registration_successful %}
        <p>Účet bol úspešne vytvorený</p>
    {% endif %}

    {% if messages %}
        {% for one_message in messages %}
            <p class="message {% if one_message.tags %}{{ one_message.tags }}{% endif %}">{{ one_message }}</p>
        
        {% endfor %}
    {% endif %}

    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi quod dolor repellendus magni eveniet iusto, velit excepturi quam, accusamus ex in asperiores maxime modi dignissimos culpa sapiente assumenda. Officia, recusandae!
    Soluta, ipsam pariatur cupiditate iure necessitatibus dolorum est earum! Soluta, nulla velit. Ea ex sed soluta quam doloribus ducimus architecto quasi voluptate, eaque cupiditate laudantium nobis earum facere, sapiente adipisci.
    Assumenda dolores dolor incidunt porro alias cupiditate rerum rem, corporis veniam facere vero possimus? Voluptatibus voluptatem similique nihil, assumenda ab atque quasi, molestias harum optio eaque reiciendis, saepe inventore maxime.
    Reprehenderit, a temporibus dolore dicta, perferendis amet magni eius accusantium eum libero vel explicabo? Laboriosam vero debitis nam! Fugit nihil corrupti laboriosam illum quas delectus exercitationem magni alias quos provident?
    Natus nam, iure sequi, ex est dolorum laboriosam tempora animi totam suscipit odio sint nesciunt qui tempore tenetur. Nam perferendis explicabo ipsa ratione harum in deserunt quae, praesentium suscipit qui?</p>

    <div class="reviews">
        <h2>Hodnotenie</h2>
        <form class="write_review_form" action="{% url 'homepage_url' %}" method="POST">
            {% csrf_token %}

            <div class="reviewer">
                <img 
                    class="profile_picture" 
                    src="
                        {% if profile_picture_name %}
                            media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                        {% else %}
                            {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                        
                        {% endif %}
                    "
                >

                <p class="full_name">{{ first_name }} {{ last_name }}</p>
            </div>

            <div class="review">
                <div class="rating">
                    <div class="stars">
                        {% for _ in "12345" %}
                            <img src="{% static 'images/empty_star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->
                            
                        {% endfor %}
                    </div>

                    {{ review_form.rating }}
                </div>

                {{ review_form.review }}
            </div>

            <input type="submit" name="write_review_form_submit" value="Zverejniť">
        </form>

        <div class="all_reviews">
            {% for one_review in reviews %}
                <div class="one_review">
                    <div class="reviewer">
                        <img 
                            class="profile_picture" 
                            src="
                                {% if one_review.user.profile_picture_name %}
                                    media/images/{{ one_review.user.id }}/{{ one_review.user.profile_picture_name }}

                                {% else %}
                                    {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                
                                {% endif %}
                            "
                        >

                        <p class="full_name">{{ one_review.user.first_name }} {{ one_review.user.last_name }}<span class="date"> - {{ one_review.creation_time|date:"d.m. Y" }}</span></p>
                    </div>

                    <div class="review">
                        <div class="rating">
                            <div class="stars">
                                {% for _ in "12345" %}
                                    {% if forloop.counter <= one_review.rating %}
                                        <img src="{% static 'images/star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->

                                    {% else %}
                                        <img src="{% static 'images/empty_star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->
                                    
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <p>{{ one_review.review }}</p>
                        
                        {% if one_review.user.id == request.session.logged_in_user_id %}
                            <a class="edit_review" href="#" title="Upraviť recenziu">Upraviť</a>
                        
                        {% endif %}
                    </div>
                </div>
            
            {% endfor %}
        </div>
    </div>
    
    <form class="contact_form" action="{% url 'homepage_url' %}" method="POST">
        {% csrf_token %}
        <h2>Kontaktujte nás</h2>
        {{ contact_form }}
        <p class="form_report" style="bottom: 113px;">Lorem ipsum dolor sit amet.</p>
        <input type="submit" name="contact_form_submit" value="Odoslať správu">
    </form>
{% endblock content %}

{% block script %}
    <script src="{% static 'blog/js/reviews.js' %}" defer></script>
{% endblock script %}