{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Hlavná stránka{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/homepage.css' %}">
{% endblock style %}

{% block navigation_bar_items %}
    <li><a class="scroll_contact" href="#" target="_self">KONTAKT</a></li>
{% endblock navigation_bar_items %}

{% block banner %}
    {% if request.session.logged_in_user_id %}
        <div class="account">
            <a href="{% url 'edit_account_url' %}" title="Môj účet" target="_self">
                <img 
                    class="profile_picture" 
                    src="
                        {% if profile_picture_name %}
                            media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                        {% else %}
                            {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                        
                        {% endif %}
                    "
                >
            </a>

            <a class="user_name" href="{% url 'edit_account_url' %}" title="Môj účet" target="_self">{{ first_name }} {{ last_name }}</a>

            <a class="logout" href="{% url 'logout_url' %}" title="Odhlásiť sa z účtu {{ first_name }} {{ last_name }}" target="_self">Odhlásiť</a>
        </div>

    {% else %}
        <div class="no_account">
            <a class="login" href="{% url 'login_url' %}" title="Prihlásiť sa" target="_self">Neprihlásený</a>
        </div>

    {% endif %}
    
    <div class="reviews_info" title="Na základe {{ num_reviews }} recenzií">
        <p>{{ avg_rating.rating__avg }}</p>

        {% for _ in "12345" %}
            {% if forloop.counter <= avg_rating.rating__avg|floatformat:0|add:0 %}
                <img src="{% static 'images/star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->

            {% else %}
                <img src="{% static 'images/empty_star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->
        
            {% endif %}
        {% endfor %}
    </div>
{% endblock banner %}

{% block heading %}Street&nbsp;Workout Žilina{% endblock heading %}
{% block buttons %}
    <div class="buttons"> <!-- https://codepen.io/hilwat/pen/BeemVX -->
        <a class="blob-btn login_button" href="{% url 'login_url' %}" target="_self">
            Prihlásiť
            <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
            </span>
            </span>
        </a>

        <a class="blob-btn registration_button" href="{% url 'registration_url' %}" target="_self">
            Zaregistrovať
            <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
            </span>
            </span>
        </a>

        <br/>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
            </defs>
        </svg>
    </div>
{% endblock buttons %}

{% block content %}
    {% if registration_successful %}
        <p>Účet bol úspešne vytvorený</p>
    {% endif %}

    {% if messages %}
        {% for one_message in messages %}
            <p class="message {% if one_message.tags %}{{ one_message.tags }}{% endif %}">{{ one_message }}</p>
        
        {% endfor %}
    {% endif %}

    <h2>O nás</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, nesciunt.
    <br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti similique cum nesciunt minus optio nostrum.</p>

    <div class="reviews">
        <!-- <h2>Hodnotenie</h2> -->
        <form class="write_review_form" action="{% url 'homepage_url' %}" method="POST">
            {% csrf_token %}

            <div class="reviewer">
                <img 
                    class="profile_picture" 
                    src="
                        {% if profile_picture_name %}
                            media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                        {% else %}
                            {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                        
                        {% endif %}
                    "
                >

                <p class="full_name">{{ first_name }} {{ last_name }}</p>
            </div>

            <div class="review">
                <div class="rating">
                    <div class="stars">
                        {% for _ in "12345" %}
                            <img src="{% static 'images/empty_star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->
                            
                        {% endfor %}
                    </div>

                    {{ review_form.rating }}
                </div>

                {{ review_form.review }}
            </div>

            <input type="submit" name="write_review_form_submit" value="Zverejniť">
        </form>

        <div class="all_reviews">
            {% for one_review in reviews %}
                <div class="one_review">
                    <div class="reviewer">
                        <img 
                            class="profile_picture" 
                            src="
                                {% if one_review.user.profile_picture_name %}
                                    media/images/{{ one_review.user.id }}/{{ one_review.user.profile_picture_name }}

                                {% else %}
                                    {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                
                                {% endif %}
                            "
                        >

                        <p class="full_name">
                            {% if one_review.user == None %}
                                Neexistujúci účet

                            {% else %}
                                {{ one_review.user.first_name }} {{ one_review.user.last_name }}

                            {% endif %}
                            <span class="date">
                                - {{ one_review.creation_time|date:"d.m. Y" }} 
                                {% if one_review.last_edit != None %}
                                    (upravené)

                                {% endif %}
                            </span>
                        </p>
                    </div>

                    <div class="review">
                        <div class="rating">
                            <div class="stars">
                                {% for _ in "12345" %}
                                    {% if forloop.counter <= one_review.rating %}
                                        <img src="{% static 'images/star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->

                                    {% else %}
                                        <img src="{% static 'images/empty_star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->
                                    
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <p>{{ one_review.review }}</p>
                        
                        {% if one_review.user.id == request.session.logged_in_user_id %}
                            <a class="edit_review" href="{% url 'edit_review_url' %}" title="Upraviť recenziu">Upraviť</a>
                        
                        {% endif %}
                    </div>
                </div>
            
            {% endfor %}
        </div>
    </div>
    
    <form class="contact_form" action="{% url 'homepage_url' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h2>Kontaktujte nás</h2>

        {{ contact_form.first_name }}
        {{ contact_form.last_name }}
        {{ contact_form.email_address }}
        {{ contact_form.subject }}

        <div class="message_container">
            {{ contact_form.message }}

            <div class="attachment">
                <p>Nie je vybraný žiaden súbor.</p>
                
                <label for="select_attachment">
                    <i class="fa-solid fa-paperclip" title="Vybrať prílohu"></i> <!-- https://fontawesome.com/icons/paperclip -->
                </label>
                {{ contact_form.select_attachment }}
            </div>
        </div>

        <p class="form_report" style="bottom: 113px;">Lorem ipsum dolor sit amet.</p>
        <input type="submit" name="contact_form_submit" value="Odoslať správu">
    </form>
{% endblock content %}

{% block script %}
    <script src="{% static 'blog/js/reviews.js' %}" defer></script>
{% endblock script %}