{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Hlavná stránka{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/homepage.css' %}">
{% endblock style %}

{% block recaptcha %}
    <!-- Google reCAPTCHA V3 -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LffOQcsAAAAANNOtp0-u3rj2chAKpJcfkIBZXg-"></script>
{% endblock recaptcha %}

{% block navigation_bar_items %}
    <li><a class="scroll_contact" href="#" target="_self">KONTAKT</a></li>
{% endblock navigation_bar_items %}

{% block banner %}
    <div class="reviews_info" title="Na základe {{ num_reviews }} recenzií">
        <p>{{ avg_rating.rating__avg }}</p>

        {% for _ in "12345" %}
            {% if forloop.counter <= avg_rating.rating__avg|floatformat:0|add:0 %}
                <img src="{% static 'images/star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->

            {% else %}
                <img src="{% static 'images/empty_star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->
        
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="search_bar_container">
        <div>
            <i class="fa-solid fa-magnifying-glass"></i> <!-- https://fontawesome.com/icons/magnifying-glass -->
            <i class="fa-solid fa-xmark"></i> <!-- https://fontawesome.com/icons/xmark -->
            <input class="search_bar" type="text" placeholder="Hľadať" autocomplete="off">
        </div>

        <div class="search_result"></div>
    </div>

    {% if request.session.logged_in_user_id %}
        <div class="account">
            <a class="profile_button" href="#" title="Môj účet">
                <img 
                    class="profile_picture skeleton_loading" 
                    src="
                        {% if profile_picture_name %}
                            media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                        {% else %}
                            {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                        
                        {% endif %}
                    "
                >
            </a>

            <a class="user_name" href="{% url 'edit_account_url' %}" title="Môj účet" target="_self">{{ first_name }} {{ last_name }}</a>

            <a class="logout" href="{% url 'logout_url' %}" title="Odhlásiť sa z účtu {{ first_name }} {{ last_name }}" target="_self">Odhlásiť</a>
        </div>

    {% else %}
        <div class="no_account">
            <a class="login" href="{% url 'login_url' %}" title="Prihlásiť sa" target="_self">Neprihlásený</a>
        </div>

    {% endif %}
{% endblock banner %}

{% block heading %}Street&nbsp;Workout Žilina{% endblock heading %}
{% block buttons %}
    <div class="buttons"> <!-- https://codepen.io/hilwat/pen/BeemVX -->
        <a class="blob-btn login_button" href="#">
            Prihlásiť
            <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
            </span>
            </span>
        </a>

        <a class="blob-btn registration_button" href="#">
            Zaregistrovať
            <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
            </span>
            </span>
        </a>

        <br/>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
            </defs>
        </svg>
    </div>
{% endblock buttons %}

{% block content %}
    <dialog class="login_form_dialog">
        <form class="login_form" action="{% url 'homepage_url' %}" method="POST">
            {% csrf_token %}

            <h2>Prihlásenie</h2>

            <a class="back" href="{% url 'homepage_url' %}" title="Späť na úvodnú stránku" target="_self"><img src="{% static 'images/back.png' %}"></a> <!-- https://www.flaticon.com/free-icon/back_2099166 -->

            {{ login_form.email_address }}
            
            <div class="password_container">
                {{ login_form.password }}
                <i class="fa-regular fa-eye-slash" title="Zobraziť heslo"></i> <!-- https://fontawesome.com/icons/eye-slash -->
                <i class="fa-regular fa-eye" title="Skryť heslo"></i> <!-- https://fontawesome.com/icons/eye -->
            </div>

            <p class="form_report" style="bottom: 287px;"></p>
            <input type="submit" name="login_form_submit" value="Prihlásiť sa">

            <div class="login_methods">
                <div>
                    <a href="/accounts/google/login/"><img src="{% static 'images/google_logo.png' %}">Google prihlásenie</a> <!-- https://www.flaticon.com/free-icon/search_281764 -->
                </div>

                <div>
                    <a href="#"><img src="{% static 'images/facebook_logo_2.png' %}">Facebook prihlásenie</a> <!-- https://www.flaticon.com/free-icon/facebook_5968764 -->
                </div>
            </div>

            <div class="form_questions">
                <p>Zabudli ste heslo? <a class="password_reset" href="?password-reset=true" title="Poslať overovací kód">Zmeniť heslo</a></p>
                <p>Ešte nemáte účet? <a href="{% url 'registration_url' %}" title="Vytvoriť účet" target="_self">Vytvoriť účet</a></p>
            </div>
        </form>
    </dialog>

    <dialog class="registration_form_dialog">
        <!-- Google reCAPTCHA V3 -->
        <script>
            grecaptcha.ready(function() {
                // Registration Form

                const registration_form = document.querySelector(".registration_form")
                if(registration_form) {
                    registration_form.addEventListener("submit", function(event) {
                        event.preventDefault()
                        grecaptcha.execute("6LffOQcsAAAAANNOtp0-u3rj2chAKpJcfkIBZXg-", {action: "registration_form"}).then(function(token) {
                            document.getElementById("registration_form_recaptcha").value = token
                            registration_form.submit()
                        })
                    })
                }
            })
        </script>

        <form class="registration_form" action="{% url 'homepage_url' %}" method="POST">
            {% csrf_token %}

            <h2>Registrácia</h2>

            <a class="back" href="{% url 'homepage_url' %}" title="Späť na úvodnú stránku" target="_self"><img src="{% static 'images/back.png' %}"></a> <!-- https://www.flaticon.com/free-icon/back_2099166 -->

            {{ registration_form.first_name }}
            {{ registration_form.last_name }}
            {{ registration_form.email_address }}
            {{ registration_form.phone_number }}
            
            <div class="password_container">
                <i class="fa-solid fa-key" title="Navrhnúť heslo"></i> <!-- https://fontawesome.com/icons/key -->
                {{ registration_form.password }}
                <i class="fa-regular fa-eye-slash" title="Zobraziť heslo"></i> <!-- https://fontawesome.com/icons/eye-slash -->
                <i class="fa-regular fa-eye" title="Skryť heslo"></i> <!-- https://fontawesome.com/icons/eye -->
                <i class="fa-solid fa-copy copy_password" title="Skopírovať"></i> <!-- https://fontawesome.com/icons/copy -->
            </div>

            <div class="password_check_container">
                {{ registration_form.password_check }}
                <i class="fa-regular fa-copy paste_password" title="Prilepiť"></i> <!-- https://fontawesome.com/icons/copy -->
            </div>

            <p class="form_report" style="bottom: 241px;"></p>
            <input type="hidden" name="registration_form_submit" value="registration_form_submit">
            <input type="submit" value="Vytvoriť účet">

            <div class="form_questions">
                <p>Už máte účet? <a href="{% url 'login_url' %}" title="Prihlásiť sa" target="_self">Prihlásiť sa</a></p>
            </div>

            <!-- Google reCAPTCHA V3 -->
            <input type="hidden" name="g-recaptcha-response" id="registration_form_recaptcha">
        </form>
    </dialog>

    <dialog class="profile_dialog">
        <div class="profile">
            <div class="top">
                <div class="left">
                    <h2>{{ first_name }} {{ last_name }}</h2>

                    <div class="society">
                        <p title="Počet sledovateľov"><i class="fa-regular fa-user"></i> 34</p> <!-- https://fontawesome.com/icons/user -->
                        <p title="Počet sledujúcich"><i class="fa-regular fa-user"></i> 65</p> <!-- https://fontawesome.com/icons/user -->

                        <p title="Úspechy"><i class="fa-solid fa-trophy"></i> 12</p> <!-- https://fontawesome.com/icons/trophy -->
                    </div>
                </div>
                
                <div class="right">
                    <img 
                        class="profile_picture skeleton_loading" 
                        src="
                            {% if profile_picture_name %}
                                media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                            {% else %}
                                {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                            
                            {% endif %}
                        "
                    >

                    <div class="links">
                        <img src="{% static 'images/instagram_logo.png' %}">
                        <!-- <img src="{% static 'images/facebook_logo.png' %}"> -->
                        <!-- <img src="{% static 'images/tiktok_logo.png' %}"> -->
                        <i class="fa-solid fa-link"></i> <!-- https://fontawesome.com/icons/link -->
                    </div>
                </div>
            </div>
            
            <div class="middle">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, beatae!</p>
            </div>

            {% comment %} <i class="fa-solid fa-gear"></i> <!-- https://fontawesome.com/icons/gear --> {% endcomment %}
        </div>
    </dialog>

    <h2>O nás</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, nesciunt.
    <br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti similique cum nesciunt minus optio nostrum.</p>

    <div class="reviews">
        <!-- Google reCAPTCHA V3 -->
        <script>
            grecaptcha.ready(function() {
                // Write Review Form

                const write_review_form = document.querySelector(".write_review_form")
                if(write_review_form) {
                    write_review_form.addEventListener("submit", function(event) {
                        event.preventDefault()
                        grecaptcha.execute("6LffOQcsAAAAANNOtp0-u3rj2chAKpJcfkIBZXg-", {action: "write_review_form"}).then(function(token) {
                            document.getElementById("write_review_form_recaptcha").value = token
                            write_review_form.submit()
                        })
                    })
                }
            })
        </script>

        <form class="write_review_form" action="{% url 'homepage_url' %}" method="POST">
            {% csrf_token %}

            <div class="reviewer">
                <img 
                    class="profile_picture skeleton_loading" 
                    src="
                        {% if profile_picture_name %}
                            media/images/{{ request.session.logged_in_user_id }}/{{ profile_picture_name }}

                        {% else %}
                            {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                        
                        {% endif %}
                    "
                >

                <p class="full_name">
                    {% if request.session.logged_in_user_id %}
                        {{ first_name }} {{ last_name }}

                    {% else %}
                        Anonymný užívateľ

                    {% endif %}
                </p>
            </div>

            <div class="review">
                <div class="rating">
                    <div class="stars">
                        {% for _ in "12345" %}
                            <img src="{% static 'images/empty_star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->
                            
                        {% endfor %}
                    </div>

                    {{ review_form.rating }}
                </div>

                {{ review_form.review }}
            </div>

            <input type="hidden" name="write_review_form_submit" value="write_review_form_submit">
            <input type="submit" value="Zverejniť">

            <!-- Google reCAPTCHA V3 -->
            <input type="hidden" name="g-recaptcha-response" id="write_review_form_recaptcha">
        </form>

        <div class="all_reviews">
            {% for one_review in reviews %}
                <div class="one_review">
                    <div class="reviewer">
                        <img 
                            class="profile_picture skeleton_loading" 
                            src="
                                {% if one_review.user.profile_picture_name %}
                                    media/images/{{ one_review.user.id }}/{{ one_review.user.profile_picture_name }}

                                {% else %}
                                    {% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
                                
                                {% endif %}
                            "
                        >

                        <p class="full_name">
                            {% if one_review.user == None %}
                                Neexistujúci účet

                            {% else %}
                                {{ one_review.user.first_name }} {{ one_review.user.last_name }}

                            {% endif %}
                            <span class="date">
                                - {{ one_review.creation_time|date:"d.m. Y" }}
                                 
                                {% if one_review.last_edit != None %}
                                    (upravené)

                                {% endif %}
                            </span>
                        </p>
                    </div>

                    <div class="review">
                        <div class="rating">
                            <div class="stars">
                                {% for _ in "12345" %}
                                    {% if forloop.counter <= one_review.rating %}
                                        <img src="{% static 'images/star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->

                                    {% else %}
                                        <img src="{% static 'images/empty_star.png' %}"> <!-- https://www.flaticon.com/free-icon/star_1828884 -->
                                    
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <p>{{ one_review.review }}</p>
                        
                        {% if one_review.user.id == request.session.logged_in_user_id %}
                            <a class="edit_review" href="{% url 'edit_review_url' %}" title="Upraviť recenziu">Upraviť</a>
                        
                        {% endif %}
                    </div>
                </div>
            
            {% endfor %}
        </div>
    </div>

    <!-- Google reCAPTCHA V3 -->
    <script>
        grecaptcha.ready(function() {
            // Contact Form

            const contact_form = document.querySelector(".contact_form")
            if(contact_form) {
                contact_form.addEventListener("submit", function(event) {
                    event.preventDefault()
                    grecaptcha.execute("6LffOQcsAAAAANNOtp0-u3rj2chAKpJcfkIBZXg-", {action: "contact_form"}).then(function(token) {
                        document.getElementById("contact_form_recaptcha").value = token
                        contact_form.submit()
                    })
                })
            }
        })
    </script>
    
    <form class="contact_form" action="{% url 'homepage_url' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h2>Kontaktujte nás</h2>

        {{ contact_form.first_name }}
        {{ contact_form.last_name }}
        {{ contact_form.email_address }}
        {{ contact_form.subject }}

        <div class="message_container">
            {{ contact_form.message }}

            <div class="attachment">
                <p class="attachment_report">Nie je vybraný žiaden súbor.</p>
                
                <label for="select_attachment">
                    <i class="fa-solid fa-paperclip" title="Vybrať prílohu"></i> <!-- https://fontawesome.com/icons/paperclip -->
                </label>
                {{ contact_form.select_attachment }}
            </div>
        </div>

        <p class="form_report" style="bottom: 113px;"></p>
        <input type="hidden" name="contact_form_submit" value="contact_form_submit">
        <input type="submit" value="Odoslať správu">

        <!-- Google reCAPTCHA V3 -->
        <input type="hidden" name="g-recaptcha-response" id="contact_form_recaptcha">
    </form>
{% endblock content %}

{% block script %}
    <script defer>
        "use strict"

        document.addEventListener("DOMContentLoaded", function() {
            // Search Bar

            const search_bar = document.querySelector(".search_bar")
            const search_result = document.querySelector(".search_result")
            const delete_search_bar = document.querySelector(".fa-xmark")

            function renderSearchResult() {
                let searched_text = search_bar.value // Searched Text Value

                // Data - Array of Objects of Pages
                const pages = [
                    { url: "/", title: "Hlavná stránka" },
                    { url: "/prihlasenie", title: "Prihlásenie" },
                    { url: "/obnova-hesla", title: "Obnova hesla" },
                    { url: "/registracia", title: "Registrácia" },
                    { url: "/moj-ucet", title: "Môj účet" },
                    { url: "/moje-hodnotenie", title: "Moje hodnotenie" },
                    { url: "/blog", title: "Blog" },
                ]

                search_result.innerHTML = "" // Deletes Search Result

                // Deletes Search Result When Searched Text Value is Empty
                if(searched_text.trim() === "") {
                    search_result.innerHTML = ""

                    search_bar.style.borderBottom = "1px solid rgb(229.5, 229.5, 229.5)"
                    search_bar.style.borderRadius = "5px"

                    search_result.style.border = "none"
                    search_result.classList.remove("active")

                    return
                }
                
                // Filters Pages by Searched Text Value
                const filtered_pages = pages.filter(function(one_page) {
                    return one_page.title.toLowerCase().includes(searched_text.toLowerCase())
                })

                // Renders Result
                filtered_pages.forEach(function(one_page) {
                    let search_result_link = document.createElement("a")
                    search_result_link.setAttribute("href", one_page.url)
                    search_result_link.textContent = one_page.title
                    search_result.appendChild(search_result_link)
                })

                if(search_result.children.length > 0) {
                    search_bar.style.borderRadius = "5px 5px 0px 0px"
                    search_bar.style.borderBottom = "none"

                    search_result.style.borderBottom = "1px solid rgb(229.5, 229.5, 229.5)"
                    search_result.style.borderLeft = "1px solid rgb(229.5, 229.5, 229.5)"
                    search_result.style.borderRight = "1px solid rgb(229.5, 229.5, 229.5)"
                    search_result.classList.add("active")
                }
                
                else {
                    search_bar.style.border = "1px solid rgb(229.5, 229.5, 229.5)"
                    search_bar.style.borderRadius = "5px"

                    search_result.style.border = "none"
                    search_result.classList.remove("active")
                }
            }

            // Delete Search Bar Icon
            delete_search_bar.addEventListener("click", function() {
                search_bar.value = ""
                renderSearchResult()
            })

            // Search Bar Input
            search_bar.addEventListener("input", function(event) {
                renderSearchResult()
            })

            // Login Form

            // Login Form Dialog
            const login_button = document.querySelector(".login_button")
            const login_form_dialog = document.querySelector(".login_form_dialog")
            const login_form = document.querySelector(".login_form")

            login_button.addEventListener("click", function() {
                login_form_dialog.showModal()
            })

            login_form_dialog.addEventListener("click", function(event) {
                const login_form_dimensions = login_form.getBoundingClientRect()

                if (
                    event.clientX < login_form_dimensions.left ||
                    event.clientX > login_form_dimensions.right ||
                    event.clientY < login_form_dimensions.top ||
                    event.clientY > login_form_dimensions.bottom
                ) {
                    login_form_dialog.close()
                }
            })

            // Form
            login_form.addEventListener("click", function() {
                // Toggle Show / Hide Password

                const password = login_form.querySelector(".password")
                const show_password = login_form.querySelector(".fa-eye-slash")
                const hide_password = login_form.querySelector(".fa-eye")

                show_password.addEventListener("click", function() {
                    show_password.style.display = "none"
                    hide_password.style.display = "block"

                    password.style.webkitTextSecurity = "none"
                })

                hide_password.addEventListener("click", function() {
                    hide_password.style.display = "none"
                    show_password.style.display = "block"

                    password.style.webkitTextSecurity = "disc"
                })
            })

            // Password Reset

            const password_reset = login_form.querySelector(".password_reset")
            const email_address = login_form.querySelector(".email_address")
            const form_report = login_form.querySelector(".form_report")

            password_reset.addEventListener("click", function() {
                console.log(email_address.value)

                if(email_address.value !== "" && email_address.value.includes("@") && email_address.value.includes(".")) {
                    form_report.textContent = ""

                    document.cookie = `email_address=${email_address.value}; max-age=` + 60 * 10 + "; path=/" // 10 Minutes Timed Cookie With User's Email Address

                    document.cookie = `password_reset_timer=${Date.now() + 10 * 60 * 1000}; max-age=` + 60 * 10 + "; path=/" // 10 Minutes Timed Cookie With Timer
                }

                else {
                    event.preventDefault()

                    form_report.textContent = "Zadajte váš e-mail"
                    form_report.classList.add("error")
                }
            })

            // Registration Form

            // Registration Form Dialog
            const registration_button = document.querySelector(".registration_button")
            const registration_form_dialog = document.querySelector(".registration_form_dialog")
            const registration_form = document.querySelector(".registration_form")

            registration_button.addEventListener("click", function() {
                registration_form_dialog.showModal()
            })

            registration_form_dialog.addEventListener("click", function(event) {
                const registration_form_dimensions = registration_form.getBoundingClientRect()

                if (
                    event.clientX < registration_form_dimensions.left ||
                    event.clientX > registration_form_dimensions.right ||
                    event.clientY < registration_form_dimensions.top ||
                    event.clientY > registration_form_dimensions.bottom
                ) {
                    registration_form_dialog.close()
                }
            })
            
            // Form
            registration_form.addEventListener("click", function() {
                // Toggle Show / Hide Password

                const password = registration_form.querySelector(".password")
                const show_password = registration_form.querySelector(".fa-eye-slash")
                const hide_password = registration_form.querySelector(".fa-eye")

                show_password.addEventListener("click", function() {
                    show_password.style.display = "none"
                    hide_password.style.display = "block"

                    password.style.webkitTextSecurity = "none"
                })

                hide_password.addEventListener("click", function() {
                    hide_password.style.display = "none"
                    show_password.style.display = "block"

                    password.style.webkitTextSecurity = "disc"
                })

                // Random Password Generator

                const generate_password = registration_form.querySelector(".fa-key")

                const alphabet = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z", "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]
                const numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                const special_chars = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '-', '_', '=', '+', '[', ']', '{', '}', ';', ':', "'", '"', ',', '.', '<', '>', '/', '?', '\\', '|', '`', '~']

                generate_password.addEventListener("click", function() {
                    function shuffleString(string) {
                        let array = string.split("")

                        for(let i = array.length - 1; i > 0; i--) {
                            let j = Math.floor(Math.random() * (i + 1));
                            [array[i], array[j]] = [array[j], array[i]]
                        }

                        return array.join("");
                    }

                    let generated_password = ""

                    for(let x = 0; x < 5; x++) {
                        generated_password = generated_password + alphabet[Math.floor(Math.random() * alphabet.length)] + numbers[Math.floor(Math.random() * numbers.length)] + special_chars[Math.floor(Math.random() * special_chars.length)]
                    }

                    password.value = shuffleString(generated_password)
                })

                // Copy Password To Clipboard

                const copy_password = registration_form.querySelector(".copy_password")

                copy_password.addEventListener("click", function() {
                    password.select()
                    password.setSelectionRange(0, password.value.length)
                    document.execCommand("copy")
                    // navigator.clipboard.writeText(password.value) // Only HTTPS
                })

                // Paste From Clipboard

                const password_check = registration_form.querySelector(".password_check")
                const paste_password = registration_form.querySelector(".paste_password")

                paste_password.addEventListener("click", function() {
                    // password_check_input.value = navigator.clipboard.readText() // Only HTTPS
                    password_check.value = password.value
                })

                // Password Verification

                const form_report = registration_form.querySelector(".form_report")
                
                document.addEventListener("input", function() {
                    if(password.value == password_check.value && password.value != "") {
                        form_report.textContent = "Heslá sa zhodujú"
                        form_report.classList.remove("error")
                        form_report.classList.add("success")
                    }

                    else if(password.value != password_check.value) {
                        form_report.textContent = "Heslá sa nezhodujú"
                        form_report.classList.remove("success")
                        form_report.classList.add("error")
                    }

                    else {
                        form_report.textContent = ""
                    }
                })
            })

            // Profile Dialog

            const profile_button = document.querySelector(".profile_button")
            const profile_dialog = document.querySelector(".profile_dialog")
            const profile = document.querySelector(".profile")

            profile_button.addEventListener("click", function() {
                profile_dialog.showModal()
            })

            profile_dialog.addEventListener("click", function(event) {
                const profile_dimensions = profile.getBoundingClientRect()

                if (
                    event.clientX < profile_dimensions.left ||
                    event.clientX > profile_dimensions.right ||
                    event.clientY < profile_dimensions.top ||
                    event.clientY > profile_dimensions.bottom
                ) {
                    profile_dialog.close()
                }
            })

            // Selected Attachment
                
            const attachment = document.querySelector("#select_attachment")
            const attachment_report = document.querySelector(".attachment_report")

            attachment.addEventListener("change", function(event) {
                const attachment_name = event.target.files[0].name
                const attachment_size = event.target.files[0].size

                if(attachment_size <= 25000000) {
                    attachment_report.textContent = `Vybraný súbor: ${attachment_name}`
                }

                else if(attachment_size > 25000000) {
                    attachment_report.textContent = "Vybraný súbor je príliš veľký."
                }

                else {
                    attachment_report.textContent = "Nie je vybraný žiaden súbor."
                }
            })
        })
    </script>

    <script src="{% static 'blog/js/reviews.js' %}" defer></script>
{% endblock script %}