{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Prihlásenie{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/login.css' %}">
{% endblock style %}

{% block heading %}Prihlásenie{% endblock heading %}

{% block content %}
    {% if messages %}
        {% for one_message in messages %}
            <p class="message {% if one_message.tags %}{{ one_message.tags }}{% endif %}">{{ one_message }}</p>
        
        {% endfor %}
    {% endif %}

    <form class="login_form" action="{% url 'login_url' %}" method="POST">
        {% csrf_token %}

        <h2><a href="{% url 'login_url' %}" target="_self">Prihlásenie</a></h2>

        <a class="back" href="{% url 'homepage_url' %}" title="Späť na úvodnú stránku" target="_self"><img src="{% static 'images/back.png' %}"></a> <!-- https://www.flaticon.com/free-icon/back_2099166 -->

        {{ login_form.email_address }}
        
        <div class="password_container">
            {{ login_form.password }}
            <i class="fa-regular fa-eye-slash" title="Zobraziť heslo"></i> <!-- https://fontawesome.com/icons/eye-slash -->
            <i class="fa-regular fa-eye" title="Skryť heslo"></i> <!-- https://fontawesome.com/icons/eye -->
        </div>

        <p class="form_report" style="bottom: 287px;">Lorem ipsum dolor sit amet.</p>
        <input type="submit" name="login_form_submit" value="Prihlásiť sa">

        <div class="login_methods">
            <div>
                <a href="#"><img src="{% static 'images/google_logo.png' %}">Google prihlásenie</a> <!-- https://www.flaticon.com/free-icon/search_281764 -->
            </div>

            <div>
                <a href="#"><img src="{% static 'images/facebook_logo_2.png' %}">Facebook prihlásenie</a> <!-- https://www.flaticon.com/free-icon/facebook_5968764 -->
            </div>
        </div>

        <div class="form_questions">
            <p>Zabudli ste heslo? <a href="" title="Poslať overovací kód">Zmeniť heslo</a></p>
            <p>Ešte nemáte účet? <a href="{% url 'registration_url' %}" title="Vytvoriť účet" target="_self">Vytvoriť účet</a></p>
        </div>
    </form>
{% endblock content %}

{% block script %}
    <script src="{% static 'blog/js/password.js' %}" defer></script>
{% endblock script %}