{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Moje tréningové plány{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/manage_training_plans.css' %}">
{% endblock style %}

{% block content %}
    <div class="training_plan_container">
        <div class="training_plan">
            <div class="add_exercise">
                <i class="fa-solid fa-compress"></i> <!-- https://fontawesome.com/icons/compress -->
            </div>

            {% comment %} <div class="added_exercises"></div> {% endcomment %}

            <div class="progress_bar">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>

            {% comment %} <div class="exercise">
                <h3>TEST</h3>

                <input type="number" value="0" min="0" max="100">
                <input type="number" value="1" min="1" max="100">
            </div> {% endcomment %}
        </div>
    </div>

    <div class="exercises">
        {% for one_exercise in exercises %}
            <div class="exercise" draggable="true" data-id="{{ one_exercise.id }}">
                <p class="exercise_name">{{ one_exercise.exercise }}</p>
            </div>

        {% endfor %}
    </div>

{% endblock content %}

{% block script %}
    <script src="{% static 'blog/js/pages/manage_training_plans.js' %}" defer></script>
{% endblock script %}