{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Obnova hesla{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/password_reset.css' %}">
{% endblock style %}

{% block content %}
    {% if request.COOKIES.email_address and request.COOKIES.password_reset_timer %}
        <script src="{% static 'blog/ts/pages/password_reset.js' %}" type="module"></script>

        <form class="password_reset_form" action="{% url 'password_reset_url' %}" method="POST">
            {% csrf_token %}

            <h2><a href="{% url 'password_reset_url' %}" target="_self">Obnova hesla</a></h2>

            <div class="timer">
                <svg width="100" height="100" viewBox="0 0 100 100">
                    <circle
                        cx="50"
                        cy="50"
                        r="40"
                        class="progress"
                    />
                </svg>

                <svg width="100" height="100" viewBox="0 0 100 100">
                    <circle
                        cx="50"
                        cy="50"
                        r="40"
                        class="progress_background"
                    />
                </svg>

                <h3></h3>
            </div>

            <a class="back" href="{% url 'login_url' %}" title="Späť na prihlásenie" target="_self"><img src="{% static 'images/back.png' %}"></a> <!-- https://www.flaticon.com/free-icon/back_2099166 -->

            <div class="password_reset_code_container">
                <i class="fa-regular fa-message"></i> <!-- https://fontawesome.com/icons/message -->
                {{ password_reset_form.password_reset_code }}
            </div>

            <div class="password_container">
                <i class="fa-solid fa-key" title="Navrhnúť heslo"></i> <!-- https://fontawesome.com/icons/key -->
                {{ password_reset_form.new_password }}
                <i class="fa-regular fa-eye-slash" title="Zobraziť heslo"></i> <!-- https://fontawesome.com/icons/eye-slash --> <!-- https://fontawesome.com/icons/eye -->
            </div>

            <input type="submit" value="Zmeniť heslo">

            <div class="form_questions">
                <p>Neprišiel vám overovací kód? <a class="password_reset" href="?password-reset=true" title="Poslať overovací kód">Skúsiť znovu</a></p>
            </div>
        </form>

    {% else %}
        <div class="code_expired">
            <p>Platnosť overovacieho kódu pre zmenu hesla k vášmu účtu vypršala.<br>Na stránke s <a href="{% url 'login_url' %}" title="Prihlásiť sa" target="_self">prihlásením</a> požiadajte o nový.</p>
        </div>

    {% endif %}
{% endblock content %}