{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Obnova hesla{% endblock title %}

{% block heading %}Obnova hesla{% endblock heading %}

{% block content %}
    <form class="password_reset_form" action="{% url 'password_reset_url' %}" method="POST">
        {% csrf_token %}

        <h2><a href="{% url 'password_reset_url' %}" target="_self">Obnova hesla</a></h2>

        <a class="back" href="{% url 'homepage_url' %}" title="Späť na úvodnú stránku" target="_self"><img src="{% static 'images/back.png' %}"></a> <!-- https://www.flaticon.com/free-icon/back_2099166 -->

        {{ password_reset_form.password_reset_code }}
        {{ password_reset_form.password }}

        <input type="submit" value="Zmeniť heslo">
    </form>
{% endblock content %}