{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Obnova hesla{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/password_reset.css' %}">
{% endblock style %}

{% comment %} {% block heading %}Obnova hesla{% endblock heading %} {% endcomment %}

{% block content %}
    {% if request.COOKIES.email_address and request.COOKIES.password_reset_timer %}
        <form class="password_reset_form" action="{% url 'password_reset_url' %}" method="POST">
            {% csrf_token %}

            <h2><a href="{% url 'password_reset_url' %}" target="_self">Obnova hesla</a></h2>

            <div class="timer">
                <svg width="100" height="100" viewBox="0 0 100 100">
                    <circle
                        cx="50"
                        cy="50"
                        r="40"
                        class="progress"
                    />
                </svg>

                <svg width="100" height="100" viewBox="0 0 100 100">
                    <circle
                        cx="50"
                        cy="50"
                        r="40"
                        class="progress_background"
                    />
                </svg>

                <h3></h3>
            </div>

            <a class="back" href="{% url 'login_url' %}" title="Späť na prihlásenie" target="_self"><img src="{% static 'images/back.png' %}"></a> <!-- https://www.flaticon.com/free-icon/back_2099166 -->

            <div class="password_reset_code_container">
                <i class="fa-regular fa-message"></i> <!-- https://fontawesome.com/icons/message -->
                {{ password_reset_form.password_reset_code }}
            </div>

            <div class="password_container">
                <i class="fa-solid fa-key" title="Navrhnúť heslo"></i> <!-- https://fontawesome.com/icons/key -->
                {{ password_reset_form.new_password }}
                <i class="fa-regular fa-eye-slash" title="Zobraziť heslo"></i> <!-- https://fontawesome.com/icons/eye-slash -->
                <i class="fa-regular fa-eye" title="Skryť heslo"></i> <!-- https://fontawesome.com/icons/eye -->
            </div>

            <input type="submit" value="Zmeniť heslo">

            <div class="form_questions">
                <p>Neprišiel vám overovací kód? <a class="password_reset" href="?password-reset=true" title="Poslať overovací kód">Skúsiť znovu</a></p>
            </div>
        </form>

    {% else %}
        <div class="code_expired">
            <p>Platnosť overovacieho kódu pre zmenu hesla k vášmu účtu vypršala.<br>Na stránke s <a href="{% url 'login_url' %}" title="Prihlásiť sa" target="_self">prihlásením</a> požiadajte o nový.</p>
        </div>

    {% endif %}
{% endblock content %}

{% block script %}
    <script defer>
        "use strict"

        document.addEventListener("DOMContentLoaded", function() {
            // Timer

            const timer = document.querySelector(".timer h3") // Gets Timer's Text From HTML

            // Function For Get Cookie by Its Name
            function getCookie(cookie_name) {
                const value = `; ${document.cookie}`
                const parts = value.split(`; ${cookie_name}=`)
                if (parts.length === 2) return parts.pop().split(";")[0]
            }

            const password_reset_timer = parseInt(getCookie("password_reset_timer")) // Time From Cookie Value
            let max_remaining_time = 600000 // 10 Minutes

            // Checks If Cookie Exists
            if(!password_reset_timer) {
                timer.innerText = "Platnosť vypršala!" // Sets Message
                timer.style.fontFamily = "Poppins, Arial, sans-serif"
                timer.style.fontSize = "0.8em"
                timer.style.lineHeight = "1em"
                timer.style.color = "#df3535"
                return
            }

            // Progress Circle
            const progress = document.querySelector(".timer svg .progress")
            const radius = parseInt(progress.getAttribute("r"))
            const circum_ference = 2 * Math.PI * radius // 251.32741228718345
            progress.style.strokeDasharray = circum_ference

            // Timer Interval (100MS)
            let timer_interval = null

            timer_interval = setInterval(function() {
                // Timer's Numbers

                const current_time = Date.now()
                const remaining_time = password_reset_timer - current_time // Remaining Time In MS (Max 600 000)

                let remaining_minutes = Math.floor(((password_reset_timer - current_time) / 1000) / 60)
                let remaining_seconds = Math.floor((password_reset_timer - current_time) / 1000) % 60

                // Checks If There Is Still Some Remaining Time
                if(remaining_time <= 0) {
                    timer.innerText = "Platnosť vypršala!" // Sets Message
                    timer.style.fontFamily = "Poppins, Arial, sans-serif"
                    timer.style.fontSize = "0.8em"
                    timer.style.lineHeight = "1em"

                    // Stops Timer
                    clearInterval(timer_interval)
                    timer_interval = null

                    return
                }

                // Changes Timer Color To Red If Remaining Time Is Less Than 10 Seconds
                if(remaining_time <= 1000 * 10) {
                    timer.style.color = "#df3535"
                }

                timer.innerText = `${remaining_minutes}:${remaining_seconds.toString().padStart(2, "0")}` // Updates Numbers In Timer

                // Progress Circle

                // Length
                progress.style.strokeDashoffset = circum_ference / max_remaining_time * remaining_time // Updates Progress Circle Length, 600 000 Is Maximum Remaining Time Value In MS (10 Minutes)

                // Color
                const red = 255 - (255 / max_remaining_time * remaining_time) // Increases Red Color In Palette
                const green = 255 / max_remaining_time * remaining_time // Decreases Green Color In Palette

                progress.style.stroke = `rgb(${red}, ${green}, 0)` // Updates Progress Circle Color
                progress.style.filter = `drop-shadow(0px 0px 5px rgb(${red}, ${green}, 0))` // Updates Progress Circle Shadow Color
                progress.style.webkitFilter = `drop-shadow(0px 0px 5px rgb(${red}, ${green}, 0))` // Updates Progress Circle Shadow Color
            }, 100)
        })
    </script>

    <script src="{% static 'blog/js/password.js' %}" defer></script>
{% endblock script %}