{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Registrácia{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/registration.css' %}">
{% endblock style %}

{% block recaptcha %}
    <!-- Google reCAPTCHA V3 -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LffOQcsAAAAANNOtp0-u3rj2chAKpJcfkIBZXg-&badge=inline"></script>
    
    <script>
        grecaptcha.ready(function() {
            const grecaptcha_badge = document.querySelector(".grecaptcha-badge")
            const grecaptcha_badge_container = document.querySelector(".grecaptcha_badge_container")

            grecaptcha_badge_container.appendChild(grecaptcha_badge)
            grecaptcha_badge.style.margin = "35px auto 0px"
            grecaptcha_badge.style.background = "#1e1e1e"
            grecaptcha_badge.style.opacity = "0.8"

            document.querySelector(".registration_form").addEventListener("submit", function(event) {
                event.preventDefault()

                grecaptcha.execute("6LffOQcsAAAAANNOtp0-u3rj2chAKpJcfkIBZXg-", {action: "submit"}).then(function(token) {
                    document.querySelector("#g-recaptcha-response").value = token
                    event.target.submit()
                })
            })
        })
    </script>
{% endblock recaptcha %}

{% block navigation_bar_items %}
    <li>
        <a href="{% url 'login_url' %}" target="_self">PRIHLÁSENIE</a>
    </li>
{% endblock navigation_bar_items %}

{% block content %}
    <form class="registration_form" action="{% url 'registration_url' %}" method="POST">
        {% csrf_token %}

        <h2><a href="{% url 'registration_url' %}" target="_self">Registrácia</a></h2>

        <a class="back" href="{% url 'homepage_url' %}" title="Späť na úvodnú stránku" target="_self"><img src="{% static 'images/back.png' %}"></a> <!-- https://www.flaticon.com/free-icon/back_2099166 -->

        {{ registration_form.first_name }}
        {{ registration_form.last_name }}
        {{ registration_form.email_address }}
        {{ registration_form.phone_number }}
        
        <div class="password_container">
            <i class="fa-solid fa-key" title="Navrhnúť heslo"></i> <!-- https://fontawesome.com/icons/key -->
            {{ registration_form.password }}
            <i class="fa-regular fa-eye-slash" title="Zobraziť heslo"></i> <!-- https://fontawesome.com/icons/eye-slash --> <!-- https://fontawesome.com/icons/eye -->
            <i class="fa-solid fa-copy copy_password" title="Skopírovať"></i> <!-- https://fontawesome.com/icons/copy -->
        </div>

        <div class="password_check_container">
            {{ registration_form.password_check }}
            <i class="fa-regular fa-copy paste_password" title="Prilepiť"></i> <!-- https://fontawesome.com/icons/copy -->
        </div>

        <p class="form_report error" style="bottom: 241px;"></p>
        <input type="submit" value="Vytvoriť účet">

        <div class="form_questions">
            <p>Už máte účet? <a href="{% url 'login_url' %}" title="Prihlásiť sa" target="_self">Prihlásiť sa</a></p>
        </div>

        <!-- Google reCAPTCHA V3 -->
        <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">
        <div class="grecaptcha_badge_container"></div>
    </form>
{% endblock content %}

{% block script %}
    <script src="{% static 'blog/js/pages/registration.js' %}" type="module"></script>
{% endblock script %}