{% extends "base.html" %}

{% block title %}Street Workout Žilina - Registrácia{% endblock title %}

{% block heading %}Registrácia{% endblock heading %}

{% block content %}
    {% if registration_successful %}
        <p>Účet bol úspešne vytvorený</p>
    {% endif %}

    <form class="registration_form" action="{% url 'registration_url' %}" method="POST">
        {% csrf_token %}
        <h2><a href="{% url 'registration_url' %}" target="_self">Registrácia</a></h2>
        {{ registration_form }}
        <p class="form_report">Lorem ipsum dolor sit amet.</p>
        <input type="submit" value="Vytvoriť účet">

        <div class="form_questions">
            <p>Už máte účet? <a href="{% url 'login_url' %}" title="Prihlásiť sa" target="_self">Prihlásiť sa</a></p>
        </div>
    </form>
{% endblock content %}