{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Tréning{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/training_session.css' %}">
{% endblock style %}

{% block heading %}Tréning{% endblock heading %}

{% block content %}
    <div class="activity">
        <p class="activity_report"></p>

        <div class="record_activity">
            <h3 class="timer"><span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span></h3>

            <div class="buttons">
                <a class="play"><i class="fa-solid fa-play"></i></a> <!-- https://fontawesome.com/icons/play -->
                {% comment %} <a class="play"><i class="fa-solid fa-pause"></i></a> <!-- https://fontawesome.com/icons/pause --> {% endcomment %}
                <a class="stop"><i class="fa-solid fa-stop"></i></a> <!-- https://fontawesome.com/icons/stop -->
            </div>
        </div>

        <p class="activity_info"></p>

        <div class="previous_activity">
            <p>Posledná aktivita: <span>01:34:13</span> | <span>+273XP</span> | <span>25.12.2025</span></p>
            <p>Najdlhšia aktivita: <span>02:42:00</span> | <span>+421XP</span> | <span>13.10.2025</span></p>
        </div>
    </div>
    
{% endblock content %}

{% block script %}
    <script defer>
        "use strict"

        document.addEventListener("DOMContentLoaded", function() {
            // Function For Get Cookie by Its Name
            function getCookie(cookie_name) {
                const value = `; ${document.cookie}`
                const parts = value.split(`; ${cookie_name}=`)
                if (parts.length === 2) return parts.pop().split(";")[0]
            }

            // Buttons
            const play = document.querySelector(".play")
            const stop = document.querySelector(".stop")

            // Play / Resume Icon
            const play_icon = play.querySelector("i")

            // Timer
            const timer = document.querySelector(".timer")
            const timer_seconds_tag = timer.querySelector(".seconds")
            const timer_minutes_tag = timer.querySelector(".minutes")
            const timer_hours_tag = timer.querySelector(".hours")

            let elapsed_time = 0 // Current Elapsed Time In Seconds
            let gained_xp = 0

            let timer_seconds = 0 // Current Elapsed Seconds In Timer
            let timer_minutes = 0 // Current Elapsed Minutes In Timer 
            let timer_hours = 0 // Current Elapsed Hours In Timer

            // XP Boost
            const activity_info = document.querySelector(".activity .activity_info")
            let xp_boost = 1 // 1 Times Boosted Amount Of XP By Default
            let xp_boost_remaining_time = 600 // 10 Minutes

            // Activity Report
            const activity_report = document.querySelector(".activity .activity_report")

            let timer_interval = null
            
            // Play / Resume Buttons
            play.addEventListener("click", function() {
                if(play_icon.classList.contains("fa-play")) {
                    // Changes Icons
                    play_icon.classList.remove("fa-play")
                    play_icon.classList.add("fa-pause")

                    // Deletes Previous Activity Report
                    if(activity_report.innerHTML !== "") {
                        activity_report.innerHTML = ""
                    }

                    // Starts Timer With 1 Second Interval
                    timer_interval = setInterval(function() {
                        elapsed_time += 1 // Every Second Increases Elapsed Time (Seconds) By 1
                        gained_xp += (100 / 3600) * xp_boost // Every Second Increases Amount Of Gained XP (1 Hour = 100XP Without Active XP Boost)
                        xp_boost_remaining_time -= 1 // Every Second Decreases Remaining Time Of XP Boost

                        if(xp_boost_remaining_time <= 0) {
                            xp_boost = 1
                        }

                        else {
                            xp_boost = 2
                        }

                        if(xp_boost == 1) {
                            activity_info.textContent = "Žiadne aktívne navýšenia XP."
                        }

                        else {
                            activity_info.textContent = `Súčasné navýšenie ${xp_boost}x XP.`
                        }

                        // Calculates Every Unit For Timer
                        timer_seconds = elapsed_time % 60
                        timer_minutes = (Math.floor(elapsed_time / 60)) % 60
                        timer_hours = (Math.floor(elapsed_time / 3600)) % 60

                        // Timer Rendering
                        function timerFormat(timer_units, timer_units_tag) {
                            // Formats 1 Digit Numbers (For Example 1 To 01)
                            if(timer_units < 10) {
                                timer_units_tag.textContent = `0${timer_units}`
                            }

                            else {
                                timer_units_tag.textContent = timer_units
                            }
                        }

                        timerFormat(timer_seconds, timer_seconds_tag) // Renders Current Seconds In Timer
                        timerFormat(timer_minutes, timer_minutes_tag) // Renders Current Minutes In Timer
                        timerFormat(timer_hours, timer_hours_tag) // Renders Current Hours In Timer
                    }, 1)
                }

                else if(play_icon.classList.contains("fa-pause")) {
                    // Changes Icons
                    play_icon.classList.remove("fa-pause")
                    play_icon.classList.add("fa-play")

                    // Stops Timer
                    clearInterval(timer_interval)
                    timer_interval = null
                }
            })

            // Stop Button
            stop.addEventListener("click", function() {
                // Only Executed If A Timer Has Been Started
                if(elapsed_time >= 1) {
                    // Stops Timer
                    clearInterval(timer_interval)
                    timer_interval = null

                    // Calculates Gained XP
                    // const gained_xp = Math.round(((elapsed_time / 3600) * 100) * xp_boost) // 1 Hour Of Activity Is 100XP Without XP Boost
                    gained_xp = Math.round(gained_xp) // Final Rounded Amount Of XP

                    // Renders Completed Activity Informations
                    if(gained_xp == 0) {
                        activity_report.innerHTML = `Aktuálna aktivita trvala <span>${timer_hours}h ${timer_minutes}m ${timer_seconds}s</span>.<br>Nezískali ste žiadne XP.`
                    }
                    
                    else {
                        activity_report.innerHTML = `Aktuálna aktivita trvala <span>${timer_hours}h ${timer_minutes}m ${timer_seconds}s</span>.<br>Získali ste <span>${gained_xp}XP</span>!`
                    }

                    // Sends Gained XP As A POST Data
                    const post_data = new FormData()
                    post_data.append("gained_xp", gained_xp)

                    fetch("/training-session", {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken")
                        },
                        body: post_data
                    })
                    .then(res => res.json())
                    .then(data => {
                        data.gained_xp = gained_xp
                    })

                    // Set Timer's Default Values
                    timer_seconds_tag.textContent = "00"
                    timer_minutes_tag.textContent = "00"
                    timer_hours_tag.textContent = "00"

                    // Set Play Icon If Is Set As Pause
                    if(play_icon.classList.contains("fa-pause")) {
                        play_icon.classList.remove("fa-pause")
                        play_icon.classList.add("fa-play")
                    }

                    elapsed_time = 0 // Set Elapsed Time To Default Value
                    gained_xp = 0 // Set Gained XP To Default Value
                }
            })
        })
    </script>
{% endblock script %}