{% extends "base.html" %}
{% load static %}

{% block title %}Street Workout Žilina - Tréning{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/training_session.css' %}">
{% endblock style %}

{% comment %} {% block heading %}Tréning{% endblock heading %} {% endcomment %}

{% block content %}
    <div class="activity">
        <div class="record_activity">
            <h3 class="timer"><span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span></h3>

            <div class="buttons">
                <a class="play"><i class="fa-solid fa-play"></i></a> <!-- https://fontawesome.com/icons/play -->
                {% comment %} <a class="play"><i class="fa-solid fa-pause"></i></a> <!-- https://fontawesome.com/icons/pause --> {% endcomment %}
                <a class="stop"><i class="fa-solid fa-stop"></i></a> <!-- https://fontawesome.com/icons/stop -->
            </div>
        </div>

        <div class="training_plan">
            <div class="start_training active">
                <h3>Začať tréning</h3>

                <p>Váš tréning podľa plánu na deň pondelok.</p>

                <p>Pull</p>

                <div class="start_training_button">
                    <i class="fa-solid fa-play"></i> <!-- https://fontawesome.com/icons/play -->
                </div>
            </div>

            {% for one_exercise in training_plan %}
                <div 
                    class="
                        exercise

                        {% comment %} {% if forloop.counter == 1 %}
                            active
                        {% endif %} {% endcomment %}
                    "
                >
                    <h3>{{ one_exercise.exercise }}</h3>

                    <p>
                        {% if one_exercise.reps == 0 %}
                            Do zlyhania

                        {% else %}
                            {{ one_exercise.reps }}x
                        
                        {% endif %}
                    </p>

                    <p class="sets"><span>1</span> / <span>{{ one_exercise.sets }}</span></p>

                    <div class="skip_exercise">
                        <i class="fa-solid fa-angle-right"></i> <!-- https://fontawesome.com/icons/angle-right -->
                    </div>
                </div>

            {% endfor %}

            <div class="finish_training">
                <h3>Dokončiť tréning</h3>

                <p>Váš tréning podľa plánu na deň pondelok.</p>

                <p>Pull</p>

                <div class="finish_training_button">
                    <i class="fa-solid fa-stop"></i> <!-- https://fontawesome.com/icons/stop -->
                </div>
            </div>

            <div class="progress_bar">
                {% for one_exercise in training_plan %}
                    <div 
                        class="
                            bar

                            {% comment %} {% if forloop.counter == 1 %}
                                active
                            {% endif %} {% endcomment %}
                        "
                    >

                    </div>

                {% endfor %}
            </div>
        </div>

        <p class="activity_info"></p>

        <div class="previous_activity">
            <p>Posledná aktivita: <span>{{ latest_activity.formatted_elapsed_time }}</span><span>{{ latest_activity.gained_xp }}XP</span><span>{{ latest_activity.end_time|date:"d.m. Y" }}</span></p>
            <p>Najdlhšia aktivita: <span>{{ longest_activity.formatted_elapsed_time }}</span><span>{{ longest_activity.gained_xp }}XP</span><span>{{ longest_activity.end_time|date:"d.m. Y" }}</span></p>
        </div>

        <p class="activity_report"></p>
    </div>
    
{% endblock content %}

{% block script %}
    <script defer>
        "use strict"

        document.addEventListener("DOMContentLoaded", function() {
            // Function For Get Cookie by Its Name
            function getCookie(cookie_name) {
                const value = `; ${document.cookie}`
                const parts = value.split(`; ${cookie_name}=`)
                if (parts.length === 2) return parts.pop().split(";")[0]
            }

            // Buttons
            const play = document.querySelector(".play")
            const stop = document.querySelector(".stop")

            // Play / Resume Icon
            const play_icon = play.querySelector("i")

            // Timer
            const timer = document.querySelector(".timer")
            const timer_seconds_tag = timer.querySelector(".seconds")
            const timer_minutes_tag = timer.querySelector(".minutes")
            const timer_hours_tag = timer.querySelector(".hours")

            let elapsed_time = 0 // Current Elapsed Time In Seconds
            let gained_xp = 0

            let timer_seconds = 0 // Current Elapsed Seconds In Timer
            let timer_minutes = 0 // Current Elapsed Minutes In Timer 
            let timer_hours = 0 // Current Elapsed Hours In Timer

            // XP Boost
            const activity_info = document.querySelector(".activity .activity_info")
            let xp_boost = 1 // 1 Times Boosted Amount Of XP By Default
            let xp_boost_remaining_time = 600 // 10 Minutes

            if(xp_boost_remaining_time <= 0) {
                xp_boost = 1
                activity_info.textContent = "Žiadne aktívne navýšenia XP"
            }

            else {
                xp_boost = 2 // Change
                activity_info.textContent = `${xp_boost}x XP`
            }

            // Activity Report
            const activity_report = document.querySelector(".activity .activity_report")

            let timer_interval = null

            // Function For Start Timer
            function startTimer() {
                if(play_icon.classList.contains("fa-play")) {
                    // Changes Icons
                    play_icon.classList.remove("fa-play")
                    play_icon.classList.add("fa-pause")

                    // Deletes Previous Activity Report
                    if(activity_report.innerHTML !== "") {
                        activity_report.innerHTML = ""
                    }

                    // Starts Timer With 1 Second Interval
                    timer_interval = setInterval(function() {
                        elapsed_time += 1 // Every Second Increases Elapsed Time (Seconds) By 1
                        gained_xp += (100 / 3600) * xp_boost // Every Second Increases Amount Of Gained XP (1 Hour = 100XP Without Active XP Boost)
                        xp_boost_remaining_time -= 1 // Every Second Decreases Remaining Time Of XP Boost

                        if(xp_boost_remaining_time <= 0) {
                            xp_boost = 1
                            activity_info.textContent = "Žiadne aktívne navýšenia XP"
                        }

                        else {
                            xp_boost = 2 // Change
                            activity_info.textContent = `${xp_boost}x XP`
                        }

                        // Calculates Every Unit For Timer
                        timer_seconds = elapsed_time % 60
                        timer_minutes = (Math.floor(elapsed_time / 60)) % 60
                        timer_hours = (Math.floor(elapsed_time / 3600)) % 60

                        // Timer Rendering
                        function timerFormat(timer_units, timer_units_tag) {
                            // Formats 1 Digit Numbers (For Example 1 To 01)
                            if(timer_units < 10) {
                                timer_units_tag.textContent = `0${timer_units}`
                            }

                            else {
                                timer_units_tag.textContent = timer_units
                            }
                        }

                        timerFormat(timer_seconds, timer_seconds_tag) // Renders Current Seconds In Timer
                        timerFormat(timer_minutes, timer_minutes_tag) // Renders Current Minutes In Timer
                        timerFormat(timer_hours, timer_hours_tag) // Renders Current Hours In Timer
                    }, 1000)
                }

                else if(play_icon.classList.contains("fa-pause")) {
                    // Changes Icons
                    play_icon.classList.remove("fa-pause")
                    play_icon.classList.add("fa-play")

                    // Stops Timer
                    clearInterval(timer_interval)
                    timer_interval = null
                }
            }

            // Function For Stop Timer
            function stopTimer() {
                // Only Executed If A Timer Has Been Started
                if(elapsed_time >= 1) {
                    // Stops Timer
                    clearInterval(timer_interval)
                    timer_interval = null

                    // Calculates Gained XP
                    // const gained_xp = Math.round(((elapsed_time / 3600) * 100) * xp_boost) // 1 Hour Of Activity Is 100XP Without XP Boost
                    gained_xp = Math.round(gained_xp) // Final Rounded Amount Of XP

                    // Renders Completed Activity Informations
                    if(gained_xp == 0) {
                        activity_report.innerHTML = `Aktuálna aktivita trvala <span>${timer_hours}h ${timer_minutes}m ${timer_seconds}s</span>.<br>Nezískali ste žiadne XP.`
                        // activity_report.innerHTML = `<span>${timer_hours}h ${timer_minutes}m ${timer_seconds}s</span><br>${gained_xp} XP`
                    }
                    
                    else {
                        activity_report.innerHTML = `Aktuálna aktivita trvala <span>${timer_hours}h ${timer_minutes}m ${timer_seconds}s</span>.<br>Získali ste <span>${gained_xp}XP</span>!`
                        // activity_report.innerHTML = `<span>${timer_hours}h ${timer_minutes}m ${timer_seconds}s</span><br><span>${gained_xp}XP</span>`
                    }

                    // Sends POST Data
                    const post_data = new FormData()
                    post_data.append("formatted_elapsed_time", `${timer_hours}h ${timer_minutes}m ${timer_seconds}s`)
                    post_data.append("elapsed_time", elapsed_time)
                    post_data.append("gained_xp", gained_xp)

                    fetch("/training-session", {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken")
                        },
                        body: post_data
                    })
                    .then(res => res.json())
                    .then(data => {
                        data.gained_xp = gained_xp
                    })

                    // Set Timer's Default Values
                    timer_seconds_tag.textContent = "00"
                    timer_minutes_tag.textContent = "00"
                    timer_hours_tag.textContent = "00"

                    // Set Play Icon If Is Set As Pause
                    if(play_icon.classList.contains("fa-pause")) {
                        play_icon.classList.remove("fa-pause")
                        play_icon.classList.add("fa-play")
                    }

                    elapsed_time = 0 // Set Elapsed Time To Default Value
                    gained_xp = 0 // Set Gained XP To Default Value
                }
            }
            
            // Playback
            const training_plan = document.querySelector(".training_plan")
            const exercises = training_plan.querySelectorAll(".exercise")
            const progress_bar = training_plan.querySelectorAll(".progress_bar .bar")
            const start_training = document.querySelector(".start_training")

            let first_play = true // Protection For Hiding Training Plan

            // Play / Resume Buttons
            play.addEventListener("click", function() {
                startTimer()

                // Hides Training Plan If User Start The Timer With Play Button
                if(play_icon.classList.contains("fa-pause") && first_play === true) {
                    training_plan.style.display = "none"
                    first_play = false
                }
            })

            // Progress Bar Color
            let all_sets = 0
            
            exercises.forEach(function(one_exercise) {
                all_sets += (parseInt(one_exercise.querySelectorAll(".sets span")[1].textContent))
            })

            // let red = 255 - (255 / all_sets)
            let red = 255

            // Stop Button
            stop.addEventListener("click", function() {
                stopTimer()

                training_plan.style.display = "block"

                // Removes Active Class From Exercises
                exercises.forEach(function(one_exercise) {
                    one_exercise.classList.remove("active")
                })

                // Removes Active Class From Progress Bar
                progress_bar.forEach(function(one_bar, index) {
                    one_bar.classList.remove("active")

                    // Sets Progress To Default Values

                    // Sets Current Set Default Value
                    const sets = exercises[index].querySelectorAll(".sets span")
                    sets[0].textContent = "1"

                    // Sets Current Progress Default Value
                    let current_set = parseInt(sets[0].textContent)
                    const sets_amount = parseInt(sets[1].textContent)

                    if(sets_amount >= 1 && current_set < sets_amount) {
                        // Shows Progress
                        let progress_percentage = current_set / sets_amount * 100
                        one_bar.style.setProperty("--progress", `${progress_percentage}%`)

                        // Updates Progress Bar Color
                        red = 255

                        progress_bar.forEach(function(one_bar) {
                            one_bar.style.setProperty("--progress-color", `rgb(${red}, 207, 32)`)
                        })
                    }
                })

                // Shows Start Training Tab
                finish_training.classList.remove("active")
                start_training.classList.add("active")

                first_play = true
            })

            // Training Plan

            // Start Training
            const start_training_button = start_training.querySelector(".start_training_button")

            start_training_button.addEventListener("click", function() {
                startTimer()

                // Shows First Exercise In Training Plan
                start_training.classList.remove("active")
                exercises[0].classList.add("active")
                progress_bar[0].classList.add("active")

                first_play = false
            })

            // Finish Training
            const finish_training = document.querySelector(".finish_training")
            const finish_training_button = finish_training.querySelector(".finish_training_button")

            finish_training_button.addEventListener("click", function() {
                stopTimer()

                // Shows Start Training Tab
                finish_training.classList.remove("active")
                start_training.classList.add("active")

                // Removes Active Class From Progress Bar
                progress_bar.forEach(function(one_bar, index) {
                    one_bar.classList.remove("active")

                    // Sets Progress To Default Values

                    // Sets Current Set Default Value
                    const sets = exercises[index].querySelectorAll(".sets span")
                    sets[0].textContent = "1"

                    // Sets Current Progress Default Value
                    let current_set = parseInt(sets[0].textContent)
                    const sets_amount = parseInt(sets[1].textContent)

                    if(sets_amount >= 1 && current_set < sets_amount) {
                        // Shows Progress
                        let progress_percentage = current_set / sets_amount * 100
                        one_bar.style.setProperty("--progress", `${progress_percentage}%`)
                        
                        // Updates Progress Bar Color
                        red = 255

                        progress_bar.forEach(function(one_bar) {
                            one_bar.style.setProperty("--progress-color", `rgb(${red}, 207, 32)`)
                        })
                    }
                })
            })

            // Next Exercise
            exercises.forEach(function(one_exercise, index) {
                // Skip Exercise By Button
                const skip_exercise = one_exercise.querySelector(".skip_exercise")

                // Shows Default Progress Percentage
                progress_bar.forEach(function(one_bar, index) {
                    // Current Set Value
                    const sets = exercises[index].querySelectorAll(".sets span")
                    let current_set = parseInt(sets[0].textContent)
                    const sets_amount = parseInt(sets[1].textContent)

                    if(sets_amount >= 1 && current_set < sets_amount) {
                        // Shows Progress
                        let progress_percentage = current_set / sets_amount * 100
                        one_bar.style.setProperty("--progress", `${progress_percentage}%`)
                    }
                })

                skip_exercise.addEventListener("click", function(one_button) {
                    // Updates Progress Bar Color
                    red -= 255 / all_sets

                    progress_bar.forEach(function(one_bar) {
                        one_bar.style.setProperty("--progress-color", `rgb(${red}, 207, 32)`)
                    })

                    // Current Set Value
                    const sets = one_exercise.querySelectorAll(".sets span")
                    let current_set = parseInt(sets[0].textContent)
                    const sets_amount = parseInt(sets[1].textContent)

                    if(sets_amount >= 1 && current_set < sets_amount) {
                        // Increments Current Set Value
                        current_set += 1
                        sets[0].textContent = current_set

                        // Shows Progress
                        let progress_percentage = current_set / sets_amount * 100
                        progress_bar[index].style.setProperty("--progress", `${progress_percentage}%`)
                    }

                    // Continues If All Sets Are Done
                    else {
                        // Shows Finish Training Tab, If There Isn't Any Next Exercise
                        if(index + 1 == exercises.length) {
                            exercises[index].classList.remove("active")
                            // progress_bar[index].classList.remove("active")
                            finish_training.classList.add("active")
                            return
                        }

                        // Adds Active Class To Next Exercise
                        exercises[index].classList.remove("active")
                        exercises[index + 1].classList.add("active")

                        // Adds Active Class To Next Bar In Progress Bar
                        // progress_bar[index].classList.remove("active") // To Hide Previous Progress In Progress Bar
                        progress_bar[index + 1].classList.add("active")
                    }
                })
            })
        })
    </script>
{% endblock script %}