{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Pridať článok" %}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/write_article.css' %}">
{% endblock style %}

{% block content %}
    <form class="write_article_form" action="{% url 'write_article_url' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h2><a href="{% url 'write_article_url' %}" target="_self">{% translate "Pridať článok" %}</a></h2>

        <a class="back" href="{% url 'homepage_url' %}" title="{% translate 'Späť na úvodnú stránku' %}" target="_self"><i class="fa-solid fa-chevron-left"></i></a> <!-- https://fontawesome.com/icons/chevron-left -->

        {{ write_article_form.title }}
        {{ write_article_form.content }}

        <div class="categories">
            {{ write_article_form.category_style }}
            {{ write_article_form.category_movement }}
            {{ write_article_form.category_difficulty }}
        </div>

        <div class="link_container">
            <i class="fa-regular fa-lightbulb" title="{% translate 'Navrhnúť link' %}"></i> <!-- https://fontawesome.com/icons/lightbulb -->
            {{ write_article_form.link }}
            <i class="fa-solid fa-circle-info" title="{% translate 'URL adresa vášho článku (napr. front-lever)' %}"></i> <!-- https://fontawesome.com/icons/circle-info -->
        </div>

        {{ write_article_form.select_article_image }}

        <input type="submit" value="{% translate 'Pridať článok' %}">
    </form>
{% endblock content %}