{% load filters %}
{% load static %}
{% load i18n %}

<div 
	class="
		one_comment

		{% if level == 2 %}
			first_level_reply
			
		{% endif %}
	"
	
	data-comment_id="{{ one_comment.id }}"
>
    <div class="comment_container">
        <div class="user">
            <a href="{% url 'profile_url' one_comment.user.username %}" title="{% translate 'Zobraziť užívateľa' %}">
                <img 
					class="profile_picture" 
					src="
						{% if one_comment.user.profile_picture_name %}
							/../media/images/{{ one_comment.user_id }}/{{ one_comment.user.profile_picture_name }}

						{% else %}
							{% static 'images/profile_picture.png' %} {% comment %} https://www.flaticon.com/free-icon/user_3177440 {% endcomment %}
						
						{% endif %}
					"
				>
            </a>
            
            <p class="username">{{ one_comment.user.username }}</p>

            <button 
				class="show_comment_properties_button" 
				popovertarget="comment_properties_{{ one_comment.id }}"
				style="anchor-name: --show_comment_properties_button_{{ one_comment.id }};"
			>
				<i class="fa-solid fa-ellipsis-vertical"></i> <!-- https://fontawesome.com/icons/ellipsis-vertical -->
			</button>

			<div 
				class="comment_properties" 
				id="comment_properties_{{ one_comment.id }}"
				popover
				style="position-anchor: --show_comment_properties_button_{{ one_comment.id }};"
			>
				{% if not request.session.logged_in_user_id == one_comment.user.id %}
					<button 
						class="show_report_comment_button" 
						popovertarget="report_comment_{{ one_comment.id }}"
						style="anchor-name: --show_report_comment_button_{{ one_comment.id }};"
					>
						{% translate "Nahlásiť" %}
					</button>

				{% else %}
					<button 
						class="delete_comment_button"
						popovertarget="delete_comment_{{ one_comment.id }}"
						style="anchor-name: --delete_comment_button_{{ one_comment.id }};"
					>
						{% translate "Vymazať" %}
					</button>

				{% endif %}

				<button 
					class="hide_comment_properties_button" 
					popovertarget="comment_properties_{{ one_comment.id }}" 
					popovertargetaction="hide"
				>
					{% translate "Zavrieť" %}
				</button>
			</div>

			{% if not request.session.logged_in_user_id == one_comment.user.id %}
				<div 
					class="report_comment" 
					id="report_comment_{{ one_comment.id }}"
					popover
					style="position-anchor: --show_report_comment_button_{{ one_comment.id }};"
				>
					<button data-reason="spam">{% translate "Spam" %}</button>
					<button data-reason="harassment">{% translate "Obťažovanie" %}</button>
					<button data-reason="hate_speech">{% translate "Nenávistné prejavy" %}</button>
					<button data-reason="misinformation">{% translate "Dezinformácie" %}</button>
					<button data-reason="explicit_content">{% translate "Explicitný obsah" %}</button>
					<button data-reason="other">{% translate "Iné" %}</button>

					<button 
						class="back_report_comment_button"
						popovertarget="report_comment_{{ one_comment.id }}"
						popovertargetaction="hide"
					>
						{% translate "Späť" %}
					</button>
				</div>

			{% else %}
				<div 
					class="delete_comment" 
					id="delete_comment_{{ one_comment.id }}"
					popover
					style="position-anchor: --delete_comment_button_{{ one_comment.id }};"
				>
					<p>{% translate "Naozaj chcete vymazať Váš komentár?" %}</p>

					<button data-action="delete">{% translate "Vymazať" %}</button>

					<button 
						popovertarget="delete_comment_{{ one_comment.id }}"
						popovertargetaction="hide"
					>
						{% translate "Zrušiť" %}
					</button>
				</div>

			{% endif %}
        </div>

		<div class="right">
			<p class="comment">{{ one_comment.comment }}</p>

			<div class="likes" title="{% translate 'Páči sa mi...' %}">
				<i 
					class="
						{% if one_comment.has_like %}
							fa-solid
	
						{% else %}
							fa-regular
						
						{% endif %}
	
						fa-heart
					"
				></i> <!-- https://fontawesome.com/icons/heart -->
	
				<p class="likes_counter">{{ one_comment.likes }}</p>
			</div>
		</div>
    </div>

    <div class="interactions">
        {% if level < 5 %}
            <div class="reply" title="{% translate 'Odpovedať...' %}">
                <i class="fa-regular fa-comment"></i> <!-- https://fontawesome.com/icons/comment -->
                <!-- <i class="fa-solid fa-xmark"></i> --> <!-- https://fontawesome.com/icons/xmark -->
            </div>

        {% endif %}

		{% with nested_comments=post.nested_comments|get_item:one_comment.id %}
			{% if nested_comments|length > 0 %}
				<div class="show_replies" title="{% translate 'Zobraziť odpovede...' %}">
					<i class="fa-solid fa-angle-down"></i> <!-- https://fontawesome.com/icons/angle-down -->
					{% comment %} <i class="fa-solid fa-angle-up"></i> <!-- https://fontawesome.com/icons/angle-up --> {% endcomment %}
				</div>
			
			{% endif %}
		{% endwith %}

        <div class="date" title="{% translate 'Dátum zverejnenia' %}">
			<p>{{ one_comment.creation_time|date:"d.m. Y" }}</p>
		</div>
    </div>

    <div class="reply_container hidden">
        {% with nested_comments=post.nested_comments|get_item:one_comment.id %}
            {% for one_comment in nested_comments %}
                {% include "partials/comment.html" with one_comment=one_comment level=level|add:1 %}

            {% endfor %}
        {% endwith %}
    </div>
</div>